<div class="main signup pb60 group">
  <div class="shadow signup_box">
    <div class="section">
      <div class="host_self group">
        <div class="signup_img_box">
          <img class="box_shadow" src="<%= asset_path "personal/d_host_img.jpg" %>" alt="" />
          <p><a href="#">修改账户信息</a></p>
        </div>
        <div class="host_status">
          <h2><strong>杨明洁</strong><em>金牌会员</em></h2>
          <a class="back_perhome" href="d_in_works.html">返回个人主页</a>
          <div class="signup_text">
            <p>
            从业5年，擅长简约及田园风格室内装修设计
            </p>
          </div>
          <p class="d_hostaddr">上海罗磊室内设计有限公司</p>
          <p class="icon_email">Email：  designer@163.com</p>
          <p class="icon_qq">Q   Q：  1204333759</p>
          <p class="icon_msn">MSN：  designer@hotmail.com</p>
          <p class="icon_fetion">飞  信：  395005</p>
        </div>
        <!--host_status ends-->
      </div>
      <!--host_self ends-->

      <ul class="system_info group">
        <li class="icon_point"><a class="host_cur" href="#">我的积分</a></li>
        <li class="icon_info"><a href="#">系统消息</a></li>
        <li class="icon_qustion"><a href="#">我的提问</a></li>
        <li class="icon_active"><a href="#">我报名的活动</a></li>
      </ul><!--system_info ends-->


      <div class="host_sort group">
        <ul class="show_tit_ul group">
          <li class="sort_show_tit">
          <a class="sort_show_a" href="#">我的积分</a>
          </li>
        </ul>
      </div><!--host_sort ends-->

      <div class="progress_bar">
        <div class="progress_status"><span>我的积分：</span><strong>120</strong><a href="rules.html">查看会员机制》</a></div>
        <div class="progress_status host_point_tit2"><span>目前等级：金牌会员</span><span>下级进阶：******</span></div>
        <div class="progress_bg">
          <div class="progress_over_l"><div class="progress_over_r"></div></div>
        </div>
      </div><!--progress_bar ends-->
      <script type="text/javascript">
          $(function() {
              var m = 300;
              var n = 120;

              if (n > m) {
                  n = m
              }
              var $width = $('.progress_over_l').width();
              $('.progress_over_r').css('width', n / m * 773 + 'px');
              $('.progress_over_r').append('<div class="progress_num">' + n + "/" + m + '</div>')

              if (n <= 0) {
                  $('.progress_over_l').css({'padding-left':'4px','width':'4px','background-image':'none'})
              }
          })
      </script>

    </div>
  </div>
  <!--shadow ends-->
</div>
<!--main ends-->
