
<div class='wrapper pt25 pb30'>
        <div class="shadow mt25 mb15">
          <div class="section jinan">
            <div class="items group">
            	<img class="fl" src="<%= asset_path "big_bg/jinan3_1.png"%>">
              <p class="mt25">作为业内资深的设计师，魏总表示非常认同iColor平台，它可以使自身的产品服务更加全面丰富，多元化的展示给自身的消费群体。谈到涂料，魏总表示济南的终端消费者非常认同立邦品牌。</p>
              <p>谈到房产调控对于公司的影响，魏总也表示相当乐观。保持自身增长的秘诀在于不断提高自己的服务质量来满足客户日益增长的需求。</p>
            </div>

            <div class="items group">
              <h3>现场采访实录</h3>
              <img class="fr" src="<%= asset_path "big_bg/jinan3_2.png"%>">
              <p>作为设计师，提到iColor网站张莎莎表示非常惊艳。“我刚才也注册了，我非常惊讶立邦能在那么短的时间内构筑这样一个全面具有针对性的平台，而且板块构成都非常时尚。”张莎莎这样跟记者说。</p>
              <p>谈到网络的交流平台，莎莎提到线上线下的受众群体不同，线上的沟通人群相对年轻，沟通成本低、效率高，正好弥补了之前单纯线下沟通的不足。</p>
              <p>“我们公司基本用的都是立邦涂料，消费者都还是相信大牌子。”设计师对于立邦的品质给予了充分的肯定。</p>
            </div>

            <div class="items group">
              <img class="fl" src="<%= asset_path "big_bg/jinan3_3.png"%>">
              <p class="mt50">我们在四年前就摒弃了传统渠道，开始发展网络渠道，这几年一直保持着翻番的增长态势”。比特福装饰无疑是济南网络营销模式的先驱者。</p>
              <p>谈到立邦漆，郝总表示近两年在济南市场，立邦漆凭借着自身的品质与服务，正在与竞争对手拉开差距。逐渐在消费者心目中奠定了不可替代的地位。</p>
            </div>

            <div class="items noborder">
              <p>立邦，为您刷新生活。iColor网站济南推荐会在一片热烈的气氛中圆满结束。正如一位嘉宾所言“在现今，立邦就是涂料的代名词”，我们也期待通过icolor的平台以及立邦永不停歇的创新脚步为广大的消费者带来更多的福音！</p>
            </div>
          </div>
        </div>
      </div><!--wrapper ends-->

<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/jinan1-1">1</a>
		<a href="/designer_events/city/jinan1-2">2</a>
		<a href="/designer_events/city/jinan1-3" class="current">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->