<div class='wrapper pt25 pb30'>
        <div class="shadow mt25 mb15">
          <div class="section jinan">
            <div class="items">
              <p class="ft18 pt25">9月4日，立邦iColor家装公司见面会济南站顺利召开。当天，济南晴空万里，还未到开始时间，来自济南的近150位家装公司的代表及设计师就已经把会场挤得满满当当，许多设计师还自带了电脑，济南站再一次把iColor推荐会推向了高潮。</p>      
            	<img class="img_center" src="<%= asset_path "big_bg/jinan1_1.png"%>">
            </div>

            <div class="items group">
              <img class="fl" src="<%= asset_path "big_bg/jinan1_2.png"%>">
              <p class="pt50">在主持人简短的开场白之后，立邦iColor见面会正式开始。立邦鲁豫销售部门销售总监侯俊峰先生致辞，热烈欢迎并感谢各位家装界精英与设计师们参与本次活动。侯总首先给在座的嘉宾分析如今的市场情况，并且一起回顾了立邦20年的辉煌历程，紧接着介绍了立邦为设计师和家装公司带来的iColor网站以及新的产品服务。</p>     
            </div>

            <div class="items group noborder">
              <img class="fr" src="<%= asset_path "big_bg/jinan1_3.png"%>">
              <p>之后，立邦建筑事业群市场部高级经理周颖女士为与会者详细的介绍了立邦iColor网站。“如果时尚是一把枪的话，色彩就是子弹。”通过Sammi的介绍，iColor平台完完整整的展现在了济南家装市场的面前，并得到了非常好的反响。完全免费的网络平台，超大流量的自媒体，给现场的设计师以及家装公司代表带来了完全不同的创新展示渠道。网站中的“大师殿堂、设计鉴赏、业主通道、漆光溢彩”几大王牌栏目，更是引发了现场嘉宾极大的热情。几乎所有参与活动的设计师与家装公司代表都现场注册了网站。</p>     
            </div>
          </div>
        </div>
      </div><!--wrapper ends-->

<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/jinan1?page=1" class="current">1</a>
		<a href="/designer_events/city/jinan1?page=2">2</a>
		<a href="/designer_events/city/jinan1?page=3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->