<%- content_for :head do %>
    <script type="text/javascript">
        $(function() {
            $('#inspiration').masonry();
        });
    </script>
    <style type="text/css">
        span.arrow_1 {
            right: 144px;
            _right: 151px;
        }

        span.arrow_2 {
            right: 77px;
            _right: 82px;
        }
    </style>
<%- end %>
<div class="main">
  <div class='sub_title tr pt25'>
    <img src='/assets/design/title_design.png' />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">设计鉴赏</a><span class="arrow_2"></span><a class="fb" href="#">灵感秀</a>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60 group'>
    <div class="design_tit group">
      <ul class="design_filter group">
        <li class="li_current">
        <a href="#">最新</a>
        </li>
        <li>
        <a href="#">最热</a>
        </li>
      </ul>
      <div class="upload_btn">
        <a href="/design_appreciation/upload">我要上传</a>
      </div>
    </div>
    <div class="inspiration_result">
      <div id="inspiration" class="row group">
        <div><a href="/inspirations/1"><img src="/assets/design/inspiration_show1.1.jpg" alt="" /></a>
          <h3>wherewhatwho 万花筒衬衫</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>BY设计师概念店独家销售-本土设计师品牌-wherewhatwho 万花筒衬衫</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show1.2.jpg" alt="" />
          <h3>tsubomi</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>日本艺术家青木克世的陶瓷艺术作品，名为“Predictive Dream”</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show1.3.jpg" alt="" />
          <h3>假领子</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>#晒物#假领子。十分百搭实用！！</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show1.4.jpg" alt="" />
          <h3>情人节礼物</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>我的情人节礼物...BLACK PEARL....</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show1.5.jpg" alt="" />
          <h3>娜娜可</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>芭比这种风靡全球的小女生玩具，除了帮她换衣服、扮家家酒以外</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show2.1.jpg" alt="" />
          <h3>iphone case</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>最近跟朋友新买的iphone case 瞬间把iphone变了个模样。</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show2.2.jpg" alt="" />
          <h3>iphone case</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>最近跟朋友新买的iphone case 瞬间把iphone变了个模样。</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show2.3.jpg" alt="" />
          <h3>一些小玩意</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>嘿嘿，ed hard iphone case kills llove slowly！</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show2.4.jpg" alt="" />
          <h3>小彩虹LOMO</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>很早之前做的手工 喜欢照相喜欢相机 于是做的小彩虹LOMO 哈~我给他起</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show2.5.jpg" alt="" />
          <h3>iphone case</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>最近跟朋友新买的iphone case 瞬间把iphone变了个模样。</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show3.1.jpg" alt="" />
          <h3>my new shoes</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>cool！my new shoes</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show3.2.jpg" alt="" />
          <h3>异开设计</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>＜innokids＞国内原创牌子，异开设计！他们是手工控，为每个简</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show3.3.jpg" alt="" />
          <h3>mrFAQ</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>不小心把大衣扣子弄掉一个，然后发现原来扣子后面有乾坤啊⋯⋯</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show3.4.jpg" alt="" />
          <h3>皮小丘</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>vivienne westwood</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show1.5.jpg" alt="" />
          <h3>OrangeMe</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>在我的小黑皮上一窝就是一天~舒服 peace V在我的小黑皮上一窝就是一天~舒服 peace V</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show4.1.jpg" alt="" />
          <h3>wherewhatwho 万花筒衬衫</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>BY设计师概念店独家销售-本土设计师品牌-wherewhatwho 万花筒衬衫</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show4.2.jpg" alt="" />
          <h3>tsubomi</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>日本艺术家青木克世的陶瓷艺术作品，名为“Predictive Dream”</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show4.3.jpg" alt="" />
          <h3>假领子</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>#晒物#假领子。十分百搭实用！！</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show4.4.jpg" alt="" />
          <h3>情人节礼物</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>我的情人节礼物...BLACK PEARL....</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
        <div><img src="/assets/design/inspiration_show4.5.jpg" alt="" />
          <h3>娜娜可</h3>
          <p class="p0 group"><span class="nopl">Charles</span><span class="result_time nopl">2012-2-14</span></p>
          <p class="p1 group">
          <strong class="ft14 fb">286</strong><a class="vote_btn" href="#"><img src="/assets/design/d_vote_btn.png" alt="" /></a>
          </p>
          <p class="p3 group"><strong>灵感启发：</strong>芭比这种风靡全球的小女生玩具，除了帮她换衣服、扮家家酒以外</p>
          <p class="p2 group">
          <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
          </p>
        </div>
      </div><!--row ends-->
    </div><!--design_result ends-->
  </div><!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a href="#" class="prev"><span></span>上一页</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">...</a>
      <a href="#">20</a>
      <a href="#" class="next">下一页<span></span></a>
    </div><!--pager ends-->
  </div><!--sub_bot ends-->
</div><!--main ends-->
