<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="/assets/design/title_design.png" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">设计鉴赏</a><span class="arrow_2"></span><a class="fb" href="#">每周之星</a>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleB">
      <h1>华帝公馆样板房</h1>
      <div class="subtitle">
        <div class="votes">
          当前票数：<span>286</span><a href="#"><img src="/assets/design/d_vote_btn.png" /></a>
        </div>
        <div class="operate">
          <span class="forward">转发 (124)</span>
          <span class="review">评论 (86)</span>
        </div>
      </div>
      <div class="fullscreen_btn">
        <a href="/inspiration/1/fullscreen">全屏观看</a>
      </div>
    </div>
    <div class="weekstart_detail">
      <div class="big_image"><img src="/assets/design/pc1.jpg" />
      </div>
      <div class="galleryB">
        <span class="moveleft"></span>
        <span class="moveright"></span>
        <div class="list">
          <ul>
            <li>
            <a href="#"><img src="/assets/design/pb7.jpg" /></a>
            </li>
            <li>
            <a href="#"><img src="/assets/design/pb7.jpg" /></a>
            </li>
            <li>
            <a href="#"><img src="/assets/design/pb7.jpg" /></a>
            </li>
            <li>
            <a href="#"><img src="/assets/design/pb7.jpg" /></a>
            </li>
            <li>
            <a href="#"><img src="/assets/design/pb7.jpg" /></a>
            </li>
            <li>
            <a href="#"><img src="/assets/design/pb7.jpg" /></a>
            </li>
          </ul>
        </div>
      </div>
      <script type="text/javascript" src="js/galleryB.js"></script>
      <div class="properties">
        <table class="propertyA">
          <tr>
            <th>上传者：</th>
            <td>王勤俭</td>
          </tr>
          <tr>
            <th>上传时间：</th>
            <td>2012.5.12</td>
          </tr>
          <tr>
            <th>设计风格：</th>
            <td>田园</td>
          </tr>
          <tr>
            <th>灵感启发：</th>
            <td>别墅的设计风格正如题记之中所描述的那样，圆了人们一个关于栖息的理想梦境，从古罗马的辉煌到桃源仙境，从东方到西方，从古时到现代，这个梦被以各种方式诠释着，关于优雅，关于品味，关于享受方式，关于舒适，更重要的是，关于思考的境界。</td>
          </tr>
        </table>
      </div>
      <div class="review_wrap">
        <div class="reviewform">
          <div class="bar">
            <h4><span>评论</span>(86)</h4><span class="r">0/140</span>
          </div>
          <div class="form-content">
            <form>
              <p class="input">
              <textarea></textarea>
              </p>
              <p class="button">
              <input type="image" name="submit" src="/assets/design/submitA.gif" alt="提交" value="提交" />
              </p>
            </form>
          </div>
        </div>
        <div class="pager ft12">
          <a class="prev" href="#"><span></span>上一页</a>
          <a href="#">1</a>
          <a href="#" class="current">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">7</a>
          <a href="#">8</a>
          <a href="#">...</a>
          <a href="#">20</a>
          <a class="next" href="#">下一页<span></span></a>
        </div>
        <div class="review_list">
          <ul class="review_listA">
            <li>
            <div class="bar">
              <span class="user">NEO</span><span class="time">2012-2-12</span>
            </div>
            <div class="reply">
              <a href="#">回复</a>
            </div>
            <div class="content">
              很好！非常好的工具！赞一个...
            </div>
            </li>
            <li>
            <div class="bar">
              <span class="user">NEO</span><span class="time">2012-2-12</span>
            </div>
            <div class="reply">
              <a href="#">回复</a>
            </div>
            <div class="content">
              很好！非常好的工具！赞一个...
            </div>
            </li>
            <li>
            <div class="bar">
              <span class="user">NEO</span><span class="time">2012-2-12</span>
            </div>
            <div class="reply">
              <a href="#">回复</a>
            </div>
            <div class="content">
              很好！非常好的工具！赞一个...
            </div>
            </li>
            <li>
            <div class="bar">
              <span class="user">NEO</span><span class="time">2012-2-12</span>
            </div>
            <div class="reply">
              <a href="#">回复</a>
            </div>
            <div class="content">
              很好！非常好的工具！赞一个...
            </div>
            </li>
            <li>
            <div class="bar">
              <span class="user">NEO</span><span class="time">2012-2-12</span>
            </div>
            <div class="reply">
              <a href="#">回复</a>
            </div>
            <div class="content">
              很好！非常好的工具！赞一个...
            </div>
            </li>
            <li>
            <div class="bar">
              <span class="user">NEO</span><span class="time">2012-2-12</span>
            </div>
            <div class="reply">
              <a href="#">回复</a>
            </div>
            <div class="content">
              很好！非常好的工具！赞一个...
            </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a class="prev" href="#"><span></span>上一页</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">...</a>
      <a href="#">20</a>
      <a class="next" href="#">下一页<span></span></a>
    </div><!--pager ends-->
  </div><!--sub_bot ends-->
</div>
