<div class="pull-right famous_tips text-center">
  <img src="/assets/famous/famous-qustion.png" alt="" />
  <p class="hide">解决<strong>0265483679</strong>问题</p>
  <p><a href="<%= new_dialog_celebrity_celebrity_question_path -%>" class="btn_ask text-left">马上问专家</a></p>
</div>
