<div class="pull-right famous_tips text-center">
<!--   <p>解决<strong id="replied_count">0000000000</strong>问题</p> -->
  <p style="margin-top:30px;"><a href="<%= new_dialog_celebrity_celebrity_question_path -%>" class="btn_ask text-left">我要提问</a></p>
</div>
