<div class="map-right index_main" style="height: auto;">
  <div class="media media_chann">
    <a class="pull-left" href="/images">
      <i class="icon-chann icon-chann_imgbase"></i>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a class="media-heading_link_a" href="/images">装修图库</a></h4>
      <p class="media_con nomargin">寻找最新家装图片<br>给您专属的家装设计参考！</p>
    </div>
  </div>
  <div class="media media_chann">
    <a class="pull-left" href="/color_designs">
      <i class="icon-chann icon-chann_match"></i>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a class="media-heading_link_a" href="/color_designs">色彩配搭</a></h4>
      <p class="media_con nomargin">色彩搭配案例 家居色彩宝典 为您的家装出谋画色！</p>
    </div>
  </div>
  <div class="media media_chann">
    <a class="pull-left" href="/channel/refresh_service">
      <i class="icon-chann icon-chann_user"></i>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a class="media-heading_link_a" href="/channel/access" target="_blank">业主通道</a></h4>
      <p class="media_con nomargin">免费为您提供全方位的家装设计咨询和服务</p>
    </div>
  </div>

</div>
