<% content_for :head do -%>
  <%= stylesheet_link_tag '2013base', '2013upload'%>
  <style type="text/css">
  .wrapper{width:1000px;text-align:center;}
  </style>
<% end -%>
<div class="wrapper">
  <div class="upload_success">
    <div class="upload2013_2">
      <div class="tc"><img src="<%= asset_path 'upload_true.jpg'%>"></div>
    </div>
    <br>
    <a href="<%= user_path(current_user) %>">
      <img src="<%= asset_path "success/btn.jpg"%>">
    </a>
  </div>
</div><!--ends-->