<div class="count clear">
	<h1>icolor经销商后台</h1>
	<ul class="count_left fl ft15">
		<li><a href="<%= seller_user_seller_data_url %>">iColor用户数据统计</a></li>
		<li><a href="/seller_user/reports">iColor报告下载</a></li>
		<li><a href="<%= seller_user_seller_sms_url %>">icolor短信通知</a></li>
		<li><a href="<%= seller_user_seller_tool_url %>">iColor工具申请</a></li>
	</ul><!--count_left ends-->
	<div class="count_right fr">
		<div class="count_sum fl">
			<h2>iColor网站数据</h2>
			<p class="data_count_p"><span>124,680</span>人访问过此网站</p>
			<ul class="count_ul">
				<li><span>访问次数：</span>134,142</li>
				<li><span>唯一身份访问者：</span>124,680</li>
				<li><span>浏览量：</span>299,427</li>
			</ul>
		</div><!--count_sum ends-->
	</div><!--count_right ends-->
	<table>
		<tr>
			<th class="tl" width="185">报告名称</th>
			<th width="145">报告时间</th>
			<th width="145">生成时间</th>
			<th class="noborder" width="145">下载</th>
		</tr>
		<tr>
			<td class="tl">iColor2012年4月报告</td>
			<td>2010-3-5</td>
			<td>2010-1-1</td>
			<td><a href="#">下载</a></td>
		</tr>
		<tr>
			<td class="tl">iColor2012年4月报告</td>
			<td>2010-3-5</td>
			<td>2010-1-1</td>
			<td><a href="#">下载</a></td>
		</tr>
		<tr>
			<td class="tl">iColor2012年4月报告</td>
			<td>2010-3-5</td>
			<td>2010-1-1</td>
			<td><a href="#">下载</a></td>
		</tr>
		<tr>
			<td class="tl">iColor2012年4月报告</td>
			<td>2010-3-5</td>
			<td>2010-1-1</td>
			<td><a href="#">下载</a></td>
		</tr>
	</table>
	<div class="pager ft12 cl">
		<a href="#">&lt;</a>
		<a href="#" class="current">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">&gt;</a>
	</div>
</div><!--count ends-->