<% content_for :head do -%>
    <%= stylesheet_link_tag "style","industry_news" %>
    <style>
    #bdshare{float:right!important;}
    .news_detail_main .title .info{height:30px;padding:0 250px;}
    .news_detail_main .title .info .time{line-height:30px;}
    .wrapper{padding:43px;}
    </style>
<% end -%>
<%- content_for :tail do %>
     <!-- <div class="float_ads tr">
      <a href="/gift"><img src="<%#rail= asset_path "float_ads.gif"%>"/></a><br/>
      <a href="javascript:void(0)" class="shut_float ft12">关闭</a>
    </div> -->
<%- end %>
<div class="main industry_news">
  <div class="wrapper group news_detail">
    <div class="shadow news_detail_main">
      <div class="section">
        <div class="title">
          <h1><%= @article.title %></h1>
          <div class="info clearfix">
            <div class="time pull-left">时间：<%= @article.published_at.to_date %></div>
            <!-- Baidu Button BEGIN -->
            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
              <span class="pull-left mt6">一键分享：</span>
              <a class="bds_qzone"></a>
              <a class="bds_tsina"></a>
              <a class="bds_tqq"></a>
              <a class="bds_renren"></a>
              <a class="bds_t163"></a>
              <a class="shareCount"></a>
            </div>
            <!-- Baidu Button END -->
          </div>
        </div>
        <div class="news_content">
          <%= raw @article.body %>
        </div>
      </div>
    </div>
    <!--sub_bot ends-->
  </div>
</div>