<script type="text/javascript">
    $(function() {

        Object.size = function(obj) {
            var size = 0, key;
            for (key in obj) {
                if (obj.hasOwnProperty(key)) size++;
            }
            return size;
        };

        var color_codes = {
            <%- @master_design.master_design_uploads.each_with_index do |i, index_u| %>
            <%- color1, color2, color3 = search_color_code(i.recommend_color1), search_color_code(i.recommend_color2), search_color_code(i.recommend_color3) %>

            '<%= i.id %>': {
                <%-
                codes = []
                [color1, color2, color3].each_with_index do |color, index|
                    unless color.blank?
                        codes << "'#{index+1}': { 'rgb': '#{color.rgb}', 'code': '#{color.code}', 'name': '#{color.name}', 'category': '#{i.send("recommend_color_category#{index+1}")}'}"
                    end
                end
                %>
                <%= codes.join(",").html_safe %>
            }<%= ","  unless (index_u+1) == @master_design.master_design_uploads.size %>
            <%- end %>
        };

         $('#colors_con').mouseenter(
                function() {

                    var id = $($(instanceOne.imagesDiv).find("img")[instanceOne.imageID]).attr("data-id");
                    if (id == 0) {
                        id = <%= @master_design.master_design_uploads.first.id %>
                    };

                    code = color_codes[id];

                    // Get the size of an object
                    var size = Object.size(code);
                    var $ul = $(this).find('ul');
                    var tmp = '';
                    for (i = 1; i <= size; i++) {
                        if (new RegExp("^FM|^WM").test(code[i].code)) {
                            tmp += '<li><div class="colorblock" style="background:url(/assets/color_code/' + code[i].code + '.png)"></div><h5>' + code[i].category + '</h5><p>立邦木器漆(' + code[i].code + ')</p></li>';
                        } else {
                            tmp += '<li><div class="colorblock" style="background-color:rgb(' + code[i].rgb + ')"></div><h5>' + code[i].category + '</h5><p>立邦(' + code[i].code + ')' + code[i].name + '</p></li>';
                        }
                    };
                    
                    $ul.html(tmp);
                    $(this).children('img').hide();
                    $(this).children('div.desc').show();
                    $(".list ul li:last").addClass("noborder");            
                }).mouseleave(function(){
                    {$(this).children('img').show();
                    $(this).children('div.desc').hide();}
                });
    });
</script>