<%- content_for :head do %>
  <style type="text/css">
    .shadow {
      zoom: 1;
    }
  </style>
<%- end %>
<div class="main">
  <div class='sub_title tr pt25'>
    <img src='<%= set_style[:pic_path] %>' />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">大师殿堂</a><span class="arrow_2"></span><a class="fb" href="#">大师作品</a>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60 group pt25'>
    <div class="works_detail_tit line_b_dot group">
      <h3>深圳颐林雅苑时尚简约家<strong>Michael Young</strong></h3>
      <div class="full_play">
        <a href="#">全屏观看</a>
      </div>
    </div>
    <div class="kv_loop mt25">
    </div>

    <div class="colors_box b_shadow mt25">
      <div class="colors_main b_shadow_bord group">
        <h5 class="fl"><img src="/assets/master/colors_icon_tit.png" alt="" /></h5>
        <div class="colors">
          <span class="c_f5f5f5"></span>
          <span class="c_dae0e6"></span>
          <span class="c_d9d4d6"></span>
          <span class="c_c3c1b5"></span>
          <span class="c_f5eded"></span>
          <span class="c_ded6e2"></span>
          <span class="c_c2c2c2"></span>
          <span class="c_b0b8ae"></span>
        </div><!--colors ends-->
        <div class="colors">
          <span class="c_f7c7d1"></span>
          <span class="c_ef8aa2"></span>
          <span class="c_e8334a"></span>
          <span class="c_a5050b"></span>
          <span class="c_f7c3cb"></span>
          <span class="c_ec7286"></span>
          <span class="c_d3003f"></span>
          <span class="c_870422"></span>
        </div><!--colors ends-->
        <div class="colors">
          <span class="c_fddda0"></span>
          <span class="c_f8c044"></span>
          <span class="c_ed7100"></span>
          <span class="c_9f4100"></span>
          <span class="c_fbd392"></span>
          <span class="c_f7af0e"></span>
          <span class="c_dc6901"></span>
          <span class="c_852d02"></span>
        </div><!--colors ends-->
        <div class="colors">
          <span class="c_fff47d"></span>
          <span class="c_ffeb07"></span>
          <span class="c_eacc00"></span>
          <span class="c_a88600"></span>
          <span class="c_fff158"></span>
          <span class="c_f7dc00"></span>
          <span class="c_d6bb01"></span>
          <span class="c_967800"></span>
        </div><!--colors ends-->
        <div class="colors">
          <span class="c_d9ffee"></span>
          <span class="c_7df6bf"></span>
          <span class="c_39f2b3"></span>
          <span class="c_029a7f"></span>
          <span class="c_b6ffde"></span>
          <span class="c_6ef7b9"></span>
          <span class="c_02eac1"></span>
          <span class="c_006a55"></span>
        </div><!--colors ends-->
        <div class="colors">
          <span class="c_c2efff"></span>
          <span class="c_5ccdff"></span>
          <span class="c_0098d6"></span>
          <span class="c_004082"></span>
          <span class="c_9ee1ff"></span>
          <span class="c_43bff5"></span>
          <span class="c_006fba"></span>
          <span class="c_012a61"></span>
        </div><!--colors ends-->
        <div class="colors">
          <span class="c_f0e5ff"></span>
          <span class="c_aa9fcc"></span>
          <span class="c_6f4c9c"></span>
          <span class="c_2f0c7d"></span>
          <span class="c_dcc2ff"></span>
          <span class="c_9685cd"></span>
          <span class="c_5b3092"></span>
          <span class="c_260869"></span>
        </div><!--colors ends-->
        <div class="colors">
          <span class="c_f8c044"></span>
          <span class="c_5ccdff"></span>
          <span class="c_6f4c9c"></span>
          <span class="c_083b67"></span>
          <span class="c_f5a20e"></span>
          <span class="c_009cc5"></span>
          <span class="c_5b3092"></span>
          <span class="c_08338a"></span>
        </div><!--colors ends-->
        <div class="mall_link"><img src="/assets/master/mall_link_btn.png" alt="" /></div>
        <div class="colors_over_box c_fddda0">
          <div class="colors_over_main">
            <ul class="line_r">
              <li class="mb5 group"><div class="color_l red"></div><h6>室内墙面漆<span>激情岁月8740-2</span></h6></li>
              <li class="group"><div class="color_l yellow"></div><h6>室内墙面漆<span>激情岁月8740-2</span></h6></li>
            </ul>
            <ul class="line_r">
              <li class="mb5 group"><div class="color_l blue"></div><h6>室内墙面漆<span>激情岁月8740-2</span></h6></li>
              <li class="group"><div class="color_l yellow"></div><h6>室内墙面漆<span>激情岁月8740-2</span></h6></li>
            </ul>
            <ul class="nomr">
              <li class="mb5 group"><div class="color_l blue"></div><h6>室内墙面漆<span>激情岁月8740-2</span></h6></li>
              <li class="group"><div class="color_l yellow"></div><h6>室内墙面漆<span>激情岁月8740-2</span></h6></li>
            </ul>
          </div>
        </div>
      </div><!--colors_main ends-->
    </div>

    <div class="shadow mt25">
      <div class="section">
        <div class="tit_bg"><h2>作品简介SYNOPSIS</h2></div>
        <p class="master_msg ft14">别墅的设计风格正如题记之中所描述的那样，圆了人们一个关于栖息的理想梦境，从古罗马的辉煌到桃源仙境，从东方到西方，从古时到现代，这个梦被以各种方式诠释着，关于优雅，关于品味，关于享受方式，关于舒适，更重要的是，关于思考的境界。</p>
      </div>
    </div>

  </div><!--wrapper ends-->
  <div class='sub_bot'>
  </div><!--sub_bot ends-->
</div><!--main ends-->