<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_shenyang pr ft14">
				<h1>
					2012立邦和家装界 精英携手刷新 沈阳站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<h2>现场采访实录</h2>
				<span class="pa fb">嘉宾：立邦东北行销大区销售总监</span>
				<img src="<%= asset_path "news/event/event_img13.jpg"%>" class="fr" style="clear:right;" />
				<p>【新浪家居】：您好，候总，立邦涂料今年荣获Superbrands-2012中国人喜爱的品牌，您是怎样看待这项荣誉的？</p>
				<p>【立邦 候总】：立邦今年正好是进入中国第20年，这跟我们的沉淀有足够的关系，20年来我们一直在致力于改善消费者的家居环境，包括在环保、色彩及产品品质方面做了很多努力，所以我觉得这跟品牌在中国20年不断坚持是息息相关的，可以说是实至名归。</p>
				<p>【新浪家居】：此次招募会介绍了很多立邦最新的产品和施工工艺，您认为这些新产品和新工艺的优势在哪里？</p>
				<p>【立邦 候总】：我觉得从涂料的本身来说，他应该是一个半成品，消费者最后要的是一个实际的家居装修效果。我们这一次招募的大多是设计师，我们主要是从两点着眼考虑，因为从设计师来说，对涂料的应用有两点，一种是色彩，另外一种是工艺，色彩和工艺加在一起，有可能是整个思想的一个绽放。这一块我觉得从色彩的角度来说，立邦有最丰富的色彩，从原来的1000多种色彩，到现在2000多种，应该是不断的在丰富，包括在整个色浆的使用上，这一块从环保上有一个很大的保障。</p>
				<h2 style="border-top:1px dashed #797a7a;">对立邦涂料沈阳经销商的现场采访</h2>
				<span class="pa fb" style="top:770px;">嘉宾：辽宁惠柏商贸有限公司总经理 田野</span>
				<img src="<%= asset_path "news/event/event_img14.jpg"%>" class="fr" style="clear:right;" />
				<p>【新浪家居】：您觉得iColor网站以后对您的工作有什么样的帮助呢？<br />
					【惠柏商贸 田野】：挺好，我今天听了iColor网站的介绍感觉非常好，一个是它搭建了一个很大的平台，从消费者角度来讲，消费者在网站上可以按照个性化选取颜色。还有一个搭建的平台是给装饰公司和设计师的，通过这个平台，装饰公司可以宣传自己的知名度，而且设计师可以把他的作品进行宣传。同时通过这个平台，消费者、装饰公司、设计师，还有我们经销商，可以在这里互动，而且消费者通过平台可以更加认识立邦漆，同时进行一些产品性价比的选择，对我的营销非常有利。</p>
					<p>【新浪家居】：您对这个网站是持有肯定态度的，经销或者代理和家装公司的联系是比较紧密的，想问一下田总，家装公司在我们这里是怎么看待它的作用和影响以及趋势的？</p>
					<p>【惠柏商贸 田野】：因为现在家装行业竞争比较激烈，而且比较走向正轨，将来一个是靠服务一个是靠信誉来赢得市场。家装公司更多的是引领装饰的趋势，可能它的前瞻性更加看好它的未来，今天这么多家装公司踊跃参加，看到这些家装公司我们已经看到了未来。将来家装公司的竞争非常激烈，一个是它有个性化的设计，而且还有性价比很高的产品，而且也要靠他们的品牌来对质量的保证。我们是做涂料的，家装公司的品牌跟我们也是分不开的，通过iColor网站的提供，连接个性化的设计，我认为对家装公司在自身品牌的树立上能够起到很好的作用。今天来这么多的家装公司，我认为他们将来都是家装公司的中坚力量。</p>
				</div>
			</div><!--section ends-->
		</div><!--shadow ends-->
	</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shenyang2?page=1">1</a>
		<a href="/designer_events/city/shenyang2?page=2" class="current">2</a>
		<a href="/designer_events/city/shenyang2?page=3">3</a>
		<a href="/designer_events/city/shenyang2?page=4">4</a>
		<a href="/designer_events/city/shenyang2?page=5">5</a>
		<a href="/designer_events/city/shenyang2?page=6">6</a>
		<a href="/designer_events/city/shenyang2?page=7">7</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->