<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_shenyang pr ft14">
				<h1>
					2012立邦和家装界 精英携手刷新 沈阳站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<h2>对立邦见面会现场家装公司部分代表的采访实录</h2>
				<span class="pa fb">嘉宾五：沈阳佰轩装饰有限公司  刘莉</span>
				<img src="<%= asset_path "news/event/event_img8.jpg"%>" class="fr" style="clear:right;" />
				<p>【新浪家居】：每个人对网站的认识和理解都不一样，刚才介绍的Icolor网站您觉得如何？</p>
				<p>【佰轩装饰刘莉】：立邦在我们各个装修公司提供了很好的平台，我们会在这个网站上宣传我们自己，在立邦今天这个会议上，我们也学到了很多关于环保和客户的需求，将来也作为指导我们更好的工作。</p>
				<p>【新浪家居】：消费者在平时装修的时候，比较关注哪几方面的因素？<br />【佰轩装饰刘莉】：因为身体的健康原因，最主要的还是环保、质量、价格。</p>
				<p>【新浪家居】：您是和立邦合作的对吗？</p>
				<p>【佰轩装饰 刘莉】：我们公司从成立以来就合作，有八年了。</p>
				<p>【新浪家居】：选择一个品牌去合作，肯定是看中他的优势，您当初在选择立邦的时候，是看中了它的哪些优势？</p>
				<p>【佰轩装饰 刘莉】：一开始我们也跟其他公司合作过，后期立邦透跟我们有了接触，我们发现立邦的后期服务和前期的铺垫，比如说送货，指导培训，还有对产品的反馈这几点，都特别好，所以毅然选择立邦。<br />【新浪家居】：现在的消费群体，思想活跃，追求个性化，立邦现在的产品能不能满足这些需求？</p>
				<p>【佰轩装饰 刘莉】：现在年轻人比较选择上颜色。40岁左右，他比较喜欢壁纸这一类的，但是年轻人，大胆的用颜色，可能局部的会比较多，立邦基本能满足的。</p>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shenyang2?page=1" class="current">1</a>
		<a href="/designer_events/city/shenyang2?page=2">2</a>
		<a href="/designer_events/city/shenyang2?page=3">3</a>
		<a href="/designer_events/city/shenyang2?page=4">4</a>
		<a href="/designer_events/city/shenyang2?page=5">5</a>
		<a href="/designer_events/city/shenyang2?page=6">6</a>
		<a href="/designer_events/city/shenyang2?page=7">7</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->