<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_shenyang pr ft14">
				<h1>
					2012立邦和家装界 精英携手刷新 沈阳站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<h2>对立邦见面会现场家装公司部分代表的采访实录</h2>
				<span class="pa fb">嘉宾三：恒信装饰设计总监 于春东</span>
				<img src="<%= asset_path "news/event/event_img11.jpg"%>" class="fr" style="clear:right;" />
				<p>【新浪家居】：何总您对iColor网站是怎样看？您觉得它以后可能对你的工作有什么样好处？</p>
				<p>【北轩装饰何治】：网站我们也有，立邦建这个网站我觉得内存和含量应该是挺大的，对我们应该也是一个平台，我们的设计师图片也可以往上传，这样我们就可以互相学习，互相切磋。</p>
				<p>【新浪家居】：作为设计师，您觉得消费者在装修的过程中比较关注什么？</p>
				<p>【北轩装饰何治】：首先肯定是环保，拿漆来说，今天是以油漆为主的，油漆和乳胶漆，在漆类来说，他第一反映肯定是环保，这是最重要的，然后就是颜色，手感、颜色、环保。</p>
				<p>【新浪家居】：你觉得立邦能不能满足消费者对于环保、或者是施工要求、或者是健康方面，各个方面的要求能不能达到？</p>
				<p>【北轩装饰何治】：现在立邦漆完全能满足了。我开装修公司，我设计师出身，但我很少做设计了，这些年一直在用立邦漆，没有用过其他的漆，我感觉如果立邦漆满足不了的话，也没有什么可满足的了。这个事确实是这样，不管是质量上，我们目前用过这么长时间，他没有出过质量上的问题，如果出现了，立邦漆也会负责，我们用的也放心。</p>
				<p>【新浪家居】：在您个人的观点来看，您觉得和立邦的合作，他的优势体现在哪些方面？</p>
				<p>【北轩装饰何治】：在我这里来说，首先立邦的服务挺好，负责我们的人员都不错，跟我们相处得也挺好，有什么事，可以相互利用相互的平台。有一点也挺好的，可以送货，沈阳市内免费给送，你打电话就能送到，送到楼上。这应该也是最基本的，我们下面的工人不用去拿了。</p>
				<p>【新浪家居】：每个地区有每个地区的欣赏水准，在您看的话，沈阳装修墙面这一块，喜欢什么样的颜色？</p>
				<p>【北轩装饰何治】：还是暖色调相对多，但是年轻一点的可能喜欢冷色调的，因为现在的风格有很多种，包括这两年刚兴起的后现代或者是低调奢华这种风格，他还是以冷色调为主，以银色、灰色、黑这几种。</p>
				<p>【新浪家居】：谢谢。</p>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shenyang2?page=1">1</a>
		<a href="/designer_events/city/shenyang2?page=2">2</a>
		<a href="/designer_events/city/shenyang2?page=3">3</a>
		<a href="/designer_events/city/shenyang2?page=4" class="current">4</a>
		<a href="/designer_events/city/shenyang2?page=5">5</a>
		<a href="/designer_events/city/shenyang2?page=6">6</a>
		<a href="/designer_events/city/shenyang2?page=7">7</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->