<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_shenyang pr ft14">
				<h1>
					2012立邦和家装界 精英携手刷新 沈阳站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<h3>6月13日的沈阳，前一日还电神雷鸣，这一天却阳光明媚，见证着立邦公司全国家装公司见面会成功拉开序幕。活动现场座无虚席，来自沈阳当地的家装公司代表近200人出席了活动。</h3>
				<div class="clear">
					<p class="textindent">招募会上，立邦涂料有限公司的建筑事业群市场部高级经理周颖女士为大家介绍了立邦全新推出的Icolor 网站，网站优质的用户体验和视觉感受不仅让在座来宾耳目一新，网站中的“大师殿堂、设计鉴赏、业主通道、漆光溢彩”等王牌栏目，更为大家带来了数千套优秀装修案例和色彩搭配设计、全新涂刷效果，一致赢得在座家装界同仁的关注和好评。介绍还未结束，各家装精英都已纷纷填写了网站入会表，也期待着自己公司的作品能在icolor网站上秀一秀。</p>
					<p class="textindent">随后S周颖女士还和大家分享和探讨了了由25位跨界设计领袖和优秀室内共同演绎的立邦色彩流行趋势---时尚潮流的色彩、大师的经典解读，把见面会推向了一个小高潮。</p>
					<p class="tc">
						<img src="<%= asset_path "news/event/event_img15.jpg"%>" />
					</p>
					<p>现场还特别设立了icolor 网站体验区，艺术漆涂刷效果展示区及立邦净味环保新品陈列区，并由立邦资深人员做了详细讲解。来宾们纷纷表示出浓厚兴趣，提问踊跃，休息间隙还纷纷试刷起来。</p>
				</div>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shenyang2?page=1">1</a>
		<a href="/designer_events/city/shenyang2?page=2">2</a>
		<a href="/designer_events/city/shenyang2?page=3">3</a>
		<a href="/designer_events/city/shenyang2?page=4">4</a>
		<a href="/designer_events/city/shenyang2?page=5">5</a>
		<a href="/designer_events/city/shenyang2?page=6">6</a>
		<a href="/designer_events/city/shenyang2?page=7" class="current">7</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->