<div class='wrapper overflow clear'>
<div class="shadow">
<div class="section clear july_event">
	<div class="event_shenyang pr ft14">
		<h1>
			2012立邦和家装界 精英携手刷新 沈阳站
			立邦iColor全国家装公司见面会现场报道
		</h1>
		<h2>对立邦见面会现场家装公司部分代表的采访实录</h2>
		<span class="pa fb">嘉宾三：恒信装饰设计总监 于春东</span>
		<img src="<%= asset_path "news/event/event_img12.jpg"%>" class="fr" style="clear:right;" />
		<p>【新浪家居】：毛总，您对今天的Icolor网站感觉怎样？</p>
		<p>【辰宣装饰毛军海】：我们公司和立邦公司合作近十年了，我认为Icolor网站的建立应该是立邦公司前瞻性工作的又一力作，他在同行业和普通消费者之间，又打开了一个窗口，让人们或者更多的消费者了解立邦。<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二方面对我们装饰业来讲，给我们提供了一个舞台，就是展示作品，释放激情，探讨研究，还有学习提高，引导潮流。<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三方面，单纯的在普通消费者层面，通过这个平台，让消费者的消费方式发生改变，立邦给他们提供了一个很好的后盾，也就是说立邦人始终对这些追求亮丽人生，亮丽色彩的消费者，给他们带来快乐，让他们生活更加美好，更加和谐。最后我也是祝愿立邦漆和立邦公司的所有的产品和服务更上一层楼，也祝我们合作越来越愉快。</p>
			<p>【新浪家居】：你和立邦有十年的合作，就是因为相信他的某种品质，相信他的某种优势。我们很想了解，到底是什么因素让你选择了十年一直在和他合作？</p>
			<p>【辰宣装饰 毛军海】：是这样的，一方面立邦的产品，他在同行业中是信得过的。他始终引导着消费者的潮流，尤其今天新推出的这几种，他都是不断的在更新自己的产品，一直在引导着行业的潮流。<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二个就是他的服务，尤其是这个服务，他做的特别到位，做的特别的仔细，特别认真，准确的说特别的精美。细节决定成败，所以说我们会一直跟立邦合作。</p>
				<p>【新浪家居】：因为现在80后90后这一代人的思想是很跳跃的哪一种，您觉得沈阳这一块，他们比较倾向于哪种颜色的使用？</p>
				<p>【辰宣装饰 毛军海】：实际上面向的消费层，大概是80后了，这些人思维活跃，视野宽阔，对新生事物，有很强的好奇心，但是他也容易接受，他将来就是我们立邦或者是我们装饰公司的一个很好的一个客户群。但是对于颜色，我对颜色的理解是这样的，每个人，在不同的时期对颜色的理解也是不一样的，总而言之，对人们来说，对消费者来说，不管是什么年代，追求美好的生活，这个主题是不变的。怎么样让他过的更快乐，更开心，给他一个轻松的一个环境，这就是我们立邦人和我们装修公司给大家的永远不变的主题——“装修的是环境，美化的是心灵”。</p>
				<p>【新浪家居】：谢谢。</p>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shenyang2?page=1">1</a>
		<a href="/designer_events/city/shenyang2?page=2">2</a>
		<a href="/designer_events/city/shenyang2?page=3" class="current">3</a>
		<a href="/designer_events/city/shenyang2?page=4">4</a>
		<a href="/designer_events/city/shenyang2?page=5">5</a>
		<a href="/designer_events/city/shenyang2?page=6">6</a>
		<a href="/designer_events/city/shenyang2?page=7">7</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->