<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_shenyang pr ft14">
				<h1>
					2012立邦和家装界 精英携手刷新 沈阳站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<h2>对立邦见面会现场家装公司部分代表的采访实录</h2>
				<span class="pa fb">嘉宾四：绿港装饰 钱权红</span>
				<img src="<%= asset_path "news/event/event_img9.jpg"%>" class="fr" style="clear:right;" />
				<p>【新浪家居】：在您印象当中，您觉得消费者在装修的过程当中会比较关注哪些因素？</p>
				<p>【绿港装饰钱权红】：老百姓关注的还是细节，不管他消费多少钱，他想得到的是我满意只要他认可，选中了一家之后，他所追求的就是完美。</p>
				<p>【新浪家居】：你和立邦是有合作的吗？</p>
				<p>【绿港装饰钱权红】：在这里这么多，有可能我和立邦是接触最深的了。因为跨入装修行业，我就跟立邦打交道。他们服务这一块比较到位，就简单说，有不同的产品，假如说我们在施工工艺当中，遇到什么不明白了，他第一时间就主动给我们解决。</p>
				<p>【新浪家居】：您觉得在合作的过程当中，您和他合作最大的优势在什么地方？</p>
				<p>【绿港装饰 钱权红】：立邦服务这一块比较到位，就简单说，有不同的产品，假如说我们在施工工艺当中，遇到也什么毛病了，遇到什么不明白了，他第一跟我们讲。</p>
				<p>【新浪家居】：其实服务就是企业的金牌，服务好了，口碑相传也很重要的。</p>
				<p>【绿港装饰 钱权红】：对。在涂料行业当中，立邦真正不错。现在的工艺角度来说，第一个他的覆盖力强。</p>
				<p>【新浪家居】：因为今年都在说行业形势不太好，我想问一下，沈阳家装公司业绩会不会受到影响？</p>
				<p>【绿港装饰 钱权红】：在目前市场来看是不好，但是在家装行业来看，影响力多少有一点影响，我目前还没有体会到。目前到现在，就是5月份在家装行业就是一个槛，6月份还可以。基本上我是一个月一总结。这个东西跟季节有关。在东北季节，真正的季节在7月份和8月份。目前看看不出来。<br />【新浪家居】：谢谢。</p>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shenyang2?page=1">1</a>
		<a href="/designer_events/city/shenyang2?page=2">2</a>
		<a href="/designer_events/city/shenyang2?page=3">3</a>
		<a href="/designer_events/city/shenyang2?page=4">4</a>
		<a href="/designer_events/city/shenyang2?page=5">5</a>
		<a href="/designer_events/city/shenyang2?page=6" class="current">6</a>
		<a href="/designer_events/city/shenyang2?page=7">7</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->