<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_shenyang pr ft14">
				<h1>
					2012立邦和家装界 精英携手刷新 沈阳站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<h2>对立邦见面会现场家装公司部分代表的采访实录</h2>
				<span class="pa fb">嘉宾三：恒信装饰设计总监 于春东</span>
				<img src="<%= asset_path "news/event/event_img10.jpg"%>" class="fr" style="clear:right;" />
				<p>【新浪家居】：刚才您在会场对网站挺关注，您觉得Icolor网站怎样？</p>
				<p>【恒信装饰于春东】：我觉得Icolor网站的模块相对来讲考虑的比较周全，包括对客户的，对设计师资源方面的，对一些专业的配色方案的理解上，他相对来讲给大家提供选择性更大了一些，对设计师来讲，因为我们也有自己的设计团队，作为设计师角度来讲，当他们通过一个比较完整的方案的时候，通过对客户的一些分析，他们很容易就能找到一个相对来讲比较完善的配色方案。我觉得这样的话，会加大设计师的设计效率。同时我觉得给一些设计师，应该说替我做了一项工作，让设计师很快的在配色方案上有一个很大的提升。</p>
				<p>【新浪家居】：在您平时和消费者接触的过程当中，他们在装修的时候，首要考虑的一些东西是什么？比较关注的一些东西是什么？</p>
				<p>【恒信装饰 于春东】：因为我们现在接触的客户群，在北方的客户越来越认识到设计的重要性，设计最早期的时候，像前几年的时候，可能在北方手设计费应该是很难的。现在大家逐渐的能够接受设计费的过程，我觉得这一点，应该是大家对审美的意识和对专业的东西有一些要求所以说他们设计上要求会偏高一些。好多客户，大家也都觉得对材料的要求，对设计的要求，我觉得有一部分应该说催着我们在提升。</p>
				<p>【新浪家居】：在您和立邦合作的过程中最大的优势体现在哪些方面？</p>
				<p>【恒信装饰 于春东】： 我们和立邦合作了很长时间，在03年的时候我们在一起做，首先品牌的知名度比较好，相对来讲客户的接受能力上，客户了解的并不是很多，他只是说，有几个大牌子，觉得差不多就可以，因为我们也是连设计带施工一起去做，所以他也不希望自己去选择漆。其次我觉得立邦品牌的环保上，一直做的宣传做的很好。我记得有一个小鸟的广告，但是看了之后，我觉得应该很有感触，一种自然界生灵的存在，我觉得很快的就能和这个品牌拉近距离。</p>
				<p>【新浪家居】：因为现在80后、90后，消费群体是慢慢的在崛起，但是我觉得每个地域的80后、90后，欣赏水准或者是色彩的喜好，我感觉是不一样的，沈阳这一块，您感觉年轻人他们喜欢哪种颜色？</p>
				<p>【恒信装饰 于春东】：从我接触的一些客户来看，他们对颜色的要求上，我觉得相对来讲还是根据家庭的人口结构来定。如果是一家五口的这种，老中青的这种，相对来讲，设计的针对性会更强一些，比说像卧室或者是客厅，还有老人房，相对的颜色上，我觉得针对性也会强一些。但是如果说像别墅大宅之类的，可能我们对方案的要求更多一些。包括欧式的，我们可能用一些比较个性化的颜色，比如说非常规的那种，用一些黄，用一些粉之类的，我们都是配这风格来做。</p>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shenyang2?page=1">1</a>
		<a href="/designer_events/city/shenyang2?page=2">2</a>
		<a href="/designer_events/city/shenyang2?page=3">3</a>
		<a href="/designer_events/city/shenyang2?page=4">4</a>
		<a href="/designer_events/city/shenyang2?page=5" class="current">5</a>
		<a href="/designer_events/city/shenyang2?page=6">6</a>
		<a href="/designer_events/city/shenyang2?page=7">7</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->