<%- content_for :head do %>
    <%= stylesheet_link_tag "exciting_activities"%>
<%- end %>

<div class="wrapper group">
	<div class="shadow event event_desc">
		<div class="section clear yda_closing">
			<a href="javascript:void(0);"><img src="<%= asset_path 'design/pm4.jpg' %>"></a>
			<h1>立邦亚洲青年设计师大赛(NPYDA)成功落幕</h1>
			<p>012年度第四届立邦亚洲青年设计师大赛（Nippon Paint Young Design Award简称：NPYDA）的颁奖典礼近日在马来西亚吉隆坡落下帷幕。本次大赛由立邦母公司立时集团(Nipsea Group)发起吸引了来自亚洲各地，如马来西亚，新加坡，泰国，越南，印度尼西亚，中国和巴基斯坦870名参赛者参加，参赛人数创历史之最。中国的设计新锐们在此次跨界亚洲的设计平台上表现出色，以精彩的创意和环保理念赢得了国际评委团的认可，来自清华大学建筑系的康思迪，以及清华美术学院环艺室内设计系的吴绍瑜分别摘得建筑设计组别白金大奖第二名和室内设计组别白金大奖第二名的殊荣。</p>
 					<p>立时集团（Nipsea Group）已经是连续第四年举办NPYDA，今年NPYDA“重塑、重建、重生——重塑设计空间，创想绿色未来”。立时集团首席执行官黄守金(Wee Siew Kim)表示：“今年的主题更具挑战性，因为参赛学生们必须寻找一个现有的空间，并在作品中展示出如何完善其所选场地的室内设计或建筑设计的过程，并做到节约能源和环境保护。来自亚洲各地的学生所选择的空间非常吸引人—工厂、电影院、桥梁、甚至是废弃的船运集装箱。他们真正发挥了自己的想象力，重塑这些空间，设计出极具实际操作性的项目，获得了立邦公司和评审们的一致认可。这证明了亚洲正在迅速成为创新和可持续设计新锐们的摇篮。</p>
 					<p>立邦中国今年虽然是首次参加2012NPYDA，但一直以来延续着立时集团的CSREcoColor愿景（立邦，永续大地精彩）和理念，发掘极富天赋的设计新锐，并为其提供展示才华和交流思想的沟通平台。本次参与的中国设计师选手，在亚洲各国作品中表现优异，充分展中国新锐设计师实力。2011年，立邦中国推出了“绿色创意，刷新精彩生活”（ECO-DESIGN FOR BETTER LIFE）设计大赛。今年，立邦举办了“首届2012年iColor未来之星”比赛，在www.icolor.com.cn这一设计类公益性平台中从众多参赛者中甄选出优秀作品及设计师，并将其推荐至涵盖全亚洲的设计舞台展现才华。在建筑类和室内类分别评选出金奖，并推荐金奖的获奖选手参加立邦亚太区青年设计师大赛（NPYDA）的国际性决赛。清华大学康思迪和和清华美术学院吴绍瑜正是以iColor未来之星建筑设计组别金奖，以及室内设计组别金奖的身份代表中国，与来自其他国家的设计师们同台比拼，并最终摘得白金大奖第二名殊荣。</p>
				<p>“想要赢得立邦亚洲青年设计师大赛的白金奖是极具挑战性的，因为要与来自七个国家最优秀的设计人才竞争。对于参赛学生而言，能这么年轻就摘得白金大奖，这是一项极大的殊荣，是金钱无法买到的宝贵经验，将会使他们的职业生涯有更好的发展。”立时(Nipsea)集团首席执行官黄守金(WeeSiewKim)如是说。</p>
				<div class="yda_div1 clear">
					<img src="<%= asset_path 'design/pm5.jpg' %>" class="fr" />
					<p>姓名：康思迪</p>
					<p>组别：建筑设计类</p>
					<p>国家：中国</p>
					<p>学校：清华大学</p>
					<p>获奖项目：“游乐场——负空间重生”，充分利用城市负空间，将废弃的工厂改造成社区幼儿园，并在屋顶绿化、室内外装修等方面使用多种环保材料和生态策略。</p>
				</div>
				<div class="yda_div2 clear">
					<img src="<%= asset_path 'design/pm6.jpg' %>" class="fr" />
					<p>姓名：吴绍瑜</p>
					<p>组别：室内设计类</p>
					<p>国家：中国</p>
					<p>学校：清华美术学院</p>
					<p>获奖项目：“打破界限——重塑设计空间”，将香港已婚警察居住地改造成一个设计师工作区，为香港当地人以及来自海外的设计师提供一个绿色的空间。</p>
				</div>
				<p>立邦亚洲青年设计师大赛在马来西亚孕育而成，在短短的几年时间内已经发展成为一个全亚洲性的大赛。目前，该大赛是同类奖项中少数覆盖全亚洲的大赛之一。去年，共有来自四个国家的707名学生参加。今年参赛国家和参赛人数又有所增加。</p>
		</div>
	</div>
</div>
<div class='sub_bot pr'>
</div><!--sub_bot ends-->