<div class="main page_weekstar">
  <div class='sub_title tr'>
    <img src="/assets/design/title_owner.png" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">业主通道</a><span class="arrow_2"></span><a class="fb" href="#">在线配色服务</a>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="dec_qc">
      <div class="title">装修问答</div>
      <div class="dec_question">
        <div class="titlebar">
          <div class="legend"><a href="#">我为房狂：</a>好的乳胶漆经擦洗后不会有变化</div>
          <div class="time">2012-4-12</div>
        </div>
        <div class="dec_question_content">
          <strong>装修咨询：</strong>
          <div class="text">
            最近打算装修，但听一些装修过的朋友说，厨房、卫生间墙面和顶棚都很容易出现涂层裂口脱皮的现象？是真的吗？貌似现在装修的都用乳胶漆， 前正在计划装修，也想选款性价比高的乳胶漆，但又听说有的乳胶漆会起皮、掉皮，主要是质量问题吗，还是有其他原因？能不能帮忙解答一下？最近打算装修，但听一些装修过的朋友说，厨房、卫生间墙面和顶棚都很容易出现涂层裂口脱皮的现象？是真的吗？貌似现在装修的都用乳胶漆，</div>
          <div class="image"><img src="/assets/design/pf1.jpg" /></div>
        </div>
      </div>
    </div>
    <div class="dec_answer_form">
      <div class="owners_form">
        <div class="title">
          <h5>我来解答：</h5>
        </div>
        <form>
          <p><textarea></textarea></p>
          <p><span class="input">参考资料：<input type="input" class="quote" name="from" value="" hintvalue="如果您的回答问题为引用，请注明出处" /></span>
          <span class="submit">
            <input type="image" src="/assets/design/submitB.gif" alt="提交" value="提交" />
            <input type="reset" class="reset" value="重置" />
          </span>
          </p>
        </form>
        <script type="text/javascript">
          $(function(){
              var $input = $('input.quote');
              var dv = $input.attr('hintvalue');
              $input.focus(function(){
                if( $input.hasClass('hint') ) {
                $input.attr('value', '').removeClass('hint');
                }
                }).blur(function(){
                  if( !$input.attr('value') ) {
                  $input.attr('value', dv).addClass('hint');
                  }
                  }).each(function(){
                    if( !$input.attr('value') || $input.attr('value') == dv ) {
                    $input.attr('value', dv).addClass('hint');
                    }
                    }).parents('form').submit(function(e){
                      if( $input.hasClass('hint') && $input.attr('value') == dv ) {
                      $input.attr('value', '');
                      }
                      });
              });
          </script>
      </div>
    </div>
    <div class="answer_list_wrap">
      <div class="legend">其他回答</div>
      <div class="answer_list">
        <div class="item">
          <div class="bar">
            <div class="user"><a href="#">feiyiban</a></div>
            <div class="time">2012-4-17 15:33</div>
          </div>
          <div class="texts">
            家庭的整体装修风格是确定地板颜色的首要因素。深色调地板风格鲜明强烈，而浅色调地板大多给人简约、典雅的感受。而瓷砖在近年也回归到地板装修的主流，有水果色彩的马赛克成为大热之选，具有自然纹理的竹地板相较木地板耐磨性更好，也是不错的选择。
            居室的采光条件对地板颜色的选择也有影响。采光良好的居室选择的范围相对宽松；而楼层较低、采光不充分的居室则要注意选择亮度较高、颜色适宜的地面材料，尽可能避免使用颜色较暗的材料。
          </div>
          <div class="like"><a href="#">顶(23)</a></div>
        </div>
        <div class="item">
          <div class="bar">
            <div class="user"><a href="#">feiyiban</a></div>
            <div class="time">2012-4-17 15:33</div>
          </div>
          <div class="texts">
            家庭的整体装修风格是确定地板颜色的首要因素。深色调地板风格鲜明强烈，而浅色调地板大多给人简约、典雅的感受。而瓷砖在近年也回归到地板装修的主流，有水果色彩的马赛克成为大热之选，具有自然纹理的竹地板相较木地板耐磨性更好，也是不错的选择。
            居室的采光条件对地板颜色的选择也有影响。采光良好的居室选择的范围相对宽松；而楼层较低、采光不充分的居室则要注意选择亮度较高、颜色适宜的地面材料，尽可能避免使用颜色较暗的材料。
          </div>
          <div class="like"><a href="#">顶(23)</a></div>
        </div>
        <div class="item">
          <div class="bar">
            <div class="user"><a href="#">feiyiban</a></div>
            <div class="time">2012-4-17 15:33</div>
          </div>
          <div class="texts">
            家庭的整体装修风格是确定地板颜色的首要因素。深色调地板风格鲜明强烈，而浅色调地板大多给人简约、典雅的感受。而瓷砖在近年也回归到地板装修的主流，有水果色彩的马赛克成为大热之选，具有自然纹理的竹地板相较木地板耐磨性更好，也是不错的选择。
            居室的采光条件对地板颜色的选择也有影响。采光良好的居室选择的范围相对宽松；而楼层较低、采光不充分的居室则要注意选择亮度较高、颜色适宜的地面材料，尽可能避免使用颜色较暗的材料。
          </div>
          <div class="like"><a href="#">顶(23)</a></div>
        </div>
        <div class="item">
          <div class="bar">
            <div class="user"><a href="#">feiyiban</a></div>
            <div class="time">2012-4-17 15:33</div>
          </div>
          <div class="texts">
            家庭的整体装修风格是确定地板颜色的首要因素。深色调地板风格鲜明强烈，而浅色调地板大多给人简约、典雅的感受。而瓷砖在近年也回归到地板装修的主流，有水果色彩的马赛克成为大热之选，具有自然纹理的竹地板相较木地板耐磨性更好，也是不错的选择。
            居室的采光条件对地板颜色的选择也有影响。采光良好的居室选择的范围相对宽松；而楼层较低、采光不充分的居室则要注意选择亮度较高、颜色适宜的地面材料，尽可能避免使用颜色较暗的材料。
          </div>
          <div class="like"><a href="#">顶(23)</a></div>
        </div>
        <div class="item">
          <div class="bar">
            <div class="user"><a href="#">feiyiban</a></div>
            <div class="time">2012-4-17 15:33</div>
          </div>
          <div class="texts">
            家庭的整体装修风格是确定地板颜色的首要因素。深色调地板风格鲜明强烈，而浅色调地板大多给人简约、典雅的感受。而瓷砖在近年也回归到地板装修的主流，有水果色彩的马赛克成为大热之选，具有自然纹理的竹地板相较木地板耐磨性更好，也是不错的选择。
            居室的采光条件对地板颜色的选择也有影响。采光良好的居室选择的范围相对宽松；而楼层较低、采光不充分的居室则要注意选择亮度较高、颜色适宜的地面材料，尽可能避免使用颜色较暗的材料。
          </div>
          <div class="like"><a href="#">顶(23)</a></div>
        </div>
        <div class="item">
          <div class="bar">
            <div class="user"><a href="#">feiyiban</a></div>
            <div class="time">2012-4-17 15:33</div>
          </div>
          <div class="texts">
            家庭的整体装修风格是确定地板颜色的首要因素。深色调地板风格鲜明强烈，而浅色调地板大多给人简约、典雅的感受。而瓷砖在近年也回归到地板装修的主流，有水果色彩的马赛克成为大热之选，具有自然纹理的竹地板相较木地板耐磨性更好，也是不错的选择。
            居室的采光条件对地板颜色的选择也有影响。采光良好的居室选择的范围相对宽松；而楼层较低、采光不充分的居室则要注意选择亮度较高、颜色适宜的地面材料，尽可能避免使用颜色较暗的材料。
          </div>
          <div class="like"><a href="#">顶(23)</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a class="prev" href="#"><span></span>上一页</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">...</a>
      <a href="#">20</a>
      <a class="next" href="#">下一页<span></span></a>
    </div>
  </div><!--sub_bot ends-->
</div>
