<div class="span3 well well-small nom">
  <p class="text-right" style="margin-top:200px;">
    <a href="/manage/banner2014minisite?page_name=爱的故事&position=1" class="btn btn-medium <%= i_banner.position == 1 ? 'btn-primary' : 'btn-light' %>">230x230</a>
  </p>
  <p>
    <a href="/manage/banner2014minisite?page_name=爱的故事&position=2" class="btn btn-small btn-block <%= i_banner.position == 2 ? 'btn-primary' : 'btn-light' %>">1000x85</a>
  </p>
  <p class="text-right" style="margin-bottom:10px;">
    <a href="/manage/banner2014minisite?page_name=爱的故事&position=3" class="btn btn-medium <%= i_banner.position == 3 ? 'btn-primary' : 'btn-light' %>">230x230</a>
  </p>
</div>