<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= asset_path "design/title_event.png"%>' alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">精彩活动</a><span class="arrow_2"></span><a class="fb" href="#">设计师活动</a>
  </div>
  <!--sub_nav ends-->
  <%= render :partial => "designer_events/city/#{params[:city]}" %>
  <!--wrapper ends-->
  <div class='sub_bot pr'></div>
  <!--sub_bot ends-->
</div>
<!--main ends-->