<div class="main page_weekstar">
  <div class='sub_title tr'>
    <img src="/assets/design/title_event.png" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">精彩活动</a><span class="arrow_2"></span><a class="fb" href="#">年度色彩趋势</a>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="shadow event the_activity designer_activity">
      <div class="section clear">
        <div class="banner"><a href="#"><img src="/assets/news/event_big2.jpg"></a></div>
        <div class="legend">立邦为您刷新生活，引领2012色彩潮流<span class="status">正在进行</span></div>
        <div class="properties">
          <table>
            <tr><th>活动时间：</th>
              <td>2012年4月5日～2012年6月5日</td>
            </tr>
            <tr><th>活动时间：</th>
              <td>2012年4月5日～2012年6月5日</td>
            </tr>
            <tr><th>活动详情：</th>
              <td>听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师
                领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势

                听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势
                听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="shadow activity_listA_wrap">
      <div class="section">
        <div class="tit_bg"><h2>往期回顾</h2></div>
        <ul class="activity_listA">
          <li><a href="#"><img src="/assets/design/pi1.jpg" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a class="prev" href="#"><span></span>上一页</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">...</a>
      <a href="#">20</a>
      <a class="next" href="#">下一页<span></span></a>
    </div>
  </div><!--sub_bot ends-->
</div>