<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= asset_path "design/title_event.png"%>' alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/designer_events">设计师活动</a></em>
    <em><a href="/events">精彩活动</a><span></span></em>
    <em><a href="/">iColor首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <!--sub_nav ends-->
  <div class='wrapper big_kv_n pt25 pb30'>
    <div class="big_kv_bg">
      <p class="big_kv_n_p1">2011年12月8日，中国涂料行业领导企业立邦(Nippon
        Paint)携手各界媒体和设计领袖在上海的时尚地标南外滩老码头壹号会所内共同见证”2012年立邦五大色彩趋势”的发布。活动得到了中国流行色协会的大力支持，中国流行色协会副会长胡松先生出席此次活动并带来现场祝福。</p>

      <p class="big_kv_n_p2">立邦装饰涂料事业部市场总监蔡志伟先生表示：“2012年立邦五大色彩趋势，是期望籍大自然赋予我们的色彩能量，唤醒人们内心深处对美好生活的渴望。立邦相信，每一次色彩涂刷都预示着人生的一次新开始，更是走向美好未来的一个重要环节。涂料不只是单单给予消费者一块美丽的墙面，或是一些颜色,
        它展现的是人们对于生活的积极态度，以及营造美好生活的无限渴望，这也是立邦始终坚持的企业信念，让色彩的影响力深入人心，藉由高新技术的支持，创造更加美好的未来，为每个人刷出崭新的生活。“</p>

      <h2 class="big_kv_tit1_h2">设计领袖跨界明星携手演绎，感知立邦色彩趋势的自然力量</h2>

      <p class="big_kv_n_p3">12年立邦中国的色彩趋势围绕“立邦为你刷新生活”的主题。汲取自然元素，籍自然力量为大家展现：
        “芬芳土地”—刷新温馨港湾；“轻舞风飞”—刷新清新惬意；“桃源水境”—刷新宁静家园；“澄净空间”—刷新自然活力；“活力火花”—刷新欢乐空间。每个趋势所呈现的都是对生活的渴望和刷新。用大自然赋予我们的色彩能量，唤醒人们内心深处对美好生活的渴望。此次活动，最大的一个亮点就是“立邦特邀20余位跨界艺术家和室内设计领袖共同见证立邦色彩趋势“，并以影片首映的独特方式向来宾现场演绎。通过这些领袖和KOL的亲身故事，展现色彩在生活中的力量，解读色彩趋势对生活的影响。
        <br/>
        在随后的互动环节中，主办方还特邀心理学家吴迪女士来到现场与来宾互动，通过心理测试的小游戏，向来宾现场揭晓不同颜色所代表的人生不同阶段，解读色彩对于生活的影响，号召大家用色彩刷新自己的生活，迎接不同的崭新人生。生动的语言、新颖的活动形式，使得场来宾踊跃参与、受益匪浅。
      </p>

      <h2 class="big_kv_tit2_h2">亲近自然拥抱色彩，立邦色彩环保新突破</h2>

      <p class="big_kv_n_p4">
        立邦相信，色彩不仅是用来涂刷的，更是可以被亲近的，被拥抱的。每一次墙面的涂刷，色彩的变化，都是人生历程的重要体现。作为涂料行业的领导者，立邦一直希望能伴随每一位消费者刷新每段人生历程，并为大家带来安全环保的色彩空间。为此，立邦一直在努力。在推出净味系列产品后，经过科研人员的研发、试涂与调整，再次推出了独家的Eco999净味色浆产品，使立邦净味技术再次升级。确保墙面调色时必须用到的色浆都净味环保，真正做到从底漆、到面漆，到色浆，全面净味，让消费者在拥有色彩缤纷墙面的同时也拥有安心健康，为每一位消费者打造环保新“净”界。</p>

      <h2 class="big_kv_tit3_h2">立邦Ecolor绿色创意，各界精英共同见证</h2>

      <p class="big_kv_n_p5">立邦不但从专业角度积极钻研色彩趋势，也始终不忘对中国年轻设计力量的成长给予鼓励和支持，并于今年举办了首届面对高校设计类学生的《绿色创意，刷新精彩生活设计大赛》。现场，由立邦中国区公关总监吴佳伦女士和华东区销售总经理孙荣隆先生共同为获得环保墙画组和环保空间组的获奖学生代表，来自上海大学生和同济大学学生颁发了奖项。立邦希望能借助这样的设计大赛，将色彩、自然、环保的主题深入到这些学生未来的设计生涯中。</p>

      <h2 class="big_kv_tit4_h2">2012崭新开始，立邦为你刷新生活</h2>

      <p class="big_kv_n_p6">2012年是一个新的开始，引用立邦中国区总裁钟中林先生的话：人生是一面墙，需要用缤纷的涂料来随时为自己刷新。在这即将走过的2011年末，立邦用迎接2012的崭新心态，发挥色彩力量，打造全新多彩生活。希望大家一起见证立邦的成长，每一天都应该是全新生活的开始，让我们在感受立邦带来的潮流趋势同时，也一起来充分享受立邦净味技术带给大家的安心和环保，感受立邦色彩在人生不同阶段的刷新！</p>

    </div>
  </div>
  <!--wrapper ends-->
</div><!--main ends-->