<%- content_for :head do %>
    <style type="text/css">
        iframe.wbframe{width:1000px;height:1030px;}
        .wb{width:1000px;padding:0;}
        .weibo_head{margin:0 14px;}
    </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='/assets/news/title_event.png' />
  </div><!--sub_title ends-->
  <div class='sub_nav ft12 pr tr'>
    <em><%= link_to "其他精彩活动", "#", :class => 'fb' %></em>
    <em><%= link_to "精彩活动", "/events" %><span></span></em>
    <em><%= link_to "首页", "/" %><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper wb clear'>
    <img src="<%= asset_path "news/weibo_head.gif" %>" class="weibo_head" />
    <iframe src="http://weibo.com/npicolor/" frameborder="0" class="wbframe" ></iframe>
  </div><!--wrapper ends-->
  <div class='sub_bot ft12 pr'></div><!--sub_bot ends-->
</div><!--main ends-->