<% content_for :head do -%>
<%= stylesheet_link_tag "style" %>
<% end -%>

<div class="main pt25 law">
        	<div class="law_site tr">首页<span class="arrow_black"></span><strong>关于我们</strong></div>
            <h2 class="article">关于我们</h2>
            <div class="law_con">
                <p>iColor网站创立于2011年3月 ，致力打造并服务于广大消费者及家装公司和设计师的交流平台。</p>
                <p>作为一个全公益性服务网站，iColor为家装公司及设计师提供免费发布优秀作品的机会、提供海内外装修及色彩界的大师作品、所有海量案例和色彩工具的免费下载，并协助提升知名度、积聚粉丝、同行业互通交流的服务。同时iColor为广大消费者提供各式装修案例和色彩灵感，设有快速通道寻找自己心仪的优秀作品和家装公司、并提供转发评论投票、实时联络家装公司及设计师、美图实时上传分享的服务。</p>
                <p>目前iColor热门板块为：设计鉴赏、大师殿堂、行业资讯、精彩活动、业主通道、漆光艺彩等。</p>

                <h3 class="ft14 fb mt25">iColor模式：</h3>
                <p>iColor是一家以家装色彩时尚分享为主的媒体，在这个垂直的领域中，家装设计师无论在职或在读，以及家装公司都能上传自己在家装色彩设计上的作品，同时，还能了解到行业顶尖设计大师的经典作品及更多的家装色彩行业资讯，掌握潮流色彩设计趋势；此外网站还提供了海量优秀的色彩配搭案例图片，普通用户除了欣赏作品与案例之余，还能为自己的家装设计及配色问题找到解决的方法，与设计师和家装公司交流互动。</p>
                <p>这种模式将相同兴趣与需求的人聚集在一起，相互分享经验。在为用户提供交流场所的同时，也为设计师和家装公司找到了精准用户。</p>

                <h3 class="ft14 fb mt25">产品功能：</h3>
                <h3 class="fb" style="color:#333">大师殿堂</h3>
                <p>为家装设计师提供与国内外设计大师的亲密互动，了解大师最新动态，欣赏大师作品，学习其设计理念，掌握最新最时尚的配色设计手法，是一个最快最便捷的学习平台。</p>

                <h3 class="fb mt25" style="color:#333">设计鉴赏</h3>
                <p>汇聚众多优秀设计作品、色彩配搭案例，每周评选设计之星，并在网站首页拥有专属的kv展示，让更多用户知晓与了解自己。优秀案例还提供配色建议，可直接至官方淘宝店进行一键购买，还可查找附近专卖店至店进行采购。普通用户可参与投票评论与转发，或者上传美图至灵感秀频道，有装修需求的用户可在“我型我秀”页面内查找擅长自己喜欢的风格的设计师与家装公司，与其交流沟通。</p>

                <h3 class="fb mt25" style="color:#333">精彩活动</h3>
                <p>iColor电脑配色聚集了上千种色块的选择，用户可以随心所欲的搭配自己喜欢的色彩组合，体验色彩配搭的乐趣之余，还能方便的找到最适合的色彩配搭组合与对应色号，另有实用的搭配案例供用户欣赏与参考。</p>

                <h3 class="fb mt25" style="color:#333">应用工具</h3>
                <p>只有经过授权并拥有数字证书的用户，方可进入或者使用本网站的安全区域。未经授权的个人如果企图进入本网站的这些区域，将会受到检控。 </p>

                <h3 class="fb" style="color:#333">业主通道</h3>
                <p>用户可在这里找到最近的设计师或家装公司，与其交流。可以提交各类装修过程中遇到的问题，由其他专业设计师为您解答，更可在这里提交您的在线配色需求，由iColor专业色彩配搭人员为您提供一对一的建议与解答。</p>

                <h3 class="fb mt25" style="color:#333">漆光艺彩</h3>
                <p>最新艺术漆、木器漆工艺的效果展示以及搭配色参考，全新的室内效果体验，墙面从此告别单一色调，体现别致高雅。另有12色彩漆的DIY涂刷案例演示，让用户自由的发挥创意，天马行空，创造只属于自己的别致墙面。</p>
            </div>

		</div>
		<!--main ends-->