<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
<%- end %>
<div class="main color_signup_box">
  <h2><img src="<%= asset_path "design/mb/design_signup.png"%>"/></h2>

  <div class="wrapper">
    <p class="line_b_dot"><a href="approves/new"><img src="<%= asset_path "design/mb/signup_btn.png"%>"/></a></p>

    <div class="signup_con_box pr">
      <h2>一、报考条件</h2>

      <p>（一）基本条件<br/>
        凡热爱建筑室内设计工作，遵守国家有关法律、法规和本市相关规定，且具备相应条件者，均可以报名参加相应级别的上海市室内设计专业技术水平认证考试。<br/>
        （二）申请上海市参加室内设计专业技术水平认证（初级）的人员，除具备基本条件外，还需具有中等教育毕业及以上学历。<br/>
        （三）申请参加上海市室内设计专业技术水平认证（中级）的人员，除具备基本条件外，还需具备下列条件之一：<br/>
        1.硕士研究生或取得硕士学位或第二学士学位，从事建筑室内设计及相关工作1年；<br/>
        2.大学本科毕业，从事建筑室内设计及相关工作3年；<br/>
        3.大学专科毕业，从事建筑室内设计及相关工作5年，或取得室内设计初级证书后，从事建筑室内设计及相关工作3年；<br/>
        4.具有中级职称；<br/>
        5.对于工作业绩较突出者，学历和专业工作年限可适当放宽。<br/>
        （四）申请参加上海市室内设计专业技术水平认证（高级）的人员，除具备基本条件外，还需具备下列条件之一：<br/>
        1.博士研究生毕业或取得博士学位，从事建筑室内设计及相关工作1年；<br/>
        2.硕士研究生毕业或取得硕士学位，从事建筑室内设计及相关工作4年，或取得室内设计中级证书后，从事建筑室内设计及相关工作3年；<br/>
        3.大学本科毕业，从事建筑室内设计及相关工作7年，或取得室内设计中级证书后，从事建筑室内设计及相关工作4年；<br/>
        4.具有高级职称；<br/>
        5.对于工作业绩较突出者，学历和专业工作年限可适当放宽。<br/>
        专业工作年限计算截止日期为2012年6月30日。</p>

      <h2>二、考试时间、科目</h2>

      <p>（一）初级<br/>
        6月30日9：00－11：00&nbsp;&nbsp;&nbsp;&nbsp;建筑与室内设计基础<br/>
        12：30－17：30&nbsp;&nbsp;&nbsp;&nbsp;命题快速设计实务（初级）<br/>
        7月1日9：00－11：00&nbsp;&nbsp;&nbsp;&nbsp;建筑政策法规及室内设计标准<br/>
        （二）中级<br/>
        6月30日9：00－11：00&nbsp;&nbsp;&nbsp;&nbsp;建筑与室内设计基本理论<br/>
        12：30－17：30&nbsp;&nbsp;&nbsp;&nbsp;命题快速设计实务（中级）<br/>
        7月1日9：00－11：00&nbsp;&nbsp;&nbsp;&nbsp;建筑政策法规及室内设计标准<br/>
        （三）高级<br/>
        6月30日9：00－11：00&nbsp;&nbsp;&nbsp;&nbsp;建筑与室内设计理论<br/>
        12：30－17：30&nbsp;&nbsp;&nbsp;&nbsp;命题快速设计实务（高级）<br/>
        7月1日9：00－11：00&nbsp;&nbsp;&nbsp;&nbsp;建筑政策法规及室内设计标准</p>

      <h2>三、考试成绩管理办法</h2>

      <p>考试成绩暂定为滚动管理。参加考试的人员，须在连续两次考试内通过全部应试科目。</p>

      <h2>四、报名相关事宜</h2>

      <p>（一）报名时间<br/>
        2012年3月27日－31日（9:00－11:00,13:30－16:00）<br/>
        （二）报名地点<br/>
        上海市装饰装修行业协会装饰设计专业委员会（伊犁南路111号钱江商务广场广场10楼）<br/>
        报名点代码：2814 联系电话：52375339<br/>
        （三）报名方法<br/>
        参加考试人员应如实填写考试报名表，按规定的报名日期和要求，携带报名表、身份证、学历证明、职称资格证书、本人近期一寸免冠照片两张（同版）到报名点办理手续。身份证、学历证明和职称资格证书均须原件和复印件，身份证复印件需粘贴于报名表反面。<br/>
        考试报名费每人10元，考务费《命题快速设计实务》科目200元，其它科目每科100元。<br/>
      </p>

      <h2>五、考生须知</h2>

      <p>考生凭本人身份证于2012年6月17日－20日（9:00－11:00,13:30－16:00）至报名点领取准考证，逾期视为放弃考试。考生领取准考证后，请仔细核对准考证上相关信息，如有问题请及时与报名点联系。<br/>
        考试采用笔试形式。除各级别的《命题快速设计实务》为主观题，在试卷上制图设计作答外，其它两个科目均为客观题，采取填涂答题卡的方式作答。参加设计实务考试的考生应自备所有作图工具(画板、画尺、手绘工具等)。</p>

      <h2>六、成绩查询及证书领取</h2>

      <p class="line_b_dot">（一）考试后两个月，考生可在上海市职业能力考试院网（www.spta.gov.cn）“成绩查询”栏目查询考试成绩。考试成绩单不另行发放，考生如有需要，请于考试成绩公布之日起30天内自行下载打印。<br/>
        （二）领证时间为成绩公布后两个月左右，地点为相应报名点。请考生届时关注本网站通知或联系报名点。</p>

      <p><a href="/approves/new"><img src="<%= asset_path "design/mb/signup_btn.png"%>"/></a></p>

      <p class="design_zg_tips">垂询电话： 52375339<br/>
        Email ：icolor@nipponpaint.com.cn<br/>
        协会地址：上海市伊犁南路111号钱江商务广场广场10楼<br/>
        详情请点击： http://www.spta.gov.cn/index.html<br/>
      </p>
    </div>
  </div>
</div>
<!--main ends-->