<% content_for :head do -%>
  <%= stylesheet_link_tag "reg" %>
<% end -%>
<div class="main syslist">
  <div class="shadow">
    <div class="section pr">
      <h1 class="clear ft14">
        <a href="/info_list" class="fl">返回</a>
        <div class="sys_msg_title ft18 tc fl">
          注册成功
        </div><!--sys_msg_title ends-->
        <div class="fr">
          <a href="#" class="sys_prev">上一封</a>
          <a href="#" class="sys_next">下一封</a>
        </div>
      </h1>
      <div class="sys_bar clear">
        <span class="fl ft18">iColor客服</span><span class="fl ft12">2012-11-10 10:42</span>
        <a href="javascript:void(0)" class="sys_delete ft12 fr">删除</a>
      </div><!--sys_bar ends-->
      <div class="sys_info ft16">
        <p>在这里您可以查询各种装修资讯，与设计师进行互动，参与精彩活动等，还可以 上传作品 现在就去我的 个人页面</p>
      </div>
    </div><!--section ends-->
  </div><!--shadow ends-->
</div><!--main ends-->
