<% content_for :head do -%>
  <%= stylesheet_link_tag "october" %>
<% end -%>
<div class="main">
  <div class="october">
    <h1>双节联壁，iColor为你好事成双！快来参加活动吧！</h1>
    <div class="fl ft14">
      <h2>活动一：火眼金睛寻宝图</h2>
      <p>
        <strong>活动内容：</strong>每日10：01分，iColor会选取1幅图片<span>（右边是寻找的图片哦）</span>。注册用户只需在iColor网站内搜索该图片，前10位在该作品下方位留言说出该作品的作者/作品名信息的网友获得奖品。
      </p>
      <p>
        <strong>活动奖品：</strong>前5位获得小龙u盘，后5位获得30元话费。
      </p>
      <a href="<%= current_user ? "/" : "/users/sign_up" %>" class="october_find" title="我要寻图">我要寻图</a>
      <h2>活动二：迎中秋 传作品 赢话费 送亲情</h2>
      <p>
        <strong>活动内容：</strong>上传作品， iColor为你送你话费，给你长假期间和亲朋好友电话联系买单。活动期间，只要成为iColor网站设计师/家装公司会员,并且在推荐作品频道点击我要上传，上传作品（一套作品需多于3张），多传多得！
      </p>
      <p>
        <strong>活动奖品：</strong>一套得30元话费，二套得50元话费，三套得100元话费。
      </p>
      <a href="<%= current_user ? (current_user.common_user? ? new_user_inspiration_path(current_user) : new_user_design_path(current_user)) : "/users/sign_up" %>" class="october_upload" title="我要上传">我要上传</a>
    </div><!--fl ends-->
    <div class="fr pr">
      <div class="pa">寻宝图</div>
      <img src="<%= asset_path "october/october_img.jpg" %>"/>
    </div>
    <p class="cl">
     <a href="/" class="october_back fr" title="返回首页">返回首页</a>
    </p>
  </div><!--october ends-->
</div><!--main ends-->