<% content_for :head do -%>
  <%= stylesheet_link_tag "style" %>
<% end -%>
<div class="main pt25 law search_box">
  <div class="shadow">
    <div class="section group">
      <h2>含“<strong>立邦</strong>”搜索结果</h2>
      <div class="results line_b_dot">
        <h3><a href="#"><strong>立邦</strong>将环保进行到底 将健康带回家伴随着人们生活水平的不断提高</a></h3>
        <p>伴随着人们生活水平的不断提高，环保意识日益增强，越来越多的人们会意识到环保的重要性，每个人都希望我们的地球能够永葆生机，每个人都希望自己与家人都能平安健康。所以环保这个词一直备受人们的关注与青睐，环保不单单能保护环境，它更与我们的生活健康息息相关。</p>
        <a href="#">http://www.icolor.com.cn/News/Index/309</a>
      </div><!--results ends-->
      <div class="results line_b_dot">
        <h3><a href="#"><strong>立邦</strong>将环保进行到底 将健康带回家伴随着人们生活水平的不断提高</a></h3>
        <p>伴随着人们生活水平的不断提高，环保意识日益增强，越来越多的人们会意识到环保的重要性，每个人都希望我们的地球能够永葆生机，每个人都希望自己与家人都能平安健康。所以环保这个词一直备受人们的关注与青睐，环保不单单能保护环境，它更与我们的生活健康息息相关。</p>
        <a href="#">http://www.icolor.com.cn/News/Index/309</a>
      </div><!--results ends-->
      <div class="results line_b_dot">
        <h3><a href="#"><strong>立邦</strong>将环保进行到底 将健康带回家伴随着人们生活水平的不断提高</a></h3>
        <p>伴随着人们生活水平的不断提高，环保意识日益增强，越来越多的人们会意识到环保的重要性，每个人都希望我们的地球能够永葆生机，每个人都希望自己与家人都能平安健康。所以环保这个词一直备受人们的关注与青睐，环保不单单能保护环境，它更与我们的生活健康息息相关。</p>
        <a href="#">http://www.icolor.com.cn/News/Index/309</a>
      </div><!--results ends-->
      <div class="results line_b_dot">
        <h3><a href="#"><strong>立邦</strong>将环保进行到底 将健康带回家伴随着人们生活水平的不断提高</a></h3>
        <p>伴随着人们生活水平的不断提高，环保意识日益增强，越来越多的人们会意识到环保的重要性，每个人都希望我们的地球能够永葆生机，每个人都希望自己与家人都能平安健康。所以环保这个词一直备受人们的关注与青睐，环保不单单能保护环境，它更与我们的生活健康息息相关。</p>
        <a href="#">http://www.icolor.com.cn/News/Index/309</a>
      </div><!--results ends-->
      <div class="results line_b_dot">
        <h3><a href="#"><strong>立邦</strong>将环保进行到底 将健康带回家伴随着人们生活水平的不断提高</a></h3>
        <p>伴随着人们生活水平的不断提高，环保意识日益增强，越来越多的人们会意识到环保的重要性，每个人都希望我们的地球能够永葆生机，每个人都希望自己与家人都能平安健康。所以环保这个词一直备受人们的关注与青睐，环保不单单能保护环境，它更与我们的生活健康息息相关。</p>
        <a href="#">http://www.icolor.com.cn/News/Index/309</a>
      </div><!--results ends-->
      <div class="results line_b_dot">
        <h3><a href="#"><strong>立邦</strong>将环保进行到底 将健康带回家伴随着人们生活水平的不断提高</a></h3>
        <p>伴随着人们生活水平的不断提高，环保意识日益增强，越来越多的人们会意识到环保的重要性，每个人都希望我们的地球能够永葆生机，每个人都希望自己与家人都能平安健康。所以环保这个词一直备受人们的关注与青睐，环保不单单能保护环境，它更与我们的生活健康息息相关。</p>
        <a href="#">http://www.icolor.com.cn/News/Index/309</a>
      </div><!--results ends-->
      <div class="results line_b_dot">
        <h3><a href="#"><strong>立邦</strong>将环保进行到底 将健康带回家伴随着人们生活水平的不断提高</a></h3>
        <p>伴随着人们生活水平的不断提高，环保意识日益增强，越来越多的人们会意识到环保的重要性，每个人都希望我们的地球能够永葆生机，每个人都希望自己与家人都能平安健康。所以环保这个词一直备受人们的关注与青睐，环保不单单能保护环境，它更与我们的生活健康息息相关。</p>
        <a href="#">http://www.icolor.com.cn/News/Index/309</a>
      </div><!--results ends-->

      <div class="pager ft12 tc mt25">
        <a class="prev" href="#"><span></span>上一页</a><a href="#">1</a><a href="#" class="current">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a class="next" href="#">下一页<span></span></a>
      </div>
      <!--pager ends-->
    </div>
  </div><!--shadow ends-->
</div>
<!--main/search_box ends-->
