<div class="main pt25 law">
  <div class="law_site tr">首页<span class="arrow_black"></span><strong>会员机制</strong></div>
  <h2 class="article">会员机制</h2>
  <table class="rules_con">
    <tr>
      <th class="row1" scope="col">&nbsp;</th>
      <th class="row2" colspan="2" scope="col">产生积分</th>
      <th class="row3" scope="col">积分上限</th>
      <th class="row4" scope="col">等级划分</th>
      <th class="row5" scope="col">会员权益</th>
    </tr>
    <tr>
      <td class="fb" rowspan="2">注册</td>
      <td>完成注册必填项，注册成功</td>
      <td>+30分</td>
      <td>——</td>
      <td rowspan="7">【普通会员】申请条件：任意在icolor以家装公司/设计师身份成功主次的用户</td>
      <td rowspan="7">A)站内基本行为
        B)享受会员CRM EDM（生日、节日祝贺、icolor信息推送等）
        C)icolor newsletter接收（1次/月）
        D)或针对普通会员开放的活动参与资格
        E)中小家装公司/设计师主页开通
        F)免费下载实用工具</td>
    </tr>
    <tr>
      <td>完善账户信息（选填项）</td>
      <td>+10分</td>
      <td>——</td>
    </tr>
    <tr>
      <td class="fb">邀请</td>
      <td>每成功邀请一位新用户注册</td>
      <td>+50</td>
      <td>——</td>
    </tr>
    <tr>
      <td class="fb">登录</td>
      <td>每次登录</td>
      <td>+10分</td>
      <td>每天只记一次</td>
    </tr>
    <tr>
      <td class="fb">官微关注</td>
      <td>从icolor网站上关注icolor官微</td>
      <td>+10分</td>
      <td>相同用户重复关注不计分</td>
    </tr>
    <tr>
      <td class="fb">分享转发</td>
      <td>分享icolor网站/转发作品/灵感秀/官微及微博资讯/实用工具/个性涂刷/每周之星</td>
      <td>每种分享方式+20分</td>
      <td>相同分享方式每天只记一次</td>
    </tr>
    <tr>
      <td class="fb" rowspan="2">发布</td>
      <td>上传作品并通过审核</td>
      <td>每项作品+50分</td>
      <td>——</td>
    </tr>
    <tr>
      <td>上传灵感秀并通过审核</td>
      <td>每项灵感秀+30分</td>
      <td>——</td>
      <td rowspan="7">【银牌会员】<br />
        申请条件:<br />
        1）已获得普通会员资格<br />
        2）获得12000积分以上</td>
      <td rowspan="7">A）所有普通会员权益<br />
        B）设计类新工具免费试用<br />
        C）立邦新产品免费试用<br />
        D）免费提供色彩搭配培训书籍</td>
    </tr>

    <tr>
      <td class="fb" rowspan="2">投票与被投票</td>
      <td>为其他用户上传的作品、灵感秀活实用工具投票</td>
      <td>没票+30分</td>
      <td>每日单一作品之</td>
    </tr>
    <tr>
      <td>上传作品/灵感秀被其他用户投票</td>
      <td>每票+50分</td>
      <td>每日积分上限500分</td>
    </tr>
    <tr>
      <td class="fb" rowspan="2">评论与被评论</td>
      <td>成功评论作品/每周之星/灵感秀/实用工具</td>
      <td>每条+30分</td>
      <td>每日单一作品只可评论一次，评论总积分上限300分</td>
    </tr>
    <tr>
      <td>上传作品/灵感秀被评论</td>
      <td>每条+50分</td>
      <td>每日积分上限500分</td>
    </tr>
    <tr>
      <td class="fb">每周之星</td>
      <td>作品被评论为每周之星</td>
      <td>每次获奖+100积分</td>
      <td>——</td>
    </tr>
    <tr>
      <td class="fb">获得粉丝</td>
      <td>被其他用户关注，获得粉丝</td>
      <td>每粉丝+10积分</td>
      <td>——</td>
    </tr>
    <tr>
      <td class="fb" rowspan="2">装修问答</td>
      <td>有效提问问题</td>
      <td>每条问题+10分</td>
      <td>——</td>
      <td rowspan="7">【金牌会员】<br />
        申请条件：<br />
        1）已获得银牌会员资格<br />
        2）获得30000积分以上</td>
      <td rowspan="7">A）所有银牌会员权益<br />
        B）获针对金牌会员开放的活动参与资格（如高端访谈现场、前沿色彩趋势高峰论坛等），担任立邦举办的消费者互动活动主讲或嘉宾等<br />
        C）向同片区经销商处获得购买优惠<br />
        D）向浏览网站的用户优先推荐<br />
        E）免费提供色彩认证培训课程（不含考试费）</td>
    </tr>
    <tr>
      <td>有效回答其他用户的提问</td>
      <td>每条+20分</td>
      <td>——</td>
    </tr>
    <tr>
      <td class="fb">家装公司咨询</td>
      <td>有效回答用户提问咨询</td>
      <td>+10分</td>
      <td>——</td>
    </tr>
    <tr>
      <td class="fb">获得认证</td>
      <td>成功获得官方发布的认证资格</td>
      <td>+100分</td>
      <td>——</td>
    </tr>
    <tr>
      <td class="fb" rowspan="2">活动</td>
      <td>成功发起设计师活动</td>
      <td>+50分</td>
      <td>——</td>
    </tr>
    <tr>
      <td>活动报名人数大于50人</td>
      <td>+100分</td>
      <td>——</td>
    </tr>
    <tr>
      <td class="fb">其他</td>
      <td>其他可获得积分奖励的行为</td>
      <td>——</td>
      <td>——</td>
    </tr>
  </table>
  <div class="rules_msg">
    <p>为使用户提高网站质量，一下行为不可获得积分：<br />
    1）拷贝自己或者他人评论内容<br />
    2）使用标点符号过多的<br />
    3）评价内容没有任何参考价值、被5名以上网友举报或者违反法律、法规的<br />
    4）无效评论数量超过5条，则一年内该账号参与的产品评价均不赠送积分<br />
    5）通过违法言论、恶意言论，或其他不正当手段获得积分的行为，账号冻结停用，历史积分无效<br />
    </p>
  </div>

</div>
<!--main ends-->
