<% content_for :head do -%>
    <%= stylesheet_link_tag "rules2" %>
<% end -%>
<div class="main">
  <div class='wrapper'>
    <div class="rules2">
      <div class="rules2_bin ft12 pr">
        <a href="/users/sign_up" class="rules2_reg pa">立即注册</a>
        <h1>话费积分活动细则：我们来真的哟！</h1>
        <p>即日起至2012年9月2号止，只要您在iColor网站注册，登录后进行投票、评论、转发、上传灵感秀或上传作品（仅限设计师和家装公司注册用户），即可获得相应话费赠送（具体话费数额，参见下表）。即刻累积，每周兑现！
        </p>
        <img src="<%= asset_path "rules2/rules2_table.jpg"%>" alt="" />
        <p> 注：活动解释权归icolor网站所有。</p>
        <p class="ft18">即刻登录<a href="http://www.icolor.com.cn">www.icolor.com.cn</a>参加活动，领取话费吧！</p>
        <p class="tr">
            <a href="/"><img src="<%= asset_path "rules2/rules2_back.jpg"%>"/></a>
        </p>
      </div>
    </div><!--rules2 ends-->
  </div><!--wrapper ends-->
</div><!--main ends-->