<% content_for :head do -%>
  <%= stylesheet_link_tag "style" %>
<% end -%>
<div class="main pt25 law">
  <div class="law_site tr">首页<span class="arrow_black"></span><strong>网站声明</strong></div>
  <h2 class="article">网站声明</h2>
  <div class="law_con">
    <h3>1．使用立邦涂料（中国）有限公司网站</h3>
    <p>您在浏览立邦涂料（中国）有限公司iColour网站时受下列法律条款约束：通过访问和浏览本网站，或者下载数据、资料、文本、图 象、录象、和声音文件等，等同于您无限制或无条件接受这些法律条款。立邦涂料（中国）有限公司可以在任何时间对这些 法律条款加以修订。修订过的条款对您同样具有约束力，因此您应当通过定时访问网站来阅读最新的法律条款。</p>

    <h3>2. 信息和服务的变更 </h3>
    <p>我们在对本网站上的信息做出改变和更新时不会预先发出通知。立邦涂料（中国）有限公司也可能在不发出预先通知的情况下，改善和/或变更本网站的信息中所描述的服务。 </p>

    <h3>3. 版权 </h3>
    <p> 除非本声明中另有陈述，立邦涂料（中国）有限公司将保留它的任何和所有商标、版权、其它知识产权、以及其它关于或与 本网站有关联的权利。 立邦涂料（中国）有限公司拥有此网站中的所有整体知识产权，其中包括所有商业秘密中的权利和拥有商业秘密的权利、专 利、版权、商标、专有技术、以及道德权利，和本国及外国政府法律规定享有的任何权利。 立邦涂料（中国）有限公司也将拥有因运行本网站而产生的任何数据。 除非事先得到立邦涂料（中国）有限公司的书面许可，您在本网站上看见或者阅读的一切都受版权法保护，本条款和/或本 网站中另有提供或许可的除外。 立邦涂料（中国）有限公司，既不保证也不声明您使用在本网站中显示的资料不会侵犯不属于立邦涂料（中国）有限公司或 者与之无关的第三方的权利。本网站可能含有其它所有权注意事项和版权信息，读者必须注意严格遵守。 </p>

    <h3>4. 错误 </h3>
    <p> 虽然立邦涂料（中国）有限公司已经尽可能保证使本网站中的信息准确并及时加以更新，对于本网站中包含的或源自本网站 的数据或信息中的，或因使用从本网站中任何数据或信息中得出的结果所引起的，任何错误、不精确或缺漏、滥用、或数据 转换，立邦涂料（中国）有限公司一概不负任何责任。</p>
    <h3>5. 超级链接网站 </h3>
    <p>立邦涂料（中国）有限公司不代表您通过本网站的超级链接所浏览到的任何其它网站，也不对它们作出任何保证。当您浏览 立邦涂料（中国）有限公司网站以外的其它网站时，您应当明白它们是独立于立邦涂料（中国）有限公司的，并且立邦涂料 （中国）有限公司也无法控制那些网站里的内容。另外，虽然一个 网站在立邦涂料（中国）有限公司有链接，并不代表立 邦涂料（中国）有限公司认可该网站，或对该网站的内容或使用该网站承担任何责任。您自己应当警惕，确保您选择使用的 任何信息不含病毒或其它具有破坏性质的成分。 </p>

    <h3>6. 接收的信息</h3>
    <p>您提供给立邦涂料（中国）有限公司的信息或数据，可能会被只作为商业用途传输给第三方。在没有宣布自动放弃或限制本 法律条款的前提下，对于您提供给立邦涂料（中国）有限公司的保密数据或信息丢失、被错误地或者无正当理由地传输给第三方，或者被第三方在无正当理的情况下读取或改变，立邦涂料（中国）有限公司概不承担任何责任。 </p>

    <h3>7. 接收的评论</h3>
    <p>任何关于本网站的评论在发送给立邦涂料（中国）有限公司之后，即属立邦涂料（中国）有限公司所有，并可无限制地用于任何目的。网站接收到的评论将不被视为保密内容。 </p>

    <h3>8. 免责条款</h3>
    <p> 在任何前提下，立邦涂料（中国）有限公司，及其相关的伙伴、会员、社团、相关公司、董事、管理人员、雇员、代理商和 代表人，都不对下列情况负任何责任，即使使用者明确地通知过立邦涂料（中国）有限公司，说明有发生任何损失、索赔或 破坏的可能性也不例外。这些情况包括：任何依赖本网站上的信息作出的决定或采取的行动；因访问或使用本网站或它的服 务而导致的任何损失、破坏、或者任何关于直接、间接、偶然、间接后果、特殊、惩罚、和其它性质的索赔，包括但不限于 中断业务的责任或数据丢失或利润损失。立邦涂料（中国）有限公司以及以上提到的任何一方，对下列发生的情况也不承担 任何责任，这包括：您因访问、浏览和/或使用本网站以及本网站的服务，或者从本网站下载任何资料、数据、文本、图象 、录象、或声音，而导致您的电脑、任何其它硬件、软件、或其它IT系统或其它财产，受到破坏或者感染病毒。此外，对于 因任何第三方在无正当理由情况下使用本网站，以及本网站站中的密码、数据或者信息而导致的任何破坏，立邦涂料（中国 ）有限公司也不负任何责任。 </p>

    <h3>9. 进入密码保护或安全区域 </h3>
    <p>只有经过授权并拥有数字证书的用户，方可进入或者使用本网站的安全区域。未经授权的个人如果企图进入本网站的这些区域，将会受到检控。 </p>

    <h3>10. 适用法律和场所</h3>
    <p>本网站接受国家有关政策、法规的保护和制约。任何因本网站引起的或与之有关的争议，包括本法律条款，都将在中华人民 共和国法律管辖权范围内解决。 </p>

    <h3>11. 颜色的准确性</h3>
    <p>我们尽力为你呈现最接近真实油漆颜色的色块。但所有网页展示的颜色会受到各种不同屏幕设置及显示卡等客观因素的影响 ，我们建议你到当地的立邦漆专卖店或服务中心参考我们的产品色卡以获得较为准确的颜色选择。</p>
  </div>
</div>
<!--main ends-->
