<div class="main syslist">
  <div class="shadow">
    <div class="section pr">
      <div class="sys_bar clear ft12">
        <span class="fl ft18">发布成功</span>
      </div><!--sys_bar ends-->
      <div class="suc_content ft14 clear">
        <div class="fl tc ft12">
          <div class="suc_img">
            <img src="<%= asset_path "news/suc_img1.jpg "%>" />
          </div><!--suc_img ends-->
          （2张）<br />
          发布于2012-4-23 21：20
        </div><!--fl ends-->
        <div class="fr">
          <div class="reg_list ft16 fb">五彩斑斓</div>
          <div class="reg_list">
            <p class="suc_info">本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了本作品采用了</p>
          </div><!--reg_list ends-->
        </div><!--fr ends-->
        <div style="clear:both"></div>
        <div class="go_back">
          <a href="index.html" class="go_back_index fl"></a>
          <a href="#" class="go_back_home fl"></a>
        </div><!--go_back ends-->
      </div><!--suc_content ends-->
    </div><!--section ends-->
  </div><!--shadow ends-->
</div><!--main ends-->