<%= content_for :head do %>
	<%= stylesheet_link_tag "style" %>
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=337220139" type="text/javascript" charset="utf-8"></script>
	<style type="text/css">
	.wrapper{background:url(<%= asset_path "weibo_bg.jpg" %>) no-repeat;height:850px;}
   	.weibo_head{margin:0 14px;}
   	.share_self{height:797px;}
	</style>
	
<%- end -%>
<div class="main">
	<div class="sub_title tr">
		<img src="<%= asset_path "news/title_news.png" %>" >
	</div><!--sub_title ends-->
	<div class="sub_nav ft12 pr tr">
		<em><a class="fb" href="#">微博资讯</a></em>
    <em><a href="#">行业资讯</a><span></span></em>
		<em><a href="#">首页</a><span></span></em>
	</div><!--sub_nav ends-->
	<div class="wrapper wb clear" style="width:952px;padding:20px 20px 0;">
		<iframe width="70%" height="800" class="share_self fl"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=800&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2032078483&verifier=b48b0477&dpc=1&colors=ffffff,ffffff,666666,0082cb,ecfbfd"></iframe>      	
		<iframe width="28%" height="800"  frameborder="0" class="fr" scrolling="no" src="http://widget.weibo.com/livestream/listlive.php?language=zh_cn&width=0&height=800&uid=1770020450&skin=1&refer=1&appkey=337220139&pic=0&titlebar=1&border=1&publish=1&atalk=1&recomm=0&at=0&atopic=IColor%E5%88%86%E4%BA%AB&ptopic=IColor%E5%88%86%E4%BA%AB&dpc=1&colors=F0F0F0,FFFFFF,444444,5093D5,FFFFFF,F9F7FC&colordiy=1"></iframe>
	</div><!--wrapper ends-->
	<div class="sub_bot ft12 pr"></div><!--sub_bot ends-->
</div>