<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section hangzhou">
      <div class="items group">
        <img class="fl" src="<%= asset_path "big_bg/hangzhou3_1.png"%>">
       <p class="ft18">来自杭州的立邦经销商柴总在采访中表示，与立邦的合作，对于自己来说是相当幸运的。相对于其他品牌，立邦对于经销商的支持——无论从硬件上还是软件上，都比较多一点。柴总还表示，自己在杭州的立邦专卖店也是行业内最领先的，也是最亮丽的。针对于杭州区域，立邦专门成立了一个培训学校，针对不仅仅是经销商，还有油漆的施工者提供一些产品的培训。所以说，立邦的服务，在整个行业内来说，都走在行业的前列。</p>			
     </div>

     <div class="items group">
      <img class="fr" src="<%= asset_path "big_bg/hangzhou3_2.png"%>">
      <p class="pt50">来自印尚装饰的茹总在采访中表示，自己的公司立足于中高端市场，消费人群比较稳定，对于产品的需求量也是比较固定的，所以说今年整体环境的消极对自己的公司并不会影响太大。而立邦是非常具有知名度的公司，从与印尚装饰的前期合作到后期的服务，无不体现着大品牌的实力。同时，他期望立邦在今后能够有更多更全的分类，这样在为消费者推荐时的力度会更强，在做方案时的素材也会更多。</p>     
    </div>

    <div class="items group">
      <img class="fl" src="<%= asset_path "big_bg/hangzhou3_3.png"%>">
      <p>来自铭品装饰的张总在访谈中向笔者阐述，我们公司用立邦用得比较早，当时立邦在杭州第一家做了电脑调色，在这之前都是人工凭经验去调色，有了电脑调色之后，工艺就变得更方便了，于是，立邦品牌迅速在设计师中间升温。而铭品装饰，在设计和色彩中间是非常注重的，所以，我们现在有很多的设计主题和立邦也是深入结合的，比如说宜家系列、卡布奇诺系列等等。立邦一直致力于对色彩的研究，在色彩中间做一些运作，做一些研发，给设计师提供了很多的帮助，现在，又推出了iColor的平台，作为装饰企业，是与设计师和业主最为贴近的部分，通过这样的平台，通过立邦的这种技术，让消费者能够感受到、享受到色彩为生活带来的一种新感觉。</p>     
    </div>

    <div class="items noborder">
      <p>色彩，让生活更美好。而立邦，通过不断创新的产品与不断完善的服务体系，在涂料市场内一直独占鳌头。借由此次杭州站的活动，更希望能够通过iColor平台和家装公司一起为广大消费者提供优质、完美的服务，为广大消费者刷新美好生活！</p>
    </div>
  </div>
</div>
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/hangzhou1?page=1">1</a>
    <a href="/designer_events/city/hangzhou1?page=2">2</a>
    <a href="/designer_events/city/hangzhou1?page=3" class="current">3</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->
