<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section hangzhou">
      <div class="items group">
        <img class="fr" src="<%= asset_path "big_bg/hangzhou2_1.png"%>">
       <p class="ft18 pt50"> 随后，立邦浙西销售部运营主管楼敏为现场的活动参与者针对立邦迷你缤纷净味12色进行了讲解与演示，并向与会者强调了全面十环的环保与健康，与此同时，楼敏还为在场者做了2012流行家装风格解析，就现代简约、个性元素与立邦产品之间的关联进行了深入的分析。</p>			
     </div>

     <div class="items group">
      <img class="fl" src="<%= asset_path "big_bg/hangzhou2_2.png"%>">
      <p class="pt50">在概念介绍之后，立邦浙西销售部辅料负责人王俊峰为在场者演示了立邦“米兰诺艺术漆”的施工手法，并现场做了详细的示范，在场者纷纷踊跃参与，亲身体验立邦“米兰诺艺术漆”在施工上的简便与快捷。</p>     
    </div>

    <div class="items group noborder">
      <h3>现场采访实录</h3>
      <img class="fr" src="<%= asset_path "big_bg/hangzhou2_3.png"%>">
      <p>立邦浙江销售部总监赵万里先生在活动中接受了笔者的采访。首先，他对本次的活动表示满意。对于目前杭州的渠道建设情况，赵总表示，消费者给家装公司双包的比例会越来越高，随着电子商务的介入，传统渠道的份额在减少，但是从整个传统渠道的市场占有率来说，立邦的占有率相对来说比较高，从目前的预测来看，家装公司的占有率会越来越高，所以，家装公司目前来说是立邦的一个主要攻克的对象。</p>
      <p>赵总希望，将iColor平台，打造成专业的，可以让设计师与家装公司、消费者沟通的一个平台，将会对立邦在家装渠道的开拓起到非常好的桥梁作用。同时iColor网站的建立，是立邦在软实力上增强的一个很好的体现。把iColor打造成设计师与家装行业的专业型的平台，让更多的家装公司、设计师和消费者来点击、登陆这个网站，让iColor成为一个真正的交流的平台，是立邦的期望。</p>  
    </div>
  </div>
</div>
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/hangzhou1?page=1">1</a>
    <a href="/designer_events/city/hangzhou1?page=2" class="current">2</a>
    <a href="/designer_events/city/hangzhou1?page=3">3</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->
