<%- content_for :head do %>
  <%= stylesheet_link_tag 'reg' %>
  <%= javascript_include_tag 'jquery.masonry.js' %>
<% end -%>
<div class="main signup syslist group">
  <div class="shadow signup_box">
    <div class="section">
      <div class="host_self group">
        <div class="signup_img_box">
          <img class="box_shadow" src="<%= asset_path "personal/d_host_img.jpg" %>" alt="" />
          <p><a href="#">修改账户信息</a></p>
        </div>
        <div class="host_status">
          <h2><strong>杨明洁</strong><em>金牌会员</em></h2>
          <a class="back_perhome" href="d_in_works.html">返回个人主页</a>
          <div class="signup_text">
            <p>
            从业5年，擅长简约及田园风格室内装修设计
            </p>
          </div>
          <p class="d_hostaddr">上海罗磊室内设计有限公司</p>
          <p class="icon_email">Email：  designer@163.com</p>
          <p class="icon_qq">Q   Q：  1204333759</p>
          <p class="icon_msn">MSN：  designer@hotmail.com</p>
          <p class="icon_fetion">飞  信：  395005</p>
        </div>
        <!--host_status ends-->
      </div>
      <!--host_self ends-->

      <ul class="system_info group">
        <li class="icon_point"><a href="#">我的积分</a></li>
        <li class="icon_info"><a class="host_cur" href="#">系统消息</a></li>
        <li class="icon_qustion"><a href="#">我的提问</a></li>
        <li class="icon_active"><a href="#">我报名的活动</a></li>
      </ul><!--system_info ends-->

      <div class="info_main">
        <h1 class="clear ft14">
          <a href="infolist.html" class="fl">返回</a>
          <div class="sys_msg_title ft18 tc fl">
            注册成功
          </div><!--sys_msg_title ends-->
          <div class="fr">
            <a href="#" class="sys_prev">上一封</a>
            <a href="#" class="sys_next">下一封</a>
          </div>
        </h1>
        <div class="sys_bar clear">
          <span class="fl ft18">iColor客服</span><span class="fl ft12">2012-11-10 10:42</span>
          <a href="javascript:void(0)" class="sys_delete ft12 fr">删除</a>
        </div><!--sys_bar ends-->
        <div class="sys_info ft16">
          <p>在这里您可以查询各种装修资讯，与设计师进行互动，参与精彩活动等，还可以 上传作品 现在就去我的 个人页面</p>
        </div>
      </div>

      <div class="pager host_pager ft12">
        <a class="prev" href="#"><span></span>上一页</a><a href="#">1</a><a href="#" class="current">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a class="next" href="#">下一页<span></span></a>
      </div><!--pager ends-->
    </div>
  </div>
  <!--shadow ends-->
</div>
<!--main ends-->