<div class="container-fluid">
	<div class="design_works pad_t60">
		<div class="wrapper upload-contract pad_b40">
			<h1>上传合同</h1>
			<form action="" method="" class="refresh-form pd30 ft12">
				<div class="refresh-control">
					<label>上传合同</label>
					<div class="form-article">
						<p>
							<a href="#" class="contract-btn show">选择合同文件</a>
						</p>
						<p class="mt30">您只需将合同原件中 <strong class="cr">有合同双方签字盖章的页面</strong> 扫描成图片并上传即可。<br />建议：以JPG、GIF、PNG或BMP文件上传，单张图片5M以下。</p>
						<p class="text-right pad_h15">移除<span class="pull-left">文件</span></p>
						<div class="step2-area text-right">
							<a href="#" class="pull-left">
								<img src="images/contract.jpg" width="100" height="100">
							</a>
							<p class="pull-left">合同1.jpg</p>
							<button type="button" class="btn">删除</button>
						</div>
					</div>
				</div>
				<p class="text-center">
					<input type="submit" class="step3-submit" value="">
				</p>
			</form>
			<div class="redline_b4 pad_t60"></div>
		</div>
	</div>
</div>