<div class="news_footer">
  <!-- JiaThis Button BEGIN -->
  <div id="ckepop">
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_kaixin001"></a>
    <a class="jiathis_button_renren"></a>
    <a class="jiathis_button_qzone"></a>
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    <a class="jiathis_counter_style"></a>
  </div>
  <!-- JiaThis Button END -->
</div>
</div>
<% content_for :tail do %>
<script type="text/javascript" charset="utf-8">
    var jiathis_config = {
        boldNum:4,
        siteNum:4,
        showClose:false,
        sm:"kaixin001,renren,tsina,tqq",
        imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
        imageWidth:26,
        marginTop:150,
        url:"<%= request.url%>",
        title:"#iColor分享#精彩家装资讯---【<%= @article.title %>】，更多咨询内容尽在iColor，@刷新生活iColor，",
        pic:"<%= (request.base_url + @article.preview_img.url(:icolor_articles)) unless @article.preview_img.nil? %>",
        data_track_clickback: true
    }
  </script>
  <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
<% end %>