<div class="news_detail_side">
  <div class="box advA"><a href="#"><img src="<%= asset_path "design/regist_loginA.jpg" %>" alt="登录注册"/></a></div>
  <div class="box advA"><a href="#"><img src="<%= asset_path "design/regist_loginB.jpg" %>" alt="登录注册"/></a></div>
</div>