<p class="links">
  <strong>友情链接:</strong>
  <a href="http://www.nipponpaint.com.cn/" target="_blank">立邦官网</a>
  <a href="http://shop.nipponpaint.com.cn/" target="_blank">立邦官方商城</a>
  <a href="http://nipponpaint.tmall.com/shop/viewShop.htm" target="_blank">立邦天猫商城</a>
  <a href="#" target="_blank">新浪家居</a>
	<a href="#" target="_blank">装修点评网</a>
	<a href="#" target="_blank">太平洋家居网</a>
</p>