<div class="wrapper">
  <div class="grid-container ft12">
    <div class="refresh-bin">
      <%= render partial: 'baicheng/design_works/sidebar' %>
      <ul class="grid-ul">
        <%- data.each do |story| -%>
        <li>
          <%= link_to truncate(story.title, length: 15), story_path(story), class: 'bubble' %>
        </li>
        <%- end -%>
      </ul>
      <%- if data.present? -%>
        <div class="pager"><%= paginate data %></div>
      <%- end -%>
    </div>
  </div>
</div>
