<%- content_for :head do %>
  <%= stylesheet_link_tag "baicheng/steps.css" %>


<%- end %>

<script type='text/javascript'>
  // Conversion Name: 因爱之名-我要装修内页-Step2_家装需求提交完成页
  // INSTRUCTIONS 
  // The Conversion Tags should be placed at the top of the <BODY> section of the HTML page. 
  // In case you want to ensure that the full page loads as a prerequisite for a conversion 
  // being recorded, place the tag at the bottom of the page. Note, however, that this may 
  // skew the data in the case of slow-loading pages and in general not recommended. 
  //
  // NOTE: It is possible to test if the tags are working correctly before campaign launch 
  // as follows:  Browse to http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=at, which is 
  // a page that lets you set your local machine to 'testing' mode.  In this mode, when 
  // visiting a page that includes an conversion tag, a new window will open, showing you 
  // the data sent by the conversion tag to the MediaMind servers. 
  // 
  // END of instructions (These instruction lines can be deleted from the actual HTML)
  var ebRand = Math.random() + '';
  ebRand = ebRand * 1000000;
  //<![CDATA[ 
  document.write('<scr' + 'ipt src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=326821&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
  //]]>

  CClicki[10008]._trackEvent({
    type: 1,
    labels: [
      {"按钮名称": "Step2_家装需求提交完成页"}
    ],
    values: [
      {"数量": 1}
    ]
  });
 
</script>
<noscript>
<img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=326821&amp;ns=1"/>
</noscript>
<div class="container-fluid step4 text-center">
  <div class="container">
    <h1>您的家装需求已提交完成！</h1>
    <p>
		iColor客服（Tel：021-38719988）将于3天内与您联系确认，<br />
		请留意接听以保证活动后续顺利进行。<br />
      期待您遇到心仪的设计师，多多沟通，打造出只属于您的爱巢。<br />
      一旦装修签约成功，上传合同还有机会赢取“爱琴海浪漫游”哦！
    </p>
    <a href="<%=story_path(@story.id)%>" class="step4-btn">关闭</a>
  </div>
</div>