<div class="span3 well well-small nom">
  <p style="margin-top:20px;">
    <a href="/manage/banner_activities?page_name=因爱设计师获奖名单&position=1" class="btn btn-small btn-block <%= i_banner.position == 1 ? 'btn-primary' : 'btn-light' %>">1000x85</a>
  </p>

  <div class="clearfix" style="margin-top:300px;">
    <p class="text-left">
      <a href="/manage/banner_activities?page_name=因爱设计师获奖名单&position=2" class="btn btn-small span7 <%= i_banner.position == 2 ? 'btn-primary' : 'btn-light' %>">670x85</a>
      <a href="/manage/banner_activities?page_name=因爱设计师获奖名单&position=3" class="btn btn-small span5 <%= i_banner.position == 3 ? 'btn-primary' : 'btn-light' %>">310x85</a>
    </p>
  </div>
</div>