<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
			.email_bin {
				width: 803px;
				margin: 50px auto;
				font-size: 14px;
				font-family: Arial, Helvetica, sans-serif;
			}
			.tc {
				text-align: center;
			}
			.tr {
				text-align: right;
			}
			.email_content {
				padding: 1.5em 2em;
				border-bottom: 1px dashed #ccc;
				line-height: 2em;
			}
			.email_bin p {
				margin-bottom: 2em;
			}
			.email_content a {
				color: #1e4c9a;
				text-decoration: none;
				font-weight: bold;
			}
			.email_footer {
				border-top: 2px solid #e71d36;
				font-size: 12px;
				line-height: 2em;
				padding: 0.8em 0;
			}
			.email_footer a {
				text-decoration: none;
				color: #000;
				margin: 1em;
			}

		</style>
	</head>
	<body>
		<div class="email_bin">
			<div class="tc">
				<a href="#"><img src="http://www.icolor.com.cn/images/email_nav.jpg" /></a>
				<img src="http://www.icolor.com.cn/images/email_suc.jpg" />
			</div>
			<div class="email_content">
				亲爱的<span>张小姐</span>，您好！
			</div>
			<div class="email_content">
				很高兴告知您，我们已经为您注册了icolor网站的个人帐号，请点击如下链接修改密码并完善您的账户信息：
				<br />
				<a href="http://www.icolor.com.cn/Customer/SetNewPassword.aspx?token=22a8eea21cd24748ad696bfcb28c7f3a"> http://www.icolor.com.cn/Customer/SetNewPassword.aspx?token=22a8eea21cd24748ad696bfcb28c7f3a </a>
			</div>
			<div class="email_content">
				您现在就可立即浏览icolor网站任何您感兴趣的内容并上传您的得意之作，开启你的色彩之旅吧！
				<br />
				icolor静候您的光临和参与。
				<br />
				立邦icolor网站 http://www.icolor.com.cn
			</div>
			<p class="tr">
				2010.03.27
			</p>
			<div class="email_footer tc">
				<a href='http://www.nipponpaint.com.cn/web/index.jsp'>立邦官网</a> | 
				<a href='http://www.icolor.com.cn/contact'>联系我们</a> | 
				<a href='http://www.icolor.com.cn/rules'>会员机制</a> | 
				<a href='http://shop.nipponpaint.com.cn/'>网上商城</a> | 
				<a href='http://www.icolor.com.cn/state'>网站声明</a>
				<br />
				Copyright 2011 NIPPON PAINT (CHINA) Co.,Ltd All Rights Reserved
			</div>
		</div>
	</body>
</html>
