<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<table cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td width="803" height="89" background="http://www.icolor.com.cn/images/email_nav.jpg" align="center">
				<table cellpadding="0" cellspacing="0" align="center">
					<tr>
						<td width="300" height="40" align="right" valign="top">
							<font style="font-size:14px;">
							</font>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="803" height="10"></td>
		</tr>
		<tr>
			<td width="803" height="111" align="center">
				<img src="http://www.icolor.com.cn/images/email_suc.jpg" />
			</td>
		</tr>
		<tr>
			<td width="803" height="40" style="border-bottom:1px dotted #ccc;">
				<font style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;亲爱的<strong style="font-weight:normal;"><%= @user.display_name %></strong>,您好！</font>
			</td>
		</tr>
		<tr>
			<td width="803" height="50" valign="bottom">
				<font style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很高兴告知您，我们已经为您注册了icolor网站的个人帐号，请点击如下链接修改密码并完善您的账户信息： </font>
			</td>
		</tr>
		<tr>
			<td width="803" height="50" valign="top" style="border-bottom:1px dotted #ccc;">
				<font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a style="color:#1E4C9A; font-family:Arial, Helvetica, sans-serif; font-size:14px;font-weight:bold; width:785px; white-space:nowrap;" href="http://www.icolor.com.cn/users/<%= @user.id%>">http://www.icolor.com.cn/users/<%= @user.id%></a>
				</font>
			</td>
		</tr>
		<tr>
			<td width="803" height="25">
				<font style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您现在就可立即浏览icolor网站任何您感兴趣的内容并上传您的得意之作，开启你的色彩之旅吧！</font>
			</td>
		</tr>
		<tr>
			<td width="803" height="25">
				<font style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;icolor静候您的光临和参与。</font>
			</td>
		</tr>
		<tr>
			<tr>
				<td width="803" height="25" style="border-bottom:1px dotted #ccc;">
					<font style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;立邦icolor网站 http://www.icolor.com.cn</font>
				</td>
			</tr>
			<tr>
				<tr>
					<td width="803" height="30" align="right">
						<font style="font-size:14px;">2012.05.20</font>
					</td>
				</tr>
				<tr>
					<td width="803" height="15"></td>
				</tr>
				<tr>
					<td width="803" height="68">
						<table cellpadding="0" cellspacing="0" align="center">
							<tr>
								<td width="803" height="40" style="border-top:2px solid #f00;" align="center" valign="bottom">
									<font color="#909090" style="font-size:12px;">
										<a style="font-size:12px;color: #909090;" href='http://www.nipponpaint.com.cn/web/index.jsp'>立邦官网</a> | 
										<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/contact'>联系我们</a> | 
										<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/rules'>会员机制</a> | 
										<a style="font-size:12px;color: #909090;" href='http://shop.nipponpaint.com.cn/'>网上商城</a> | 
										<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/state'>网站声明</a>
									</font>
								</td>
							</tr>
							<tr>
								<td width="803" height="30" align="center" valign="top">
									<font style="font-size:12px;color: #909090; margin:0;">&nbsp;&nbsp;&nbsp;&nbsp;Copyright 2011 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved </font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tr>
		</tr>
	</table>
</body>
</html>
