<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
			html,body,a,p,div{margin:0;padding:0;}
			.nav{background:url(http://www.icolor.com.cn/images/email_nav.jpg) no-repeat;width:803px;height:89px;margin:0 auto;position:relative;}
			.nav a{color:#f00;font-weight:700;}
			.nav span{float:right;display:inline;margin:25px 260px 0 0;}
			.email_bin{width:803px;margin:50px auto;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
			.tc{text-align:center;}
			.tr{text-align:right;}
			.email_footer{border-top: 2px solid #e71d36;font-size: 12px;line-height: 2em;padding: 0.8em 0;}
			.email_footer a{text-decoration:none;color:#000;margin:1em;}
			.notice1,.notice2,.notice3,.notice4{width:785px;margin:0 auto;}
			.notice1{background:url(http://www.icolor.com.cn/images/notice1.jpg) no-repeat;height:60px;width:649px;padding:134px 68px 0;font-weight:700;}
			.notice2{background:url(http://www.icolor.com.cn/images/notice2.jpg) repeat-x;height:253px;width:649px;padding:18px 68px;}
			.notice3{background:url(http://www.icolor.com.cn/images/notice3.jpg) repeat-x;height:217px;padding:18px 0;}
			.notice4{background:url(http://www.icolor.com.cn/images/notice4.jpg) no-repeat;height:100px;padding:18px 0;}
			.notice2 img,.notice3 img{border:1px solid #d0c77e;padding:2px;margin:0 3px;}
			.notice3 a img{border:none;}
			.notice2 p{margin:20px 0 30px;line-height:20px;text-indent:2em;}
			.notice1 p{text-indent:2em;margin:20px 0;font-family:Microsoft Yahei;font-size:16px;font-weight:normal;}
		</style>
	</head>
	<body>
		<div class="email_bin">
			<div class="nav"></div>
      <div class="notice1">
      	<span>Hi ,<span>甜蜜蜜</span>：</span>
        <p>恭喜你！你的作品【<span>普罗旺斯的浪漫</span>】被评选为本周之星啦！</p>
      </div>
      <div class="notice2">
      	<img src="http://www.icolor.com.cn/images/notice_img1.jpg" />
      	<img src="http://www.icolor.com.cn/images/notice_img2.jpg" />
      	<img src="http://www.icolor.com.cn/images/notice_img3.jpg" />
          <p>iColor会通过自己的官方渠道在新浪微博、开心网等社区网站发布你获奖的消息，邀请更多的朋友前来欣赏你的作品。</p>
          同时，我们的片区快查频道还为你进行了置顶HOT名单的展示哦！广大业主可以轻松找到你并关注你！
      </div>
      <div class="notice3 tc">
      	赶快点击<a href="http://www.icolor.com.cn/">www.icolor.com.cn</a>，现在的首页焦点就是你！
        <a href="http://www.icolor.com.cn/" style="margin-top:1px;">
         	<img src="http://www.icolor.com.cn/images/notice.jpg" align="absmiddle" />
        </a>
        <img src="http://www.icolor.com.cn/images/notice_img.jpg" />
      </div>
      <div class="notice4 tc">
      	再次对您表示祝贺，感谢您的热情参与和优秀作品，敬请继续关注iColor！
      </div>
			<div class="email_footer tc">
				<a href='http://www.nipponpaint.com.cn/web/index.jsp'>立邦官网</a> | 
				<a href='http://www.icolor.com.cn/contact'>联系我们</a> | 
				<a href='http://www.icolor.com.cn/rules'>会员机制</a> | 
				<a href='http://shop.nipponpaint.com.cn/'>网上商城</a> | 
				<a href='http://www.icolor.com.cn/state'>网站声明</a>
				<br />Copyright 2011 NIPPON PAINT (CHINA) Co.,Ltd All Rights Reserved
			</div>
		</div>
	</body>
</html>
