<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td width="803" height="89" background="http://www.icolor.com.cn/images/email_nav.jpg" align="center">
    	<table cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td width="300" height="40" align="right" valign="top">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="803" height="10"></td>
  </tr>
  <tr>
    <td width="803" height="89">
    	<table cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td width="785" height="194" align="center" background="http://www.icolor.com.cn/images/notice1.jpg" valign="bottom">
          	<table cellpadding="0" cellspacing="0">
              <tr>
                <% u = User.find_by_username('叶国治') %>
                <td width="649" height="30">
                  <strong style="font-size:14px; font-family:Microsoft Yahei;">
                    Hi ,<a style="color:#000;" href="http://www.icolor.com.cn/users/<%= u.id %>">叶国治</a>：
                  </strong>
                </td>
              </tr>
              <tr>
                <td width="649" height="30">
                	<font style="font-size:16px; font-family:Microsoft Yahei;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜你！你的作品【春色满屋】被评选为本周之星啦！</font>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="803" height="289"><table cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td width="785" height="289" background="http://www.icolor.com.cn/images/notice2.jpg">
          	<table cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td width="220" height="140" align="center"><img style="border:1px solid #D0C77E; padding:2px;" src="http://www.icolor.com.cn/images/notice_img1.jpg" /></td>
                <td width="220" height="140" align="center"><img style="border:1px solid #D0C77E; padding:2px;" src="http://www.icolor.com.cn/images/notice_img2.jpg" /></td>
                <td width="220" height="140" align="center"><img style="border:1px solid #D0C77E; padding:2px;" src="http://www.icolor.com.cn/images/notice_img3.jpg" /></td>
              </tr>
              <tr>
                <td width="660" height="60" colspan="3" >
                  <font style="font-family:Microsoft Yahei; font-size:14px; line-height:24px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iColor会通过自己的官方渠道在新浪微博、开心网等社区网站发布你获奖的消息，
                    <br />
                    邀请更多的朋友前来欣赏你的作品。
                  </font>
                </td>
              </tr>
              <tr>
                <td width="660" height="40" colspan="3">
                	<font style="font-family:Microsoft Yahei; font-size:14px;">
                		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同时，我们的片区快查频道还为你进行了置顶HOT名单的展示哦！广大业主可以轻松找到你并关注你！
                	</font>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="803" height="253">
    	<table cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td width="785" height="253" background="http://www.icolor.com.cn/images/notice3.jpg">
          	<table cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td width="400" height="60">
                	<font style="font-family:Microsoft Yahei;font-size:14px;">
                		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赶快点击
                		<a href="http://www.icolor.com.cn/">www.icolor.com.cn</a>
                		，现在的首页焦点就是你！
                	</font>
                </td>
                <td width="100" height="60">
                	<a href="http://www.icolor.com.cn/"><img border="0" src="http://www.icolor.com.cn/images/notice.jpg" align="absmiddle" /></a>
                </td>
              </tr>
              <tr>
                <td width="400" height="162" colspan="2" align="center"><img src="http://www.icolor.com.cn/images/notice_img.jpg" /></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="803" height="136">
    	<table cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td width="785" height="136" background="http://www.icolor.com.cn/images/notice4.jpg" align="center" valign="top">
          	<font style="line-height:60px;">再次对您表示祝贺，感谢您的热情参与和优秀作品，敬请继续关注iColor！</font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="803" height="68">
    	<table cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td width="785" height="40" style="border-top:2px solid #f00;" align="center" valign="bottom">
          	<font color="#909090" style="font-size:12px;">
          		<a style="font-size:12px;color: #909090;" href='http://www.nipponpaint.com.cn/web/index.jsp'>立邦官网</a> | 
          		<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/contact'>联系我们</a> | 
          		<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/rules'>会员机制</a> | 
          		<a style="font-size:12px;color: #909090;" href='http://shop.nipponpaint.com.cn/'>网上商城</a> | 
          		<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/state'>网站声明</a>
          	</font>
          </td>
        </tr>
        <tr>
          <td width="785" height="30" align="center" valign="top">
          	<font style="font-size:12px;color: #909090; margin:0;">&nbsp;&nbsp;&nbsp;&nbsp;Copyright 2011 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved </font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
