<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<table cellpadding="0" cellspacing="0" align="center">
	  <tr>
	    <td width="895" height="192"><img src="http://www.icolor.com.cn/images/edm_rebuild1.jpg" /></td>
	  </tr>
	  <tr>
	    <td width="895" height="176" background="http://www.icolor.com.cn/images/edm_rebuild2.jpg">
	      <table cellpadding="0" cellspacing="0" align="center" style="position:relative; top:-20px;">
	        <tr>
	          <td width="600" height="30"><font color="#f33" face="Microsoft Yahei">Hi,<a style="color:#f33; text-decoration:underline;" href="http://www.icolor.com.cn/"><%= @user.display_name %></a>:</font></td>
	        </tr>
	        <tr>
	          <td width="600" height="30"><font face="Microsoft Yahei" size="3">iColor网站全新改版，海量资讯平台，同行互动比拼，快来体验吧！</font></td>
	        </tr>
	      </table>    
	    </td>
	  </tr>
	  <tr>
	    <td width="895" height="213"><img src="http://www.icolor.com.cn/images/edm_rebuild3.jpg" /></td>
	  </tr>
	  <tr>
	    <td width="895" height="162" background="http://www.icolor.com.cn/images/edm_rebuild4.jpg">
	      <table cellpadding="0" cellspacing="0" align="center">
	        <tr>
	          <td width="208" height="56"><a href="http://www.icolor.com.cn"><img border="0" src="http://www.icolor.com.cn/images/edm_rebuild.gif" /></a></td>
	        </tr>
	      </table>    
	    </td>
	  </tr>
	</table>
</body>
</html>