<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
html,body,div,p,h1,a{margin:0;padding:0;font-weight:normal;font-size:18px;font-family:Microsoft Yahei,Arial,Simsun;}
table,tr,td{margin:0;border:none;}
</style>
</head>
<body>
<table cellspacing="0" cellpadding="0" align="center" width="810" style="margin:0 auto;">
 <tr align="center">
  <td height="81" colspan="3"><img src="http://www.icolor.com.cn/images/edm_top.jpg"></td>
  </tr>
 <tr align="center">
  <td height="249" colspan="3"><img src="http://www.icolor.com.cn/images/edm_thisweek1.jpg"></td>
  </tr>
 <tr align="center">
  <td height="524" colspan="3"><a style="display:block;" href='http://www.icolor.com.cn/weekly_stars'><img style="border:0;" src="http://www.icolor.com.cn/images/edm_thisweek2.jpg" /></a></td>

  </tr>
 <tr align="center">
  <td height="59" colspan="3"><img src="http://www.icolor.com.cn/images/edm_bot.gif"></td>
  </tr>  
 <tr align="center">
  <td width="5" style="background:#fff;"></td>
  <td height="100" style="background: #000;padding: 20px 20px;color: #909090;line-height: 20px;font-size: 12px; text-align:left;width: 710px;margin: -15px auto;">
   <a style="font-size:12px;color: #909090;" href='http://www.nipponpaint.com.cn/web/index.jsp'>立邦官网</a> | 
   <a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/contact'>联系我们</a> | 
   <a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/rules'>会员机制</a> | 
   <a style="font-size:12px;color: #909090;" href='http://shop.nipponpaint.com.cn/'>网上商城</a> | 
   <a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/state'>网站声明</a>
   <p style="font-size:12px;color: #909090;">
    Copyright 2011 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved
   </p>
  </td>
  <td width="4" style="background:#fff;"></td>  
 </tr>
</table>
</body>
</html>