<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
  <tr align="center">
    <td width="810" height="81" colspan="3"><img src="http://www.icolor.com.cn/images/edm_top.jpg"></td>
  </tr>
  <tr align="center">
    <td width="810" height="249" colspan="3"><img src="http://www.icolor.com.cn/images/edm_thisweek1.jpg"></td>
  </tr>
  <tr align="center">
    <td width="810" height="524" colspan="3">
    	<a style="display:block;" href='http://www.icolor.com.cn/weekly_stars'><img style="border:0;" src="http://www.icolor.com.cn/images/edm_thisweek2.jpg" /></a>
    </td>
  </tr>
  <tr align="center">
    <td width="810" height="59" colspan="3"><img src="http://www.icolor.com.cn/images/edm_bot.gif"></td>
  </tr>
  <tr align="center">
    <td>
      <table cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td width="800" height="40" valign="bottom" style="background: #000;color: #909090;line-height: 20px;font-size: 12px; text-align:left;margin:-5px auto;">&nbsp;&nbsp;&nbsp;&nbsp;
          	<font color="#909090" style="font-size:12px;">
          		<a style="font-size:12px;color: #909090;" href='http://www.nipponpaint.com.cn/web/index.jsp'>立邦官网</a> | 
          		<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/contact'>联系我们</a> | 
          		<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/rules'>会员机制</a> | 
          		<a style="font-size:12px;color: #909090;" href='http://shop.nipponpaint.com.cn/'>网上商城</a> | 
          		<a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/state'>网站声明</a> |
              <a style="font-size:12px;color: #909090;" href='http://www.icolor.com.cn/about'>关于我们</a>
          	</font>
          </td>
        </tr>
        <tr>
          <td width="800" height="40" valign="top" style="background: #000;color: #909090;line-height: 20px;font-size: 12px; text-align:left;margin:-5px auto;">
          	<font style="font-size:12px;color: #909090; margin:0;">&nbsp;&nbsp;&nbsp;&nbsp;Copyright 2011 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved </font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>