<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
			html, body, div {
				margin: 0;
				padding: 0;
				font-family: Microsoft Yahei, Arial, Simsun;
			}
			h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
				margin: 0;
				padding: 0;
				border: none;
				font-weight: normal;
				font-style: normal;
				font-size: 100%;
			}

			.edm_bot {
				background: url(http://www.icolor.com.cn/images/big_bg/edm_bot.gif) no-repeat;
				width: 800px;
				height: 59px;
				margin: 0 auto;
				position: relative;
				top: -15px;
				color: #5c6572;
				line-height: 68px;
			}
			.copyright {
				background: #000;
				padding: 20px 20px;
				color: #909090;
				line-height: 20px;
				font-size: 12px;
				width: 760px;
				margin: -15px auto;
			}
			.copyright a {
				color: #909090;
			}
			.edm_header {
				background: url(http://www.icolor.com.cn/images/big_bg/edm_header.png) no-repeat;
				width: 799px;
				height: 79px;
				margin: 0 auto;
				position: relative;
				top: 19px;
			}
			.main {
				width: 761px;
				border: 1px solid #d7d7d7;
				margin: 0 auto;
			}

		</style>
	</head>
	<body>
		<div class="header" style="text-align:center;">
			<img src="http://www.icolor.com.cn/images/edm_top.jpg" />
		</div>
		<div class="main" style="margin-top:20px;">
			<img src="http://www.icolor.com.cn/images/edm_thisweek1.jpg" />
			<img src="http://www.icolor.com.cn/images/edm_thisweek2.jpg" />
			<img src="http://www.icolor.com.cn/images/edm_thisweek3.jpg" />
		</div><!--main ends-->
		<div class="edm_bot fb tc ft18"></div>
		<div class='copyright'>
			<a href='http://www.nipponpaint.com.cn/web/index.jsp'>立邦官网</a> | 
			<a href='http://www.icolor.com.cn/contact'>联系我们</a> | 
			<a href='http://www.icolor.com.cn/rules'>会员机制</a> | 
			<a href='http://shop.nipponpaint.com.cn/'>网上商城</a> | 
			<a href='http://www.icolor.com.cn/state'>网站声明</a>
			<p>
				Copyright 2011 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved
			</p>
		</div><!--copyright ends-->
	</body>
</html>