<div class="upload" id="master_design_upload_<%= upload.id %>">
    <%= image_tag upload.file.url(:thumb) %>
    <%= hidden_field_tag 'master_design[master_design_upload_ids][]', upload.id %>

    <%= link_to_function "移除", "$('#master_design_upload_#{upload.id}').remove();" %>
</div>