<tr>
  <td>
    <a class="text-haxun" href="javascript:;" id="hx_insert_save">保存</a>|
    <a class="text-haxun" href="<%= hx_news_index_path %>">取消</a>
  </td>
  <td>1</td>
  <td>
    <input type="text" id="hx_insert_title" maxlength='24' />
  </td>
  <td>
    <input type="text" id="hx_insert_url" />
  </td>
  <td><a href="javascript:void(0);" id="hx_insert_link1">检测链接</a></td>
</tr>