<div class="landing_index"><img src="<%= asset_path "landingpage/landingpage_index.png"%>" border="0" usemap="#Map">
<map name="Map" id="Map">
<area shape="rect" coords="288,368,435,418" href="#" class="gift_kv" />
</map>
</div>


<div id="overlay"></div>
<div class="abs_center ft12 none" id="prize_jan">
<a href="javascript:;" class="close_btn">关闭</a>
<div id="flower"></div>
<table id="prize_table1">
<tr>
<th colspan="3">设计为王奖</th>
</tr>
<tr>
<td class="tr">老鬼</td>
<td width="20"></td>
<td>《温情摇滚乐》</td>
</tr>
</table>
<table id="prize_table2">
<tr>
<th colspan="3">刷新生活奖</th>
</tr>
<tr>
<td class="tr">戴黎龙</td>
<td width="20"></td>
<td>《十二橡树庄园别墅设计》</td>
</tr>
<tr>
<td class="tr">邓东川</td>
<td width="20"></td>
<td>《海悦蓝庭》</td>
</tr>
<tr>
<td class="tr">李进</td>
<td width="20"></td>
<td>《诗意田园》</td>
</tr>
</table>
<table id="prize_table3">
<tr>
<th colspan="3">漆光异彩奖</th>
</tr>
<tr>
<td class="tr">chizi</td>
<td width="20"></td>
<td>《美式品质.缤纷多彩的混搭生活》</td>
</tr>
<tr>
<td class="tr">靳涛</td>
<td width="20"></td>
<td>《猫的乐园》</td>
</tr>
<tr>
<td class="tr">刘涛</td>
<td width="20"></td>
<td>《美式—乡间小麓》</td>
</tr>
<tr>
<td class="tr">jiushu</td>
<td width="20"></td>
<td>《水榭简欧》</td>
</tr>
<tr>
<td class="tr">柳元</td>
<td width="20"></td>
<td>《天鹅堡》</td>
</tr>
<tr>
<td class="tr">王燕超</td>
<td width="20"></td>
<td>《非洲部落》</td>
</tr>
<tr>
<td class="tr">极美设计机构</td>
<td width="20"></td>
<td>《我的艺术家》</td>
</tr>
<tr>
<td class="tr">黄羽</td>
<td width="20"></td>
<td>《美式乡村风格样板房设计》</td>
</tr>
</table>
<table id="prize_table4">
<tr>
<th colspan="3">秀色可居奖</th>
</tr>
<tr>
<td class="tr">孟玲</td>
<td width="20"></td>
<td>《海边度假》</td>
</tr>
<tr>
<td class="tr">rzchengshucai</td>
<td width="20"></td>
<td>《温暖乡村》</td>
</tr>
<tr>
<td class="tr">郑州大铭装饰工程有限公司</td>
<td width="20"></td>
<td>《思念果岭王女士家居装修设计》</td>
</tr>
<tr>
<td class="tr">徐冬冬</td>
<td width="20"></td>
<td>《黄金99新中式》</td>
</tr>
<tr>
<td class="tr">同城伟业</td>
<td width="20"></td>
<td>《简中式》</td>
</tr>
<tr>
<td class="tr">xinkongjian</td>
<td width="20"></td>
<td>《简欧风格》</td>
</tr>
<tr>
<td class="tr">郜世峰</td>
<td width="20"></td>
<td>《爱的箴言》</td>
</tr>
<tr>
<td class="tr">刘帅</td>
<td width="20"></td>
<td>《合二为一，何乐不为！》</td>
</tr>
<tr>
<td class="tr">任周景</td>
<td width="20"></td>
<td>《迷恋中国风》</td>
</tr>
<tr>
<td class="tr">李雷夫</td>
<td width="20"></td>
<td>《享•时光——尚爱西厨》</td>
</tr>
<tr>
<td class="tr">叶惠明</td>
<td width="20"></td>
<td>《牛奶巧克力---古朴清风》</td>
</tr>
<tr>
<td class="tr">茧</td>
<td width="20"></td>
<td>《名人名家艺术品展厅》</td>
</tr>
<tr>
<td class="tr">徐旭俊</td>
<td width="20"></td>
<td>《红色经典》</td>
</tr>
<tr>
<td class="tr">心房子室内设计师事务所</td>
<td width="20"></td>
<td>《重庆金科 • 天湖美镇（西班牙风格）》</td>
</tr>
<tr>
<td class="tr">黄育波</td>
<td width="20"></td>
<td>《写意东方》</td>
</tr>
</table>
</div>