<div class="landing_index">
	<img src="<%= asset_path "landingpage/landingpage_index.png"%>" border="0" usemap="#Map">
	<map name="Map" id="Map">
		<area shape="rect" coords="563,254,706,336" href="<%= (current_user.common_user? ? "/designs?q=超越刷新" : new_user_design_path(current_user)) if current_user %>" id="design_upload"/>
		<area shape="rect" coords="716,252,851,337" href="/designs?q=超越刷新" target="_blank"/>
	</map>
</div>