<div class="content">
	<div class="w_640 jury">
		<h2>评委介绍</h2>
		<p>深圳市室内设计师协会会长；HHD国际酒店设计机构 设计总监；亚太区酒店设计协会常务理事。<br>曾获“IC＠ward金指环全球室内设计大奖赛-酒店类金奖”<br>“第16届APIDA亚太区室内设计大奖”金奖; 2003年至今是中国“CIID最佳室内设计师奖”唯一获得者。<br>2005年获邀美国波士顿举办作品展览，2009年赴迪拜并担任阿扎曼（Ajman）大学客座讲师，<br>2010获授美联大学博士学位。并受聘为四校（中央美术学院建筑学院、清华大学美术学院、天津美术学院设计艺术学院、同济大学建筑城规学院）环艺专业毕业设计实验教学课题暨“中华室内设计优才计划奖“设计实践导师。<br>现任深圳市设计师协会副会长，香港室内设计协会深圳代表处理事委员。<span><img src="<%= asset_path "landingpage/jury_img1.jpg"%>"><strong>洪忠轩先生</strong></span></p>
		<p>同济大学建筑学学士（室内设计方向），项目管理硕士，加拿大Ryerson大学访问学者，华东师范大学访问学者，台湾逢甲大学访问学者，上海市十大优秀青年室内设计师，全国杰出中青年室内建筑师，长期从事设计研究与教育工作，现为上海市室内设计专业水平认证专家。<span><img src="<%= asset_path "landingpage/jury_img2.jpg"%>"><strong>李进先生</strong></span></p>
		<p>意大利米兰理工大学设计管理硕士。深圳大学艺术学院客座教授。中国建筑学会室内设计分会（全国）理事。2012年, 创立李益中空间设计公司“策略为先，气质为上”。目前李益中空间设计公司是业内有一定影响力的室内设计公司。<span><img src="<%= asset_path "landingpage/jury_img3.jpg"%>"><strong>李益中先生</strong></span></p>
	</div>
</div>