<div class="content">
	<div class="w_640 flow">
		<h2>流程规则</h2>
		<h3>活动流程</h3>
		<p><i class="icon-step1"></i>注册成为<a href="#">iColor网站</a>的会员。</p>
		<p><i class="icon-step2"></i>仔细阅读参赛细则，设计并上传你的参赛作品。</p>
		<p><i class="icon-step3"></i>专家评委会评选出优胜者，获得iColor超越刷新一空间魔术师称号，并将角逐各单项奖项。</p>
		<p><i class="icon-step4"></i>优胜者将获得iColor与A963共同颁发的优秀证书以及在iColor和其他媒体推广展示的机会。</p>
		<h3>评选标准</h3>
		<p>提倡室内设计中色彩的使用，强调色彩与空间和谐搭配<br>注重室内设计的创新与创意，强调室内设计当以人为本，注重使用功能的合理性以及人性化的设计<br>展现作品对“超越色彩”的理解和运用，关注作品中色彩背后的设计理念、灵感来源或色彩故事<br><strong class="color_ff255b">参赛作品需提供设计图纸（CAD图纸、手绘或3D效果图和设计说明）实际效果照片。<br>注：对于有立邦色号标注的作品，评委会会重点优先考虑</stront></p>
		<h3>具体活动规则<a href="#">点击查看</a></h3>

	</div>
</div>