<div class="content">
	<div class="w_750 flow">
		<h2>流程规则
			<a href="<%= (current_user.common_user? ? "/designs" : new_user_design_path(current_user)) if current_user %>" id="design_upload">
				<img src="<%= asset_path "landingpage/uploading.png"%>">
			</a>
		</h2>
		<h3>活动流程</h3>
		<p><i class="icon-step1"></i>注册成为<a href="/users/sign_up" target="_blank">iColor网站</a>的会员。</p>
		<p><i class="icon-step2"></i>仔细阅读参赛细则，设计并上传你的参赛作品。</p>
		<p><i class="icon-step3"></i>专家评委会评选出优胜者，获得iColor超越刷新一空间魔术师称号，并将角逐各单项奖项。</p>
		<p><i class="icon-step4"></i>优胜者将获得iColor与A963共同颁发的优秀证书以及在iColor和其他媒体推广展示的机会。</p>
		<h3>评选标准</h3>
		<p>提倡室内设计中色彩的使用，强调色彩与空间和谐搭配<br>注重室内设计的创新与创意，强调室内设计当以人为本，注重使用功能的合理性以及人性化的设计<br>展现作品对“超越色彩”的理解和运用，关注作品中色彩背后的设计理念、灵感来源或色彩故事<br><strong class="color_ff255b">参赛作品需提供设计图纸（CAD图纸、手绘或3D效果图和设计说明）实际效果照片。<br>注：对于有立邦色号标注的作品，评委会会重点优先考虑</stront></p>
		<h3>具体活动规则<a class="pop_btn" href="#">点击查看</a></h3>
	</div>
</div>

<div class="landing_overlay"></div>
<div class="content pop_rule jury">
	<a href="#" class="landing_popclose"><img src="<%= asset_path "landingpage/landing_popclose.png"%>"></a>
	<h3>活动流程</h3>
	<p>设计师：海内外从事设计行业的室内设计师均可</p>
	<p>海内外室内设计爱好者均可参加</p>
	<h3>参赛要求</h3>
	<p>本次活动以“超越刷新”为创作理念</p>
	<p>参赛者需提供以色彩空间搭配为核心的原创设计作品一套</p>
	<p>该设计需要表现出对“超越刷新”的理解和运用，阐明作品中色彩背后的设计理念、灵感来源或色彩故事</p>
	<h3>参赛细则及注意事项</h3>
	<p>参赛者必需是iColo网站的注册用户，并于2013年1月15日24:00前上传作品到<a href="/" target="_blank">www.iColor.com.cn</a></p>
	<p>所有参赛作品必须是本人原创作品，不能有抄袭或剽窃他人设计成果、侵犯他人知识产权及其它合法权利的行为，否则责任自负</p>
	<p>提供参赛的作品图片不超于3张且为同一套室内设计，作品请勿加任何水印</p>
	<p>作品图片可以是JPG、GIF、PNG或BMP格式，单张图片大小不超过5M</p>
	<p>主办方将对参赛材料进行形式审查，不完整、不正确或不符合参赛要求的参赛材料将视为无效或作废，举办方有权取消任何未能提交完整参赛材料或者提交的参评材料不符合本规则要求的参赛者的参赛资格</p>
	<p>所有参赛作品版权归参赛者所有，大赛组委会拥有展示、刊登、出版的无偿使用权</p>
	<p>参赛作品均不退还</p>
	<p>参赛全程将不收取任何费用</p>
	<p>活动最终解释权属iColor网站</p>
	<h3>版权说明</h3>
	<p>设计师本人必须拥有该设计方案中主题思想的知识产权，并且iColor拥有展示、在书籍、杂志、报纸、网络等媒体发表刊登和出版的使用权，任何可能发生的各种形式的版权(署名)纠纷将完全由参赛者本人承担</p>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
	$(function(){
		$('.landing_overlay,.pop_rule').hide();
		$('.pop_btn').click(function(){
			$('.landing_overlay,.pop_rule').show();
		})
		$('.landing_overlay,.landing_popclose').click(function(){
	  $('.landing_overlay').hide();
			$('.pop_rule').hide();
		})
	})
</script>