<div class="content">
	<div class="w_750">
		<h2>主题介绍
			<a href="<%= (current_user.common_user? ? "/designs" : new_user_design_path(current_user)) if current_user %>" id="design_upload">
				<!-- <img src="<%#= asset_path "landingpage/uploading.png"%>"> -->
			</a>
		</h2>
		<h3>超越·刷新 中国室内设计师作品征集活动</h3>
		<h4>iColor携手A963共创设计之未来</h4>
		<p>作为活动主办方的立邦，是世界著名的涂料制造商，旗下 iColor网站，创立于2011年3月，专注于装修及色彩领域，用户解决室内空间设计与软硬装的配色问题，为家装设计师、家装公司及有潜在需求的业主提供展示交流的平台。</p>
		<p>活动协办方的中华室内设计网（www.A963.com）是中国建筑室内设计行业第一门户网站，也是国际空间设计大奖——Idea-Tops艾特奖的主办方，在国内的设计师领域具有极大的感召力和标杆性。</p>
		<p class="color_ff255b">只有不断超越与刷新，才能让未来更有价值。</p>
		<p>iColor和A963强强联手，共同携手打造的此项活动，必将给中国设计创造了一个展现自己、挑战自己的平台，每个参加的设计师都有机会获得业内专家级媒体A963颁发的获奖证书，优秀作品还有机会入选iColor，在全国展出，实现设计梦想！</p>
	</div>
</div>