<% content_for :tail do -%>  
  <script type="text/javascript">
    $(function() {
      $('.rules-nav').on('click', '> li > a', function() {
        var hash = this.hash.substr(1);
        $(this).parent().addClass('active').siblings().removeClass('active');
        set_title_des_keywords($(this).attr('href'));
        $('.' + hash).show().siblings().hide();
      }).on('click', 'ul a', function() {
        var hash = this.hash.substr(1);
        $('.' + hash).show().siblings().hide();
        $(this).closest('ul').siblings('a').click();
        set_title_des_keywords($(this).attr('href'));
      });
      set_title_des_keywords('');
    });

    function set_title_des_keywords(mark)
    {

      var t, d, k;
      switch (mark) {
        case '#rules-public':
          t = '"刷新生活"活动章程及说明_针对大众用户的活动内容-立邦 iColor 装修设计鉴赏、设计师作品欣赏、访谈';
          d = "立邦icolor因爱之名刷新生活 活动内容，针对大众用户，可以发布爱的宣言，填写装修需求，上传新房房型图，对设计作品投票，咨询设计师，获得免费的解答和设计师免费创意。";
          k = '立邦刷新生活,活动时间,icolor设计大奖';
          break;
        case '#rules-designers':

          t = '"刷新生活"活动章程及说明_针对室内设计师和家装公司的活动内容-立邦 iColor 装修设计鉴赏、设计师作品欣赏、访谈';
          d = "立邦icolor因爱之名刷新生活 活动内容，针对家装公司和设计者，可以在我能设计频道挑选房型图，下载、设计后提交，或者上传本人的原创设计图，参与不同类别奖项评选。";
          k = '立邦刷新生活,装修活动内容,原创设计图,icolor设计大奖';
          break;

        case '#rules-awards':
          t = '"刷新生活"活动章程及说明_针对装修者和室内设计师的活动奖项-立邦 iColor 装修设计鉴赏、设计师作品欣赏、访谈';
          d = "立邦icolor因爱之名刷新生活 活动奖项，iColor刷新大奖(意大利游学之旅)，iColor刷新大奖(希腊爱情海双人蜜月游)，还包括2000元和1500元现金奖。";
          k = '立邦刷新生活,装修设计活动奖项,icolor设计大奖';

          break;

        case '#rules-regulations':
          t = '"刷新生活"活动章程及说明_评委名单-立邦 iColor 装修设计鉴赏、设计师作品欣赏、访谈';
          d = "立邦icolor因爱之名刷新生活 评委名单包括爱的宣言、活动类奖项及专业类奖项评委名单。";
          k = '立邦刷新生活,活动评委名单,icolor设计大奖';


          break;

        case '#rules-judges':
          t = '"刷新生活"活动章程及说明_评选细则-立邦 iColor 装修设计鉴赏、设计师作品欣赏、访谈';
          d = "立邦icolor因爱之名刷新生活 评选细则，评委评选：由国内外著名室内设计专家在每个城市参与活动的普通用户、设计师和家装公司中评选出获奖选手。";
          k = '立邦刷新生活,装修设计评选规则,icolor设计大奖';

          break;

        case '#rules-timetable':
          t = '"刷新生活"活动章程及说明_活动时间-立邦 iColor 装修设计鉴赏、设计师作品欣赏、访谈';
          d = "立邦icolor因爱之名刷新生活 活动时间，从2013年5月到9月，11月将揭晓评选结果，12月奖品发送。";
          k = '立邦刷新生活,活动时间,icolor设计大奖';

          break;
        default:

          t = '刷新生活"活动章程及说明_活动规则-立邦 iColor 装修设计鉴赏、设计师作品欣赏、访谈';
          d = "立邦icolor因爱之名刷新生活 活动规则，所有icolor注册的普通用户、室内设计师和家装公司均可参与，大众用户发布的爱的宣言和设计师上传的设计作品都必须是原创的。活动全程立邦不收取任何费用。";
          k = '立邦刷新生活,装修活动规则,icolor设计大奖';
          break;
      }

      document.title = t;
      $('meta[name=description]').attr('description', d);
      $('meta[name=keywords]').attr('keywords', k);
    }
  </script>  
<% end %> 
<div class="container-fluid">
  <div class="design_works pad_t60">
    <div class="wrapper rules pad_b40">
      <ul class="rules-nav clearfix">
        <li class="active"><a href="#rules-rules" id="monitor_link_326796">活动规则</a></li>
        <li class="pr">
          <a href="#rules-contents" id="monitor_link_326797">活动内容</a>
          <ul class="rules-subnav">
            <li><a href="#rules-public">大众用户</a></li>
            <li><a href="#rules-designers" class="noborder">家装公司/设计师</a></li>
          </ul>
        </li>
        <li><a href="#rules-awards" id="monitor_link_326798">活动奖项</a></li>
        <li><a href="#rules-regulations"  id="monitor_link_326799">评选细则</a></li>
        <li><a href="#rules-judges" id="monitor_link_326800">评委名单</a></li>
        <li><a href="#rules-timetable" id="monitor_link_326801">活动时间</a></li>
      </ul>
      <div class="rules-bin ft14">
        <div class="rules-rules pd30">
          <div class="rules-section">
            <h3 class="clearfix">
              <span class="btn-title_medium pull-left">
                <a href="javascript:;" class="pull-left">参与资格</a>
              </span>
            </h3>
            <ul>
              <li>• 所有iColor注册的大众用户、室内设计师和家装公司均可参与。</li>
            </ul>
          </div>
          <div class="rules-section">
            <h3 class="clearfix">
              <span class="btn-title_medium pull-left">
                <a href="javascript:;" class="pull-left">参与内容</a>
              </span>
            </h3>
            <ul>
              <li>
                <span>•</span>
                <p>立邦号召全国超过10000名专业家装公司和设计师，为您免费设计，打造您梦想的空间，让您全情投入刷新生活。</p>
              </li>
              <li>
                <span>•</span>
                <p>大众用户：发布您对新房的整体装修需求，上传新房房型图，即有机会免费征集多套定制家居设计。</p>
              </li>
              <li>
                <span>•</span>
                <p>家装公司和设计师：对大众用户发布的房型图进行设计，参加设计专业类及活动类奖项评选，更有机会达成商业合作。</p>
              </li>
            </ul>
          </div>
          <div class="rules-section">
            <h3 class="clearfix">
              <span class="btn-title_medium pull-left">
                <a href="javascript:;" class="pull-left">活动细则及注意事项</a>
              </span>
            </h3>
            <ul>
              <li>
                <span>•</span>
                <p>所有活动的参与者必须是iColor网站的注册用户。</p>
              </li>
              <li>
                <span>•</span>
                <p>大众用户上传的房型图必须为个人所有或有权装修的，需整体待装修的新房房型图（局部翻新不包括在内），每套房型图最多获得3位设计师的免费创意设计。</p>
              </li>
              <li>
                <span>•</span>
                <p>家装公司和设计师参与活动上传的作品，必须是个人设计的作品，不能有抄袭或剽窃他人设计成果、侵犯他人知识产权及其他合法权益的行为，否则责任自负。</p>
                <p class="font-italic fixie7">
                  房型图的设计，以创意方案为主。可上传3张图纸：一张平面图、一张主要立面图 和 一张效果图即可。作品以图片（JPG、GIF、PNG或BMP格式均可）的形式上传，单张图片大小不超过1M，且勿加任何水印。对于标注立邦色号或艺术漆色号的作品，评委会将重点优先考虑。<br />
                  设计作品中不得出现推荐非立邦品牌的涂料产品，或对立邦产品进行诋毁、贬低的成分。<br />
                  设计作品中不得出现推荐非立邦品牌的涂料产品，或对立邦产品进行诋毁、贬低的成分。
                </p>
              </li>
              <li>
                <span>•</span>
                <p>iColor将对所有大众用户上传的房型图 和 设计师上传的设计作品进行形式审查，不完整、不正确或不符合要求的均将视为无效或作的废，举办方有权取消其参与活动或评比的资格。</p>
              </li>
              <li>
                <span>•</span>
                <p>活动全程立邦将不收取任何费用。</p>
              </li>
              <!-- <li>
                      <span>•</span>
                      <p>活动最终解释权属iColor网站。</p>
              </li> -->
            </ul>
          </div>
          <div class="rules-section">
            <h3 class="clearfix">
              <span class="btn-title_medium pull-left">
                <a href="javascript:;" class="pull-left">版权说明</a>
              </span>
            </h3>
            <ul>
              <li>
                <span>•</span>
                <p>所有设计作品的知识产权和版权均归本人所有，iColor拥有展示、刊登和出版的无偿使用权。任何可能发生的各种形式的版权（署名）的纠纷将完全由设计者本人承担。</p>
              </li>
            </ul>
          </div>
        </div><!-- rules-rules -->
        <div class="rules-contents pd30 hide">
          <div class="rules-public">
            <h1>活动内容 针对大众用户</h1>
            <div class="rules-section">
              <h3 class="clearfix">
                <span class="btn-title_medium pull-left">
                  <a href="javascript:;" class="pull-left">活动时间</a>
                </span>
              </h3>
              <ul>
                <li>• 2013年6月 – 2013年9月</li>
              </ul>
            </div>
            <div class="rules-section noborder">
              <h3 class="clearfix">
                <span class="btn-title_medium pull-left">
                  <a href="javascript:;" class="pull-left">如何参与</a>
                </span>
              </h3>
              <ul>
                <li>
                  <span>•</span>
                  <p>
                    发布新房整体装修需求，上传新房房型图，就有机会获得设计师的免费创意设计。如将最终的装修合同上传，还有机会获得“希腊爱琴海双人蜜月游”。
                  </p>
                </li>
                <li>
                  <span>•</span>
                  <p>投票有奖：对所有设计作品进行投票，有机会赢取每周幸运奖。</p>
                </li>
                <!-- <li>
                        <span>•</span>
                        <p>咨询：咨询心仪的家装公司/设计师，3天内即可获免费专业解答。</p>
                </li> -->
              </ul>
            </div>
            <% if signed_in? %>
              <% if Story.where(user_id: current_user.id, is_save: true).count>0  %>
                <a href="javascript:alert('您已经上传过房型图！');" >我要装修</a>
              <% else %>
                <a href="/love/stories/new" class="rules-public-btn">我要装修</a>
              <% end  %>
            <% else %>
              <a href=" javascript:show_login();" class="rules-public-btn">我要装修</a>
            <% end %>
          </div>
          <div class="rules-designers hide">
            <h1>活动内容 针对大众用户</h1>
            <div class="rules-section">
              <h3 class="clearfix">
                <span class="btn-title_medium pull-left">
                  <a href="javascript:;" class="pull-left">活动时间</a>
                </span>
              </h3>
              <ul>
                <li>• 2013年6月 – 2013年9月</li>
              </ul>
            </div>
            <div class="rules-section noborder">
              <h3 class="clearfix">
                <span class="btn-title_medium pull-left">
                  <a href="javascript:;" class="pull-left">如何参与</a>
                </span>
              </h3>
              <p>
                在<a href="/love/stories">我能设计</a>频道挑选大众用户上传的房型图，下载、设计后提交，参加设计专业类及活动类奖项评选。
              </p>
            </div>
            <a href="/love/stories" class="rules-designers-btn">我要设计</a>
          </div>
        </div><!-- rules-contents -->
        <div class="rules-awards mt30 clearfix hide">
          <%= image_tag 'rules/banner.jpg' %>
          <dl style="width:51%;">
            <dt>
            <%= image_tag 'rules/title3_1.jpg' %>
            </dt>
            <dd class="awards-cate">活动类奖项</dd>
            <dd class="awards noborder">
              <h3>iColor刷新大奖</h3>
              <p>• 与大众用户达成合作，并由用户上传了合同</p>
            </dd>
            <dd class="clearfix two_rows noborder">
              <dl class="clearfix" style="width:auto;">
                <dd class="awards awards_nine pull-left nomargin noborder">
                  <h3 style="margin-top:20px;">网络人气奖</h3>
                </dd>
              </dl>
            </dd>
            <dd class="awards awards_sixth">
              <h3 style="margin-top:20px;">注册&amp;投票幸运奖</h3>
            </dd>
            <dd class="awards-cate">设计专业类奖项</dd>
            <dd class="awards awards_third noborder">
              <h3 style="margin-top:10px;">设计专项奖</h3>
              <p>• 最佳视觉设计    • 最佳配色设计     • 最佳空间规划</p>
            </dd>
            <dd class="awards awards_second noborder">
              <h3 style="margin-top:10px;">特殊墙面效果奖</h3>
              <p>• 运用立邦艺术漆效果做原创设计</p>
            </dd>
          </dl style="width:49%;">
          <dl>
            <dt>
            <%= image_tag 'rules/title3_2.jpg' %>
            </dt>
            <dd class="awards-cate">活动类奖项</dd>
            <dd class="awards awards_eight noborder">
              <h3>iColor刷新大奖</h3>
              <p>• 与设计师/家装公司达成合作，并上传了合同</p>
            </dd>
            <dd class="awards awards_sixth noborder">
              <h3 style="margin-top:20px;">注册&amp;投票幸运奖</h3>
            </dd>
          </dl>
        </div><!-- rules-awards -->
        <div class="rules-regulations pd30 hide">
          <div class="rules-section">
            <h3 class="clearfix">
              <span class="btn-title_medium pull-left">
                <a href="javascript:;" class="pull-left">评选过程</a>
              </span>
            </h3>
            <ul>
              <li>• 由国内外著名室内设计专家在每个城市参与活动的大众用户、设计师和家装公司中评选出获奖选手。</li>
            </ul>
          </div>
          <div class="rules-section">
            <h3 class="clearfix">
              <span class="btn-title_medium pull-left">
                <a href="javascript:;" class="pull-left">评比标准</a>
              </span>
            </h3>
            <ul>
              <li>
                <span>• 大众用户</span>
                <p class="font-italic fixie7">发布的新房装修需求，能提倡积极向上的人生态度和健康的世界观、人生观和爱情观，传递对美好生活的正能量。对于能主动和设计师沟通洽谈，达成合作，并上传合同的参与者，在活动奖项内给与重点考虑。</p>
              </li>
              <li>
                <span>• 家装公司/设计师</span>
                <p class="font-italic fixie7"><span class="cr fb">活动类奖项：</span>针对房型图的设计，能准确将房型图的特点及用户需求完美结合，表达出用户对家的特别向往。对于能体现家的刷新对生活或爱情的美好影响的设计作品，予以优先考虑。</p>
                <p class="font-italic fixie7"><span class="cr fb">专业类奖项：</span>上传的设计作品，需提倡对楼盘特色的充分及合理利用，强调色彩与空间的和谐搭配。同时，作品能注重室内设计的创新与创意，强调室内设计的以人为本，注重实用功能的合理性及人性化的设计。另外对于能将立邦艺术漆效果融入室内设计中的作品，将优先考虑。</p>
              </li>
            </ul>
          </div>
        </div><!-- rules-regulations -->
        <div class="rules-judges pd30 hide">
          <h3 class="clearfix">
            <span class="btn-title_medium pull-left">
              <a href="javascript:;" class="pull-left">评委名单</a>
            </span>
          </h3>
          <table class="rules-table1">
            <tbody><tr>
                <td width="540">北京筑邦建筑装饰工程有限公司总建筑师</td>
                <td class="text-center">赵虹</td>
              </tr>
              <tr>
                <td width="540">东南大学建筑学院教授、博士生导师</td>
                <td class="text-center">高祥生</td>
              </tr>
              <tr>
                <td width="540">鸿扬集团首席设计师、鸿扬集团陈志斌设计事务所创意总监</td>
                <td class="text-center">陈志斌</td>
              </tr>
              <tr>
                <td width="540">中国建筑设计研究院环境艺术设计研究院室内所所长</td>
                <td class="text-center">郭晓明</td>
              </tr>
              <tr>
                <td width="540">苏州金螳螂建筑装饰股份有限公司设计研究总院副总设计师</td>
                <td class="text-center">舒剑平</td>
              </tr>
              <tr>
                <td width="540">全国杰出中青年室内建筑师、艺术院校副教授</td>
                <td class="text-center">李进</td>
              </tr></tbody>
          </table>
        </div><!-- rules-judges -->
        <div class="rules-timetable pd30 hide">
          <h3 class="clearfix">
            <span class="btn-title_medium pull-left">
              <a href="javascript:;" class="pull-left">活动时间</a>
            </span>
          </h3>
          <ul class="rules-timeline clearfix">
            <li>5月</li>
            <li>6月</li>
            <li>7月</li>
            <li>8月</li>
            <li>9月</li>
            <li>10月</li>
            <li>11月</li>
          </ul>
          <table class="rules-table2 mt30">
            <tbody><tr>
                <th align="left" width="560">因爱之名•刷新生活——立邦号召万名设计师为您免费设计新家</th>
                <th>评选揭晓</th>
                <th>奖品发送</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr></tbody>
          </table>
        </div><!-- rules-timetable -->
      </div><!-- rules-bin -->
      <div class="redline_b4 pad_t60"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript">
  $(function() {
    $('.rules-nav').on('click', '> li > a', function() {
      var hash = this.hash.substr(1);
      $(this).parent().addClass('active').siblings().removeClass('active');
      $('.' + hash).show().siblings().hide();
    }).on('click', 'ul a', function() {
      var hash = this.hash.substr(1);
      $('.' + hash).show().siblings().hide();
      $(this).closest('ul').siblings('a').click();
    });
  });
</script>