<%- content_for :head do %>
    <%= stylesheet_link_tag "review_net"%>
<%- end %>

<div class="wrapper padt25">
				<div class="shadow">
					<div class="section">
						<div class="tc"><img src="<%= asset_path "design/trend/act_11-12.jpg" %>"></div>
						<div class="act_year20">
							<h4><a class="fr" href="/users/sign_up"><img src="/assets/register.jpg"></a><img src="<%= asset_path "design/trend/act_11-12_tit.png" %>"></h4>
							<p><strong class="fb">立邦20周年庆，感恩大回馈！</strong></p>
							<p>只要您是iColor的注册设计师，并与您的客户一起至立邦专卖店选购产品，出示此活动通知打印稿并秀出您的iColor身份就能在次月获赠立邦1881色卡或话费一份。</p>
							<h5 class="font_red padt25">活动规则：</h5>
							<p><em>Step 1</em>注册成为iColor设计师会员</p>
							<p><em>Step 2</em>带您身边的消费者进立邦专卖店</p>
							<p><em>Step 3</em>出示您的活动促销EDM/通知短信</p>
							<p><em>Step 4</em>留下您的联系方式及iColor用户名</p>
							<p><em>Step 5</em>次月iColor统一派送1881色卡</p>
							<h5 class="font_red padt25">活动时间：</h5>
							<p>2012年11月12日 至 2012年12月10日</p>
						</div>
					</div>
				</div>
</div>
<div class='sub_bot pr'>
		<div class="pager ft12"></div><!--pager ends-->
</div><!--sub_bot ends-->