<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_shenyang event_xuzhou ft14 clear">
				<h1>
					2012立邦和家装界 精英携手刷新 徐州站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<h2>记者现场采访</h2>
				<h4>一    采访人：徐州茂源油漆有限公司 总经理 李桂柱</h4>
				<img src="<%= asset_path "news/event/event_img16.jpg"%>" class="fr" />
				<p>【记者】：您是什么时候和立邦开始合作的？立邦的什么因素最吸引您？<br />
					【茂源油漆李桂柱】我是2004年就加入立邦合作伙伴队伍的“老立邦人”，当时根据市场调查，我发现立邦拥有强大的品牌效应，果断选择立邦,并且与之合作差不多快10年。<br />
					【记者】：立邦获选了2012中国人最喜爱的品牌，您怎么看待这件事？【茂源油漆 李桂柱】我一直很欣赏立邦的品牌战略以及完善的服务保障，立邦被评为2012年中国人最喜爱的品牌，我觉得这是实至名归，因为立邦真正做到了把客户放在第一，而且产品本身质量优良、渠道完善，我会一直选择立邦，并且把立邦推广给更多的消费者。<br />
					【记者】：立邦iColor网站平台推出后，能给装饰公司带来哪些帮助？<br />
					【茂源油漆 李桂柱】立邦的iColor平台网站非常实用，我觉得现在优秀的设计师在装修中占据了越来越重要的位置，他们正需要这样的平台来互相学习，并且展示给消费者,我会鼓励认识的所有设计师一起来加入iColor。</p>
					<img src="<%= asset_path "news/event/event_img17.jpg"%>" />
					<h4>二    采访人：广州美星装饰公司的张志总经理</h4>
					<p>【记者】：张总什么时候开始和立邦合作的？为什么会选择立邦？<br />
						【美星装饰 张志】我之前在广州做立邦，后来在徐州有了分公司,之所以选择立邦，是因为两个关键词:“品牌和服务”,我自己的公司成立最初,因为业务的原因,经常联系立邦公司,希望能够得到帮助和服务,立邦公司每次都是专业的认识上门服务,保证到了自己的客户满意而归,十年以来一直如。,<br />
						【记者】：这次立邦推出的iColor网站您怎么看待？<br />
						【美星装饰 张志】这次的iColor网站可以帮助优秀装饰公司进行展示和宣传,我很感谢立邦,并且会发动更多的家装朋友来分享这个优质平台.</p>
						<br clear="all" /><br clear="all" />
						<h4>三    采访人：徐州佳丽华装饰公司优秀设计师 韩文莉</h4>
						<p>【记者】：您觉得徐州消费者在装修时，最关注的要素是什么？<br />
							【佳丽华装饰  韩文莉】目前徐州消费者在装修时最关注的两点是——健康和环保，相信目前整个市场都是这样，百姓越来越关注这些。<br />
							【记者】：您觉得立邦能够满足这样的市场需求吗？<br />
							【佳丽华装饰 韩文莉】：立邦的产品品质优良，对于健康环保方面更是非常关注，加上颜色种类丰富，在我的设计方案中，总是得到客户的肯定，能够满足这些需求。<br />
							【记者】：这次iColor网站的推出，您怎么看待？<br />
							【佳丽华装饰 韩文莉】这次的iColor网站平台的推出，可以有效帮助更多的装修公司和我们设计师进行品质提升，我非常愿意积极参与。</p>
						</div>
					</div><!--section ends-->
				</div><!--shadow ends-->
			</div><!--wrapper ends-->
			<div class='sub_bot ft12 pr'>
				<div class="pager ft12">
					<a href="/designer_events/city/xuzhou1?page=1">1</a>
					<a href="/designer_events/city/xuzhou1?page=2" class="current">2</a>
				</div><!--pager ends-->
			</div><!--sub_bot ends-->