<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_nanjing event_xuzhou ft14 clear">
				<h1>
					2012立邦和家装界 精英携手刷新 徐州站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<div class="clear noborder">
					<img src="<%= asset_path "news/event/event_img18.jpg"%>" style="margin:0 30px 0 80px;" />
					<p style="width:366px;"> 继2012年6月19日立邦iColor全国家装公司见面会南京站的活动顺利召开后,6月20日温暖的午后江苏省第二站—徐州iColor全国家装公司见面会也热闹开场，来自徐州当地的将近50位家装公司代表和设计师出席了活动。</p>
				</div>
				<div class="clear">
					<img src="<%= asset_path "news/event/event_img19.jpg"%>" class="fr" />
					<p style="width:450px;">活动开始，立邦涂料有限公司的市场部高级经理周颖女士为大家介绍了立邦全新推出的iColor 网站，网站优质的用户体验和视觉感受让在座来宾耳目一新，内容包括“海量案例，施工工艺，免费咨询，灵感来源”等，赢得在座家装界同仁的关注和好评。通过这个平台，可以大范围曝光优秀的家装公司，为他们做免费的品牌宣传，做到在最短的时间内打造最旺人气，为需要装修的消费者提供更精准的选择。平台还注重线下的交流和学习，会安排组织全国优秀的设计师参加立邦赞助的高级室内设计研修班，保证设计师水平的不断提升。作为消费者，可以参考网站上的案例作品，并且与相关设计师取得联系，方便快捷。</p>
				</div>
				<div class="clear pr">
					<img src="<%= asset_path "news/event/event_img20.jpg"%>" style="margin-right:5px;" />
					<p style="width:525px;position:absolute;top:10px;right:10px;">随后立邦苏州培训学校讲师朱平先生详细讲解了当地家装行业的市场分析以及立邦此次推出的新产品优势分析，并且与立邦应用服务中心驻省工程师张位国先生一起给大家表演了个小魔术，在短短五分钟就把原木色的小凳子变成了仿红木，原来是运用了木器漆“擦乐宝”产品轻松简单。</p>
					<p style="width:410px;float:right;margin-top:166px">现场还有“米兰诺艺术漆”及“缤纷净味12色”DIY产品的使用方法，家装公司的伙伴亲眼见证立邦产品轻松涂刷的实在好处，纷纷主动要求上台亲身尝试这些新工艺，台上台下互动密切，大家对这些效果都表示赞赏并纷纷表示愿意在自己接下来的设计中加入立邦的这些新元素，为自己客户带来全新的家居体验。</p>
				</div>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/xuzhou1-1" class="current">1</a>
		<a href="/designer_events/city/xuzhou1-2">2</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->