<div class="share_area line_b_dot mb25 group">
  <!-- JiaThis Button BEGIN -->
  <div id="ckepop" class=" topic_share">
    <span class="jiathis_txt">一键分享：</span>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_kaixin001"></a>
    <a class="jiathis_button_renren"></a>
    <a class="jiathis_button_qzone"></a>
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    <a class="jiathis_counter_style"></a>
  </div>
  <script type="text/javascript" charset="utf-8">
		var jiathis_config = {
		    boldNum:4,
		    siteNum:4,
		    showClose:false,
		    sm:"kaixin001,renren,tsina,tqq",
		    imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
		    imageWidth:26,
		    marginTop:150,
		    url:"http://www.icolor.com.cn",
		    title:"#icolor#",
		    summary:"分享一篇精彩家装热点话题---<%= @topic.title %>，更多家装资讯，尽在---立邦iColor网",
        pic:"<%= @topic.preview_img_file_name unless @topic.preview_img_file_name.blank? %>",
        data_track_clickback: true
		}
  </script>
  
  <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
  <!-- JiaThis Button END -->
</div><!--share_area ends-->