<%- content_for :head do %>
  <style type="text/css">
    .shadow {
      zoom: 1;
    }
  </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' alt="" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">大师殿堂</a><span class="arrow_2"></span><a class="fb" href="#">热点话题</a>
  </div><!--sub_nav ends-->
  <div class='wrapper hot_topic pt25 pb30'>
    <div class="shadow mt25 mb15">
      <div class="section">
        <div class="topic_box">
          <div class="topic_tit">
            <h2>家居色彩与主人气质</h2>
            <h3><span>来源：中华室内设</span><span>计网时间：2012-1-14</span><span>浏览：221次</span></h3>
          </div><!--topic_tit ends-->
          <div class="topic_con">
            <p>家居色彩与主人气质有关吗？当然有关了。不同年龄，不同学识，不同家庭类别，不同性格人群，或者不同爱好以及生活习惯，都能够明明白白显露在家居色彩的选择与布置上，那么具体是如何关联的呢？一起来看看吧。</p>
            <p>一、青年型。采用柠檬黄、嫩绿和红色，以此显示明快、热情，同时含有一份恬静。地板可大胆地选用红色，窗帘则用蓝色，以形成对比。倘若墙壁是红色，沙发便用鲜红或黑色，佐以新潮饰物，形成充满生机的格调。</p>
            <img src="/assets/master/topic_1.jpg" alt="" />
            <p>二、学者型。可以用紫色、玫瑰色、咖啡色为主，给人一种幽婉、深沉和华贵的感觉。紫色的墙壁、古铜色的书架或书柜，沙发和茶几则用浅藕荷色的，墙角佐以绿色的植物。地板最好也用古铜色，比书柜的色要更深一些。</p>
            <p>三、青年夫妇型。宜以粉色、橙色、淡蓝色为主，既柔和又轻松。</p>
            <img src="/assets/master/topic_2.jpg" alt="" />
            <p>四、老人型。以中性为主，不要太强烈，也不要太压抑。色彩不要杂乱，主要用一些温柔沉静型的色调，起到舒畅性情的作用。</p>
            <p>五、稳重型。多用白色或浅绿色，多用于性情急躁，感情易冲动的人。</p>
            <p>六、亮丽型。用粉红为基色，沙发、窗帘靠垫也是粉色，和墙壁形成一体，显示新潮的居室。地板可采用深蓝色，沙发和家具则用茶色，墙壁用白色或淡黄。这种色彩的搭配比较轻快，新潮主要显示在墙挂物的选择和小饰物的风格上。</p>
            <img src="/assets/master/topic_3.jpg" alt="" />
            <p>七、豪华型。主要应选用酒红色。沙发、床罩和窗帘均用此色。地毯可用老红色，家具用黑色。这样的居室，墙壁可用米色的壁约装饰，主要的饰物选蓝色为衬托。</p>
            <p>八、现代型。打破常规，大胆运用色彩，有用黑、白对比或色块叠加等方法并辅以不规则线条来设计，产生强烈的视觉效果，给人以现代感。主要用于追求个性派一族。</p>
          </div><!--topic_con ends-->
        </div><!--topic_box ends-->

        <div class="share_area group">
          <!-- JiaThis Button BEGIN -->
          <div id="ckepop" class=" topic_share">
            <span class="jiathis_txt">一键分享：</span>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_kaixin001"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_qzone"></a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <a class="jiathis_counter_style"></a>
          </div>
          <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
          <!-- JiaThis Button END -->
        </div><!--share_area ends-->
      </div>
    </div><!--shadow ends-->
  </div><!--wrapper ends-->
  <div class="sub_bot pr">
    <div class="pager topic_pager ft12">
      <a href="#" class="prev"><span></span>上一篇</a>
      <a href="#" class="next">下一篇<span></span></a>
    </div><!--pager ends-->
  </div><!--sub_bot ends-->
</div><!--main ends-->
