<div class="reg_list fl">
  <label for="uesername">公司名称：</label>
  <%= f.text_field :name_of_company, :class => "company fl" %>
</div><!--reg_list ends-->
<div class="reg_list fl">
  <label for="uesername">公司地址：</label>
  <%= f.text_field :company_address, :class => "company fl" %>
  <span class="reg_tip3 fl">请填写真实地址以便发送奖品</span>
</div><!--reg_list ends-->