<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section haikou">
      <div class="items noborder">
        <h3>现场采访实录</h3>
        <p class="mt25">立邦南区渠道部经理陆铭在活动中接受了记者的采访。首先，他对本次的活动表示满意，大大的超出了事先的预料，并表示iColor这平台接连了海口的装饰公司及设计师，希望能通过这个平台大大的提升大家彼此间的交流和互动。陆总表示随着经济的发展，海口这样的城市也在快速的紧跟一些北上广的发达城市的脚步。并且越来越多的消费者因为工作的繁忙已经在装修方式上倾向选择了装修公司。针对海口这个城市目前的装修特点，还是多数会选择为自己购买材料，自己装修的阶段，这个装修特点还是有别于其他一线发达城市的。今年立邦在海口的整体市场情况非常好，今天整体的业绩也是上升的喜人趋势。对于明年陆总表示了乐观，但同时也希望自身更加完善，借助iColor平台与更多的装修公司更紧密的合作。</p>
        <p> 来自海口的立邦经销商范总在采访中表示，今年海南省对各市县城区形象改造投入力度大，带动了乡镇，农村的经济发展，我们从中找到了机遇，遇见了更大的市场潜力，但同时，其他品牌也开始和立邦竞争这个市场；但我们在分销、油工，尤其是家装公司的深耕上加大了力度，寄望能通过立邦公司的支持，将共同发展潜力最大化。相对于其他品牌，立邦对于经销商的支持，无论是硬件或软件上，都比较多一些，例如今年的优化专卖店支持，为单调的油漆店带来了生机，也为我们带来了更多的商机。</p>
        <p>来自华浔品位装饰公司的曾经理在采访中表示，目前楼市的危机之下我们公司并未受到太大的影响，对于和立邦的合作，我们最看中的是立邦漆的环保性和多元化，可以让我们对消费者提供更多的服务。也是我们一直选择立邦的原因，此次招募会也是让我们受益良多。</p>
        <p>来自异博奇创的张经理在访谈中向笔者阐述，张经理表示此次活动对于一些没有参加的装饰公司是一个莫大的遗憾，深感此次活动的意义非凡，对于日后客户的发展，产品的深入了解，绝对是双赢的。对于iColor这个平台也寄予了厚望，非常符合目前80后的主流消费人群，也给予了一些年轻的设计师交流的机会。更希望今后能坚持这个活动或者类似的活动。也坚定了我们日后更好的服务越来越多的消费者，让他们爱家的理想在现实中呈现。</p>
      </div>
    </div>
  </div>
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/haikou-1">1</a>
    <a href="/designer_events/city/haikou-2">2</a>
    <a href="/designer_events/city/haikou-3" class="current">3</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->