<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section haikou">
      <div class="items noborder">
        <p>之后，立邦涂料（中国）有限公司市场本部色彩组杨洁为与会者详细介绍了立邦i Color网站，包括注册人数以及网站的七大主要板块的构成，内容包括＂大师殿堂，设计鉴赏，业主通道，漆光异彩＂等，赢得了在场参与者的一致好评和认可。另外发布了年度色彩趋势KOL视频及艺术漆效果施工视频，另在场各位与会人员叹为观止，叫好不绝！大家也纷纷表示i color网站不仅能够直接引导消费者在购买期疡适合的搭配风格，还能帮助家装公司更好的提高名气与知名度，为其公司的发展搭建良好的平台。消费者在使用iColor网站的过程中，可以将色彩的搭配变的更加简单与便捷，而设计师不仅可以通过i Color网站获得自己所需的资源，还可以通过iColor举办的线下活动与其他设计师进行交流与互动，而这一切均是免费的资源，是完全公益性的开放平台。</p>
      </div>

      <div class="items noborder tc">
        <!-- <p class="ft18 pt50">7月31日，立邦iColor家装公司见面会杭州站顺利召开，来自杭州当地的近50位家装公司的代表及设计师一同出席了本次活动。</p>      -->
        <img src="<%= asset_path "design/d_act_list/haikou2_1.png" %>">
      </div>

      <div class="items group noborder">
        <img class="fl" src="<%= asset_path "design/d_act_list/haikou2_2.png" %>">
        <p>随后，立邦AST经理朱晟为现场的活动参与者针对立邦的施工工艺进行了讲解与演示，并向与会者强调了施工过程中所需要的注意事项和困惑，于此同时，朱晟还为在场者做了2012流行家装风格解析，就现代简约，个性元素与立邦产品之间的关联进行了深入的分析。</p>
        <p>在概念介绍之后，朱经理为在场者演示了立邦＂米兰诺艺术漆＂的施工手法，并现场做了详细的示范，在场者纷纷踊跃参与，亲身体验立邦＂米兰诺艺术漆＂在施工上的简便与便捷。</p>
      </div>
    </div>
  </div>
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/haikou-1">1</a>
    <a href="/designer_events/city/haikou-2" class="current">2</a>
    <a href="/designer_events/city/haikou-3">3</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->