<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section haikou">
      <div class="items">
        <p style="padding:0 160px;font-weight:bold;">        2012年10月24日15:00，立邦iColor家装公司见面会在椰城之乡海口赛仑吉地大酒店顺利召开，来自海口当地的近30位家装公司的代表及设计师一同出席了本次活动。</p>
      </div>

      <div class="items tc">
        <!-- <p class="ft18 pt50">7月31日，立邦iColor家装公司见面会杭州站顺利召开，来自杭州当地的近50位家装公司的代表及设计师一同出席了本次活动。</p>			 -->
        <img src="<%= asset_path "design/d_act_list/haikou1_1.png" %>">
      </div>

      <div class="items noborder">
        <p>在主持人的隆重介绍之后，立邦iColor见面会正式开始。首先，立邦海口粤西销售部经理陆静及丰丰南装饰材料工程有限公司总经理范桂山致辞，热烈欢迎并感谢各位家装界精英与设计师们参与本次活动，并对iColor网站的性质与运营方式进行了简短的介绍，作为一个完全公益性的网站，iColor无疑走在了涂料行业的前列。</p>
      </div>

      <div class="items tc noborder">
        <img src="<%= asset_path "design/d_act_list/haikou1_2.png" %>">
      </div>
    </div>
  </div>
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/haikou-1" class="current">1</a>
    <a href="/designer_events/city/haikou-2">2</a>
    <a href="/designer_events/city/haikou-3">3</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->