<div class="wrapper pt25 pb30">
  <div class="shadow">
    <div class="section">
      <div><%= image_tag "fstar/fstar1_1.jpg" %></div>
      <div><%= image_tag "fstar/fstar2_1.jpg" %></div>
      <div><%= image_tag "fstar/fstar2_2.jpg" %></div>
    </div>
  </div>
</div>
<div class="sub_bot pr">
  <div class="pager ft12">
    <a href="/designer_events/city/futurestar-1" class="prev"><span></span>上一页</a>
    <a href="/designer_events/city/futurestar-1">1</a>
    <a href="#" class="current">2</a>
    <a href="/designer_events/city/futurestar-3">3</a>
    <a href="/designer_events/city/futurestar-3" class="next">下一页<span></span></a>
  </div><!--pager ends-->
</div>