<a href="<%= user_asks_path(current_user) %>">
	<strong class="text-error text-right">
		<%= truncate(current_user.display_name, length: 12) %>
	</strong>
</a>
<a>的主页</a>
<%= link_to '退出', destroy_user_session_path, :method => :delete %>
