<div class="refresh-logo nomargin fl">
  <%= image_tag('baicheng/refresh/leftlogo.png') %>
  <a href="javascript:;" title="活动近况" class="e-recent">活动近况</a>
  <a href="#" title="上传作品 Upload" class="e-upload">上传作品 Upload</a>
  <a href="#" title="发表故事 征集设计" class="e-publish">发表故事 征集设计</a>
</div><!-- refresh-logo -->
