<div id="breadcrumbs">
 <ul class="breadcrumb">
  <li class="active"><a href="/manage/home_heads"><b style='color:red;'>图片头条</b></a><span>|</span></li>
  <li><a href="/manage/home_liter_heads">文字头条</a><span>|</span></li>
  <li><a href="/manage/home_image_lists">图片列表</a></li>
 </ul>
</div>
