<div class="text-center mt10"><%= image_tag 'gifts/newyear/2013newyear1.jpg'%></div>
<div class="text-center"><%= image_tag 'gifts/newyear/2013newyear2.jpg'%></div>
<div class="text-center"><%= image_tag 'gifts/newyear/2013newyear3.jpg'%></div>