<script type="text/javascript ">
    $(function() {

        Object.size = function(obj) {
            var size = 0, key;
            for (key in obj) {
                if (obj.hasOwnProperty(key)) size++;
            }
            return size;
        };

        var color_codes = {
            <%- color1, color2, color3 = search_color_code(@design.recommend_color1), search_color_code(@design.recommend_color2), search_color_code(@design.recommend_color3) %>

            '<%= @design.id %>': {
                <%-
                codes = []
                [color1, color2, color3].each_with_index do |color, index|
                    unless color.blank?
                        codes << "'#{index+1}': { 'rgb': '#{color.rgb}', 'code': '#{color.code}', 'name': '#{color.name}', 'category': '#{@design.send("recommend_color_category#{index+1}")}'}"
                    end
                end
                %>
                <%= codes.join(",") %>
            },
        };

        $('.palette').mouseover(
                function() {

                    var id = $("#gallery_caption").text() * 1;
                    if (id == 0) {
                        id = <%= @design.try(:id) %>
                    };

                    code = color_codes[id];

                    // Get the size of an object
                    var size = Object.size(code);
                    var $ul = $(this).find('ul');
                    var tmp = '';
                    for (i = 1; i <= size; i++) {
                        if (new RegExp("^FM|^WM").test(code[i].code)) {
                            tmp += '<li><div class="colorblock" style="background:url(/assets/color_code/' + code[i].code + '.png)"></div><h5>' + code[i].category + '</h5><p>立邦木器漆(' + code[i].code + ')</p></li>';
                        } else {
                            tmp += '<li><div class="colorblock" style="background-color:rgb(' + code[i].rgb + ')"></div><h5>' + code[i].category + '</h5><p>立邦(' + code[i].code + ')' + code[i].name + '</p></li>';
                        }
                    };
                    $ul.html(tmp);
                    $('.desc').removeClass().addClass('desc desc' + size);
                }).mouseout(function() {
                    var $ul = $(this).find('ul');
                    $ul.html('');
                });
    });
</script>