<%- content_for :tail do %>
	<script type="text/javascript">
		$(function() {
			$('.edit_recommend').bind('click',function(){
				var $id = $(this).data('recommend-id');
				$.ajax({
					type: "GET",
          url: "<%= edit_recommend_home_recommends_path %>",
          data: {recommend_id : $id}
				});
			});
		});
	</script>
<%- end %>
<div class="row-fluid">
	<div style="margin:15px;">
		<div class="span12">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>操作</th>
						<th>排序</th>
						<th class="hidden-480">
							标题
							<b style="color:red;">(最多输入20个汉字)</b>
						</th>
						<th>链接</th>
						<th class="hidden-phone">
							<i class="icon-time bigger-110 hidden-phone"></i>
							最后修改时间
						</th>
					</tr>
				</thead>

				<tbody class="tbody1">
					<%= render :partial => 'form', locals: { recommends: @recommends } %>
				</tbody>
			</table>
			<%= link_to '最上方插入一行', delete_last_home_recommends_path, class: 'btn btn-small', confirm: '此操作会删除最后一行记录,是否继续?', method: :post, remote: true %>
		</div><!--/span-->
	</div>
</div>
