<%- content_for :head do %>
  <style type="text/css">
    span.arrow_1 {
      right: 257px;
    }

    span.arrow_2 {
      right: 185px;
    }

    span.arrow_3 {
      right: 111px;
    }
  </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="index.html">首页</a>
    <span class="arrow_1"></span>
    <a href="#">实用工具</a>
    <span class="arrow_2"></span>
    <a href="#">配色工具</a>
    <span class="arrow_3"></span>
    <a class="fb" href="case.html">色彩搭配案例</a>
  </div><!--sub_nav ends-->
  <div class='wrapper case'>
    <div class="news_top">
      <div class="tools_select clear">
        <a href="tools.html" class="tools_soft"></a>
        <a href="case.html" class="tools_case now"></a>
        <a href="app.html" class="tools_app"></a>
      </div>
    </div><!--news_top ends-->
    <div class="case_sub pr ft14">
      <span><span>免费</span>索取</span>（可在线下载或至立邦专卖店免费索取！）
    </div><!--case_sub ends-->
    <div class="shadow">
      <div class="section">
        <div class="case_big ft18 fb">
          <div class="case_display pr">
            <ul class="case_container pr">
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
              <li>
              <img src="/assets/news/case_big.jpg" />
              <a href="#" class="pdf_down db pa"></a>
              </li>
            </ul><!--case_container ends-->
            <div class="overlay pa">
              <div class="case_list pr">
                <ul>
                  <li class="present"><img src="/assets/news/case_img1.jpg" /></li>
                  <li><img src="/assets/news/case_img2.jpg" /></li>
                  <li><img src="/assets/news/case_img3.jpg" /></li>
                  <li><img src="/assets/news/case_img4.jpg" /></li>
                  <li><img src="/assets/news/case_img5.jpg" /></li>
                  <li><img src="/assets/news/case_img6.jpg" /></li>
                  <li><img src="/assets/news/case_img4.jpg" /></li>
                  <li><img src="/assets/news/case_img5.jpg" /></li>
                  <li><img src="/assets/news/case_img6.jpg" /></li>
                </ul>
              </div><!--case_list ends-->
            </div><!--overlay ends-->
          </div><!--case_display ends-->
          色彩搭配案例
        </div><!--case_big ends-->
        <div class="crossline clear">
          <div class="case_small ft18 fb fl">
            <div class="small_show pr">
              <a href="#"><img src="/assets/news/cases1.jpg" /></a>
              <div class="hot_icon pa"></div>
            </div><!--small_show ends-->
            <span>流行色彩手册</span>
            <a href="#" class="pdf_down fr"></a>
          </div><!--case_small ends-->
          <div class="case_small ft18 fb fr">
            <div class="small_show pr">
              <a href="#"><img src="/assets/news/cases2.jpg" /></a>
            </div><!--small_show ends-->
            <span>靓彩豪华手册</span>
            <a href="#" class="pdf_down fr"></a>
          </div><!--case_small ends-->
        </div><!--crossline ends-->
      </div><!--section ends-->
    </div><!--shadow ends-->
  </div><!--wrapper ends-->
</div><!--main ends-->
