<%- content_for :head do %>
  <style type="text/css">
    span.arrow_1 {
      right: 257px;
    }

    span.arrow_2 {
      right: 185px;
    }

    span.arrow_3 {
      right: 111px;
    }
  </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src="<%= asset_path "news/title_tools.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="index.html">首页</a>
    <span class="arrow_1"></span>
    <a href="#">实用工具</a>
    <span class="arrow_2"></span>
    <a href="#">配色工具</a>
    <span class="arrow_3"></span>
    <a class="fb" href="#">在线配色软件</a>
  </div><!--sub_nav ends-->
  <div class='wrapper'>
    <div class="news_top">
      <div class="tools_select clear">
        <a href="tools.html" class="tools_soft now"></a>
        <a href="case.html" class="tools_case"></a>
        <a href="app.html" class="tools_app"></a>
      </div>
    </div><!--news_top ends-->
    <div class="tools_bg clear">
      <div class="tools_left fl">
        <img src="<%= asset_path "news/tools_img.jpg" %>" />
        <a href="#" class="tools_use db"></a>
        <ul>
          <li class="trans fl ft12"><a href="#" class="one_key_forword">转发(1)</a></li>
          <li class="commt fl ft12"><a href="#">评论(2)</a></li>
        </ul>
      </div><!--tools_left ends-->
      <div class="tools_right fr">
        <h1>爱彩电脑配色工具</h1>
        <p>想要为你家居的室内外做色彩搭配吗？立邦公司开发的配色工具将令你的色彩搭配变得简单而直观。马上试用一下吧。想要为你家居的室内外做色彩搭配吗？立邦公司开发的配色工具将令你的色彩搭配变得简单而直观。马上试用一下吧。</p>
        <a href="#" class="tools_service db"></a>
        <a href="#" class="tools_guide db"></a>
      </div><!--tools_right ends-->
    </div><!--tools_bg ends-->
  </div><!--wrapper ends-->
  <div class='sub_bot pr'></div><!--sub_bot ends-->
</div><!--main ends-->
