<div class="main industry_news">
  <div class='sub_title tr'>
    <img src="/assets/design/title_news.png" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">行业资讯</a><span class="arrow_2"></span><a class="fb" href="#">色彩趋势</a>
  </div><!--sub_nav ends-->
  <div class="wrapper group color-trend">
    <div class="shadow">
      <div class="section">
        <div class="tit_bg"><h2>色彩趋势2012</h2><a href="#">下载手册</a></div>
        <div class="galleryF_wrap">
          <div class="galleryF">
            <div class="inner">
              <dl><dt><a href="#">轻舞飞扬</a></dt>
                <dd><img src="/assets/design/pj1.jpg"/></dd>
              </dl>
              <dl class="contract"><dt><a href="#">芬芳土地</a></dt>
                <dd><img src="/assets/design/pj2.jpg"/></dd>
              </dl>
              <dl class="contract"><dt><a href="#">桃源水境</a></dt>
                <dd><img src="/assets/design/pj3.jpg"/></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a class="prev" href="#"><span></span>上一页</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">...</a>
      <a href="#">20</a>
      <a class="next" href="#">下一页<span></span></a>
    </div>
  </div><!--sub_bot ends-->
</div>
