- content_for :head do
  = stylesheet_link_tag 'manage/dialog_celebrity.css.scss'
  = javascript_include_tag "manage/dialog_celebrities/celebrity_notes.js.coffee"
  = javascript_include_tag '/xheditor/xheditor-1.1.13-zh-cn.min.js'
