= render "head"
#celebrity_questions
  %span.ltitle
    名人手记管理
  .mt20.ml20{ style: "color: red;"}
    = flash[:alert] if flash[:alert]
= simple_form_for @resource,:url => dialog_celebrities_celebrity_notes_path,:method => "post",:html => {:class => "form-horizonta mt20 ml20",:multipart => true} do |f|
  = render :partial => "form", :locals => { f: f}

:coffeescript
  $ ->
    D.initialize()


