<div class="reg_list reg_bd_top reg_width fl">
  <label for="uesername"><span>*</span>是否有推荐人：</label>
  <input type="radio" name="user[recommended]" class="fl radio_btn" checked="checked" value="1"/>
  <span class="recommand fl">是</span>
  <input type="radio" name="user[recommended]" class="fl radio_btn" value="0"/>
  <span class="recommand fl">否</span>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="recommander"><span>*</span>推荐人用户名：</label>
  <input type="text" class="password fl" name="user[recommended_name]" />
  <span class="reg_tip3 fl">注：如您正确注册成功，推荐人账号相应获得奖励积分</span>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="recommander"><span>*</span>Email：</label>
  <input type="text" class="username fl" name="user[email]" />
  <span class="reg_tip3 fl">请填写真实邮箱，以便通知获奖信息</span>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="uesername"><span>*</span>公司名称：</label>
  <input type="text" class="company fl" name="user[name_of_company]"/>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="uesername"><span>*</span>公司创立时间：</label>
  <div class="fl">
    <% year  = resource.founded_of_company.year rescue nil %>
    <% month = resource.founded_of_company.month rescue nil %>
    <% day   = resource.founded_of_company.day rescue nil %>
    <%= select_tag 'user[founded_of_company(1i)]', options_for_select((1900..(Date.today.year)).to_a.reverse, year), :class => "fl", :prompt => "请选择" %>
    <span class="fl">年</span>
    <%= select_tag 'user[founded_of_company(2i)]', options_for_select((1..12).to_a, month), :class => "fl", :prompt => "请选择" %>
    <span class="fl">月</span>
    <%= select_tag 'user[founded_of_company(3i)]', options_for_select((1..31).to_a, day), :class => "fl", :prompt => "请选择" %>
    <span class="fl">日</span>
  </div>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="uesername"><span>*</span>所在地：</label>
  <div class="fl">
    <select id="province" class="level_1 fl" name="user[state]"></select>
    <select id="city" class="level_2 fl" name="user[city]"></select>
    <select id="county" class="level_3 fl" name="user[district]"></select>
    <span class="reg_tip3 fl">注：如果系统辩识有误，请手动选择</span>
  </div>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="uesername"><span>*</span>公司地址：</label>
  <input type="text" class="company fl" name="user[company_address]"/>
  <span class="reg_tip3 fl">请填写真实地址以便发送奖品</span>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="uesername">邮编：</label>
  <input type="text" class="postcode fl" maxlength="6" name="user[zip_code]"/>
  <span class="reg_tip3 fl">注：邮编必须为数字且只能6位</span>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="uesername"><span>*</span>联系电话：</label>
  <input type="text" class="username fl" name="user[phone]" />
  <span class="reg_tip3 fl">请填写您常用电话以便通知获奖信息</span>
</div><!--reg_list ends-->