<div class="reg_list fl">
  <label for="uesername">真实姓名：</label>
  <input type="text" class="password fl" name="user[name]"/>
</div><!--reg_list ends-->
<div class="reg_list fl">
  <label for="uesername">性别：</label>
  <input type="radio" class="radio_btn fl" checked="checked" name="user[sex]" value="1"/>
  <span class="recommand fl fb">男</span>
  <input type="radio" class="radio_btn fl" name="user[sex]" value="0"/>
  <span class="recommand fl fb">女</span>
</div><!--reg_list ends-->
<div class="reg_list fl">
  <label for="uesername">出生日期：</label>
  <div class="fl">
    <% year  = resource.date_of_birth.year rescue nil %>
    <% month = resource.date_of_birth.month rescue nil %>
    <% day   = resource.date_of_birth.day rescue nil %>
    <%= select_tag 'user[date_of_birth(1i)]', options_for_select((1900..(Date.today.year)).to_a.reverse, year), :class => "fl", :prompt => "请选择" %>
    <span class="fl">年</span>
    <%= select_tag 'user[date_of_birth(2i)]', options_for_select((1..12).to_a, month), :class => "fl", :prompt => "请选择" %>
    <span class="fl">月</span>
    <%= select_tag 'user[date_of_birth(3i)]', options_for_select((1..31).to_a, day), :class => "fl", :prompt => "请选择" %>
    <span class="fl">日</span>
  </div>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <%- if session[:designer] == 0 %>
  <label for="uesername">公司名称：</label>
  <input type="text" class="company fl" name="user[inauguration_company]"/>
  <%- else %>
  <label for="uesername">学校名称：</label>
  <input type="text" class="company fl" name="user[current_school]"/>
  <%- end %>
</div><!--reg_list ends-->
<div class="reg_list reg_width fl">
  <label for="uesername">收件地址：</label>
  <input type="text" class="company fl" name="user[recipient_address]"/>
  <span class="reg_tip3 fl">请填写真实地址以便发送奖品</span>
</div><!--reg_list ends-->