<div class="main">
  <div class="reg_bg2 pr"></div>
  <div class="wrapper">
    <%= form_for(resource, :as => resource_name, :url => "/users", :remote => true ) do |f| %>
      <div class="reg_content ft14">
        <div class="reg_list fl">
          <label for="uesername"><span>*</span>用户名：</label>
          <input type="text" class="username fl" name="user[username]" id="user_name" />
          <a href="javascript:void(0)" class="reg_chk fl" onclick="username_check()"></a>
        </div><!--reg_list ends-->
        <div class="upload fr tc">
          <div class="upload_area">
            <img src="/assets/news/regimg_bg.jpg" />
          </div>
          <input type="image" src="/assets/news/reg_upload.jpg" />
        </div><!--upload ends-->
        <div class="reg_list fl">
          <label for="uesername"><span>*</span>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" class="password pass_check fl" name="user[password]"/>
          <div class="fl">
            <span class="cr fl">密码强度：</span>
            <div class="ps_check fl">
              <div id="ps_status"></div>
            </div><!--ps_check-->
            <span class="cr fl" id="ps_tip">很弱</span>
            <span class="none" id="short">很弱</span>
            <span class="none" id="medium">中等</span>
            <span class="none" id="strong">很强</span>
            <span class="fl reg_tip1">注：密码不得少于6位数。</span>
          </div>
        </div><!--reg_list ends-->
        <div class="reg_list fl">
          <label for="uesername"><span>*</span>确认密码：</label>
          <input type="password" class="password fl" name="user[password_confirmation]"/>
          <span class="reg_tip2 fl">请重新输入，确认密码</span>
        </div><!--reg_list ends-->
        <p class="ft14 fb fl">您还可以使用其他已有账户快捷注册（建议使用新浪微博账号）</p>
        <ul>
          <li>
          <a href="#">
            <img src="/assets/news/sina.jpg" />
            <span>新浪微博</span>
          </a>
          </li>
          <li>
          <a href="#">
            <img src="/assets/news/qq.jpg" />
            <span>腾讯QQ</span>
          </a>
          </li>
          <li>
          <a href="#">
            <img src="/assets/news/renren.jpg" />
            <span>人人网</span>
          </a>
          </li>
          <li>
          <a href="#">
            <img src="/assets/news/kaixin.jpg" />
            <span>开心网</span>
          </a>
          </li>
        </ul>

        <%= reg_partial %>

        <br style="float:left;display:inline;clear:both;" />
        <p class="reg_bot ft12 tc">
        注：您的注册信息仅用于icolor官网，我们不会对外公开您的信息，请放心
        </p>
        <p class="reg_bot ft12 tc">
        <input type="checkbox" />
        接受会员注册协议（<a href="#">阅读</a>）
        </p>
        <p class="tc">
        <a href="reg.html"><img src="/assets/news/reg_up.jpg" /></a>&nbsp;
        <input type="image" style="_margin-top:-20px;" src="/assets/news/reg_next.jpg" />
        </p>
      </div><!--reg_content ends-->
    <%- end %>
    <div class="ads">
      <a href="#"><img src="/assets/news/reg_ad.jpg" /></a>
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->
<script type="text/javascript">
  function username_check(){
    var username = $("#user_name").val()
      $.post(" /users/data_valid", {user:{username:username,flag:0}}, function(message){
          if (message != "") {
            alert(message);
          }else{
            alert("恭喜您，您的用户名可以使用！");
          }
          });
  }
</script>
<script type="text/javascript" charset="utf-8">
$(function(){
  var options = {
    data  : data
  }

  var sel = new LinkageSelect(options);
  sel.bind('.level_1');
  sel.bind('.level_2');
  sel.bind('.level_3');

  $("#captcha input").focus(function(){
    $('#captcha').removeClass('onerror');
  });

});
</script>

