<div class="main">
  <div class="reg_bg1 pr"></div>
  <div class="wrapper">
    <ul class="regs clear">
      <li class="noborder">
      <img src="/assets/news/reg_designer.png" />
      <input type="radio" name="reg" alt="/users/sign_up?role=designer" />
      </li>
      <li>
      <img src="/assets/news/reg_company.png" />
      <input type="radio" name="reg" alt="/users/sign_up?role=company" />
      </li>
      <li>
      <img src="/assets/news/reg_user.png" />
      <input type="radio" name="reg" alt="/users/sign_up?role=user" />
      </li>
    </ul>
    <div class="tc margin40">
      <a href="javascript:void(0)" class="reg_next"><img src="/assets/news/reg_next.jpg" /></a>
      <p class="none">请选择您的角色再进行注册！</p>
    </div>
    <div class="ads">
      <a href="#"><img src="/assets/news/reg_ad.jpg" /></a>
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->
