<div class="main">
  <div class="reg_bg3 pr"></div>
  <div class="wrapper">
    <div class="reg_suc fb ft16 tc">
      <a href="/"><%= suc_designer %></a>（<span class="cr ft18">5</span>秒之后自动跳转）
    </div><!--reg_suc ends-->
    <div class="ads">
      <a href="#"><img src="<%= asset_path "news/reg_ad.jpg" %>" /></a>
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->
