<% content_for :head do -%>
  <%= stylesheet_link_tag 'reg' %>
<% end -%>
<div class="main">
  <div class="reg_bg3 pr"></div>
  <div class="wrapper">
    <div class="reg_suc fb ft16 tc">
      <%- if params[:return_to].present? %>
        <a href="/<%= params[:return_to] %>">因爱之名，刷新生活</a>（<span class="cr ft18">5</span>秒之后自动跳转）
      <%- else %>
        <a href="/">进入iColor主页</a>（<span class="cr ft18">5</span>秒之后自动跳转）
      <%- end %>
    </div><!--reg_suc ends-->
    <div class="ads">
      <a href="/gift"><img src="<%= asset_path "news/reg_ad.jpg" %>" /></a>
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->
