<% content_for :head do -%>
  <%= stylesheet_link_tag 'reg' %>
<script type='text/javascript'>

  (function() {
    var c = document.createElement('script');
    c.type = 'text/javascript';
    c.async = true;
    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pro.clicki.cn/boot/10008';
    var h = document.getElementsByTagName('script')[0];
    h.parentNode.insertBefore(c, h);
  })();
</script>

<% end -%>
<script>

    var _CiQ10008 = _CiQ10008 || [];

    _CiQ10008.push(['_trackEvent',   {

      type: 1,

      labels: [

        {"按钮名称": "注册成功提示页"}

      ],

      values: [

        {"数量": 1}

      ]

    } ]);

</script>
 
<noscript>
<img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=326804&amp;ns=1"/>
</noscript>
<div class="main">
  <div class="reg_bg3 pr"></div>
  <div class="wrapper">
    <div class="reg_suc fb ft16 tc">
      <%- if params[:return_to].present? %>
        <a href="/<%= params[:return_to] %>">因爱之名，刷新生活</a>（<span class="cr ft18">5</span>秒之后自动跳转）
      <%- else %>
        <a href="/">进入iColor主页</a>（<span class="cr ft18">5</span>秒之后自动跳转）
      <%- end %>
    </div><!--reg_suc ends-->
    <div class="ads">
      <a href="/gift"><img src="<%= asset_path "news/reg_ad.jpg" %>" /></a>
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->
