<div class='wrapper pt25 pb30'>
	<div class="shadow">
		<div class="section" style="background:#fff8de;">
			<%= image_tag 'big_bg/taiyuan_tit.jpg' %>
			<div class="taiyuan_con">
				<img class="fr" src="<%= asset_path 'big_bg/taiyuan1.jpg' %>" style="position:relative;top:-50px;" />
				<p class="pt25" style="margin-right:365px;margin-bottom:30px;">
					3月22日，立邦2013年iColor全国家装公司见面会太原站，同时也是立邦“刷新百城”活动之太原站发起仪式，在山西省省会漳泽大酒店盛装启幕。阳春三月，万物复苏，到处充满了生机。在这美好的时光里，立邦的每一位同仁期待您一起来见证这一时刻。参加此次见面会的来自太原的逾70位家装公司的代表及设计精英，现场高朋满座。
				</p>
			</div>
			<div class="taiyuan_con mb25">
				<%= image_tag 'big_bg/taiyuan2.jpg', class: 'fl' %>
				<p style="margin:110px 0 0 415px;">
					下午14:30，立邦2013年iColor全国家装公司见面会正式开始。首先，立邦北区销售部总经理陈仁宗先生致辞，感谢到场的各位家装界精英与设计师们，并向现场的来宾介绍了立邦品牌的发展和iColor网站建立的美好愿景。陈总幽默风趣的开场白和之后真挚的讲话感染着现场的每一位来宾。特邀嘉宾太原市室内装饰协会会长刘燚女士也为到场来宾致欢迎辞，希望此次到场的设计师们不虚此行。
				</p>
			</div>
			<div class="taiyuan_con mb25">
				<%= image_tag 'big_bg/taiyuan3.jpg', class: 'fr' %>
				<h3 style="margin:75px 0 15px;">进入立邦iColor网站 立邦为你刷新生活</h3>
				<p style="height:165px;">
					立邦建筑涂料事业群色彩组 杨洁女士为与会者详细的介绍了立邦iColor网站，新媒体新方式新平台给在座的嘉宾耳目一新的感觉，网站中的“大师殿堂、设计鉴赏、业主通道、漆光溢彩”等王牌栏目，更为大家带来了全新可以免费推广自身设计与作品的平台。听着杨洁女士的介绍，来宾们认真笔记，现场注册。
				</p>
			</div>
		</div>
	</div>
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
	<div class="pager ft12">
		<a href="javascript:;" class="current">1</a>
		<a href="/designer_events/city/taiyuan?page=2">2</a>
		<a href="/designer_events/city/taiyuan?page=3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->