<div class='wrapper pt25 pb30'>
	<div class="shadow">
		<div class="section" style="background:#fff8de;">
			<%= image_tag 'big_bg/taiyuan_tit.jpg' %>
			<div class="taiyuan_con">
				<img class="fr" src="<%= asset_path 'big_bg/taiyuan4.jpg' %>" style="position:relative;top:-50px;" />
				<h3 style="margin:25px 0 15px;">漆光溢彩 刷出缤纷生活：立邦米兰诺艺术漆讲解</h3>
				<p style="margin-right:365px;margin-bottom:30px;">
					见面会现场的嘉宾还可以亲手进行产品测试以及涂刷艺术漆，体验艺术漆带来的立体效果。立邦艺术漆的浮光效果和丝绒效果施工操作简单，立体效果明显，受到在场所有嘉宾的一致好评和认可。
				</p>
			</div>
			<div class="taiyuan_con mb25 pt25">
				<h3 class="pb30">现场采访</h3>
				<%= image_tag 'big_bg/taiyuan5.jpg', class: 'fl' %>
				<p style="margin:35px 0 0 315px;">
					会后，陈总接受了新浪家居记者的采访。谈到此次立邦2013年iColor全国家装公司见面会的初衷，陈总表示，立邦作为涂料行业的领军企业，为顺应市场趋势和需求，在家装行业积极打造了iColor网站，而iColor网站作为一个完全开放的、公益性的，连接着设计师、消费者、家装公司的平台展示在大家面前，希望通过iColor的平台展示优秀设计师的作品，满足消费者不断变化的需求，促进和更好带动家装行业的发展。它并不是一个销售渠道，它是为了构建渠道当中建立起来的一个公益平台，是一种沟通模式的建立。
				</p>
				<p style="margin:0 0 0 315px;">聊到iColor网站的意义，陈总说道网络会是继传统渠道之后新兴的主流渠道，这也预示了行业发展的趋势。只有走在前面，才能带领自身的品牌以及众多的合作伙伴一起赢得将来更大的发展。</p>
			</div>
			<div class="taiyuan_con">
				<p>谈及立邦在太原市场，陈总表示太原地区2012年销售增长比全国平均增长来的高，同时也高过全国GDP的增长比例。陈总对2013年信心满满，表示2013年会比2012年更好。受楼市政策的影响2013年刷漆机会会大大提升，购房一族尤其是追求时尚的年轻购房刚需一族，对漆的认可度和需求度会不断的提高。2013年立邦将针对室内刷漆组建专门的施工队伍，加强队伍的专业素质，提高服务水平。</p>
			</div>
			<div class="taiyuan_con mb25">
				<%= image_tag 'big_bg/taiyuan6.jpg', class: 'fr' %>
				<p>
					于秘书长非常感谢立邦漆组织的这次活动。她表示行业发展过程中需要社会、需要同行关注，希望有更多材料商、建筑商加入活动中来。此次活动意义很简单，它为行业提供交流的机会，太原室内装饰协会也是在做这样的事情。今天的活动不仅仅是推广网站的活动，当我们在了解产品的时候也在了解市场，最终将产品商业化、产业化，将会促进行业进步，这是一笔巨大的财富。
				</p>
				<p> iColor招募会是顺应时代的过程，iColor网站将户型、色彩、风格融入到软件中，设计师可以用不同的搭配来完成设计理念，是设计师自我学习自我提高的过程。与全国的设计师交流学习，同时也是设计师足不出户得到专业性很大提高的过程。</p>
				<p style="height:100px;">iColor网站为消费者开始对自己生活做主提供机会，为消费者提高了一个满足自我、张扬自我的平台。</p>
			</div>
		</div>
	</div>
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/taiyuan-1">1</a>
		<a href="javascript:;" class="current">2</a>
		<a href="/designer_events/city/taiyuan-3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->