<div class='wrapper pt25 pb30'>
	<div class="shadow">
		<div class="section" style="background:#fff8de;">
			<%= image_tag 'big_bg/taiyuan_tit.jpg' %>
			<div class="taiyuan_con">
				<img class="fr" src="<%= asset_path 'big_bg/taiyuan7.jpg' %>" style="position:relative;top:-50px;" />
				<h3 style="margin:25px 0 15px;">立邦涂料经销商</h3>
				<p style="margin-right:365px;">
					作为立邦十几年的合作伙伴，总结平日的销售经验， “很大一部分客户还是最注重环保和实用，其次是功能、服务，最后是价格。谈及环保性，很多客户指定要立邦产品。”憨厚的秦总一脸的自信，他表示立邦从选材到工艺都特别注重环保性，也因而受到了广大消费者的喜爱。
				</p>
				<p style="margin-right:365px;">立邦是国内第一家引进色彩系统涂料企业。如今iColor平台的建立让设计师更好的选用色彩，更好的为消费者提供色彩。</p>
			</div>
			<div class="taiyuan_con mb25 pt25">
				<%= image_tag 'big_bg/taiyuan8.jpg', class: 'fl' %>
				<p style="margin:35px 0 0 315px;">
					 谈到iColor网站，要总表示这个网站可以使顾客对色彩有更形象的了解，也便于设计师为每个房间做出不同效果。同时认为iColor这个网站，会开辟一个新的与消费者沟通的平台，提高销售量。
				</p>
				<p style="margin:0 0 0 315px;">“会上提到的丝绒系列和浮光系列艺术漆，在太原的专卖店已经有产品展示”要总表示，“专卖店在提供产品外还会提供很多配套的服务，比如免费预算、送货上门、技术监理、问题解决等服务。也有专业的施工队伍和设计人员，根据户型、功能等方面满足大家需求。”</p>
			</div>
			<div class="taiyuan_con mb25">
				<%= image_tag 'big_bg/taiyuan9.jpg', class: 'fr' %>
				<h3 style="margin:10px 0">家装公司代表采访：</h3>
				<p style="margin-right:245px;">
					在iColor网站每月都会有最新的标有立邦色号的装修案例供大家免费收藏和下载，还有很多专业的色彩手册和样板册配套工具。设计师梁先生对于iColor网站从色彩的角度做了高度的评价，梁老师表示色彩在整个设计中占有主导地位。他表示个人偏向中式文化，在设计一款中式家居时，包括新中式、现代中式、传统中式等，就需要不同的色彩来表现。目前，立邦涂料的色彩是相当全面的，能够很大的满足客户的需求。这个iColor网站顺势的产生，会更进一步的改变了人们对色彩的认识，尤其是引导着设计师更大胆的尝试新鲜的家装风格。”
				</p>
				<p style="margin-right:245px;margin-bottom:30px;"> iColor平台为行业提供新产品，这个平台给业主和设计师提供更多的选择，使装修更加丰富。同时，立邦漆是个老品牌，消费者用起来也比较放心，我们在做设计的时候会给消费者推荐立邦品牌。</p>
			</div>
			<div class="taiyuan_con">
				<p>立邦，作为世界上最早的涂料公司之一，国内涂料行业的领导者，立邦一直以美化和保护人们的生活为己任，不断创造出品质优越的产品。期待通过iColor网络平台以及立邦出色的产品体系和服务能够为广大的消费者创造丰富多彩的生活，提高幸福指数。</p>
			</div>
		</div>
	</div>
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/taiyuan?page=1">1</a>
		<a href="/designer_events/city/taiyuan?page=2">2</a>
		<a href="javascript:;" class="current">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->