<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section beijing">
      <div class="items group">
        <p class="pt25">北京大启装饰公司设计师牛俊龙先生在采访中表示，作为首都北京的的一家知名装饰公司，公司感受到客户对于立邦涂料的认可度非常高，甚至乳胶漆在终端消费者的心目中已经完全与立邦划为等号。牛俊龙先生对于iColor网站的评价也非常高，他表示客户可以通过iColor平台了解他们的设计师以及他们的品牌。由立邦这样的行业领导品牌来搭建这样一个平台更能够得到消费者的信任。</p>
      	<img class="img_center" src="<%= asset_path "big_bg/beijing4_1.png"%>">
      </div>

      <div class="items group noborder">
        <p class="pt25">来自北京首建华宇建筑工程有限公司的刘永富总经理在采访中表示，公司服务的终端客户对于立邦的环保度、色彩以及服务都给予了相当高的评价。刘总经理高度认可iColor平台的价值，他认为这次的推荐会相对于之前的活动更为新颖前卫，也更容易帮助他们吸引年轻消费者。刘总经理说：“从商业角度上来讲，这本身就是一个互赢的事情。更坦诚地讲，这是我们利用立邦的品牌力量与平台来提高自身的知名度。” </p>
        <img class="img_center" src="<%= asset_path "big_bg/beijing4_2.png"%>">
      </div>
    </div>
  </div>
</div><!--wrapper ends-->
<div class='sub_bot pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/beijingb-1">1</a>
    <a href="/designer_events/city/beijingb-2">2</a>
    <a href="/designer_events/city/beijingb-3">3</a>
    <a href="/designer_events/city/beijingb-4" class="current">4</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->