<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section beijing">
      <div class="items group noborder">
        <h3>现场采访实录</h3>
      	<img class="fr" src="<%= asset_path "big_bg/beijing3_1.png"%>">
        <p class="pt50">立邦中国华北区销售总经理陈仁宗在活动中接受了记者的采访。首先，这两年来我们一直在推动通过iColor平台来刷新消费者的家居生活，让消费者能够通过这个平台找到适合自己的色彩，并进一步找到合适的设计师来实现自己的家居构想。他希望通过这次的推荐，能够让北京本地的设计师以及家装公司能够对立邦这个涂料第一品牌的新产品、新服务有个全面的了解；也希望通过iColor的平台展示优秀设计师的作品。立邦将来还会尝试线上线下并进推广设计师作品。</p>
        <p>在品牌建设方面，现在立邦正在走全方位的整合营销，利用各个媒体渠道让立邦真正走进年轻消费者。</p>
      </div>

      <div class="items">
        <p> 陈总表示，北京市场今年比去年同期有一定的复苏，今年1-9月份增长达到30%以上。而综合全年市场情况，受到二三线城市房产回暖的影响，我们也欣喜地看到在整体市场环境并不太理想的今年，立邦仍然从二三线市场不断收到好的消息。</p>
        <p>陈总认为，iColor与家装公司的联合活动，旨在提升中小家装渠道的品牌渗透，打造专业的品牌形象iColor不光是见面会本身成功，深层次是提供并搭建了一个经销商得以集中和家装公司客情粘连的平台，让当地的中小家装更信任我们的经销商和品牌实力，使得他们的感情更加深入粘性更大。</p>
      </div>

      <div class="items group noborder">
        <img class="fl" src="<%= asset_path "big_bg/beijing3_2.png"%>">
        <p>来自美涂美家公司的王正红总经理作为立邦在北京16年的合作伙伴，对于立邦的产品以及服务可谓如数家珍：“我很多的客户都指定要立邦的产品。”关于终端消费者的反响，立邦作为涂料第一品牌的形象很早就深入人心了。“我做了那么多年，从未见过立邦象今年一样给到我们那么大的支持。”越逆势越支持，这可能就是行业第一品牌的气质与气度。也希望借助iColor网站这个平台，开辟一个新的与消费者沟通的渠道。</p>
        <p>王总认为，在目前的房产形势下，涂料市场并未受到什么负面影响，尤其是立邦这样的领导品牌，虽然蛋糕没有扩大，但是随着中小品牌的淡出，立邦的市场份额始终在不断地增长。</p>
      </div>
    </div>
  </div>
</div><!--wrapper ends-->
<div class='sub_bot pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/beijingb-1">1</a>
    <a href="/designer_events/city/beijingb-2">2</a>
    <a href="/designer_events/city/beijingb-3" class="current">3</a>
    <a href="/designer_events/city/beijingb-4">4</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->