<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section beijing">
      <div class="items">
        <p class="ft18 pt25">2012年11月15日14:00，立邦iColor家装公司见面会在北京五环大酒店顺利召开，寒冷的天气不能阻止北京家装设计界的热情，来自北京的近150位家装公司的代表及设计师一同出席了本次活动,让整个会场座无虚席，场面空前的宏大。</p>      
      	<img class="img_center" src="<%= asset_path "big_bg/beijing1_1.png" %>">
      </div>

      <div class="items group noborder">
        <img class="fl" src="<%= asset_path "big_bg/beijing1_2.png" %>">
        <p class="pt50">在主持人的隆重介绍之后，立邦iColor见面会正式开始。首先，立邦中国华北区销售总经理陈仁宗先生致辞，热烈欢迎并感谢各位家装界精英与设计师们参与本次活动，并对iColor网站的性质与运营方式进行了简短的介绍，作为一个完全公益性的网站，iColor无疑走在了涂料行业的前列。</p>     
      </div>
    </div>
  </div>
</div><!--wrapper ends-->

<div class='sub_bot pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/beijingb?page=1" class="current">1</a>
    <a href="/designer_events/city/beijingb?page=2">2</a>
    <a href="/designer_events/city/beijingb?page=3">3</a>
    <a href="/designer_events/city/beijingb?page=4">4</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->