<div class='wrapper pt25 pb30'>
	<div class="shadow">
		<div class="section" style="background:#fff8de;">
			<%= image_tag('big_bg/chengdu/chengdu_tit.jpg') %>
			<div class="chengdu_con">
				<p>3月21日，立邦2013年iColor全国家装公司见面会成都站，在成都武侯智选假日酒店盛装启幕。阳春三月，万物复苏，到处充满了生机。参加此次见面会的来自成都近60位家装公司的代表及设计精英，现场高朋满座。</p>
			</div>
			<div class="chengdu_con">
				<%= image_tag('big_bg/chengdu/chengdu1.jpg', class: 'fr') %>
				<p class="pt25" style="margin-right:365px;margin-bottom:30px;">
					“其实iColor这一平台的雏形是2002年立邦从澳大利亚一家软件公司引进的配色软件，去年正式升级成为一个纯公益的、免费的平台”立邦涂料西区销售副总经理阙宏涛先生在致欢迎辞时如是说到，我们希望他能成为联系立邦、设计师和消费者的一个纽带。
				</p>
			</div>
			<div class="chengdu_con2 mb25">
				<%= image_tag('big_bg/chengdu/chengdu2.jpg', class: 'fl') %>
				<p style="margin:110px 0 0 350px;">
					随后，立邦建筑事业群市场部色彩组高级经理周颖女士向到场的设计师、装饰公司负责人介绍了iColor网站。(www.icolor.com.cn)“大师殿堂、设计鉴赏、业主通道、漆光溢彩”带给大家全新的体验，免费公开的推广机会让在场的嘉宾们都兴奋不已。
				</p>
			</div>
			<div class="chengdu_con2 mb25">
				<%= image_tag('big_bg/chengdu/chengdu3.jpg', class: 'fr') %>
				<p style="margin-top:60px">
					原素装饰总经理何永章先生表示，自己本身是设计师出身，在听过iColor的介绍之后非常激动。“坦白讲，自己做设计师最困难的一点就是关于色彩的搭配，现在有了这样一个工具之后相信设计师们会更加得心应手。过去设计师跟业主讲图，业主们基本靠猜，最后出现的效果往往跟猜想的不一样，现在有了iColor和他的册子，业主能够更直观的看到呈现效果，设计师沟通起来也更加轻松了。”
				</p>
				<p class="pb30 mb25" style="margin-top:0">对于立邦接下来的一系列活动，何总也表示虽然现在自己角色的变化无法抽空参加，但是回去之后会转达给公司的设计师们，让他们都来参加这个活动。“设计师对于自身的推广是非常必要的，借由立邦搭建的这个平台，我希望我们的设计师也能够得到锻炼，得到展示。”</p>
			</div>
		</div>
	</div>
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
	<div class="pager ft12">
		<a href="javascript:;" class="current">1</a>
		<a href="/designer_events/city/chengdu-2">2</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->