<div class='wrapper pt25 pb30'>
	<div class="shadow">
		<div class="section" style="background:#fff8de;">
			<img src="<%= asset_path 'big_bg/chengdu/chengdu_tit.jpg' %>" />
			<div class="chengdu_con">
				<img class="fl" src="<%= asset_path 'big_bg/chengdu/chengdu4.jpg' %>" />
				<p class="pt25 pb30">
					康杰装饰总经理陈云康先生告诉新浪家居记者，自己从事家装行业20多年，现在消费者对于装修的需求非常高，相较于过去的浮华风，现在更注重实用、环保。立邦产品的特殊工艺和大胆的色彩运用到墙面系统之中，例如背景墙、沙发墙很是受消费者的欢迎。
				</p>
			</div>
			<div class="chengdu_con2 mb25">
				<img class="fr" src="<%= asset_path 'big_bg/chengdu/chengdu5.jpg' %>" />
				<p style="margin:120px 0 0 0;">
					立邦涂料（成都）体验中心的总经理周桥林先生在接受新浪家居记者采访时表示，自己最开始是立邦的一名普通员工，在接触和合作过程中非常欣赏立邦的企业文化和产品质量，所以2年前正式成为了立邦的经销商。
				</p>
				<p>周总向记者介绍，目前自己在红牌楼附近开设了一家家装体验中心。他认为，涂料只是一个半成品，后期的涂装相当重要，凭借他自身的美术功底和专业审美水平，2年前，果断开设了这样一个体验中心，“中心重展示、轻产品，目的就是让消费者能够更加直观的感受到家装涂装效果”。</p>
			</div>
			<div class="chengdu_con2 mb25">
				<p>活动结束后，阙宏涛先生接受了新浪家居的专访，在谈到对“刷新百城”活动的期待时，阙总表示，现在家装市场还不成熟，很多消费者在选择设计师时只能靠猜，好与坏更是凭运气，另一方面设计师想要展示自己却苦无门路。所以我们希望通过这次全国性的大型活动来让设计师更好的展示自己，也让消费者知道，以后想要找合心意的设计师，完全可以借助iColor网站。</p>
				<p class="pb30">  iColor网站的推出实际上是立邦品牌的全面升级，立邦将不再单单是一个涂料品牌，更是一个纯公益的平台。
				</p>
				<img class="fl" src="<%= asset_path 'big_bg/chengdu/chengdu6.jpg' %>" />
				<p class="pt25 mb25" style="margin-bottom:90px;">
					对于“国五条”下的2013年，阙总也分享了他自己的观点：“国五条”看似严厉，但是成都这段时间的二手房成交量猛增，这一部分的购房者属于改善型的，所以二手房装修需求对于涂料市场是非常有利的，另外目前国家各项政策对于西部地区的发展还是相当扶持的，所以我个人觉得并没有必要对2013年过于担心，我个人是很有信心的！
				</p>
			</div>
		</div>
	</div>
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/chengdu?page=1">1</a>
		<a href="javascript:;" class="current">2</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->