 <div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' alt="" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">大师殿堂</a><span class="arrow_2"></span><a class="fb" href="#">大师访谈</a>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60'>
    <div class="design_tit group pb10 line_b_dot">
      <ul class="design_filter group">
        <li class="li_current">
        <a href="#">全部</a>
        </li>
        <li>
        <a href="#">海外</a>
        </li>
        <li>
        <a href="#">港澳台</a>
        </li>
        <li>
        <a href="#">中国大陆</a>
        </li>
      </ul>
    </div><!--design_tit ends-->

    <div class="list_btn line_b_dot">
      <a href="#"><img src="/assets/master/color_master_btn.png" /></a>
      <a href="#"><img src="/assets/master/space_master_btn.png" /></a>
    </div><!--list_btn ends-->
    <div class="list_box">
      <div class="list_main mt50 group">
        <div class="img_name"><img src="/assets/master/color_master1.jpg" alt="" />
          <h2>Michael Young</h2>
        </div>
        <div class="list_detail">
          <h3>立邦专访当代世界设计界最有影响力的设计师之一Michael Young</h3>
          <p class="h3_sub"><span>2012-4-21</span><span>12:12</span></p>
          <p>Michael Young是我们这个时代最成功最具影响力的设计师之一。<br />
          1992年他以钢为材料编制的作品就被蓬皮杜艺术中心和卢浮宫美术馆收藏。他为东京E&Y设计的“Mid Nineties”家具系列被德国的Die Neue Sammlung博物馆和伦敦的设计博物馆收购——它们开创了新家具的典范。<br />
          设计双年展总监 Max Borka 认为：“ Michael Young 的作品已被广泛复制﹐ 到了今天﹐ 要超越他的成就似乎已不可能。”</p>
          <p class="pt25"><a href="/master_hall/master"><img src="/assets/master/look_detail_btn.png" alt="" /></a></p>
        </div><!--list_detail ends-->
      </div>
      <div class="list_main mt25 group">
        <div class="img_name"><img src="/assets/master/color_master2.jpg" alt="" />
          <h2>里卡多•E. 波菲•马格吉奥拉</h2>
        </div>
        <div class="list_detail">
          <h3>世界元素本土化 打造最完美建筑</h3>
          <p class="h3_sub"><span>2012-4-21</span><span>12:12</span></p>
          <p>享有“建筑鬼才”之美誉的里卡多•波菲(Ricardo Bofill)，在设计界中是一位充满传奇色彩的人物。他长期活跃在国际建筑舞台，他所领导的波菲建筑有限公司（RBTA）项目范围已扩张到世界各地。“鬼才”之子,里卡多•E. 波菲•马格吉奥拉同样也是位传奇人物，他曾获得过赖斯大学的文学士学位，哥伦比亚大学房地产开发科学硕士学位，加州大学洛杉矶分校电影研究毕业，更是哈佛大学设计学院，建筑学硕士学位。</p>
          <p class="pt25"><a href="#"><img src="/assets/master/look_detail_btn.png" alt="" /></a></p>
        </div><!--list_detail ends-->
      </div>
      <div class="list_main mt25 group">
        <div class="img_name"><img src="/assets/master/color_master3.jpg" alt="" />
          <h2>史迪威</h2>
        </div>
        <div class="list_detail">
          <h3>台湾著名设计师史迪威：设计要吃加法回到减法</h3>
          <p class="h3_sub"><span>2012-4-21</span><span>12:12</span></p>
          <p>中国的设计大多还是非常注重形式上的丰富性，努力营造出奢华、华丽的感觉，但这种表现形式很表面，缺乏从内在散发出气质的部分。就像一个人，要让人觉得他很有内涵，不是仅仅对他进行“美容化妆”就可以，而是要有能够从内发自而外的气质。所以中国的设计师应该加强对于设计本质的思考，以及对于空间的观察，和关注设计到最后所需要呈现的结果。当然在这里，我不否定中国丰富的多样性表现形式，也给人一种很愉悦的感觉，但我认为中西方还是可以互相截长补短，相互结合会更好。</p>
          <p class="pt25"><a href="#"><img src="/assets/master/look_detail_btn.png" alt="" /></a></p>
        </div><!--list_detail ends-->
      </div>
    </div><!--list_box ends-->
  </div><!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a href="#" class="prev"><span></span>上一页</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">...</a>
      <a href="#">20</a>
      <a href="#" class="next">下一页<span></span></a>
    </div><!--pager ends-->
  </div><!--sub_bot ends-->
</div><!--main ends-->
