<%- content_for :head do %>
  <style type="text/css">
    .shadow {
      zoom: 1;
    }
  </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' alt="" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">大师殿堂</a><span class="arrow_2"></span><a class="fb" href="#">热点话题</a>
  </div><!--sub_nav ends-->
  <div class='wrapper pt25 pb30'>
    <div class="shadow mt25 mb15">
      <div class="section">
        <div class="hot_topics_box group">
          <img src="/assets/master/hot_topics1.jpg" alt="" />
          <div class="hot_topics_con">
            <h3>小户型空间细节设计全案</h3>
            <div class="h3_sub"><span>来源：中华室内设计网 </span><span>时间：2012-1-14</span></div>
            <p>除了迎亲待客，客厅往往还身兼视听休闲功能，这个空间的家具装饰通常起到关键性作用，当客人来访，这里的家居风格就泄露了你的居家性情，因此人们往往会花费更多的心力在客厅的打造上。人们一天中的大部分时间都在卧室里度过，那么你知道卧室的布置应注意哪些细节吗？以下这些零零总总的内容，可是小编为你总结了10条打造心水卧室的实用技巧..<a href="#">[详细]</a></p>
            <p class="pl40"><span>装修diy</span><span>单身公寓</span><span>简约风格</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow mb15">
      <div class="section">
        <div class="hot_topics_box group">
          <img src="/assets/master/hot_topics2.jpg" alt="" />
          <div class="hot_topics_con">
            <h3>家居色彩与主人气质</h3>
            <div class="h3_sub"><span>来源：中华室内设计网 </span><span>时间：2012-1-14</span></div>
            <p>一、青年型。采用柠檬黄、嫩绿和红色，以此显示明快、热情，同时含有一份恬静。地板可大胆地选用红色，窗帘则用蓝色，以形成对比。倘若墙壁是红色，沙发便用鲜红或黑色，佐以新潮饰物，形成充满生机的格调。二、学者型。可以用紫色、玫瑰色、咖啡色为主，给人一种幽婉、深沉和华贵的感觉。紫色的墙壁、古铜色的书架或书柜，沙发和茶几则用浅藕荷色的...<a href="#">[详细]</a></p>
            <p class="pl40"><span>装修diy</span><span>单身公寓</span><span>简约风格</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow mb15">
      <div class="section">
        <div class="hot_topics_box group">
          <img src="/assets/master/hot_topics3.jpg" alt="" />
          <div class="hot_topics_con">
            <h3>正确选择涂料要走出三个误区</h3>
            <div class="h3_sub"><span>来源：中华室内设计网 </span><span>时间：2012-1-14</span></div>
            <p>从能喝的涂料到零VOC涂料，从耐擦洗到覆盖裂纹，关于涂料的高环保、高性能的宣传层出不穷。有关专家称，在选购时，消费者或多或少几乎都被这些宣传所影响，甚至进入了“越环保越好”、“功能越全越好”的误区中。误区一：零VOC就是最好的与其他建材商品一样，涂料的环保性已经成为商家和消费者的焦点...<a href="#">[详细]</a></p>
            <p class="pl40"><span>装修diy</span><span>单身公寓</span><span>简约风格</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow mb15">
      <div class="section">
        <div class="hot_topics_box group">
          <img src="/assets/master/hot_topics4.jpg" alt="" />
          <div class="hot_topics_con">
            <h3>古典韵味现代生活中式奢华居</h3>
            <div class="h3_sub"><span>来源：中华室内设计网 </span><span>时间：2012-1-14</span></div>
            <p>这套面积甚大的公寓以现代中式的装修风格打造，整体感觉较为醇厚；经典的中式风格色彩虽不够活泼，但大气之感浑然天成。中式风格的装修下，现代生活的机能也是非常完善，将时尚舒适生活与古典中式雅韵结合得天衣无缝。独具匠心地将橱柜内嵌墙内，节省了空间更增加了艺术色彩。内嵌橱柜内放置的工艺品映衬着两边的绿色植物，主人的雅韵情致呼之欲出...<a href="#">[详细]</a></p>
            <p class="pl40"><span>装修diy</span><span>单身公寓</span><span>简约风格</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow">
      <div class="section">
        <div class="hot_topics_box group">
          <img src="/assets/master/hot_topics1.jpg" alt="" />
          <div class="hot_topics_con">
            <h3>第5届“为坐而设计” “50把椅子”在中央美术学院美术馆展出</h3>
            <div class="h3_sub"><span>来源：中华室内设计网 </span><span>时间：2012-1-14</span></div>
            <p> 2011年12月11日，第5届“为坐而设计”国际赛展暨国际知名设计师作品邀请展 “50把椅子”在中央美术学院美术馆如期展出。本次活动总策划人江黎教授同时担任大赛评委，十年来， “为坐而设计”系列大赛从成长到成熟再至成功，记录了中国设计师们为“原创”所付出的默默无语的耕耘和孜孜不倦的探索。赛事的专业高度与规模在十几年的经验基垫下...<a href="#">[详细]</a></p>
            <p class="pl40"><span>装修diy</span><span>单身公寓</span><span>简约风格</span></p>
          </div>
        </div>
      </div>
    </div>

  </div><!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a href="#" class="prev"><span></span>上一页</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">...</a>
      <a href="#">20</a>
      <a href="#" class="next">下一页<span></span></a>
    </div><!--pager ends-->
  </div><!--sub_bot ends-->
</div><!--main ends-->
