<div class='wrapper act_beijing pt25 pb30'>
  <div class="shadow">
    <div class="section">
      <img src="<%= asset_path "big_bg/beijing2012_title.jpg" %>"/>
      <div class="wuhan2 beijing2012_1">
        <p>1.“立邦，作为涂料行业的领军者，在经历了提供各类功能性产品的理性阶段后，现在，更希望通过色彩的演绎，为广大消费者带去更多感性和感动。。。。“立邦北区总经理陈总充满感情的开场词让整个会场充满暖意。。。</p>
      </div>
      <!--wuhan2 ends-->
      <div class="wuhan4 beijing2012_2">
        <p>2.现场众多色彩案例和全新效果体验，设计师们甚感兴趣纷纷驻足查看.</p>
      </div>
      <!--wuhan4 ends-->
      <div class="wuhan9">
        <p>3.色彩大师的精彩宣讲，看在场设计师听得多投入！</p>

        <div class="beijing_video">
          <img src="<%= asset_path "big_bg/beijing2012_3.jpg" %>"/>
        </div>
        <!--wuhan_video ends-->
      </div>
      <!--wuhan9 ends-->
    </div>
    <!--section ends-->
  </div>
  <!--shadow ends-->
</div><!--wrapper ends-->
