<div class='wrapper shanghai_station pt25 pb30'>
  <div class="shanghai_bg guangzhou_bg">
    <p class="shanghai_p1">作为立邦2011春季色彩潮流研讨会第三站，广州的活动现场自然不甘示弱，将精彩一路接力，以各种给力的方式碰撞出色彩的激情和创意。</p>

    <p class="shanghai_p2">会上，立邦特别为设计师精心准备了缤纷心形许愿卡，设计师入场签到时在上面写下自己的梦想和心愿。大家挥动手中彩笔，在许愿墙上放飞缤纷梦想，会议尚未开始就迸发出极具感染力的欢乐气氛。</p>

    <p class="shanghai_p3">作为会程中最受设计师欢迎的环节，立邦国际荣誉色彩顾问Mr.Dominic的精彩演讲自然再次得到大家的热烈响应，现场的互动交流掀起一轮又一轮的高潮。</p>

    <p class="shanghai_p4">“冷色调还是暖色调让人感觉更加靠近呢？”</p>

    <p class="shanghai_p5">“暖色调！”一位设计师抢过主持人的话筒就大声回答。</p>

    <p class="shanghai_p6">“嗯…恭喜你答对了！”主持人翻译后，Dominic故意拖长声调回答，20年从业经验的资深色彩专家也有顽皮的一面，“本题奖品是…”</p>

    <p class="shanghai_p7">此后，这位设计师从主持人手里接过奖品：色彩轮和色卡礼品套装。</p>

    <p class="shanghai_p8">而随后的交流中，名匠装饰设计总监康永鲜表示：“色卡和色彩轮这些辅助工具，可以帮助我们以一个比较理性的思维去分析色彩之间的运用搭配，用理论去指导实践，这样驾驭色彩的能力会更强。立邦赠送的实用色彩工具大礼包里面的色彩流行色彩趋势手册也非常好用，我刚才翻了翻，里面包括2011年度涂料界的六大色彩趋势。总共36色，所有主推色都附有实际装修案例，每个案例都有对色彩的清晰说明和配套颜色，方便我们选用。”</p>

    <p class="shanghai_p9">“还有立邦这个去年新开发的配色软件也很实用，”
      三星装饰的设计师马瑞党补充道，“它不仅覆盖了整个立邦色彩体系所有颜色，还可以同步其他配套软件，导入导出颜色很便利，还有那本立邦专刊也非常有用。”<br/>
      “不错，这次研讨会，真是受益匪浅。好听、好看，还有好用的大礼包拿，以后再举办，我第一个报名。”</p>

    <p class="shanghai_p10">康永鲜笑道。</p>
  </div>
</div>
<!--wrapper ends-->