<div class='wrapper act_beijing pt25 pb30'>
  <div class="shadow">
    <div class="section"><img src="<%= asset_path "big_bg/haikou_tit.jpg"%>"/>

      <p class="haikou_bg1">1、一入会场，整面色彩趋势的墙面吸引着眼球，展现了立邦2012年度的5大色彩趋势.吸引了众多设计师们的关注,背景的黑色很Cool哦!</p>

      <p class="haikou_bg2">2、现场一角布置着立邦缤纷迷你涂料供设计师现场把玩,这款产品不仅采用的原料是净味环保,连调色必备的色浆都是净味的,市场上可独此一款哦.而且还设计了多款的模板,可以充分发挥设计师们的创作冲动哦!难怪现场很多家装公司的老总在这里驻足良久,要细细了解呢</p>

      <p class="haikou_bg3">3、红掌盛开得正猛烈呢~这种花在上海得等到5月才能看见盛放地如此红艳艳~</p>

      <p class="haikou_bg4">4、会议开始前，大屏幕中正播放着25位业界知名设计师对2012年度立邦五大色彩趋势的解读,很精彩哦~~</p>

      <p class="haikou_bg5">5、酒店的布置很不一般哦!看,还有个迎宾的呢~~</p>

      <p class="haikou_bg6">6、立邦中国华南区总经理特助在为大家介绍立邦家装的发展情况,设计师们都听得很认真哦!</p>

      <p class="haikou_bg7">7、第二个议程是才女+美女的Ms.Sammiz出场.---立邦中国区色彩营销高级经理周颖女士,为大家带来跨界设计领袖KOL对色彩趋势的领悟和解读，以及立邦2012年度的五大色彩趋势.让人感受到春天的温暖！
        在场的所有设计师都听得很投入哦~~</p>

      <p class="haikou_bg8">8、立邦中国粤西销售部经理陆静和南区应用服务部经理朱晟,分别为在场的家装公司老总和设计总监们介绍立邦在中国20年的历程,以及最新的产品工艺和未来发展趋势. </p>
    </div>
  </div>
</div>
<!--wrapper ends-->