<div class='wrapper shanghai_station pt25 pb30'>
  <div class="shanghai_bg">
    <p class="shanghai_p1">2012年3月13日，中国涂料行业领导企业立邦(NipponPaint)在上海浦东佳友维景大酒店举办了“2012年立邦色彩趋势设计师沙龙活动”。此次活动邀请来自各知名家装公司的60余位设计师们，一起分享2012年度色彩趋势，探讨色彩在室内环境中的运用。</p>

    <p class="shanghai_p2">会议邀请国际荣誉色彩顾问Mr.Dominic，为大家分享全新的国际色彩流行趋势，并同在场设计师分享了一些国际室内风尚案例。他向大家提出“现在家装色彩的趋势越来越多取之于大自然”的观点。立邦认为，自然的元素开始被逐渐运用到室内设计和环境当中，用大自然赋予的色彩能量，唤醒人们内心深处对美好生活的渴望。</p>

    <p class="shanghai_p3">随后，立邦中国区高级色彩经理Ms.Sammi，为大家带来了跨界设计领袖们对色彩趋势的领悟和解读，她提到，立邦作为涂料行业领军者，希望能通过各位设计精英对色彩的运用，通过对家装色彩的改变，不仅仅满足现代人的时尚需求，更希望是能给生活带来的是一种感动，一种温暖。</p>

    <p class="shanghai_p4">活动最精彩的部分由中国艺术家协会视觉艺术研究会秘书长—钱伟群，讲解《如何在设计中运用色彩，为新年增强运势》，以风水学概念让色彩搭配为自己带来好运，这种神秘而别具一格的话题引起现场来宾的浓厚兴趣，将活动推向一个高潮！</p>

    <p class="shanghai_p5">在会场的多个角落，都会有立邦产品效果展示，通过来宾与展示区产品的亲密接触，可以更深刻的了解到如今立邦产品的多样与创新。现场亲自展示的艺术涂刷效果，让现场观众亲眼发现新产品给我们生活带来的美妙变化，底漆与色浆的全方位及净味体验，让大家充分感受到产品真正带来的安心。</p>

    <p class="shanghai_p6">在活动最后，由Mr.Dominic和立邦中国中区销售总经理孙荣隆先生一起向各家装界设计精英颁发《风尚课程荣誉》证书，立邦一直从各方面支持和培养着我们中国年轻设计力量，给予他们能给我们带来更美好的生活和未来。</p>

    <p class="shanghai_p7">涂料不只是单单给予消费者一块美丽的墙面，或是一些颜色,
      它展现的是人们对于生活的积极态度，以及营造美好生活的无限渴望，这也是立邦始终坚持的企业信念，让色彩的影响力深入人心，藉由高新技术的支持，创造更加美好的未来，为每个人刷出崭新的生活。让我们一起刷新2012，刷新你我的生活。</p>

  </div>
</div>