<div class='wrapper shanghai_station shanghai2011 pt25 pb30'>
  <div class="shanghai_bg">
    <p class="shanghai_p1">2011年最给力的色彩有哪些？上海的设计师们又对色彩有何独到见解？作为走在时尚前沿的国际化大都会，上海对于国际流行色的触觉究竟有多灵敏？作为立邦2011春季色彩潮流研讨会的首站，上海的会议一经举行，立即吸引无数业内目光。许多参会的设计师会后表示，上海的色彩研讨会，真的很有看头！</p>

    <p class="shanghai_p2">不少参会者都对这次会议的主讲人-立邦国际荣誉色彩顾问Mr.Dominic印象深刻。他不仅与设计师们分享了2011年色彩潮流趋势走向和最新设计案例，还就目前在国际上大热的色彩心理学与大家展开热烈讨论。“消费者一定要找到适合自己的色彩，一定要注重不同色彩带给自己的不同感受。”“当一个色彩令你开心喜悦、欢乐时，这个色彩就是适合你的色彩。”大家畅所欲言。</p>

    <p class="shanghai_p3">“要想找到自己适合的色彩，有时候色彩工具不可或缺。”
      Dominic补充道，“为消费者做培训，用色彩工具去推广，帮助人们打破色彩的旧观念，创造更加具有个性的家居环境，用更丰富的色彩去影响乃至改变人们的生活。”</p>

    <p class="shanghai_p4">“不错！立邦在色彩推广方面就做得很出色，它的色卡非常完善，各个功能间都有不同的色卡匹配，我就经常利用它向客户推荐颜色。”好美家装饰工程设计师赵飞说。</p>

    <p class="shanghai_p5">百安居的高级设计师王伟也按捺不住了：“定位家居色彩基调要考虑客户的年龄层次和生活习惯，中国人不像外国人那样能够大胆用色，这需要设计师给消费者专业的引导，色彩工具非常有用。”</p>

    <p class="shanghai_p6">设计师们的热烈讨论将会议的气氛一路推向高潮，直至研讨结束，大家还忍不住私下交流一番。随后，在创意涂刷的现场互动环节，大家更是挽起袖子就上，随意挥洒自己的灵感和创造力，现场不断出现设计师的即兴“大作”，赢得大家赞许的掌声一片。 </p>

    <p class="shanghai_p7">“这次的研讨会，好看、好玩又轻松，更重要的是给我带来很多设计上的灵感，以后在颜色的运用上可以更加大胆一点。”松下盛一设计师沈嘉俊挥舞着手里的油漆刷，激动地说。
      而聚通装潢的设计师王蓓，则对这次会议新发布的立邦iColor网站怀有极大的兴趣：</p>

    <p class="shanghai_p7">“这个业内交流的平台真是太有用了，今后一定多去浏览和上传作品。”</p>
  </div>
</div><!--wrapper ends-->
