<div class='wrapper act_beijing pt25 pb30'>
  <div class="shadow">
    <div class="section">
      <img src="<%= asset_path "big_bg/wuhan1.jpg" %>"/>
      <div class="wuhan2">
        <p>1、12年立邦设计师沙龙活动---武汉站于3月20日在武汉五月花酒店成功举行。主力干将可是中区的三大美女哦！</p>
      </div>
      <!--wuhan2 ends-->
      <div class="wuhan3">
        <p>2、与会设计师对现场展示的墙面艺术漆兴趣十足，现场涂刷踊跃的很叻</p>
      </div>
      <!--wuhan3 ends-->
      <div class="wuhan4">
        <p>3、立邦中区总经理孙荣隆先生现场致辞，王者风范，帅气十足!</p>
      </div>
      <!--wuhan4 ends-->
      <div class="wuhan5">
        <p>4、立邦重量级色彩顾问Mr. Dominic为与会设计师们带来了国际色彩趋势的精彩演讲，大家都听得入神啦！</p>
      </div>
      <!--wuhan5 ends-->
      <div class="wuhan6">
        <p>5、Mrs.Sammi，立邦中国色彩营销高级经理周颖的演讲让大家耳目一新，.籍自然、色彩、设计和易学于一体，将立邦12年度色彩风尚融会贯通于环境、自然和易学之中，设计师们纷纷作起了笔记，好东西大家都要分享哦。</p>
      </div>
      <!--wuhan6 ends-->
      <div class="wuhan7">
        <p>6, 武汉的设计师好踊跃哦。都纷纷抢着回答问题呢！</p>
      </div>
      <!--wuhan7 ends-->
      <div class="wuhan8">
        <p>7、看武汉的设计师们可都是美女帅哥哦！这次人手一份的培训证书可是有国际色彩顾问和立邦总经理共同签名颁发的，含金量很高呢！</p>
      </div>
      <!--wuhan8 ends-->
      <div class="wuhan9">
        <p>8、立邦武汉工作人员的合影咯~美女帅哥一起来!</p>
        <div class="wuhan_video">
          <img src="<%= asset_path "big_bg/wuhan9.jpg" %>"/>
        </div>
        <!--wuhan_video ends-->
      </div>
      <!--wuhan9 ends-->
    </div>
    <!--section ends-->
  </div>
  <!--shadow ends-->
</div><!--wrapper ends-->