<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
    <style type="text/css">
        span.arrow_1 {
            right: 168px;
        }

        span.arrow_2 {
            right: 100px
        }

        .section {
            zoom: 1;
        }
    </style>
<%- end %>
<div class='wrapper act_beijing pt25 pb30'>
  <div class="shadow">
    <div class="section xian_box"><img src="<%= asset_path "big_bg/xian_tit.jpg"%>"/>

      <p class="xian_bg1">1、立邦设计师活动---西安站于3月22日在西安阳光国际大酒店成功举行。看,场面宏大啊~~</p>

      <p class="xian_bg2">2、设计师一一签到入场,都是用立邦缤纷迷你涂料签字哦,好玩又环保,100%净味健康哦~~</p>

      <p class="xian_bg3">3、立邦直营家装总经理魏总致词,慷慨激昂简明易概!</p>

      <p class="xian_bg4">4、立邦重量级色彩顾问Mr. Dominic为与会设计师们带来了国际色彩趋势的精彩演讲,太精彩了！大家听得聚精会神!</p>

      <p class="xian_bg5">5, 西安的设计师真的太热情了,让人感受到古都精英设计师们的淳朴与精进,问题一个接一个,感觉要把Dominic老师问到抽空咯~</p>

      <p class="xian_bg6">6、开始试刷比赛啦~设计师们抢着参与,看最右边一幅是Dominic老师最中意的哦~当然,其它的都不错呢~</p>

      <p class="xian_bg7">7、设计师案例解析,来自西安今朝设计公司的2位资深设计师带来很优秀的作品请外籍老师点评呢!</p>

      <p class="xian_bg8">8, 颁发证书咯~外籍老师看玩笑地说下次他到中国凡是合影都收费的话,他很快就成富翁咯,呵呵~~</p>
    </div>
  </div>
</div>