<div class='wrapper pt25 pb30'>
        <div class="shadow mt25 mb15">
          <div class="section xian">
            <div class="items group">
              <p class="ft18">9月7日，立邦iColor家装公司见面会在西安顺利召开。古城独特的魅力又给iColor见面会带来了一抹色彩。当天，来自西安的家装公司的代表及设计师把会场挤得满满当当，三个小时的时间，设计师和家装公司代表带着期待而来，带着惊喜而归。</p>
            	<img class="img_center" src="<%= asset_path "big_bg/xian1_1.png"%>">
            </div>

            <div class="items group">
              <img class="fl" src="<%= asset_path "big_bg/xian1_2.png"%>">
              <p class="mt50">在主持人简短的开场白之后，立邦iColor见面会正式开始。立邦西区市场部行销服务处主管刘诗璐致辞，热烈欢迎并感谢各位家装界精英与设计师们参与本次活动。</p>
              <p>并且向现场的嘉宾简单介绍了icolor网站的大体情况以及立邦近来推出的各类新品以及活动，刘总激情洋溢的讲话瞬间点燃了现场的气氛。</p>
            </div>
          </div>
        </div>
      </div><!--wrapper ends-->


<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/xian1?page=1" class="current">1</a>
		<a href="/designer_events/city/xian1?page=2">2</a>
		<a href="/designer_events/city/xian1?page=3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->