<div class='wrapper pt25 pb30'>
        <div class="shadow mt25 mb15">
          <div class="section xian">
            <div class="items group">
              <p>之后，立邦建筑事业群市场部高级经理周颖女士为与会者详细的介绍了立邦iColor网站。完整、高流量、公益化。通过Sammi的介绍，iColor平台完完整整的展现在了西安家装市场的面前，嘉宾们在听了介绍之后无不惊喜振奋。“立邦想在了我们的前面，为我们搭建了那么好的一个平台。”正如设计师所表达的，立邦iColor网站给现场的设计师以及家装公司代表带来了完全不同的创新展示渠道。网站中的“大师殿堂、设计鉴赏、业主通道、漆光溢彩”几大王牌栏目，可以说是面面俱到，体现了立邦本身的预见性与创造性。短短几个小时，几乎所有参与活动的设计师与家装公司代表都现场注册了网站。</p>
            	<img class="img_center" src="<%= asset_path "big_bg/xian2_1.png"%>">
            </div>

            <div class="items group">
              <p>随后，立邦西安学校校长张前以及立邦西区应用服务吴金钟为现场的活动参与者针对立邦最新推出的米兰诺艺术漆进行了讲解与演示，并邀请现场的嘉宾一同亲手进行产品测试以及涂刷艺术漆。</p>
              <p>对于艺术漆，吴总提到三点：首先艺术漆相对于竞争对手弥补了业内特殊工艺效果的空缺，解决了现有工艺不能达成的效果。其次艺术漆能够帮助消费者解决现在壁纸、石材等材质的弊端，避免了受潮、发霉等问题、能够很好的用作部分装修的点缀。第三设计师与消费者也完全不用担心后期的施工，立邦会派出专门团队来做解决大家的后顾之忧。现场嘉宾纷纷动手尝试，啧啧称赞。</p>
              <img class="img_center" src="<%= asset_path "big_bg/xian2_2.png"%>">
            </div>
          </div>
        </div>
      </div><!--wrapper ends-->


<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/xian1-1">1</a>
		<a href="/designer_events/city/xian1-2" class="current">2</a>
		<a href="/designer_events/city/xian1-3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->