<div class='wrapper pt25 pb30'>
        <div class="shadow mt25 mb15">
          <div class="section xian">
            <div class="items group">
              <img class="fl" style="margin-right:10px;" src="<%= asset_path "big_bg/xian3_1.png"%>">
              <p>采访伊始实在不敢相信眼前这个正值青春年华的少女是立邦西安最大经销的掌门人。稚气未脱的脸上完全看不到一丝同龄人的胆怯或是生涩。</p>
              <p>“我一毕业就开始接手爸爸的公司，当时就觉得是自己在创业。刚开始经历了一段磨合期，现在已经完全可以处理。甚至还可以有自己的时间。”13家门店，小窦总采取了联网经营，对比原先的线下管理实现更为高效的管理模式。</p>
              <p>在接手企业以后，小窦总还采取了创新的股份制模式，由此总经销与门店的关系从原先纯粹的雇佣关系变为了股东制关系，增强了整个团队的凝聚力。</p>
              <p class="mb15">对于iColor网站，小窦总认为这是对于设计师是一个很好的平台，立邦的努力使得设计师与经销商的关系更紧密。</p>
              <p>我们以前也做其他品牌，不过现在只做立邦了。原因是我觉得立邦的团队非常年轻更有创意，也跟我的想法更能契合。将来我也会极力的推进iColor平台，推进旧房翻新业务，为西安立邦制造更多的机会点。”</p>
              <p>看着眼前自信满满漂亮的小窦总，我们好像看到了立邦充满希望的未来。</p>
            </div>

            <div class="items group">
              <img class="fr" src="<%= asset_path "big_bg/xian3_2.png"%>">
              <p>聊到本次推进会的会意，刘总表示希望通过这次的推荐，能够让西安本地的设计师以及家装公司能够对立邦有一个更崭新的了解，也希望通过iColor网站的平台展示优秀设计师的作品。网站不仅能够直接的帮助消费者，在选购时期确定色彩搭配风格，还能帮助家装公司更好的提高名气与知名度，为公司的发展搭建良好的平台。</p>
              <p>至于选择西安市场的理由，窦总表示是因为西安整个装修市场家装公司的占比比较高，这样能够更好的与家装公司合作。公司今年也非常重视二三线城市的市场，并且加大力度来支持他们。</p>
            </div>

            <div class="items group">
              <img class="fl" src="<%= asset_path "big_bg/xian3_3.png"%>">
              <p class="mt50">作为与立邦合作超过五年的合作伙伴，赵总表示iColor网站给了设计师展示的平台，使得西安的设计师和家装公司能够通过这个平台了解更多信息。</p>
              <p>谈到立邦在西安的消费者中的印象，“立邦已经和竞争对手拉开了差距，西安消费者非常认可立邦品牌”窦总这样告诉笔者。特别是在近两年整体市场不景气的情况下，立邦的品牌效应更有利于他们调整自身策略，达成你是发展。</p>
            </div>

            <div class="items">
              <p>立邦，为您刷新生活。iColor网站西安推荐会在一片热烈的气氛中圆满结束。iColor给古城西安带了了一抹亮色，作为涂料行业的领军人物，立邦一直没有停止创新的脚步。也期待通过icolor的平台以及立邦出色的产品体系和服务能为广大的消费者创造更有色彩，更有新意的美好生活！</p>
            </div>
          </div>
        </div>
      </div><!--wrapper ends-->

<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/xian1?page=1">1</a>
		<a href="/designer_events/city/xian1?page=2">2</a>
		<a href="/designer_events/city/xian1?page=3" class="current">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->