<div class="modal hide fade story_modal" id="upload_success">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close icon-i30"></i></button>
  </div>
  <div class="modal-body">
    <h2 class="text-center text-green tip">您已成功上传爱的故事</h2>
    <div class="text-center btn_group">
      <a href="javascript:void(0);" class="btn_check" id="check_my_story">查看我的故事</a>
      <a href="javascript:void(0);" class="btn_custom" id="check_custom">定制我的私人设计师</a>
    </div>
  </div>
</div>