<a href="<%= user_asks_path(@love_story_user) %>" class="pull-left story_photo" target="_blank">
  <%= image_tag(@love_story_user.avatar.try(:file).try(:url, :icon), :size =>"61x61", :alt => '') %>
</a>