<%- content_for :head do %>
  <style type="text/css">
    .shadow{zoom:1;}
  </style>
<%- end %>

<div class='wrapper pt25 pb30'>
  <div class="shadow mt25 mb15">
    <div class="section zhengzhoubg">
      <div class="items group">
        <img class="fr" src="<%= asset_path "big_bg/zhengzhou1_1.png"%>">
        <p class="ft18 pt50">8月20日，立邦iColor家装公司见面会郑州站顺利召开，虽然这几天郑州遭遇暴雨，但是完全没有挡住当地家装公司与设计师的热情，来自郑州的近100位家装公司的代表及设计师一同出席了本次活动，现场座无虚席。 </p>
      </div>

      <div class="items group">
        <img class="fl" src="<%= asset_path "big_bg/zhengzhou1_2.png"%>">
        <p class="pt50">在主持人的开场白之后，立邦iColor见面会正式开始。首先，立邦鲁豫销售部门销售总监侯俊峰先生致辞，热烈欢迎并感谢各位家装界精英与设计师们参与本次活动，并且向现场的嘉宾简单介绍了icolor网站的大体情况，侯总激情洋溢的讲话瞬间点燃了现场的气氛。</p>
      </div>

      <div class="items group noborder">
        <img class="fr" src="<%= asset_path "big_bg/zhengzhou1_3.png"%>">
        <p class="pt50"> 之后，立邦建筑事业群市场部高级经理周颖女士为与会者详细的介绍了立邦iColor网站，新媒体新方式新平台给在座的嘉宾耳目一新的感觉，网站中的“大师殿堂、设计鉴赏、业主通道、漆光溢彩”等王牌栏目，更为大家带来了全新可以免费推广自身设计与作品的平台。仅仅两个小时不到的时间，icolor郑州家装见面会现场注册网站的公司已达64个，上传作品两套，这些数字就已经足以证明icolor平台的魅力已经得到郑州家装公司与设计师的认可。 </p>
      </div>
    </div>
  </div>
</div><!--wrapper ends-->

<div class='sub_bot pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/zhengzhou1-1" class="current">1</a>
    <a href="/designer_events/city/zhengzhou1-2">2</a>
    <a href="/designer_events/city/zhengzhou1-3">3</a>
  </div><!--pager ends-->
</div>