<%- content_for :head do %>
	<style type="text/css">
		.shadow{zoom:1;}
	</style>
<%- end %>

<div class='wrapper pt25 pb30'>
	<div class="shadow mt25 mb15">
		<div class="section zhengzhoubg">
			<div class="items group">
				<img class="fl" src="<%= asset_path "big_bg/zhengzhou2_1.png"%>">
				<p class="pt50">随后，立邦鲁豫销售部门郭守雷为现场的活动参与者针对立邦最新推出的纸胶带、砂纸、擦色宝、艺术漆等进行了讲解与演示，并邀请现场的嘉宾一同亲手进行产品测试以及涂刷艺术漆，以实际的效果证明立邦产品的优势。与此同时，鲁豫销售部门梁岩还进行了立邦迷你缤纷净味12色的讲解、演示了耐黄变概念介绍对比样板现场使用，强调全面十环的环保健康。</p>
			</div>

			<div class="items group noborder">
				<img  class="fr pt25" src="<%= asset_path "big_bg/zhengzhou2_2.png"%>">
				<h3>对立邦涂料郑州经销商的现场采访</h3>
				<p>侯总在现场接受了记者的采访。谈到本次icolor郑州家装见面会的初衷，侯总表示希望通过这次的推荐，能够让郑州本地的设计师以及家装公司能够对立邦这个涂料第一品牌的新产品、新服务有个全面的了解，也希望通过icolor的平台展示优秀设计师的作品。立邦将来还会尝试线上线下并进推广设计师作品。</p>
				<p>聊到品牌建设，侯总提到现在立邦正在走全方位的整合营销，利用各个媒体渠道让立邦真正走进年轻消费者。</p>
				<p>“郑州市场今年比去年同期复苏很多。”当问及今年市场情况时，侯总这样表示。受到三四级城市房产回暖的影响，鲁豫市场正在遇到难得的机遇。也让我们欣喜的看到在整体市场环境不太理想的今年，立邦从三四级城市给到的好消息。</p>
			</div>
		</div>
	</div>
</div><!--wrapper ends-->

<div class='sub_bot pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/zhengzhou1-1">1</a>
    <a href="/designer_events/city/zhengzhou1-2" class="current">2</a>
    <a href="/designer_events/city/zhengzhou1-3">3</a>
  </div><!--pager ends-->
</div>