<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_nanjing">
				<h1>
					2012立邦和家装界 精英携手刷新 南京站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<p class="tc">
					6月19日，立邦iColor家装见面会南京站顺利召开，<br />来自南京当地的将近60位家装公司代表和设计师出席了本次活动。
				</p>
				<div class="clear">
					<p style="width:450px;">见面会上，立邦涂料有限公司的市场部高级经理周颖女士为大家介绍了立邦全新推出的iColor 网站，网站优质的用户体验和视觉感受让在座来宾耳目一新，内容包括“海量案例，施工工艺，免费咨询，灵感来源”等，赢得在座家装界同仁的关注和好评。iColor 网站一方面能够更直接的帮助到有装修需求的消费者，另一方面可以有效提高装饰公司的名气和知名度，为其公司发展搭建良好的平台。消费者可以参考网站上的案例作品，并且与相关设计师取得联系，方便快捷。为消费者获取灵感，为设计师优秀作品展示，可以说是不可多得的公益性平台。</p>
					<img src="<%= asset_path "news/event/event_img6.jpg"%>" class="fr" />
				</div>
				<div class="clear">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随后立邦苏州培训学校讲师朱平先生详细讲解了装饰装修行业的前瞻以及立邦新产品的优势和使用细则，并且与立邦应用服务中心驻省工程师张位国先生一起演示了“米兰诺艺术漆”及“缤纷净味12色”DIY产品的使用方法，现场还邀请了在座的家装公司伙伴共同参与体验新产品施工工艺，台上台下互动密切，这些新涂刷效果给大家带来耳目一星的家居环境，大家对这些效果都表示赞赏并在不久的将来会把新工艺用于家居设计中，为消费者提供更多更新颖的家居设计体验。<br />
					<p class="tc"><img src="<%= asset_path "news/event/event_img7.jpg"%>" style="float:none;" />
					</p>
				</div>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/nanjing1-1" class="current">1</a>
		<a href="/designer_events/city/nanjing1-2">2</a>
		<a href="/designer_events/city/nanjing1-3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->