<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_nanjing">
				<h1>
					2012立邦和家装界 精英携手刷新 南京站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<div class="clear noborder">
					<h2>现场采访报道</h2>
					立邦涂料（中国）有限公司苏中销售总监孙洋先生是本次南京见面活动的主要负责人，他从1998年加入立邦，一直坚信立邦的品牌战略是走在行业的最前方，关于立邦今年荣获2012中国人最喜爱的品牌，他觉得这是消费者对公司的认可，并且表示相信公司会继续努力，回馈消费者. “色彩是立邦的一个战略，它会带领我们走的更远”采访中，孙总表示出对公司的信任。谈到他对为了iColor 网站的看法，他表示为了加深和家装公司以及设计师的合作，这个网站应运而生，它将会携手优秀的家装公司和设计师来为消费者服务。
					<img src="<%= asset_path "news/event/event_img4.jpg"%>" />
				</div>
				<div class="clear">
					<p style="width:410px;">南京德邦公司是立邦公司在南京最大的合作伙伴之一，其经销售商代表符总在谈到为什么对立邦情有独钟时，他表示是因为自己欣赏立邦的品牌效应。这次立邦推出的iColor 网站能够将更好的设计展示给消费者，他表示会积极配合支持，更好的为消费者带来优质的服务。符总表示现在消费者更多的倾向于装饰公司，这个平台会促进家装公司共同学习进步。现在的消费者越来越追求个性化，立邦在产品的研发上，引领潮流，一直很让消费者满意，他很信任立邦。</p>
					<img src="<%= asset_path "news/event/event_img5.jpg"%>" style="margin:10px;" />
				</div>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/nanjing1?page=1">1</a>
		<a href="/designer_events/city/nanjing1?page=2" class="current">2</a>
		<a href="/designer_events/city/nanjing1?page=3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->