<div class='wrapper overflow clear'>
	<div class="shadow">
		<div class="section clear july_event">
			<div class="event_nanjing">
				<h1>
					2012立邦和家装界 精英携手刷新 南京站
					立邦iColor全国家装公司见面会现场报道
				</h1>
				<div class="clear noborder">
					<img src="<%= asset_path "news/event/event_img1.jpg"%>" class="fl" />
					<p>龙之友装饰公司也是和立邦合作了超过十年的合作伙伴，其负责人吴先生一直坚信立邦是大品牌，其产品齐全，服务到位，市场反映非常良好。他也希望借助iColor 网站这个平台，将自己的公司更好的展示给消费者。面对目前消费者需求的个性化，他表示立邦因为产品系列齐全，质量过硬，一直都能够满足消费者，很能接受市场的考验。</p>
				</div>
				<div class="clear">
					<p>此次南京站活动，现场来了多家与之合作超过十年的装饰公司，金之瑞也是其中之一，负责人孙语刚经理表示自己一直选择和立邦合作，就是相信它的品牌和服务，此次立邦推出的iColor 网站，他也很看好，在信息社会，这样的平台网站会将装饰公司和设计方案更直接的展现给消费者。孙总觉得以后会继续和立邦共进退，因为环保和色彩都是目前装修消费者最看重的，而立邦这两块都是做到了行业的领先。</p>
					<img src="<%= asset_path "news/event/event_img2.jpg"%>" class="fr" />
				</div>
				<div class="clear">
					<img src="<%= asset_path "news/event/event_img3.jpg"%>" class="fl" />
					<p>作为涂料行业的领跑者，立邦一直在创新求变，立邦期待通过自己真诚的服务，通过iColor网站开发招募更多家装公司，为广大消费者服务，携手一起刷新美好生活。</p>
				</div>
			</div>
		</div><!--section ends-->
	</div><!--shadow ends-->
</div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/nanjing1?page=1" class="current">1</a>
		<a href="/designer_events/city/nanjing1?page=2">2</a>
		<a href="/designer_events/city/nanjing1?page=3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->