<div class="span3 well well-small nom">
  <p class="text-right" style="margin-top:200px;">
  </p>
  <div class="clearfix">
    <p class="text-left">
      <a href="/manage/banner_company?page_name=华浔品味装饰&position=1" class="btn btn-small span7 <%= i_banner.position == 1 ? 'btn-primary' : 'btn-light' %>">670x85</a>
      <a href="/manage/banner_company?page_name=华浔品味装饰&position=2" class="btn btn-small span5 <%= i_banner.position == 2 ? 'btn-primary' : 'btn-light' %>">310x85</a>
    </p>
  </div>
</div>