<div class="header">
  <ul class="nav center clear">
    <li><a href="#" class="nav-icon">地图</a></li>
    <li><a href="#" class="nav-icon nav-icon2">网格</a></li>
    <li><a href="javascript:;" class="nav-title">分类</a></li>
    <li><a href="javascript:;" class="nav-small">全部</a></li>
    <li><a href="javascript:;" class="nav-icon nav-icon3">设计作品</a></li>
    <li><a href="javascript:;" class="nav-icon nav-icon4">刷新感言和爱情故事</a></li>
    <li><a href="javascript:;" class="nav-title">地域</a></li>
    <li><a href="javascript:;" class="nav-small">全部</a></li>
    <li>
      <form action="" method="">
        <select>
          <option>省/直辖市</option>
        </select>
        <select>
          <option>城市</option>
        </select>
      </form>
    </li>
  </ul>
</div><!-- header -->
