<!-- JiaThis Button BEGIN -->
<div class="jiathis_style jia_custom">
  <span class="jiathis_txt">分享 </span>
  <a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
  <a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
  <a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
  <a class="jiathis_counter_style"><span class="jiathis_button_expanded jiathis_counter jiathis_bubble_style" id="jiathis_counter_74" title="累计分享0次">0</span></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1362540555860148" charset="utf-8"></script><script type="text/javascript" src="http://v3.jiathis.com/code/plugin.client.js" charset="utf-8"></script><div style="position:absolute;width:0px;height:0px;"><div class="ctf" style="width: 0px; height: 0px;"><!-- <span>Flash</span> --></div></div>
<!-- JiaThis Button END -->
