<div class="wrapper map pr">
  <%= render partial: 'baicheng/welcome/sidebar' %>
  <%= render partial: 'baicheng/welcome/jiathis' %>



<ul id="map">
    <li class="dot1">
      <ul class="map-ring">
        <li class="token token1">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token2">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token3">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token4">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token5">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token6">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token7">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token8">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token9">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token10">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token11">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token12">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
      </ul>
    </li>
    <li class="dot2">
      <ul class="map-ring">
        <li class="msg msg1">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg2">
          <div>
            <p>爱让我们在一起爱</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg3">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg4">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg5">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg6">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg7">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg8">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg9">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg10">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg11">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg12">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
      </ul>
    </li>
    <li class="dot3">
      <ul class="map-ring">
        <li class="msg msg1">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg2">
          <div>
            <p>爱让我们在一起爱</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg3">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg4">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg5">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg6">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg7">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="token token8">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token9">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token10">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token11">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token12">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
      </ul>
    </li>
    <li class="dot4">
      <ul class="map-lamp">
        <li class="msg msg1">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg2">
          <div>
            <p>爱让我们在一起爱</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg3">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg4">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg5">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg6">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="token token1">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token2">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token3">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token4">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token5">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token6">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
      </ul>
    </li>
    <li class="dot5">
      <ul class="map-ray">
        <li class="token token1">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token2">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token3">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token4">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token5">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="token token6">
          <a href="#"><img src="images/map/img.png"></a>
          <div>
            <a href="#">佘大师</a>
            <b>杭州</b>
            <i></i>
          </div>
        </li>
        <li class="msg msg1">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg2">
          <div>
            <p>爱让我们在一起爱</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg3">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg4">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg5">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
        <li class="msg msg6">
          <div>
            <p>爱让我们在一起</p>
            <i></i>
          </div>
        </li>
      </ul>
    </li>
    <li class="dot6"></li>
    <li class="dot7"></li>
    <li class="dot8"></li>
    <li class="dot9"></li>
    <li class="dot10"></li>
    <li class="dot11"></li>
    <li class="dot12"></li>
  </ul>








</div>

<%= render partial: 'baicheng/welcome/event_activity' %>


<%- content_for :head do %>
  <%= stylesheet_link_tag "baicheng/map" %>
<%- end %>

<%- content_for :tail do %>
  <script type="text/javascript">
  $(function(){
    var recent = Layer({
      auto : true,      // 是否自动弹出，默认false
      btn : $('.e-recent'), // 触发弹窗按钮
      box : $('.e-pop')   // 弹窗
    });
    $('.e-pop img').attr('draggable',false);

    $('#e-ml1')
    .spinCounter({spinTime: 1000, stopDigit: 2})
    .next().spinCounter({spinTime: 1260, stopDigit: 5})
    .next().spinCounter({spinTime: 1520, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 0});

    $('#e-ct1')
    .spinCounter({spinTime: 1000, stopDigit: 8})
    .next().spinCounter({spinTime: 1500, stopDigit: 2});

    $('#e-ds1').spinCounter({spinTime: 1000, stopDigit: 1})
    .next().spinCounter({spinTime: 1260, stopDigit: 6})
    .next().spinCounter({spinTime: 1520, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 0});

    $('#e-ps1').spinCounter({spinTime: 1000, stopDigit: 1})
    .next().spinCounter({spinTime: 1160, stopDigit: 2})
    .next().spinCounter({spinTime: 1320, stopDigit: 0})
    .next().spinCounter({spinTime: 1480, stopDigit: 0})
    .next().spinCounter({spinTime: 1640, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 0});

    $('#e-st1').spinCounter({spinTime: 1000, stopDigit: 1})
    .next().spinCounter({spinTime: 1400, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 2});

    $('#e-pro1').spinCounter({spinTime: 1000, stopDigit: 2})
    .next().spinCounter({spinTime: 1200, stopDigit: 0})
    .next().spinCounter({spinTime: 1400, stopDigit: 0})
    .next().spinCounter({spinTime: 1600, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 0});
  });
  </script>
<%- end %>
