<div class="container-fluid">
	<div class="design_works pad_t60">
		<div class="wrapper pad_b40">
			<div class="pd30">
				<div class="policy pd30 ft12">
					<h1>“因爱之名 刷新生活” 活动免责声明</h1>
					<p>请确保用户在参加本活动前, 已完整阅读了本活动规则，完全理解并全部同意。活动参与者一旦参与本次活动即表示其同意受本声明的约束。</p>
					<ol>
						<li>活动参与者所提交的图片集文案均需原创，相关资料均未侵犯他人知识产权及其他权益，并不得含有色情、暴力等违反国家相关法律法规及违背中国公共道德观念的内容。参与者自愿承担因该作品引起的所有法律责任及相关损失。为确保后续活动的顺利进行，参与者同意将其作品图片除署名权外的其他著作权权利，无条件许可给主办方相关的所有活动中独占使用。</li>
						<li>活动过程中出现“不可抗力”事件或计算机系统故障直接或间接地造成活动主办方无法履行其全部或部分义务，则活动主办方将免予履行该义务，并无需承担相应的责任。<br />
						“不可抗力”事件包括但不限于，地震、台风、火灾、水灾、战争、法律法规调整、政府命令禁止、因黑客攻击、计算机病毒影响、系统崩溃、数据丢失或其他人为原因造成计算机系统故障，及其他自然或人为灾害等导致活动无法继续开展的，且活动主办方不可预见、无法避免并无法控制的事件。</li>
						<li>对于本次活动推广材料中的任何印刷、排版或其他失误，以及活动推广的管理或在奖项的宣布中存在的任何瑕疵，主办方及其相关代理人和代理机构均不承担任何责任。</li>
						<li>除非为法律所禁止，参加此次活动并接受奖项将意味着允许主办方和其代理机构无需提供其他补偿或支付任何报酬，即有权为广告促销、宣传推广等目的使用获奖者的姓名和/或肖像等个人信息，包括但不仅限于大奖获得者名单。活动参与者同意免除并使主办方、其关联公司、附属公司、广告代理公司、推广公司和网络代理公司以及他们的相关董事、管理人员、员工或指定人员无需承担任何责任和损害。</li>
						<li>本次活动受中华人民共和国的法律管辖，对于因本次活动而产生的或与本次活动相关的任何争议，均应交由中国国际经济贸易仲裁委员会上海分会仲裁解决。</li>
						<li>如有任何原因导致本次活动未能在符合本规则和条款下进行，在法律许可的情况下，主办方保留随时终止或更改本活动之全部或部分内容的权利。</li>
						<li>活动过程中如因政府法律法规调整或行政命令要求，主办方有权根据上述调整或要求随时调整活动内容及规则。活动内容及规则调整时，活动主办方将另行向用户公告通知相关的调整，但无需征得用户的同意。</li>
						<li>主办方有权根据法律法规、司法或行政命令的要求以及活动的实际情况，随时取消、中止或终止该活动，主办方对活动的变更毋须提前通知。</li>
						<li>获奖产品及发放的免责声明
							<ul class="clearfix">
								<li><span>（1）</span><p>因获奖而需交纳的任何税负均有获奖者自行负责。</p></li>
								<li><span>（2）</span><p> 获奖实物产品：因质量瑕疵或发生的权属纠纷，由产品提供方与中奖用户之间进行解决，主办方不负任何法律责任。</p></li>
								<li><span>（3）</span><p> 获奖旅游：旅游过程中发生的任何意外风险或人身、财产损失，主办方不负任何责任，由服务提供者和中奖者之间进行解决。</p></li>
								<li><span>（4）</span><p> 奖品的发放：活动过程中，若用户所中实物奖项，主办方以活动网站上最终所留地址信息为准寄送奖品；若用户所中话费奖项，主办方以活动网站上最终所留电话号码为准充值话费；若用户所中旅游奖项，主办方以活动网站上最终所留的身份证信息为准。由此引起的任何纠纷，活动主办方免责。</p></li>
							</ul>
						</li>
					</ol>
					<h2>本次活动最终解释权归属：立邦涂料（中国）有限公司/立邦投资有限公司所有。</h2>
				</div>
			</div>
			<div class="redline_b4 pad_t60"></div>
		</div>
	</div>
</div>