<div class='wrapper pt25 pb30'>
	<div class="shadow">
		<div class="section" style="background:#fff8de;">
			<%= image_tag 'big_bg/shijiazhuang_tit.jpg' %>
			<div class="chengdu_con shijiazhuang_border">
				<h1 class="fb mb15">进入立邦iColor网站 立邦为你刷新生活</h1>
				<p>立邦建筑事业群市场部高级经理周颖女士为与会者详细的介绍了立邦iColor网站，新媒体新方式新平台给在座的嘉宾耳目一新的感觉，网站中的“大师殿堂、设计鉴赏、业主通道、漆光溢彩”等王牌栏目，更为大家带来了全新可以免费推广自身设计与作品的平台。听着周颖女士的介绍，来宾们认真笔记，现场注册。</p>
				<div class="tc pt25 pb30">
					<%= image_tag 'big_bg/shijiazhuang3.jpg' %>
				</div>
			</div>
			<div class="chengdu_con2 clear mb25">
				<h1 class="fb mb15">漆光溢彩 刷出缤纷生活：立邦米兰诺艺术漆讲解</h1>
				<%= image_tag 'big_bg/shijiazhuang4.jpg', class: 'fl' %>
				<p style="margin:80px 0 0 350px;">
					立邦廊坊学校讲师夏明银先生为现场参加见面会的来宾重点讲解了米兰诺艺术漆与立邦辅料，并宣讲2013年立邦六种流行风格即：混搭新风潮、清新田园风、欧美流行风、现代简约派、东方新古典。
				</p>
				<p style="margin:10px 0 0 350px;">
					同时，此次见面会现场的嘉宾还可以亲手进行产品测试以及涂刷艺术漆，体验艺术漆带来的立体效果。立邦艺术漆的浮光效果和丝绒效果施工操作简单，立体效果明显，受到在场所有嘉宾的一致好评和认可。
				</p>
			</div>
		</div>
	</div>
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shijiazhuang-1">1</a>
		<a href="javascript:;" class="current">2</a>
		<a href="/designer_events/city/shijiazhuang-3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->