<div class='wrapper pt25 pb30'>
	<div class="shadow">
		<div class="section" style="background:#fff8de;">
			<%= image_tag 'big_bg/shijiazhuang_tit.jpg' %>
			<div class="chengdu_con shijiazhuang_border">
				<h1 class="fb mb15">现场采访</h1>
				<img class="fr" style="margin-top:-61px;" src="<%= asset_path 'big_bg/shijiazhuang5.jpg' %>">
				<p>
					会后，陈总接受了记者的采访。谈到此次立邦2013iColor全国家装公司见面会的初衷，陈总表示，立邦作为涂料行业的领军企业，为顺应市场趋势和需求，在家装行业积极打造了iColor网站，而iColor网站作为一个完全开放的、公益性的，连接着设计师、消费者、家装公司的平台展示在大家面前，希望通过iColor的平台展示优秀设计师的作品，满足消费者不断变化的需求，促进和更好带动家装行业的发展。
				</p>
				<p>
					谈及2013年立邦在石家庄市场，陈总信心满满，并表示受楼市政策的影响2013年刷漆机会会大大提升，购房一族尤其是追求时尚的年轻购房刚需一族，对漆的认可度和需求度会不断的提高。2013年立邦将针对室内刷漆组建专门的施工队伍，加强队伍的专业素质，提高服务水平。
				</p>
			</div>
			<div class="chengdu_con2 clear shijiazhuang_border">
				<%= image_tag 'big_bg/shijiazhuang6.jpg' %>
				<p>
					作为立邦十几年的合作伙伴，总结平日的销售经验， “很大一部分客户还是最注重环保和质量，其次是功能、服务，最后是价格。谈及环保性，很多客户指定要立邦产品。”憨厚的秦总一脸的自信。
				</p>
				<p>
					“会上提到的丝绒系列和浮光系列艺术漆，在石家庄的专卖店已经有产品售出，并且在产品上市后，有很多年轻的消费者主动的咨询，这是一个很好的开端。”秦总表示。“专卖店在提供产品外还会提供很多配套的服务，比如免费预算、送货上门、技术监理、问题解决等服务”。
				</p>
				<p>
					谈到iColor，秦总也希望借助iColor 网站这个平台，开辟一个新的与消费者沟通的平台，提高销售量。
				</p>
			</div>
			<div class="chengdu_con shijiazhuang_border">
				<h1 class="fb mb15">家装公司代表采访：</h1>
				<img class="fr" style="margin-top:-45px;" src="<%= asset_path 'big_bg/shijiazhuang7.jpg' %>">
				<p>
					在iColor网站每月都会有最新的标有立邦色号的装修案例供大家免费收藏和下载，还有很多专业的色彩手册和样板册配套工具。唐慧高端设计负责人唐慧先生对于iColor网站从色彩的角度做了高度的评价，“色彩是设计出彩的核心元素之一。目前为止，立邦涂料的色彩是相当全面的，能够很大的满足客户的需求。这个iColor网站顺势的产生，会更进一步的改变了人们对色彩的认识，尤其是引导着年轻一族更大胆的尝试新鲜的家装风格。”
				</p>
				<p style="margin-bottom:30px;">
					会后接受记者采访的还有石家庄垄上行高端设计负责人王常龙、秦鹏高端设计负责人秦鹏。垄上行高端设计负责人王常龙先生表示，首先iColor网站尊重了设计师作品的原创性，其次iColor网站搭建了设计师与消费者之间的平台，真正实现了设计师和业主的直接无障碍的沟通。秦鹏高端设计负责人秦鹏先生对此次见面会提到的立邦艺术漆丝绒系列和浮光系列做了高度的评价。“最近一个客户的装修风格是偏欧式装修，正好今天的立邦艺术漆介绍给了我很大的灵感” 秦鹏先生表示。
				</p>
			</div>
			<div class="chengdu_con">
				<p>
					立邦，为你刷新生活。作为世界上最早的涂料公司之一，国内涂料行业的领导者，立邦一直以美化和保护人们的生活为己任，不断创造出品质优越的产品。期待通过iColor网络平台以及立邦出色的产品体系和服务能够为广大的消费者创造丰富多彩的生活，提高幸福指数。
				</p>
			</div>
		</div>
	</div>
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/shijiazhuang?page=1">1</a>
		<a href="/designer_events/city/shijiazhuang?page=2">2</a>
		<a href="javascript:;" class="current">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->