<div class='wrapper pt25 pb30'>
	<div class="shadow">
		<div class="section" style="background:#fff8de;">
			<%= image_tag('big_bg/shijiazhuang_tit.jpg') %>
			<div class="chengdu_con shijiazhuang_border">
				<p>3月12日，立邦2013iColor全国家装公司见面会石家庄站，同时也是立邦“刷新百城”活动之首站，在河北省省会美丽华大酒店盛装启幕。阳春三月，万物复苏，到处充满了生机。在这美好的时光里，立邦的每一位同仁期待您一起来见证这一时刻。参加此次见面会的来自石家庄的逾100多位家装公司的代表及设计精英，现场高朋满座。</p>
				<div class="tc pt25 pb30">
					<%= image_tag('big_bg/shijiazhuang1.jpg') %>
				</div>
			</div>
			<div class="chengdu_con clear">
				<%= image_tag('big_bg/shijiazhuang2.jpg', class: 'fr') %>
				<p class="pt25" style="margin-right:365px;margin-bottom:30px;">
					下午14点，立邦2013iColor全国家装公司见面会正式开始。首先，立邦北区销售部总经理陈仁宗先生致辞，感谢到场的各位家装界精英与设计师们，并向现场的来宾介绍了立邦品牌的发展和iColor网站建立的美好愿景。陈总幽默风趣的开场白和之后真挚的讲话感染着现场的每一位来宾。
				</p>
			</div>
		</div>
	</div>
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
	<div class="pager ft12">
		<a href="javascript:;" class="current">1</a>
		<a href="/designer_events/city/shijiazhuang?page=2">2</a>
		<a href="/designer_events/city/shijiazhuang?page=3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->