<div class="main syslist">
  <div class="shadow">
    <div class="section pr">
      <div class="sys_bar clear ft12">
        <span class="fl fb ft18">重设密码</span>
        <div class="fr">
          <a href="home.html">首页</a> > 重设密码
        </div>
      </div>
      <!--sys_bar ends-->
      <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>
        <div class="sys_bar ft14">
          <div class="reg_list fb">使用电子邮箱找回</div>
          <div class="forget">
            <%= f.input :reset_password_token, :as => :hidden %>
            <%= f.full_error :reset_password_token %>
            <label class="fl fb tr">新密码：</label>
            <input type="password" class="email fl fb" name="user[password]" id="email"/>
            <label class="fl fb tr">确认密码：</label>
            <input type="password" class="email fl fb" name="user[password_confirmation]" id="email"/>
          </div>
          <!--forget ends-->
          <div class="forget pr">
            <!--<label class="fl fb tr" for="code">图形验证码：</label>-->
            <!--<input type="text" class="code fl fb" name="code" id="code"/>-->
            <!--<img src="/assets/codes.jpg" class="codes fl"/>-->
            <!--<a href="javascript:void(0)" class="fl ft12">换一换</a>-->
            <p class="pa cr none ft14">*您输入的电子邮箱不正确！*</p>
          </div>
          <!--forget ends-->
        </div>
        <!--sys_bar ends-->
        <div class="reset_commit fl">
          <input type="image" src="/assets/news/submit.jpg" class="fl">
          <input type="reset" value="重置" class="reset_reset fb ft14 fl">
        </div>
        <!--reg_content ends-->
      <%- end %>
    </div>
    <!--section ends-->
  </div>
  <!--shadow ends-->
</div><!--main ends-->
