  <%- content_for :head do %>
  <%= stylesheet_link_tag 'reg' %>
  <script type="text/javascript">
  $(function() {
    $('#email').blur(function() {
      var email = $(this).val();
      if (!isEmail(email)) {
        $('.forget .pa').show();
        $('#email').focus();
      }
      else {
        $('.forget .pa').hide();
      }
    });
    $('.reset_commit :input[type=image]').click(function() {
      var pa = $('.forget .pa');
      if (pa.is(':visible')) {
        return false;
      }
    })
    function isEmail(str) {
      var reg = /^([a-zA-Z0-9._-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
      return reg.test(str);
    }
  })
  </script>
<%- end %>

<div class="main syslist">
  <div class="shadow">
    <div class="section pr">
      <div class="sys_bar clear ft12">
        <span class="fl fb ft18">找回密码</span>
        <div class="fr">
          <a href="home.html">首页</a> > 找回密码
        </div>
      </div>
      <!--sys_bar ends-->
      <div class="sys_bar ft14">
        <div class="reg_list fb">使用电子邮箱找回</div>
        <div class="forget">
          <label>几分钟后，您将收到重置密码的电子邮件.</label>
        </div>
        <!--forget ends-->
        <div class="forget pr">
          <!--<label class="fl fb tr" for="code">图形验证码：</label>-->
          <!--<input type="text" class="code fl fb" name="code" id="code"/>-->
          <!--<img src="<%= asset_path "codes.jpg" %>" class="codes fl"/>-->
          <!--<a href="javascript:void(0)" class="fl ft12">换一换</a>-->
          <p class="pa cr none ft14">*您输入的电子邮箱不正确！*</p>
        </div>
        <!--forget ends-->
      </div>
      <!--sys_bar ends-->
    </div>
    <!--section ends-->
  </div>
  <!--shadow ends-->
</div><!--main ends-->