<div class="container">
  <ul class="breadcrumb">
    <li><a href="#">首页</a> > </li>
    <li class="active">用户中心</li>
  </ul>
  <hr class="border2 border2_mt2">

  <ul class="nav nav-tabs upload_tab login_tab" id="login_tab">
    <li><a href="/users/sign_in">登录</a></li>
    <li><a href="/users/sign_up">注册</a></li>
    <li class="active"><a href="#login_tab3">找回密码</a></li>
  </ul>

  <div class="tab-pane" id="login_tab3">
    <div class="index_main noborder">
      <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => "form-horizontal pt30 mt20", :method => :post } ) do |f| %>

        <div class="control-group">
          <!-- <label class="control-label" for="">注册邮箱</label> -->
          <div class="controls">
            <!-- <input type="text" class="input-xlarge" name="user[email]" id="email"/> -->
             <span>
              <% #if f.error_notification %>
                <p class="mt10 text-important">几分钟后，您将收到重置密码的电子邮件.</p><br>
              <%# end %>
             </span>
          </div>
          <!-- <div class="text-center pt30 mt20"><button type="submit" class="upload_img_btn">重设密码</button></div> -->
        </div>

      <% end %>
    </div>
  </div>

  <div class="clearfix">
    <div class="footer_banner mt10 pull-left"><a href="#"><img src="images/index/footer_banner.jpg"></a></div>
    <div class="footer_banner mt10 pull-right"><a href="#"><img src="images/index/footer_banner2.jpg"></a></div>
  </div>
</div>
