<div class="span3 well well-small nom">
  <div class="clearfix" style="margin-top:20px;">
    <p class="text-left">
      <a href="/manage/banner_celebrities?page_name=名人名家作品页&position=1" class="btn btn-small span7 <%= i_banner.position == 1 ? 'btn-primary' : 'btn-light' %>">670x85</a>
      <a href="/manage/banner_celebrities?page_name=名人名家作品页&position=2" class="btn btn-small span5 <%= i_banner.position == 2 ? 'btn-primary' : 'btn-light' %>">310x85</a>
    </p>
  </div>
  <p class="text-right" style="margin-top:100px;">
    <a href="/manage/banner_celebrities?page_name=名人名家作品页&position=3" class="btn btn-medium <%= i_banner.position == 3 ? 'btn-primary' : 'btn-light' %>">230x230</a>
  </p>
  <p style="margin-top:100px;">
    <a href="/manage/banner_celebrities?page_name=名人名家作品页&position=4" class="btn btn-small btn-block <%= i_banner.position == 4 ? 'btn-primary' : 'btn-light' %>">1000x85</a>
  </p>
</div>