<div class="wrapper rules award clear">
	<div class="rules-bin">
		<div><img src="<%= asset_path 'baicheng/rules/banner.jpg' %>"></div>
		<dl>
			<dt><img src="<%= asset_path 'baicheng/rules/title3_1.jpg' %>"></dt>
			<dd class="awards">
				<h3>iColor刷新大奖<strong class="fb ft18 cr">(10天意大利游学之旅)</strong></h3>
				<p class="ft12">• 现有案例网络评选(业主刷新感言，可以为你加分哦！)<br>• 自选业主有刷新故事的新房，设计原创作品</p>
			</dd>
			<dd class="awards awards_second" class="">
				<h3 style="margin-top:10px;">特殊墙面效果奖</h3>
				<p class="ft12">• 运用立邦艺术漆效果做原创设计</p>
			</dd>
			<dd class="awards awards_third">
				<h3 style="margin-top:10px;">设计专项奖</h3>
				<p class="ft12">• 最佳视觉设计    • 最佳配色设计     • 最佳空间规划</p>
			</dd>
			<dd class="clear two_rows">
				<dl class="clear">
					<dd class="awards awards_fourth fl nomargin noborder">
						<h3 style="margin-top:20px;">网络人气奖</h3>
					</dd>
				</dl>
				<dl class="clear">
					<dd class="awards awards_fifth fl nomargin noborder">
						<h3 style="margin-top:20px;">色彩达人奖</h3>
					</dd>
				</dl>
			</dd>
			<dd class="clear two_rows noborder">
				<!-- <dl class="clear">
					<dd class="awards awards_fourth fl nomargin noborder">
						<h3 style="margin-top:20px;">咨询下订</h3>
					</dd>
				</dl> -->
				<dl class="clear">
					<dd class="awards awards_sixth fl nomargin noborder">
						<h3 style="margin-top:20px;">注册&投票幸运奖</h3>
					</dd>
				</dl>
			</dd>
		</dl>
		<dl>
			<dt><img src="<%= asset_path 'baicheng/rules/title3_2.jpg' %>"></dt>
			<dd class="awards">
				<h3>iColor刷新大奖<strong class="fb ft18 cr">(希腊爱情海双人蜜月游)</strong></h3>
				<p class="ft12">• 现有案例网络评选(业主刷新感言，可以为你加分哦！)<br>• 自选业主有刷新故事的新房，设计原创作品</p>
			</dd>
			<dd class="awards awards_seventh">
				<h3 style="margin-top:20px;">免费咨询，成功下订</h3>
			</dd>
			<dd class="awards awards_sixth noborder">
				<h3 style="margin-top:20px;">注册&投票幸运奖</h3>
			</dd>
		</dl>
	</div>
</div><!-- wrapper -->