<div class="wrapper rules actives">
	<h3><img src="<%=asset_path "rules/title2.png" %> "></h3>
	<h4 class="step1">注册有奖</h4>
	<ul class="pr">
		<li>• <strong>活动时间：</strong>2013年3月至2013年10月</li>
		<li>• <strong>参与内容：</strong><br>所有新注册的家装公司和设计师用户，每周均有机会获得Luck Draw的幸运奖。</li>
		<li class="clear active_upload"><a class="fl" href="#"></a></li>
	</ul>
	<h4 class="step2">为爱刷新暨新房设计案例征集</h4>
	<ul class="pr">
		<li>• <strong>活动主题：</strong>以<strong class="cr fb">“因爱之名，刷新生活”</strong>为主旨，讲述当代年轻人在成长中经历或见证的，关于<strong class="cr fb">家 • 刷新 • 爱情</strong>的故事，阐述家的刷新对于人生成长或爱情经历的重要性，传递对生活及家的美好向往。</li>
		<li style="margin-top:30px;">• <strong>活动时间：</strong>2013年3月至2013年8月</li>
		<li>• <strong>参与内容：</strong><br>上传作品：对大众上传的装修故事中的房型图进行下载，设计后上传，<br>  并邀业主填写业主感言即可参加刷新大奖的评比，更有机会赢取iColor<br>提供的<strong class="cr fb">10天意大利游学之旅</strong>。<br>投票：对其他装修爱情故事进行投票。</li>
		<li style="position:absolute;bottom:15px;right:0;"><img src="images/rules/imgbg.jpg"></li>
	</ul>
	<h4 class="step3">设计案例征集评选</h4>
	<ul class="noborder">
		<li>• <strong>活动时间：</strong>2013年3月至2013年10月</li>
		<li>• <strong>活动主题：</strong>设计师上传设计作品，进行案例征集评选。</li>
		<li>• <strong>参与内容：</strong><br>上传作品：设计师以作品所在地为划分，上传自己的设计作品，如有业主感言，更可参加刷新大奖的评比。<br>投票：对其他家装公司/设计师的作品进行投票。<br>回复咨询：对普通大众用户的咨询进行专业解答，每个城市前10位咨询成功并【成功下订】的家装公司/设计师，更可获得咨询下订奖。</li>
	</ul>
</div><!-- wrapper -->