
<div class="wrapper rules">
	<h3 class="clear"><span class="btn-title_medium fl"><a class="fl">评选过程</a></span></h3>
	<ul>
		<li>• 评委评选：国内著名室内设计专家与色彩专家。</li>
	</ul>
	<h3 class="clear"><span class="btn-title_medium fl"><a class="fl">评比标准</a></span></h3>
	<ul class="noborder">
		<li><h4 class="ft16 fb">• 为爱刷新暨新房设计案例征集：</h4></li>
		<li>1、提倡积极向上的人生态度和健康的世界观、人生观和爱情观，传递对美好生活的正能量。<br>2、对于故事中能体现家的刷新对生活或爱情的影响的故事作品，予以优先考虑。</li>
	</ul>
	<ul class="noborder">
		<li><h4 class="ft16 fb">• 设计案例征集评选活动：</h4></li>
		<li>1、提倡对楼盘特色的充分及合理利用，强调色彩与空间和谐搭配。<br>2、注重室内设计的创新与创意，强调室内设计当以人为本，注重使用功能的合理性以及人性化的设计。</li>
		<li class="cr">3、参赛作品需提供设计图纸（CAD图纸、手绘、3D效果图任选其一和设计说明）或实际效果照片。对于有立邦色号标注的作品，评委会会重点优先考虑。</li>
	</ul>
</div><!-- wrapper -->