<div class="wrapper rules">
	<div class="rules-bin">
		<h3 class="clear"><span class="btn-title_medium fl"><a class="fl">参与资格</a></span></h3>
		<ul>
			<li>• 所有从事设计行业的室内设计师或家装公司均可</li>
			<li>• 有兴趣参与的网民均可参加</li>
		</ul>
		<h3 class="clear"><span class="btn-title_medium fl"><a class="fl">参与要求</a></span></h3>
		<ul>
			<li>• 本次活动以“刷新百城”为主题。</li>
			<li>• 参与“设计案例征集评选活动”的设计师/家装公司作品，需结合创作楼盘特点，表现出对“空间”和“色彩”的理解和创作，作品上传时均需标注作品所在城市和楼盘信息。</li>
			<li>• 参与“为爱刷新暨新房设计案例征集”活动的用户，可以上传家的房型图片征集设计作品或设计作品（业主感言）。</li>
		</ul>
		<h3 class="clear"><span class="btn-title_medium fl"><a class="fl">活动细则及注意事项</a></span></h3>
		<ul>
			<li>• 所有活动的参与者必需是iColo网站的注册用户。</li>
			<li>• 所有参与活动的设计作品必须是本人原创作品，不能有抄袭或剽窃他人设计成果、侵犯他人知识产权及其它合法权利的行为，否则责任自负。</li>
			<li>• 参与活动的成套设计作品需包含图片3-5张，且为同一套室内设计，作品请勿加任何水印。作品图片可以是JPG、GIF、PNG或BMP格式，单张图片大小不超过1M。</li>
			<li>• iColor将对参与评比的上传设计作品进行形式审查，不完整、不正确或不符合要求的将视为无效或作废，举办方有权取消其参与评比的资格。</li>
			<li>• 所有作品版权归设计者本人所有，iColor拥有展示、刊登、出版的无偿使用权。</li>
			<li>• 参与评比的作品均不退还。</li>
			<li>• 活动全程将不收取任何费用。</li>
			<li>• 活动最终解释权属iColor网站。</li>
		</ul>
		<h3 class="clear"><span class="btn-title_medium fl"><a class="fl">版权说明</a></span></h3>
		<ul class="noborder">
			<li>• 设计者本人必须拥有该设计方案的知识产权，并且iColor拥有展示、在书籍、杂志、报纸、网络等媒体发表刊登和出版的使用权，任何可能发生的各种形式的版权(署名)纠纷将完全由设计者本人承担。</li>
		</ul>
	</div>
</div><!-- wrapper -->