<div class="wrapper rules">
	<div class="rules-bin">
		<h3 class="clear"><span class="btn-title_medium fl"><a class="fl">评委名单</a></span></h3>
		<div class="name_list ft14">
			<table class="name_table">
				<tr>
					<td width="540">北京筑邦建筑装饰工程有限公司总建筑师</td>
					<td class="tc">赵虹</td>
				</tr>
				<tr>
					<td width="540">东南大学建筑学院教授、博士生导师</td>
					<td class="tc">高祥生</td>
				</tr>
				<tr>
					<td width="540">鸿扬集团首席设计师、鸿扬集团陈志斌设计事务所创意总监</td>
					<td class="tc">陈志斌</td>
				</tr>
				<tr>
					<td width="540">中国建筑设计研究院环境艺术设计研究院室内所所长</td>
					<td class="tc">郭晓明</td>
				</tr>
				<tr>
					<td width="540">苏州金螳螂建筑装饰股份有限公司设计研究总院副总设计师</td>
					<td class="tc">舒剑平</td>
				</tr>
				<tr>
					<td width="540">全国杰出中青年室内建筑师、艺术院校副教授</td>
					<td class="tc">李进</td>
				</tr>
			</table>
		</div>
	</div>
</div><!-- wrapper -->