<div class="wrapper rules">
	<div class="rules-bin">
		<h3 class="clear"><span class="btn-title_medium fl"><a class="fl">活动时间</a></span></h3>
		<ul class="tiemline clear">
			<li>3月</li>
			<li>4月</li>
			<li>5月</li>
			<li>6月</li>
			<li>7月</li>
			<li>8月</li>
			<li>9月</li>
			<li>10月</li>
			<li>11月</li>
			<li>12月</li>
		</ul>
		<table class="time_table">
			<tr>
				<th align="left" width="60%">刷新百城设计案例征集评选</th>
				<th width="20%">评选揭晓</th>
				<th width="20%">奖品发送</th>
			</tr>
		</table>
	</div>
</div><!-- wrapper -->