<div class="wrapper rules">
	<h3 class="clear"><span class="btn-title_medium fl"><a href="#" class="fl">活动时间</a></span></h3>
	<ul class="tiemline clear">
		<li>3月</li>
		<li>4月</li>
		<li>5月</li>
		<li>6月</li>
		<li>7月</li>
		<li>8月</li>
		<li>9月</li>
		<li>10月</li>
		<li>11月</li>
		<li>12月</li>
	</ul>

	<table class="time_table">
		<tr>
			<th align="left" width="60%">刷新百城设计案例征集评选</th>
			<th width="20%">评选揭晓</th>
			<th width="20%">奖品发送</th>
		</tr>
		<tr>
			<td>1</td>
			<td>5</td>
			<td>5</td>
		</tr>
		<tr>
			<td>1</td>
			<td>5</td>
			<td>5</td>
		</tr>
	</table>
	
</div><!-- wrapper -->
<div class="footer subpage">
	<ul class="center clear">
		<li><a href="1.html">首页</a></li>
		<li><a href="2.html">大众三级跳</a></li>
		<li><a href="3.html">设计大PK</a></li>
		<li><a href="map.html">作品聚集地</a></li>
		<li><a class="active" href="5.1.html">活动规则及奖项设置</a></li>
		<li class="tc">
			<a href="#">注册</a> <a>·</a> <a href="#">登录</a>
			<a href="#" class="ft12">返回iColor网</a>
		</li>
	</ul>
</div><!-- footer -->