<% content_for :head do -%>
  <%= stylesheet_link_tag 'style'%>
<% end -%>
<div class="main pt25 law">
  <div class="law_site tr">首页<span class="arrow_black"></span><strong>联系我们</strong></div>
  <h2 class="article">联系我们</h2>
  <div class="contactus">如果您对iColor.com.cn有任何意见或者建议，<br />请通过邮件联系我们：icolor@nipponpaint.com.cn <br />联系电话：800 8101 687</div>
</div>
