<div class="wrapper container pr">
  <ul class="slider-bin ft14 pr">
    <li class="slide-1">
      <h1>再思考 再创新 2014 iColor未来之星 青年设计师大赛</h1>
      <p>2014.03 - 2014.06 更有机会获得全国十大装饰设计企业提供的工作机会及丰厚奖品</p>
    </li>
    <li class="slide-2">
      <h2>赛事介绍</h2>
      <ul class="subnav tc clear">
        <li class="sub-active">赛事概述</li>
        <li>主办单位</li>
      </ul>
      <div class="article">
        <div class="item indent">
          <p>立邦作为世界著名的涂料制造商，自1992年进入中国至今，已成为国内涂料行业的领导者，其对色彩的认知和应用有着领导地位。</p>
          <p>iColor网站致力打造并服务于广大消费者及家装公司和设计师的交流平台。作为一个全公益性服务网站，iColor为家装公司及设计师提供免费发布优秀作品的机会、提供海内外装修及色彩界的大师作品、所有海量案例和色彩工具的免费下载。同时，也为未来的设计师们提供展示其设计作品与理念的分享平台。</p>
          <p>继2013年立邦通过与国内知名设计院校、顶尖装饰设计企业的合作，成功推出iColor院校设计大赛后，2014年立邦再度携手中国文化传媒集团家文化传播中心、全国十大重点设计院校、全国十大装饰设计企业，重磅推出iColor未来之星青年设计师大赛。借助本次评选活动的开展，挑选中国未来的优秀设计师群体，并以行业领导者的姿态，普及色彩在空间中的运用，通过他们影响更多的人选择更轻松美好的家居生活！</p>
          <p>此次活动将成为国内未来设计新星的风云聚会,并是本年度最值得期待的业界评选盛事！ </p>
        </div>
        <div class="item none">
          <ul class="article-list">
            <li>
              <strong>主办单位：</strong><p>iColor网站、立邦涂料（中国）有限公司</p>
            </li>
            <li>
              <strong>协办单位：</strong><p>中国文化传媒集团家文化传播中心、《家饰》杂志</p>
            </li>
            <li>
              <strong>支持单位：</strong><p>全国十大重点设计院校（清华大学美术学院、中央美术学院、天津美术学院、中国美术学院、同济大学、上海大学美术学院、广州美术学院、四川美术学院、鲁迅美术学院、西安美术学院）、十大装饰设计企业（苏州金螳螂、中建装饰设计研究院、浙江亚厦装饰、北京清尚建筑装饰、同济设计院、现代设计院、东易日盛、元洲装饰、业之峰、九鼎装饰）</p>
            </li>
            <li>
              <strong>官方网站：</strong><p><a href="http://www.icolor.com.cn">www.icolor.com.cn</a></p>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="slide-3">
      <h2>赛事介绍</h2>
      <ul class="subnav tc clear">
        <li class="sub-active">参赛步骤</li>
        <li>参赛细则</li>
        <li>参赛说明</li>
      </ul>
      <div class="article">
        <div class="item">
          <ul class="article-list">
            <li>1、实名制注册为iColor网站的会员，并仔细阅读<a href="javascript:;" class="archor">参赛细则</a>。</li>
            <li>2、设计出您的原创作品，并将参赛作品连同报名表格一起提交。</li>
            <li>3、资深评委评审出获奖作品。</li>
            <li>4、公布获奖名单，并进行颁奖。</li>
          </ul>
        </div>
        <div class="item none">
          <ul class="article-list">
            <li>1. 参赛对象：全国所有设计类院校的在校学生（不限专业）。</li>
            <li>2. <a target="_blank" href="<%Rails.root%>/system/pdf/iColor未来之星大赛报名表.doc">下载参赛报名表</a>，填写完整并亲笔签名。</li>
            <li>3. 提交毕业设计作品资料，包括：
              <ul class="disc-styled">
                <li>效果图：要求亮灯效果图6张以上，其中全景2张，局部4张。</li>
                <li>设计图纸：天花图、立面图、平面图、大样图各一张（CAD格式）。</li>
                <li>设计作品说明（ 500字以上，包括作品概要，设计说明介绍）。</li>
                <li>指导老师评语（指导老师学校，职称，评语，签字）</li>
              </ul>
            </li>
            <li>
              4. 作品提交方式（二者选一）：
              <p>a) 参赛作品可通过大赛主办方QQ传输给我们，QQ: 491441145</p>
              <p>b) 将作品刻盘后随报名表一同快递至：北京市海淀区西三环北路72号世纪贸易大厦B座28层  孔俊萍 （收） 电话：010-88820400-606</p>
            </li>
          </ul>
        </div>
        <div class="item none">
          <ul class="article-list">
            <li>所有提交参赛的作品必须是原创设计作品。</li>
            <li>所有参赛者必须文件齐全，否则无参选资格，作品均请按照要求署名和提供作者的详细联系方式。</li>
            <li>活动组委会有权刊登及出版、展览本次活动作品，以作宣传之用。</li>
            <li>在参赛表格中请完整填写作者、导师及院系等相关信息，以确保在评审过程中出现电子文档不能读取等特殊情况下能及时联系到本人。</li>
            <li>凡参加本次活动的设计作品不得侵犯他人著作权、名誉权、肖像权、姓名权等人身权利内容，涉及到相关法律问题，否则一切后果由作品自负。</li>
            <li>本次活动的最终解释权归活动组委会所有。</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="slide-4">
      <h2>赛事介绍</h2>
      <div class="article">
        <ul class="article-list">
          <li><span>2014年3月</span><p>大赛启动</p></li>
          <li><span>2014年3-5月上旬</span><p>全国重点设计院校比赛宣导、作品收集</p></li>
          <li><span>2014年5月中旬</span><p>作品征集截稿，确认入围50套作品</p></li>
          <li><span>2014年5月下旬</span>
            <p>入围作品展</p>
            <p>现场入围作品集中答辩会（确认最终奖项归属）</p>
            <p>颁奖典礼</p>
          </li>
          <li><span>2014年9-12月</span><p>全国十大重点院校获奖案例巡展</p></li>
        </ul>
      </div>
    </li>
    <li class="slide-5">
      <h2>赛事介绍</h2>
      <div class="article">
        <ul class="article-list">
          <li><strong>入围优秀奖50名</strong></li>
          <li>获得由大赛组委会颁发的证书</li>
          <li>获得全国十大装饰设计企业的实习或工作机会（实习期间的工资和奖金按照各大装饰企业的标准自行发放）</li>
          <li><strong>一等奖1名、二等奖2名、三等奖3名</strong></li>
          <li>获得大赛组委会颁发的奖杯和证书</li>
          <li>获得人民币￥5,000元（一等奖）、￥3,000元（二等奖）、￥2,000元（三等奖）现金奖励</li>
          <li>获得全国十大装饰设计企业为的实习或工作机会（实习期间的工资和奖金按照各大装饰企业的标准自行发放）</li>
          <li><strong>5个单项奖：最佳视觉设计奖、最佳配色设计奖、最具人气设计奖、最佳未来创意奖、最佳环保设计奖</strong></li>
          <li>获得大赛组委会颁发的奖杯和证书</li>
          <li>获得由家饰教育提供的价值人民币￥9,800元的软装实战研习课程（食宿交通自理）</li>
          <li>获得全国十大装饰设计企业为的实习或工作机会（实习期间的工资和奖金按照各大装饰企业的标准自行发放）</li>
          <li><strong>针对设计院校评选出最佳组织奖、最佳指导教师奖</strong></li>
          <li>获得大赛组委会颁发的奖杯和证书。</li>
          <li>获得一等奖的学生可获得立邦集团组织的<strong>《2015年日本设计游学之旅》</strong>的机会！</li>
        </ul>
      </div>
    </li>
    <li class="slide-6">
      <h2>赛事介绍</h2>
      <ul class="subnav tc clear">
        <li class="sub-active">评委组成</li>
        <li>评委名单</li>
        <li>评审标准</li>
      </ul>
      <div class="article">
        <div class="item">
          <h3>权威、全面和大牌云集的品味，保证了本项赛事的影响力、公信度和国际性。</h3>
          <ul class="article-list">
            <li><b>1位</b>中国文化传媒集团家文化传播中心领导</li>
            <li><b>10位</b>全国十大设计院校相关院系负责人</li>
            <li>
              <b>10位</b>
              <p>全国十大装饰设计企业负责人</p>
              <small>（苏州金螳螂、中建装饰设计研究院、浙江亚厦装饰、北京清尚建筑装饰、北京筑邦建筑、<br>现代设计院、青岛德才建筑、香港毅达国际、北京建工集团，港元设计）</small>
            </li>
            <li><b>2位</b>欧美、港台知名设计师</li>
            <li><b>1位</b>资深媒体人</li>
          </ul>
        </div>
        <div class="item tc none">
          <img src="<%=asset_path 'yda2014/table.jpg'%>" draggable="false" width="800" height="494" alt="">
        </div>
        <div class="item none">
          <ul class="article-list">
            <li>1 参赛作品需符合比赛主题，原创、不得抄袭、不得侵犯他人专利。</li>
            <li>2 设计作品以明确表达个人设计思维为原则、规范、美观。</li>
            <li>3 设计作品要突出作品的理论基础，调研及实践思路，作品风格品位，环境效果，设计创新艺术审美 </li>
          </ul>
          <h3>具体标准如下（百分制）：</h3>
          <ul class="article-list disc-styled">
            <li>第一印象分（15％）：第一印象，总体效果良好，布局合理，表现力强；</li>
            <li>功能设置分（25％）：人本体现，健康舒适程度，装饰配置完善；</li>
            <li>艺术表现分（25％）：风格品位，设计创新艺术审美，色彩效果突出；</li>
            <li>材料搭配分（25％）：健康环保，应用恰当，科技含量；</li>
            <li>系统整合分（10％）：与设计主题及空间的结合，能够激发良好生活状态。 </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>