<div class="span3 well well-small nom">
	<p class="text-right" style="margin-top:200px;">
		<a href="/manage/banner_refresh?page_name=刷新效果&position=1" class="btn btn-medium <%= i_banner.position == 1 ? 'btn-primary' : 'btn-light' %>">230x230</a>
	</p>
	<div class="clearfix">
		<p class="text-left">
			<a href="/manage/banner_refresh?page_name=刷新效果&position=2" class="btn btn-small span7 <%= i_banner.position == 2 ? 'btn-primary' : 'btn-light' %>">670x85</a>
			<a href="/manage/banner_refresh?page_name=刷新效果&position=3" class="btn btn-small span5 <%= i_banner.position == 3 ? 'btn-primary' : 'btn-light' %>">310x85</a>
		</p>
	</div>
</div>