@charset "utf-8";

body{background: url(/asset/refresh/refresh-bg.jpg) no-repeat top center;}
.header a,.footer a{color: #fff;}
.header,.footer{width: 100%;min-width: 1180px;position: fixed;left: 0;z-index: 2;}
.header{background: #000;top: 0;}
.center,.wrapper{width: 1080px;margin: 0 auto;}
.nav{background: #424242;}
.nav li{float: left;position:relative;}
.nav a,.footer a,.refresh-logo a{display: block;}
.nav a{padding: 16px 18px;font-size: 14px;_position: relative;}
.nav .nav-icon{padding-left: 40px;}
.nav-icon{background: url(/asset/nav/nav-icon.png) no-repeat 12px center;_background-image: url(/asset/nav/nav-icon.gif);}
.nav-icon:hover,.subpage{background-color: #e71d36;}
.nav-icon2{background-position: -77px center;}
.nav-icon3{background-position: -243px center;}
.nav-icon4{background-position: -354px center;}
.nav .nav-title{color: #ffb119;padding: 15px 10px;}
.nav .nav-small{font-size: 12px;padding: 6px;margin: 11px 5px;background-color: #373838;}
.nav select{width: 105px;margin: 11px 5px;color: #c5c5c5;padding: 4px;font-size: 12px;border: 1px solid #c5c5c5;}
.nav_submit{width: 50px;height: 27px;background: #fff;border: 1px solid #ccc;font: 14px "Microsoft Yahei";color: #666;line-height: 21px;}

.subpage .center{width: 1000px;background: none;}
.logo{width: 364px;}
.subpage a{padding: 17px 25px;}
.subpage a:hover,.nav a.active{background: #bc000e;}
.subpage .logo a{width:132px;padding: 0;}

.subnav{position:absolute;top:46px;left:0;background:url(/asset/nav/subnav_arrow.png) no-repeat center top;padding-top:6px;}
.subpage .subnav li{border-bottom:1px dotted #66142a;}
.subpage .subnav a{width:106px;text-align:center;padding:10px 0;font:12px "Microsoft Yahei";background:#aa000d;}

.footer{background: #000;bottom: 0;}
.footer li{float: left;display: inline;}
.footer a{font:18px "方正粗圆_GBK","Microsoft Yahei";padding: 23px 28px;_position: relative;}
.footer a:hover,.footer a.active{background: #333;color: #ffc600;}
.footer .tc{float: right;width: 110px;font-size: 20px;padding: 13px 0;}
.footer .tc:hover{background: #333;}
.footer .tc a{padding: 0;font-size: 15px;display: inline;}
.footer .tc .ft12{font-size: 13px;font-weight: normal;color: #787878;display:block;}

.wrapper{height: 746px;padding-top: 86px;margin-bottom: 68px;}
.refresh-logo{background: url(/asset/refresh/refresh-logo.png) no-repeat;width: 210px;height: 392px;padding:40px 7px 0 0;margin: 0 29px 0 77px;text-align:center;}
.refresh-logo img{margin-bottom:47px;}
.refresh-logo a{background: url(/asset/refresh/refresh-btn.jpg) no-repeat;width: 155px;height: 45px;text-indent: -999em;margin: 0 auto 14px;}
.refresh-logo .e-recent{background-position: 0 0;height: 38px;}
.refresh-logo .e-upload{background-position: 0 -52px;}
.refresh-logo .e-publish{background-position: 0 -111px;}
.refresh-container,.grid-container{height: 717px;overflow: hidden;}
.refresh-container{background: url(/asset/refresh/refresh-container.png) no-repeat;width: 682px;padding: 2px 4px 4px 0;}
.refresh-bin{width: 682px;width:702px\9;height: 717px;overflow: auto;}
/*.refresh-bin*/div::-webkit-scrollbar,html::-webkit-scrollbar{display: none;}

.grid-container{width: 1080px;}
.grid-container .refresh-bin{width: 1080px;width:1100px\9;}

.pager{text-align:center;margin:5px auto;clear: both;padding:3px 0;_padding:4px 0;}
.pager a{background:#fff;color:#7f7f7f;padding:0.2em 0.5em;border:1px solid #d1d1d1;}
.pager a:hover,.pager a.current{color:#bb0e0e;}

/*icolor reg*/
.unlogin.abs-center{background:#fff;border:5px solid #666;width:304px;height:339px;margin-left:-152px;margin-top:-170px;}
.unlogin .subs_title{margin-bottom:20px;height:22px;background:#f5f5f5;border-bottom:1px solid #e6e6e6;padding:8px;color:#959494;}
.unlogin .err_tips{top:30px;}
.unlogin .close-btn{background:url(/asset/close_btn.jpg) no-repeat;width:21px;height:21px;}
.loginCon{width:260px;margin:0 auto;}
label.password{padding-top:8px;}
input#username{width:208px;color:#aeaeae;}
input#password{width:108px;margin:9px 0;color:#aeaeae;}
span.tips{display:block;background:url(/asset/tips.jpg) no-repeat;width:96px;height:22px;padding-top:4px;margin:9px 2px 0 0;}
span.tips a{color:#4ba958;}
span.tips a:hover{text-decoration:underline;}
input#login{margin-left:42px;float:left;display:inline;}
.checkbox{margin:10px;color:#aeaeae;}
.checkbox input{float:left;display:inline;margin-right:5px;}
.border{border-top:1px dotted #999;padding:10px 0;}
.border_bottom{border-bottom:1px dotted #999;padding:10px 0;clear:both;margin:20px 0;}
ul.border li{float:left;display:inline;padding:0 5px;border-right:1px solid #dbdbdb;}
ul.border img{ float:left;margin:-2px 2px 0 0;}
.border a{color:#0058a2;}
.reg_now{background:url(/asset/register.jpg) no-repeat;width:137px;height:32px;}
.loginCon p.fl{margin:9px;color:#000;}