.wrapper{overflow:hidden}
.event_desc{margin:30px 0 15px}
.event_desc .section{padding:10px}
.event_desc .image{float:left;margin-right:10px;width:416px;height:278px;overflow:hidden}
.event_desc .image img{width:100%;height:100%}
.event_desc .text{float:right;width:455px}
.event_desc h1, .the_activity .legend{padding:0 10px;height:45px;border-bottom:1px solid #e1e1e1;font-size:20px;line-height:45px;font-weight:bold;color:#c00404}
span.status{margin-left:10px;padding:13px 44px;height:0;display:inline-block;overflow:hidden;vertical-align:middle;font-size:0;color:#fff1a8;font-size:0;background: url(/assets/news/event_status.jpg) no-repeat}
span.closed{background-position:0 -26px}
.event_desc .properties{margin:5px 10px 0;font-size:14px;color:#6d6d6d}
.event_desc .properties th, .event_desc .properties td{vertical-align:top;line-height:2}
.event_desc .properties th{white-space:nowrap}

.dec_list{margin:20px 20px 20px 15px;overflow:hidden}
.dec_list li{padding:15px;border-bottom:1px dotted #7a786b;zoom:1}
.dec_list li:after{content:'';display:block;clear:both}
.dec_list li:last-child{border:none}
.dec_list .img{float:left;width:177px;height:133px;overflow:hidden}
.dec_list .img img{width:100%;height:100%}
.dec_list .properties{float:left;margin-left:15px;}
.dec_list .properties div{margin:15px 0;color:#666}
.dec_list .properties a{font-weight:bold;color:#666}
.dec_list .properties span.status{margin-left:20px}

.the_activity{margin:40px 0}
.the_activity .section{padding:12px}

.operate{height:32px;border-bottom:1px solid #e1e1e1;font-size:12px;line-height:32px;text-align:right}
.operate span{display:inline-block;margin-left:10px;padding-left:20px;color:#5C5C5C;line-height:18px;background:url(/assets/design/d_icon.png) no-repeat left -35px}

.stars{display:inline-block;width:70px;vertical-align:middle}
.stars li{float:left;margin:2px 1px;width:12px;height:12px;cursor:pointer;background:url(/assets/news/star.png) no-repeat 100% 0}
.stars li.not_selected{background-position:0 0}

.the_activity .legend{padding-left:60px;border-bottom-width:4px;font-size:18px}
* html .the_activity .legend{padding:10px 0 0 60px;height:35px}

.the_activity .stars_wrap{margin:10px 32px;font-weight:bold;font-size:14px;color:#e71d36}
.the_activity .stars_wrap a{font-size:14px;color:#6d6d6d}
.the_activity .stars_wrap .stars{margin:0 8px}
.the_activity .properties{margin:10px 32px;font-size:14px;color:#6d6d6d}
.the_activity .properties th,.the_activity .properties td{vertical-align:top;line-height:1.6}
.the_activity .properties th{white-space:nowrap}

.galleryD{position:relative;width:664px;height:48px}
.galleryD span{position:absolute;top:8px;display:block;width:22px;height:33px;cursor:pointer;background:url(/assets/design/galleryD.gif)}
.galleryD .moveleft{left:0}
.galleryD .moveright{right:0;background-position:0 100%}
.galleryD .list{position:absolute;left:27px;top:0;width:609px;height:48px;overflow:hidden}
.galleryD .list ul{position:absolute;left:0;top:0;width:10000px;height:100%}
.galleryD .list li{float:left;margin-right:3px}
.galleryD .list li img{width:48px;height:48px}

.stars_big{width:235px;height:44px}
.stars_big li{float:left;width:47px;height:100%;cursor:pointer;background:url(/assets/design/big_stars.gif)}
.stars_big li.not_selected{background-position:0 100%}

.galleryD_wrap{padding:15px;border-top:1px dotted #737373;border-bottom:1px dotted #737373}
.galleryD_wrap .galleryD{float:left;margin-top:5px;margin-left:5px}
.galleryD_wrap .apply{float:right;text-align:center}
.galleryD_wrap .apply .button a{display:inline-block;width:78px;height:31px;border:none;color:#712323;font-size:14px;font-weight:bold;text-align:center;line-height:31px;background:#f5b201 url(/assets/design/buttonA.gif)}
.galleryD_wrap .apply .count{margin-top:5px;text-align:center;line-height:1.5;color:#666}

.galleryE{position:relative;margin:20px auto 0;width:833px;height:88px}
.galleryE span{position:absolute;top:22px;display:block;width:12px;height:43px;cursor:pointer;background:url(/assets/design/galleryE.gif)}
.galleryE .moveleft{left:0}
.galleryE .moveright{right:0;background-position:0 100%}
.galleryE .list{position:absolute;left:27px;top:0;width:781px;height:100%;overflow:hidden}
.galleryE .list ul{position:absolute;left:0;top:0;width:10000px;height:100%}
.galleryE .list li{float:left;margin-right:11px;border:3px solid #95beff}
.galleryE .list li img{width:82px;height:82px;vertical-align:middle}

.rate_wrap{padding:18px 28px;border-bottom:1px dotted #737373}
.rate_wrap p{font-size:14px;color:#666}
.rate_wrap .stars_big{margin:15px 10px 0}


.reviewform{border-top:1px solid #dbdad8}
.reviewform .bar{padding:0 10px;height:32px;line-height:32px;color:#8a8987;font-size:14px;background:#f0fbfd}
.reviewform .bar h4{float:left;line-height:32px}
.reviewform .bar h4 span{font-weight:bold}
.reviewform .bar .r{float:right}
.reviewform .button{margin-top:10px}
.reviewform textarea{width:805px;height:100px;padding:5px;border:1px solid #e3e3e3}

.review_listA li{zoom:1;vertical-align:top}
.review_listA li:after{content:'';display:block;clear:both}
.review_listA .bar{padding:0 18px;height:22px;border-top:1px solid #dcdcdc;line-height:22px;font-size:14px;background:#f3f3f3}
.review_listA .bar .user{float:left;font-weight:bold;color:#333}
.review_listA .bar .time{float:right;color:#909090}
.review_listA .content{float:left;width:700px;padding:25px 0 25px 18px;font-size:14px}
.review_listA .reply{float:right;display:inline}
.review_listA .reply a{display:block;margin:25px 18px;padding-left:24px;padding-bottom:10px;height:20px;color:#565656;font-size:14px;background:url(/assets/design/reply.gif) no-repeat 0 2px}
* html .review_listA .reply a{width:1%;white-space:nowrap}

.review_wrap{margin:25px 30px;padding-bottom:30px}
.review_wrap .pager{margin:10px 0;width:auto;text-align:right}

.activity_listA{text-align:center}
.activity_listA li{margin:10px 0}
.activity_listA img{border:5px solid #d4d4d4}

.designer_activity .legend{padding-left:0;border-bottom:1px dotted #000}

.activity_listA_wrap{margin-bottom:40px}

.color-trend .shadow{margin-bottom:40px;width:899px}
.color-trend .section{width:900px}
.color-trend .banner{height:706px;position:relative}
.color-trend .banner img{position:absolute}
.color-trend .banner .report{position:absolute;right:30px;top:178px;z-index:10;display:block;width:153px;height:42px;font-size:0;color:#f9f9f9;line-height:20px}
.color-trend .banner .play{position:absolute;right:11px;top:363px;z-index:10;display:block;width:612px;height:343px}
*+html .color-trend .banner .report{background:#fff;filter:alpha(opacity=0)}
*+html .color-trend .banner .play{background:#fff;filter:alpha(opacity=0)}
* html .color-trend .banner .report{background:#fff;filter:alpha(opacity=0)}
* html .color-trend .banner .play{background:#fff;filter:alpha(opacity=0)}

.galleryE_wrap{height:165px;background:url(/assets/design/color_trend_bg.gif)}
.galleryE_wrap .share{margin-top:5px;height:32px}
.galleryE_wrap .share .t{float:right;margin-right:10px;font-size:16px;line-height:32px}
.galleryE_wrap .share div{float:right;width:288px;overflow:hidden}

.color-trend .reviewform textarea{width:828px}

