/*
*= require 'manage/bootstrap.css'
*= require 'manage/bootstrap-responsive.css'
*= require 'manage/jquery.slider.css'
*= require 'manage/icolor.css'
*= require 'manage/map.css'
*= require_self
*/

.js-search-now {
  color: #fff;
  background-color: #ff6600;
}

.js-user-name {
  font-weight: bold;
}
.colorbox_ul {
  width: 528px;
  height: 35px;
}