.color-trend{overflow:hidden}
.color-trend .shadow{margin:40px 0}
.color-trend .galleryF_wrap{padding:10px}

.color-trend .tit_bg{height:47px;background:#F5F5F5}
.color-trend .tit_bg h2{float:left}
.color-trend .tit_bg a{float:right;margin:6px 5px 0 0;width:129px;height:36px;text-align:right;line-height:20px;color:#fee662;font-size:0;background:url(/assets/design/handbook_download.gif)}

.wrapper{overflow:hidden}
.news_top{margin:10px 0;padding:10px 0;border-bottom:1px dotted #7a786b;}
.news_top a{background:#dfded8;color:#898989;padding:0.5em 1em;float: left;display: inline;margin-right:5px;}
.news_top a.active{background:#7a786b;color:#fff;}

.news_detail_main{float:left;width:655px}
.news_detail_main .section{padding:10px}
.news_detail_main .title{padding:5px 0 10px;border-bottom:1px solid #dfdfdf;text-align:center}
.news_detail_main .title h1{font-size:18px;font-weight:bold}
.news_detail_main .title .info{margin:10px 0 0;+width:420px;height:20px;color:#868686;font-size:12px}
.news_detail_main .title .info .share{display:inline-block;vertical-align:middle;+flaot:left}
.news_detail_main .title .info div{display:inline-block;margin:0 5px;+float:left}
.news_content{margin:10px 5px;color:#666;line-height:1.8;font-size:14px}
.news_content img{display:block;margin:20px auto}
.news_footer{padding:20px 0;height:10px;border-top:1px dotted #7a786b;color:#5a5a5a}
.news_footer div{float:right}


.news_detail_side{float:right;width:235px}
.news_detail_side .box{margin-bottom:15px}
.news_detail_side .advA img{border:1px solid #d7d7d7}

.history,.sub_bot a.fr{background:#fff;color:#7f7f7f;border:1px solid #d1d1d1;padding:0.4em 0.5em;margin:24px 0 0 1px;}
.sub_bot a.history{width:129px;margin:27px 34px 0 2px;}
.historys{width:141px;height:140px;overflow:auto;right:34px;bottom:68px;border:1px solid #d1d1d1;}
.historys a{display:block;background:#fff;color:#7f7f7f;padding:0.2em 0.5em;border:1px solid #d1d1d1;}
.sub_bot .pager{margin-top:28px;}
a.next{margin-right:40px!important;padding-right:15px!important;}
.pag_container a.prev{margin-right:0px!important;padding-left:15px!important;}
a.history{width:130px;}
a.history span{display:block;position:absolute;top:6px;border-color:#737373 transparent;_line-height:0;font-size: 0px;right:8px;border-width:5px;border-style:none solid solid solid;height:0px;;}

.galleryF{width:100%;padding-top:5px;overflow:hidden}
.galleryF .inner{width:1000%;zoom:1}
.galleryF .inner:after{content:'';display:block;clear:both}
.galleryF dl{float:left}
.galleryF dt{margin:0 -36px -113px 0;width:36px;height:113px;overflow:hidden;position:relative;top:-5px;background:url(/assets/design/label.gif)}

.galleryF dl dd{overflow:hidden;border-right:5px solid #fff;}
.galleryF dl.contract dd{width:31px}
.galleryF dt a{display:block;font-size:18px;margin:15px 0 0 6px;width:1em;color:#333}

.galleryG{margin:10px auto;width:800px;height:145px;position:relative;border:5px solid #d4d4d4;overflow:hidden}
.galleryG li{position:absolute;z-index:10}
.galleryG li img{width:100%;height:100%}
.galleryG span{display:block;width:20px;height:34px;position:absolute;right:45px;bottom:20px;z-index:12;cursor:pointer;background:url(/assets/design/galleryG.png)}

.galleryG span.moveright{right:15px;background-position:0 100%}
.galleryG span.disabled{opacity:0.5;filter:alpha(opacity=50);cursor:default}

.color-trend .galleryF{margin:15px 0}

.news_content img{float:none;}
.shadow.news_detail_main{margin-top:0;}

