@charset "utf-8";
.wrapper{padding-bottom:50px;}
.news_top{padding:10px 0;border-bottom:1px dotted #7a786b;}
.news_top a{background:#dfded8;color:#898989;padding:0.5em 1em;float: left;display: inline;margin-right:5px;}
.news_top a.active{background:#7a786b;color:#fff;}
.shadow{margin-top:15px;}
.section{padding:9px 18px 7px 9px;}
.section img{margin-right:25px;float:left;display:inline;}
.article{width:625px;}
.article h1 a{font-size:18px;font-weight:bold;color:#313131;line-height:20px;}
.article p{line-height:1.5em;margin-top:8px;border-top:1px solid #e0e0dd;padding-top:1em;}
.article p a{color:#b90000;}
.pag_container{background:#f2f2f2;padding:22px 0;border:1px solid #e0e0e0;margin:18px 0 13px 0;}
.weekly_tips{background:url(/assets/news/weekly_tips.jpg) no-repeat left top;padding:100px 50px 0px 38px;}
.faqs{padding:25px 0 30px 0;border-bottom:1px solid #e0e0e0;}
.ask,.answer{background:url(/assets/news/faq.png) no-repeat;width:14px;height:13px;margin:0 6px 16px 0;}
.answer{background-position:-15px 0;clear:left;}
.faqs p.ft14{color:#ba0000;margin-top:-2px;}
.faqs div.fl p{width:770px;color:#696969;line-height:20px;margin-top:-3px;_margin-top:16px;}
.faqs div.fl p a{color:#c47902;}
.history,.sub_bot a.fr{background:#fff;color:#7f7f7f;border:1px solid #d1d1d1;padding:0.4em 0.5em;margin:27px 0 0 1px;}
.sub_bot a.history{width:129px;margin:27px 34px 0 2px;}
.historys{width:141px;height:140px;overflow:auto;right:34px;bottom:68px;border:1px solid #d1d1d1;}
.historys a{display:block;background:#fff;color:#7f7f7f;padding:0.2em 0.5em;border:1px solid #d1d1d1;}
.sub_bot .pager{margin-top:28px;}

.news_top a.event_history{padding-right:2em;}
.event_history span{display:block;position: absolute;top:10px;border-color:#737373 transparent;_line-height:0;font-size: 0px;right:3px;border-width:5px;border-style: solid solid none solid;height:0px;_border-color:#737373 #fff;_filter:chroma(color=#ffffff);}
.event img{margin-bottom:10px;margin-right:0;}
.event h1{margin:10px 0;}
.event h1 a{color:#c00404;}
.event h2{color:#6d6d6d;font-size:14px;line-height:1.5em;}
.event_big_mode{width:138px;height:80px;border-left:1px dotted #999;margin-top:-70px;}
a.event_status{background:url(/assets/news/event_status.jpg) no-repeat;width:88px;height:26px;}
a.over{background-position:0 -26px;}
.event_big_mode div.ft14,.event_mode div.ft14{color:#c00404;margin:55px 10px 0 10px;width:126px;}
.event_big_mode div em,.event_mode div em{margin-right:0.5em;_padding-top:2px;}
.event_big_mode div span,.event_mode div span{background:url(/assets/news/star.png) no-repeat;width:12px;height:12px;float:left;display:inline;cursor:pointer;margin:2px 1px;}
.event_big_mode div span.rank,.event_mode div span.rank{background-position:-12px 0;}

.blocks{width:440px;height:355px;}
.blocks .section{height:340px;}
.event_mode{border-top:1px dotted #999;margin-top:10px;padding-top:10px;}
.event_mode div.ft14{margin:0;}

.tools_select{width:604px;margin:0 auto;}
.news_top .tools_select a{margin-right:17px;width:190px;height:79px;padding:0;}
.news_top .tools_select a.tools_app{margin:0;}
.news_top a.tools_soft{background:url(/assets/news/tools_soft.png) no-repeat;}
.news_top a.tools_case{background:url(/assets/news/tools_case.png) no-repeat;}
.news_top a.tools_app{background:url(/assets/news/tools_app.png) no-repeat;}
.news_top a.now{background-position:0 -79px;}
.tools_bg{background:url(/assets/news/tools_bg.jpg) no-repeat left top;width:835px;height:370px;margin-top:15px;padding:58px 35px 0;}

.tools_left{width:422px;}
.tools_left img{border:3px solid #d6d6d6;}
.tools_use{background:url(/assets/news/tools_use.jpg) no-repeat;width:172px;height:47px;margin:15px auto;}
.tools_left ul{margin:0 auto;width:170px;}
li.trans,li.commt{width:85px;height:17px;text-indent:1.5em;}
li.trans a,li.commt a{color:#5c5c5c;line-height:17px;}
li.trans{background:url(/assets/news/tools_trans.png) no-repeat;}
li.commt{background:url(/assets/news/tools_commt.png) no-repeat;}
.tools_right{width:365px;}
.tools_right h1{font-size:24px;font-weight:bold;color:#c0051c;text-shadow:rgba(0 0 0 0.5);text-align:center;}
.tools_right p{font-weight:bold;text-indent:2em;color:#404040;font-size:14px;line-height:1.5em;margin:20px 0 45px 0;}
.tools_service,.tools_guide{background:url(/assets/news/tools_btn.jpg) no-repeat;width:208px;height:49px;margin:0 auto 10px auto;}
.tools_guide{background-position:0 -49px;}

.app_bg{background:url(/assets/news/app_bg.png) no-repeat left top;width:815px;height:350px;padding:54px 45px;margin-top:28px;}
.app_top{border-bottom:1px solid #dbdad7;margin-bottom:10px;}
.app_top h1{color:#c6192e;font-size:24px;}
.app_top span{clear:left;color:#656565;margin:10px 0 5px 0;}
.app_top ul{margin-top:14px;}
.app_bg p{color:#5d5d5d;font-size:14px;}

.app{width:450px;height:231px;margin:38px 0 0 0;}
.app_prev,.app_next{background:url(/assets/news/app_pointer.png) no-repeat;width:32px;height:52px;top:90px;}
.app_next{background-position:-32px 0;right:0;}
.app_slides{width:364px;height:231px;margin:0 auto;overflow:hidden;}
.app_container{width:9999px;height:231px;}
.app_container img{border:3px solid #d6d6d6;float:left;display:inline;}
.app_right{width:142px;margin:35px 0 0 136px;}
.apps{background:url(/assets/news/apps.png) no-repeat;width:138px;height:28px;color:#5D5D5D;padding-top:111px;}
.app_down{background:url(/assets/news/app_down.png) no-repeat;width:51px;height:14px;margin:10px 0;color:#5D5D5D;padding:13px 0 9px 88px;}
.app_bg p.tc{font-size:12px;line-height:1.5em;}

.case{margin-bottom:45px;}
.case .shadow{width:848px;margin:-4px 0 0 28px;}
.case .section{padding-bottom:60px;}
.case .section img{margin-right:0;}
.case_sub{background:url(/assets/news/case_sub.png) no-repeat;width:903px;height:55px;top:15px;color:#6d6d6d;text-indent:2.5em;line-height:33px;}
.case_sub span{font-size:18px;}
.case_sub span span{color:#e71d36;font-weight:bold;}
.case_big{width:808px;height:326px;border:3px solid #d6d6d6;margin:19px auto 15px auto;}
span.case_span{color:#e71d36;text-indent:0.5em;line-height:43px;font-size:18px;}
.case_display{width:808px;height:280px;border-bottom:3px solid #d6d6d6;overflow:hidden;}

ul.case_container{width:99999px;}
.section .case_container img{margin:0;}
ul.case_container li{float:left;display:inline;position:relative;width:808px;height:280px;}
.pdf_down{background:url(/assets/news/pdf_down.png) no-repeat;width:129px;height:36px;right:20px;top:100px;}
.overlay{background:rgba(0,0,0,0.5);width:808px;padding:9px 0;bottom:0;}
.case_list{width:714px;height:48px;margin:0 auto;overflow:hidden;}
.case_list ul{width:9999px;height:46px;position:relative;}
.case_list ul li{float:left;display:inline;margin-right:18px;width:102px;height:46px;border:1px solid transparent;cursor:pointer;opacity:0.5;}
.case_list ul li img{border:1px solid #fff;}
.case_list ul li.present{border:1px solid #fff;opacity:1;}

.crossline{border-top:1px solid #c6c6c6;width:812px;margin:0 auto;padding-top:15px;}
.case_small{width:398px;height:326px;border:3px solid #d6d6d6;}
.small_show{border-bottom:3px solid #d6d6d6;width:398px;height:282px;_width:300px;}
.hot_icon{top:0;left:0;}
.case_small .pdf_down{margin:3px;right:0;top:0;}

.owner_map{padding:20px 0 48px 0;}
.owner_bar{border-bottom:4px solid #e3e3e3;width:835px;margin:0 auto;}
.owner_bar select{float:left;display:inline;width:113px;height:21px;background:#dfded9;color:#555;border:none;margin:4px;}
input.owner_search{width:164px;height:13px;border:1px solid #e5e5e5;margin:4px 4px 0 0;padding:4px;color:#bbb;}
.owner_sub{margin-top:5px;}
.owner{border-bottom:1px dotted #7a786b;padding:20px 0;width:835px;margin:0 auto;}
.owner_center{margin-left:18px;}
.owner_city{margin:2px 13px 0 8px;}
.owner_center a{margin:2px;background:#dde0dc;color:#000;padding:1px 3px;}
.owner_info{color:#8c909c;clear:left;border:1px solid #e3e3e3;padding:0.5em 1em;width:625px;margin-top:8px;}
.owner_info span{background:url(/assets/news/owner_info_btn.png) no-repeat;width:6px;height:12px;display:block;position:absolute;top:0;left:-6px;}
.owner_ask{background:url(/assets/news/owner_ask.jpg) no-repeat;width:94px;height:30px;color:#555;line-height:30px;margin-top:27px;}

.faq_bar{border-bottom:4px solid #e3e3e3;padding:20px 0 5px 0;color:#404040;}
.faq_title{width:740px;height:15px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;_padding-top:1px;}
.faq_title span{font-weight:normal;font-size:12px;}
.faq_num{width:65px;}
.faq_date{width:90px;}
.faq_list{padding:1.5em 0;border-bottom:1px dotted #7A786B;color:#474747;}
.faq_list p a{color:#474747;}
.faqs_title{border:1px solid #dddfe2;margin-top:7px;cursor:pointer;}
.faqs_title .ask{margin:10px 0 0 10px;}
.faqs .faqs_title p.ft14{margin:9px;_padding-top:1px;}
.tips_bullet{background:url(/assets/news/tips_bullet.jpg) no-repeat;width:47px;height:32px;}
.tips_bullet.show{background-position:0 -32px;}
.faqs_content{border:1px solid #dddfe2;padding:10px 11px;}
.faq a{background:#fff;color:#7f7f7f;padding:0.4em 0.5em;border:1px solid #d1d1d1;margin:-10px 1px 0 0;}
.pag_container a.next{padding-right:15px!important;}
.pag_container .pager div {text-align: center}
a.prev{padding-left:15px!important;}
a.history{width:130px;}
a.history span{display:block;position:absolute;top:6px;border-color:#737373 transparent;_line-height:0;font-size: 0px;right:8px;border-width:5px;border-style:none solid solid solid;height:0px;;_border-color:#737373 #fff;_filter:chroma(color=#ffffff);}

.faq .historys{right:2px;bottom:43px;}
.faq .historys a{margin:0;}
.wauto{width:auto;margin:30px 0;}
.faq_ask{background:url(/assets/news/faq_ask.png) no-repeat;width:91px;height:19px;color:#221600;padding:7px 0;}
.faqs_ask{color:#666;margin-left:48px;}
.faqs_ask label{clear:left;width:67px;height:13px;margin:8px 0;}
.faqs_ask label.ask_title{margin:17px 0;}
.faqs_ask input.faq_text{width:450px;height:23px;margin:8px 0;*padding-top:8px;}
.faqs_ask select{width:131px;height:29px;border:1px solid #a8a8a8;}
.faqs_ask textarea{margin:8px 0;width:450px;height:105px;padding:2px;}
.faqs_ask input.faq_reset{width:60px;height:30px;border:1px solid #c3c4c4;margin-left:10px;}
.faqs_ask span{margin:10px 5px;color:#999;}

.mar-bot45{margin-bottom:45px;}
.mar-bot45 .wrapper{border:1px solid #fff;width:901px;}
.service_top{border:1px solid #d7d7d7;margin:17px 0 70px 0;}
.owner_bar p{line-height:33px;color:#999;}
.owner_bar p span{font-weight:bold;color:#000;}
