@charset "utf-8";
.wrapper{padding:0;width:993px;margin-bottom:60px;}
.wood_top{background:url(../images/paint_art/new/wood_top.jpg) no-repeat;width:993px;height:574px;overflow:hidden;}
.wood_top h1,.wood_shop,.wood_tao,.wood_bot h2{background:url(../images/paint_art/new/wood_btn.png) no-repeat;text-indent:-999em;}
.wood_top h1{width:416px;height:38px;margin:45px auto 15px auto;}
.wood_center{width:915px;margin:0 auto;padding:20px 0;}
.wood_shop,.wood_tao{background-position:-254px -40px;width:160px;height:40px;}
.wood_tao{background-position:-91px -40px;margin-right:20px;}
.wood_more{color:#6a2b28;clear:right;margin:20px 0;}

.wood_bot{background:url(../images/paint_art/new/wood_bot.jpg) no-repeat;width:933px;height:326px;padding:30px;}
.wood_bot h2{background-position:0 -80px;width:192px;height:107px;float:left;display:inline;margin:0 25px 36px 0;}
.wood_bot p{margin:25px 0;line-height:22px;}
.wood_left,.wood_right{width:452px;}
.wood_bot .wood_right h2{background-position:-191px -80px;width:187px;height:115px;}
.wood_bot ul{clear:both;}
.wood_bot ul li{float:left;display:inline;margin:0 8px 5px 0;}
.wood_bot ul li div{width:48px;height:48px;border-radius:3px;}
.wood_bot ul li p{text-align:center;margin:0;text-transform:uppercase;}
.color1{background:#095d99;}
.color2{background:#62a9c7;}
.color3{background:#aed8e4;}
.color4{background:#c0ddef;}
.color5{background:#01534f;}
.color6{background:#006b4b;}
.color7{background:#16a24c;}
.color8{background:#6dba4a;}
.color9{background:#902328;}
.color10{background:#d4504e;}
.color11{background:#db7f94;}
.color12{background:#f0d6c9;}
.color13{background:#b67b03;}
.color14{background:#f5b52d;}
.color15{background:#d4c06a;}
.color16{background:#fee998;}
.wood_bot .wood_right h2{margin-bottom:26px;}
.wood_right ul li div{background-image:url(../images/paint_art/new/wm.jpg);background-repeat:no-repeat;}
.color18{background-position:-48px 0;}
.color19{background-position:-96px 0;}
.color20{background-position:-144px 0;}
.color21{background-position:0 -48px;}
.color22{background-position:-48px -48px;}
.color23{background-position:-96px -48px;}
.color24{background-position:-144px -48px;}
.color25{background-position:0 -96px;}
.color26{background-position:-48px -96px;}
.color27{background-position:-96px -96px;}
.color28{background-position:-144px -96px;}
.color29{background-position:0 -144px;}
.color30{background-position:-48px -144px;}
.color31{background-position:-96px -144px;}
.color32{background-position:-144px -144px;}

@media screen, projection {
	.galleryK {
		overflow:hidden;
		position:relative; 
		text-align:left;
		visibility:hidden;
		width:90%;
		margin:0 auto;
	}
	.galleryK img {
		border:none;
		position:absolute;
		top:0px;
		visibility:hidden;
		-ms-interpolation-mode:bicubic; /* Enables bicubic image resampling for the IE7 */
	}
	.galleryK p {
		margin:0 auto;
		text-align:center;
	}
	.galleryK .loading {
		border:1px solid white;
		height:15px;
		left:50%;
		margin-left:-106px;
		padding:5px;
		position:relative;
		visibility:visible;
		width:200px;
	}
	.galleryK .loading_bar {
		background:#fff;
		height:15px;
		visibility:visible;
		width:1%;
	}
	.galleryK .navigation{
		z-index:10000;
	}
	.galleryK .caption {
		font-weight:bold;
		position:relative; 
		text-align:center;
		z-index:10001;
	}
	.galleryK .scrollbar {
		border-bottom:1px solid #b3b3b3;
		position:relative; 
		visibility:hidden;
		z-index:10002;
		height:1px;
	}
	.galleryK .slider {
		background:url(slider.png) no-repeat;
		height:14px;
		margin:-6px 0 0 -7px;
		position:absolute;
		width:14px;
		z-index:10003;
	}
	.galleryK .slideshow {
		cursor:pointer;
		height:14px;
		margin:20px 0 0 20px;
		position:absolute;
		width:14px;
		z-index:10003;
	}
	.galleryK .slideshow.pause {
		background:url(button_pause.png) no-repeat;
	}
	.galleryK .slideshow.play {
		background:url(button_play.png) no-repeat;
	}
	.galleryK .images {
		overflow:hidden;
		white-space:nowrap;
	}
	.galleryK .button {
		cursor:pointer;
		height:29px;
		position:relative;
		width:28px;
	}
	.galleryK .previous {
		background: url(../images/paint_art/new/wood_btn.png) 0 39px no-repeat;
		float:left;
		margin: -7px 0 0 -30px;
	}
	.galleryK .next {
		background: url(button_right.png) top left no-repeat;
		float:right;	
		margin:-7px -30px 0 30px;
	}
}