<div class='wrapper pt25 pb30'>
        <div class="shadow mt25 mb15">
          <div class="section qingdao">
            <div class="items group">
            	<img class="fr" src="<%= asset_path "big_bg/qingdao1_1.png"%>">
              <p class="ft18 pt50">8月31日，立邦iColor家装公司见面会青岛站顺利召开。当天，青岛阳光灿烂，风和日丽，来自青岛的近150位家装公司的代表及设计师一同出席了本次活动，现场异常火爆。 </p>
            </div>

            <div class="items group">
              <img class="fl" src="<%= asset_path "big_bg/qingdao1_2.png"%>">
              <p class="pt50">在主持人的开场白之后，立邦iColor见面会正式开始。首先，立邦鲁豫销售部门销售总监侯俊峰先生致辞，热烈欢迎并感谢各位家装界精英与设计师们参与本次活动。青岛站活动正值立邦20周年，侯总与现场的来宾一起回顾了立邦20年的辉煌历程，并且介绍了立邦不断创新的产品以及服务。</p>     
            </div>

            <div class="items group noborder">
              <p class="pt50">之后，立邦建筑事业群市场部高级经理周颖女士为与会者详细的介绍了立邦iColor网站。完全公益化的网络平台，每天超大流量的自媒体，给现场的设计师以及家装公司代表带来了完全不同的创新展示渠道。立邦品牌投入大量的人力物力建立iColor平台，就是为了给所有的设计师开辟新天地。网站中的“大师殿堂、设计鉴赏、业主通道、漆光溢彩”等王牌栏目，更是引发了现场嘉宾极大的兴趣。正如周颖经理所说，iColor定会像是青岛当日的好天气一般，给青岛的设计师和家装公司带来好兆头，好机遇。</p>     
              <img class="img_center" src="<%= asset_path "big_bg/qingdao1_3.png"%>">
            </div>
          </div>
        </div>
      </div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
	<div class="pager ft12">
		<a href="/designer_events/city/qingdao1?page=1" class="current">1</a>
		<a href="/designer_events/city/qingdao1?page=2">2</a>
		<a href="/designer_events/city/qingdao1?page=3">3</a>
	</div><!--pager ends-->
</div><!--sub_bot ends-->