<div class='wrapper pt25 pb30'>
        <div class="shadow mt25 mb15">
          <div class="section qingdao">
            <div class="items group">
            	<img class="fr" src="<%= asset_path "big_bg/qingdao3_1.png"%>">
              <p class="pt25"> 作为立邦涂料在青岛的经销商，李经理对于iColor网站给予了相当大的肯定，他认为这是立邦为消费者以及设计师家装公司搭建了一个很好的平台，可以利用这个把产品做一个更好的销售与推广。</p>
              <p>谈到青岛市场，李经理也坦诚房产对于下游家居行业的影响较为明显。不过借力于立邦公司强大的支持，使得经销商能够在行业中处乱不惊。“我觉得越是大市场不好的时候，越是能够体现出经销大品牌的优势，立邦真的是一个好品牌大品牌。”李经理如是说。</p>
            </div>

            <div class="items group">
              <img class="fl" src="<%= asset_path "big_bg/qingdao3_2.png"%>">
              <p class="pt50">作为青岛非常有知名度的装饰公司经理，庄总表示在听了iColor网站的推荐之后受益匪浅。原先家装公司的推广渠道较为局限，有了立邦的iColor网站之后，使得他们有了崭新的平台开阔视野，这种帮助在将来的市场环境中会更为明显。终端消费者也非常认可立邦涂料的品牌以及品质。“我的客户用了立邦之后再也没有用过其他品牌。”一句话足以说明问题。</p>
            </div>

            <div class="items group">
              <img class="fr" src="<%= asset_path "big_bg/qingdao3_3.png"%>">
              <p class="pt25">作为资深设计师，提到iColor网站刘峰表示非常感兴趣。相对于其他的收费网站，iColor网站真正为设计师提供了一个免费的公益平台，是设计师们的福音。</p>
              <p>谈到网络的交流平台，刘峰提到线上线下的受众群体不同，线上的沟通人群相对年轻，沟通成本低、效率高，正好弥补了之前单纯线下沟通的不足</p>
              <p>我们公司基本用的都是立邦涂料。客户一般装修完的疑问很多，唯独没有质疑过立邦漆。”设计师对于立邦的品质给予了充分的肯定。</p>
            </div>

            <div class="items noborder">
              <p>立邦，20年，始终没有停下过创新的脚步。iColor网站青岛推荐会在一片热烈的气氛中圆满结束。也期待通过icolor的平台以及立邦出色的产品和服务能为广大的消费者刷新新的美好生活！</p>
            </div>
          </div>
        </div>
      </div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/nanjing1-1">1</a>
    <a href="/designer_events/city/nanjing1-2">2</a>
    <a href="/designer_events/city/nanjing1-3" class="current">3</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->