<div class='wrapper pt25 pb30'>
        <div class="shadow mt25 mb15">
          <div class="section qingdao">
            <div class="items group">
              <p class="pt50"> 随后，立邦鲁东销售部门TM成员刘盟军为现场的活动参与者针对立邦最新推出的迷你缤纷净味12色、纸胶带、砂纸、擦色宝、艺术漆等产品进行了讲解与演示。过程中，还邀请设计师一起现场涂刷检验艺术漆和擦色宝的效果。不同于以往传统的涂料，艺术漆的表现效果更为立体丰富，操作也更为简单，完全能够用立邦艺术漆呈现出壁纸的质感，是涂料行业近年来的一大突破。青岛的设计师和家装代表对于立邦的新产品赞不绝口，纷纷上前试刷，也惊叹于立邦不断创新的力量与精神。</p>
            	<img class="img_center" src="<%= asset_path "big_bg/qingdao2_1.png"%>">
            </div>

            <div class="items group noborder">
              <h3>现场采访实录</h3>
              <p class="pt25">立邦涂料鲁豫销售部门销售总监侯总在现场接受了记者的采访。侯总表示这次青岛的火爆场面也是出乎了他的意外。通过这次的推荐会，希望青岛的设计师和家装公司能够感受到立邦的“三个专业”：专业的产品，专业的工具，专业的服务。通过这“三个专业”让大家感受到立邦的不同之处，也能给经销商和合作伙伴带来直接的利益。</p>
              <p>聊到iColor网站，侯总表示这次的推荐会又上了一个新的台阶。在之后的设置中iColor还会致力于增加更多互动的环节，成为设计师之间交流的最佳平台。</p>
              <p>关于青岛市场的特殊性，侯总聊到两点。首先青岛是“大青岛”，相对于其他鲁豫地区更为发达，机遇也更大。其次青岛有许多10-15年的老房给到涂刷市场重涂的市场契机，也更利于立邦刷新服务的进一步推广。由此今年青岛的整体业务相较于去年依旧在持续增长，这也得益于立邦在紧缩的市场环境中的独到策略与眼光。</p>
            </div>
          </div>
        </div>
      </div><!--wrapper ends-->
<div class='sub_bot ft12 pr'>
  <div class="pager ft12">
    <a href="/designer_events/city/qingdao1-1">1</a>
    <a href="/designer_events/city/qingdao1-2" class="current">2</a>
    <a href="/designer_events/city/qingdao1-3">3</a>
  </div><!--pager ends-->
</div><!--sub_bot ends-->