<div class="header clear">
  <a href="/yda" class="fl"><img src="<%= asset_path "yda/yda_logo.png"%>" alt="" /></a>
    <ul class="nav fl">
      <li><a href="/yda">首页</a></li>
        <li><a href="/yda/info">赛事简介</a></li>
        <li><a href="/yda/theme">赛事主题</a></li>
        <li><a href="/yda/act">如何参加</a></li>
        <li><a href="/yda/agenda" class="yda_agenda">赛事日程</a></li>
        <li><a href="/yda/prize">赛事奖项</a></li>
    </ul><!--nav ends-->
</div><!--header ends-->
<div class="yda ft14">
	<div class="yda_top pr">
        <span class="pa tr ft12">赛事日程</span>
    </div><!--yda_top ends-->
    <div class="yda_title_agenda">赛事日程</div>
    <ul class="yda_agenda_ul">
    	<li>
        	<span class="triagle"></span>
            <a href="#" class="fb">iColor未来设计明星中国区作品征集</a>——2012年5月28日至2012年9月12日
        </li>
        <li>
        	<span class="triagle"></span>
            <a href="#" class="fb">中国区作品评选</a>——2012年9月12日至2012年9月19日
        </li>
        <li>
        	<span class="triagle"></span>
            <a href="#" class="fb">icolor未来设计明星（自动入围NPYDA亚洲大赛）获奖公布</a>——2012年9月28日
        </li>
        <li>
        	<span class="triagle"></span>
            <a href="#" class="fb">NPYDA立邦国际青年设计师大赛获奖公布</a>——2012年10月下旬
        </li>
    </ul>
</div><!--yda ends-->