<div class="header clear">
  <a href="/yda" class="fl"><img src="<%= asset_path "yda/yda_logo.png"%>" alt="" /></a>
    <ul class="nav fl">
      <li><a href="/yda" class="yda_home">首页</a></li>
        <li><a href="/yda/info">赛事简介</a></li>
        <li><a href="/yda/theme">赛事主题</a></li>
        <li><a href="/yda/act">如何参加</a></li>
        <li><a href="/yda/agenda">赛事日程</a></li>
        <li><a href="/yda/prize">赛事奖项</a></li>
    </ul><!--nav ends-->
</div><!--header ends-->
<div class="yda">
  <img src="<%= asset_path "yda/yda_ins.png"%>" class="yda_ins fl" />
  <a href="/yda/info" class="yda_detail fl cl">详细了解</a>
</div><!--yda ends-->
