<div class="header clear">
  <a href="/yda" class="fl"><img src="<%= asset_path "yda/yda_logo.png"%>" alt="" /></a>
    <ul class="nav fl">
      <li><a href="/yda">首页</a></li>
        <li><a href="/yda/info" class="yda_info">赛事简介</a></li>
        <li><a href="/yda/theme">赛事主题</a></li>
        <li><a href="/yda/act">如何参加</a></li>
        <li><a href="/yda/agenda">赛事日程</a></li>
        <li><a href="/yda/prize">赛事奖项</a></li>
    </ul><!--nav ends-->
</div><!--header ends-->
<div class="yda ft12">
    <div class="yda_top pr">
      <span class="pa tr">赛事简介</span>
    </div><!--yda_top ends-->
    <div class="yda_title_info">赛事简介</div>
    <h1 class="fb ft18">重塑、重建、重生，<br />iColor未来设计明星活动首次启动!</h1>
    <p>立邦中国注意到国内创意行业人才济济，希望从激发在校学生更多创意开始，鼓励他们取得更高的专业素养，并为其提供iColor平台以进行负责任的设计。经过立邦中国（iColor）甄选出来的作品，将代表中国地区参加立邦2012亚洲青年设计师大赛（NPYDA)，角逐各个奖项！</p>
    <p>2008年创立的立邦亚洲青年设计师大赛，是立邦为了培养和帮助行业中的室内设计和建筑设计后辈新秀，旨在点燃亚洲最杰出室内设计及建筑设计人才的创作才情，让更多设计新星的优秀作品能最终在本土及国际舞台获得认可。</p>
    <p class="italic">如果你希望拥有重塑、重建环境的机会，这就是你的平台！ 
       <a href="#" class="cr fb ft14 italic">赶紧加入吧！</a>
   </p>
   <a href="/yda/yda_past"><img src="<%= asset_path "yda/yda_history.png"%>" class="m25" /></a>
   <a id="yda_list1" href="javascript:;"><img src="<%= asset_path "yda/yda_prize_list.png"%>" class="m25" style="margin-left:40px;" /></a>
</div><!--yda ends-->

<div id="layer"></div>
<div class="yda_lists abs_center none">
  <a href="javascript:;" id="lay_close">关闭</a>
  <div class="fl">
    <h2>建筑组</h2>
    <table class="ft18">
      <tr>
        <td>金奖</td>
        <td>康思迪</td>
        <td>清华建筑</td>
        <td>建筑设计</td>
      </tr>
      <tr>
        <td>银奖</td>
        <td>李晓岸</td>
        <td>清华建筑</td>
        <td>建筑设计</td>
      </tr>
    </table>
    <table class="ft13">
      <tr>
        <td>陆鹏飞 林桂芳<br />王沛璇 杨潇辉<br />陈曦 金自然 梁应宇</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>郭袁媛</td>
        <td>清华建筑</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>曹雪微</td>
        <td>川音美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>卢双涛</td>
        <td>西安美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>魏善勇</td>
        <td>西安美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>吴川燕 姜俊秋<br />项运佳 刘茜<br />蔡莹童 楚璐<br />甘佩佩</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>赵沸诺 吴绍喻<br />杨婉婧 谢冬梅<br />崔成玟 田亚婷</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>菜尔耕</td>
        <td>川音美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>陈新星</td>
        <td>川音美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>梁  惠</td>
        <td>川音美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>郎宇杰</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>袁  磊</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
    </table>
  </div>
  <div class="fr">
    <h2>室内组</h2>
    <table class="ft18">
      <tr>
        <td>金奖</td>
        <td>吴绍瑜</td>
        <td>清华美术</td>
        <td>室内设计</td>
      </tr>
      <tr>
        <td>银奖</td>
        <td>袁素芳</td>
        <td>东华大学</td>
        <td>室内设计</td>
      </tr>
    </table>
    <table class="ft13">
      <tr>
        <td>潘越</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>张波</td>
        <td>西安美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>韩婕</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>李  浩</td>
        <td>西安美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>蒋雅雅 杨冰洁</td>
        <td>川音美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>张  勋</td>
        <td>西安美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>黄晶晶</td>
        <td>华理艺术</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>马铭骏</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>肖  珂</td>
        <td>西安美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>武晶杰 方枭</td>
        <td>川音美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>曾明伟</td>
        <td>苏州工艺</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>冯学静 钟素萍</td>
        <td>川音美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>张  璐</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>骆  晨</td>
        <td>清华美术</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>龙  潇</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>上官缙文</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
    </table>
  </div>
</div><!--yda_lists ends-->
<script>
$(function(){
  var $btn = $('#yda_list1'),
  $layer = $('#layer'),
  $div = $('.yda_lists'),
  $shut = $('#lay_close');

  $btn.click(function(){
    $layer.show();
    $div.css('top','50%').show();
  });
  $(document).keydown(function(e){
    if(e.which == 27){
      close_all();
    }
  });
  $shut.click(close_all);
  $layer.click(close_all);
  function close_all(){
    $layer.hide();
    $div.hide();
  }
});
</script>