<div class="header clear">
  <a href="/yda" class="fl"><img src="<%= asset_path "yda/yda_logo.png"%>" alt="" /></a>
    <ul class="nav fl">
      <li><a href="/yda">首页</a></li>
        <li><a href="/yda/info" class="yda_info">赛事简介</a></li>
        <li><a href="/yda/theme">赛事主题</a></li>
        <li><a href="/yda/act">如何参加</a></li>
        <li><a href="/yda/agenda">赛事日程</a></li>
        <li><a href="/yda/prize">赛事奖项</a></li>
    </ul><!--nav ends-->
</div><!--header ends-->
<div class="yda ft12">
    <div class="yda_top pr">
      <span class="pa tr">赛事简介</span>
    </div><!--yda_top ends-->
    <div class="yda_title_info">赛事简介</div>
    <h1 class="fb ft18">重塑、重建、重生，<br />iColor未来设计明星活动首次启动!</h1>
    <p>立邦中国注意到国内创意行业人才济济，希望从激发在校学生更多创意开始，鼓励他们取得更高的专业素养，并为其提供iColor平台以进行负责任的设计。经过立邦中国（iColor）甄选出来的作品，将代表中国地区参加立邦2012亚洲青年设计师大赛（NPYDA)，角逐各个奖项！</p>
    <p>2008年创立的立邦亚洲青年设计师大赛，是立邦为了培养和帮助行业中的室内设计和建筑设计后辈新秀，旨在点燃亚洲最杰出室内设计及建筑设计人才的创作才情，让更多设计新星的优秀作品能最终在本土及国际舞台获得认可。</p>
    <p class="italic">如果你希望拥有重塑、重建环境的机会，这就是你的平台！ 
       <a href="#" class="cr fb ft14 italic">赶紧加入吧！</a>
   </p>
   <a href="/yda/yda_past"><img src="<%= asset_path "yda/yda_history.png"%>" class="m25" /></a>
   <a href="http://www.icolor.com.cn/gift_list?from=top"><img src="<%= asset_path "yda/yda_prize_list.png"%>" class="m25" style="margin-left:40px;" /></a>
</div><!--yda ends-->