<div class="header clear">
  <a href="/yda" class="fl"><img src="<%= asset_path "yda/yda_logo.png"%>" alt="" /></a>
    <ul class="nav fl">
      <li><a href="/yda">首页</a></li>
        <li><a href="/yda/info">赛事简介</a></li>
        <li><a href="/yda/theme">赛事主题</a></li>
        <li><a href="/yda/act">如何参加</a></li>
        <li><a href="/yda/agenda">赛事日程</a></li>
        <li><a href="/yda/prize" class="yda_prize">赛事奖项</a></li>
    </ul><!--nav ends-->
</div><!--header ends-->
<div class="yda ft12">
  <div class="yda_top pr">
    <span class="pa tr">赛事奖项</span>
  </div><!--yda_top ends-->
  <div class="yda_title_prize">赛事奖项</div>
  <div class="yda_abroad fl">
    <h1 class="ft14 fb">国际赛区奖项：</h1>
    国际赛区获奖选手均将亲赴马来西亚领奖。<br />
    金奖：Macbook Pro笔记本电脑+马币3,000元现金<br />
    银奖：马币2,000元现金<br />
    荣誉提名×2：马币1,000元现金<br />
    决赛选手×8：马币800元现金
  </div><!--yda_prize_content ends-->
  <div class="yda_abroad fl">
    <h1 class="ft14 fb">特别奖：</h1>
    最佳配色奖：马币500元现金<br />
    最支持院校：马币1,000元+价值马币1,000元的涂料兑换券<br />
    金奖最佳院校：马币1,000元现金<br />
    最佳绿色创新奖：马币500元现金<br />
    金奖：最佳讲师：马币1,000元现金
  </div><!--yda_prize_content ends-->
  <div class="yda_china fl">
    <h1 class="ft14 fb">中国区iColor未来设计明星（前30名）：</h1>
    1、“ iColor未来设计明星” 获奖荣誉证书。<br />
    2、立邦iColor官网、官方微博及其他相关家装及社区类网站的宣传报道。<br />
    3、高级研修班课程，包括：<br />
    <ul>
      <li><span class="triagle"></span>家装行业未来发展</li>
      <li><span class="triagle"></span>国际色彩趋势研读</li>
      <li><span class="triagle"></span>室内设计色彩搭配实战案例培训</li>
      <li><span class="triagle"></span>设计、易学和色彩</li>
      <li><span class="triagle"></span>立邦最新产品工艺介绍培训</li>
      <li><span class="triagle"></span>立邦工厂参观，深入了解涂料行业</li>
    </ul>
    <h1 class="ft14 fb">
      中国区参赛奖：实名注册并上传作品选手都可获得奖品!<br />
      立邦缤纷迷你涂料套装（涂料+模板一套，市场价值238元）
    </h1>
  </div><!--yda_china ends-->
</div><!--yda ends-->