<div class="header clear">
  <a href="/yda" class="fl"><img src="<%= asset_path "yda/yda_logo.png"%>" alt="" /></a>
    <ul class="nav fl">
      <li><a href="/yda">首页</a></li>
        <li><a href="/yda/info">赛事简介</a></li>
        <li><a href="/yda/theme" class="yda_theme">赛事主题</a></li>
        <li><a href="/yda/act">如何参加</a></li>
        <li><a href="/yda/agenda">赛事日程</a></li>
        <li><a href="/yda/prize">赛事奖项</a></li>
    </ul><!--nav ends-->
</div><!--header ends-->
<div class="yda ft12">
	<div class="yda_top pr">
        <span class="pa tr">赛事主题</span>
    </div><!--yda_top ends-->
    <div class="yda_title_theme">赛事主题</div>
    <h1 class="fb ft18">重塑设计空间 创想绿色未来！</h1>
    <p>参赛者需对一个现存空间进行重新设计，可为商业或住宅建筑、社区、废弃场所及其他。目的是展现如何通过室内或建筑设计，以节能减排和环保方式改善所选空间。参赛者必须在项目设计中融入环保设计理念。同时为证实其绿色设计理念，参赛者必须清楚陈述所用环保材料及节能系统。</p>
    <a href="http://www.icolor.com.cn/system/game_detail.pdf"><img src="<%= asset_path "yda/yda_down.png"%>" class="m25" /></a>
</div><!--yda ends-->