<div class="header clear">
  <a href="/yda" class="fl"><img src="<%= asset_path "yda/yda_logo.png"%>" alt="" /></a>
</div><!--header ends-->
<div class="yda fl ft12 yda_list">
  <div class="yda_top pr">
    <span class="pa tr"></span>
  </div><!--yda_top ends-->
  <div class="yda_title_info yda_title fb ft24 noborder">具体奖项细节：</div>
  <ul>
    <li>
      <strong>金奖获得者（建筑/室内各1位）:</strong>
      <p>5000元人民币的现金资助，代表中国赛区前往马来西亚参加国际决赛！</p>
    </li>
    <li class="yda_list2">
      <strong>银奖获得者（建筑/室内各1位）:</strong>
      <p>价值1000元人民币的礼品</p>
    </li>
    <li class="yda_list3">
      <strong>iColor未来之星”(建筑/室内32名)：</strong>
      <p>立邦iColor纪念礼品一套</p>
    </li>
  </ul>
  <div class="yda_list4 ft14">注：所有奖项必须注册并上传参赛作品至iColor网站后方可领取。 </div>
  <div class="yda_title fb ft24 fl">获奖名单：</div>
  <a id="yda_list" href="javascript:;">参见附件</a>
</div><!--yda ends-->
<a href="http://www.nipponpaint.com.my/" class="yda_bot1 pa"><img src="<%= asset_path "yda/yda_bot1.png"%>" alt="" /></a>
<a href="#" class="yda_bot2 pa"><img src="<%= asset_path "yda/yda_bot2.png"%>" /></a>
<a href="#" class="yda_bot3 pa"><img src="<%= asset_path "yda/yda_bot3.jpg"%>" /></a>

<div id="layer"></div>
<div class="yda_lists abs_center none">
  <a href="javascript:;" id="lay_close">关闭</a>
  <div class="fl">
    <h2>建筑组</h2>
    <table class="ft18">
      <tr>
        <td>金奖</td>
        <td>康思迪</td>
        <td>清华建筑</td>
        <td>建筑设计</td>
      </tr>
      <tr>
        <td>银奖</td>
        <td>李晓岸</td>
        <td>清华建筑</td>
        <td>建筑设计</td>
      </tr>
    </table>
    <table class="ft13">
      <tr>
        <td>陆鹏飞 林桂芳<br />王沛璇 杨潇辉<br />陈曦 金自然 梁应宇</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>郭袁媛</td>
        <td>清华建筑</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>曹雪微</td>
        <td>川音美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>卢双涛</td>
        <td>西安美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>魏善勇</td>
        <td>西安美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>吴川燕 姜俊秋<br />项运佳 刘茜<br />蔡莹童 楚璐<br />甘佩佩</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>赵沸诺 吴绍喻<br />杨婉婧 谢冬梅<br />崔成玟 田亚婷</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>菜尔耕</td>
        <td>川音美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>陈新星</td>
        <td>川音美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>梁  惠</td>
        <td>川音美院</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>郎宇杰</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>袁  磊</td>
        <td>清华美术</td>
        <td>建筑设计</td>
        <td>iColor未来之星</td>
      </tr>
    </table>
  </div>
  <div class="fr">
    <h2>室内组</h2>
    <table class="ft18">
      <tr>
        <td>金奖</td>
        <td>吴绍瑜</td>
        <td>清华美术</td>
        <td>室内设计</td>
      </tr>
      <tr>
        <td>银奖</td>
        <td>袁素芳</td>
        <td>东华大学</td>
        <td>室内设计</td>
      </tr>
    </table>
    <table class="ft13">
      <tr>
        <td>潘越</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>张波</td>
        <td>西安美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>韩婕</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>李  浩</td>
        <td>西安美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>蒋雅雅 杨冰洁</td>
        <td>川音美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>张  勋</td>
        <td>西安美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>黄晶晶</td>
        <td>华理艺术</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>马铭骏</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>肖  珂</td>
        <td>西安美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>武晶杰 方枭</td>
        <td>川音美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>曾明伟</td>
        <td>苏州工艺</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>冯学静 钟素萍</td>
        <td>川音美院</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>张  璐</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>骆  晨</td>
        <td>清华美术</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>龙  潇</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
      <tr>
        <td>上官缙文</td>
        <td>东华大学</td>
        <td>室内设计</td>
        <td>iColor未来之星</td>
      </tr>
    </table>
  </div>
</div><!--yda_lists ends-->
<%- content_for :tail do %>
<script>
$(function(){
  var $btn = $('#yda_list'),
  $layer = $('#layer'),
  $div = $('.yda_lists'),
  $shut = $('#lay_close');

  $btn.click(function(){
    $layer.show();
    $div.css('top','50%').show();
  });
  $(document).keydown(function(e){
    if(e.which == 27){
      close_all();
    }
  });
  $shut.click(close_all);
  $layer.click(close_all);
  function close_all(){
    $layer.hide();
    $div.hide();
  }
});
</script>
<% end %>