<div class="content">
	<h2>赛事宗旨</h2>
	<!-- <ul class="tab_nav group">
		<li class="active">赛事缘起</li>
		<li>赛事主题</li>
		<li>赛事宗旨</li>
		<li>赛事组织机构</li>
	</ul>
	<div class="tab_content">
		<div class="tab_con1">
			<p>2012年11月29日，中共中央总书记习近平带领新一届中央领导集体参观中国国家博物馆“复兴之路”展览现场。习近平定义“中国梦”——实现伟大复兴就是中华民族近代以来最伟大梦想，而且满怀信心地表示这个梦想“一定能实现”。党内著名理论家、中共中央党校原副校长李君如他认为，全面建设小康社会是21世纪头20年的“中国梦”。这是实现21世纪头50年“中国梦”和后百年“中国梦”的最重要的一个发展阶段。</p>
		</div>
		<div class="tab_con2 none">
			<p><strong style="font-size:24px;">中国梦</strong>，是让每一个积极进取的中国人，形成世世代代的信念：只要经过努力不懈的奋斗便能获得更好的生活，亦即人们必须通过自己的勤奋、勇气、创意和决心迈向繁荣，而非依赖于特定的社会阶级和他人的援助。如果没有中国梦，人才会流失，人心会不稳，因为这是引导人积极向上的原动力。这包括：民主、自由、平等、以及实现自己梦想的机会和权利。</p>
			<p>梦想空间，是在相应国家伟大号召，在积极完成中国梦的设计解读和设计延续。实现中华民族伟大梦想，全面建设小康社会，是目前中国一个重要的发展阶段，而空间在其中所承启的作品是整个中国梦的一个非常重要的环节和的标准。梦想空间，承载了中国梦也突出了空间在整个人类社会的重要和必要性。梦想空间既可以是温馨的居住空间，也可以是舒适的办公环境，既可以是对传统建筑和文化的传承，又可以是对未来空间和技术的一个畅想，既可以是五彩斑斓的色彩世界，也可以是绿树红花的人与生态的平衡共存。</p>
		</div>
		<div class="tab_con3 none">
			<p>通过此项活动搭建中高校之间的环境设计专业教学与学科建设，促进教学实践与学术交流；</p>
			<p>通过此项活动促进各高校学生的设计思想交流和作品切磋，催生中国环境设计专业创新人才，同时成为人才展示的盛会；</p>
			<p>通过本项活动对推动我国环境设计教育发展、提升我国环境设计领域整体水平产生积极影响，构建相关企业与高校环境设计教育合作的教学互动平台；</p>
			<p>依据各院校教育和各地区经济、历史与文化的背景，探讨和挖掘不同的教学优势与特色，也是对我国高校不同学科背景下环境设计专业的教学改革与实践成果的检阅。</p>
		</div>
		<div class="tab_con4 none">
			<div class="group">
				<span>主办单位：</span>
				<p>中国文化传媒集团家文化传播中心 <a href="landing-0121_2_2.html">（点击了解详细）</a></p>
				<p>《中国建筑装饰装修》杂志</p>
			</div>
			<div class="group">
				<span class="nofloat">支持单位：</span>
				<h5>全国十大重点设计院校：</h5>
				<p class="color_0035a2">（清华大学美术学院、中央美术学院、天津美术学院、中国美术学院、同济大学、上海大学美术学院、广州美术学院、四川美术学院、鲁迅美术学院、西安美术学院）</p>
				<h5>十大装饰设计企业：</h5>
				<p class="color_0035a2">（苏州金螳螂、中建装饰设计研究院、浙江亚厦装饰、北京清尚建筑装饰、同济设计院、现代设计院、东易日盛、元洲装饰、业之峰、九鼎装饰）</p>
			</div>
			<div class="group">
				<span>冠名协办：</span>
				<p>立邦涂料（中国）有限公司</p>
			</div>
			<div class="group">
				<span>承办机构：</span>
				<p>科普兰德公司</p>
			</div>
			<div class="group">
				<span>支持媒体：</span>
				<p>	www.e-jjj.com</p>
				<p>《家饰》及其他全国性的设计类、家居类的网站、杂志、电视等媒体</p>
			</div>
			<div class="group">
				<span>大赛官网：</span>
				<p><a href="#">www.icolor.com.cn/starawards</a></p>
			</div>
			<div class="group">
				<span>大赛热线：</span>
				<p>400-660-6648</p>
			</div>
		</div>
	</div> -->
	<div class="purpose0121">
		<p>中国梦，是让每一个积极进取的中国人，形成世世代代的信念：只要经过努力不懈的奋斗便能获得更好的生活，亦即人们必须通过自己的勤奋、勇气、创意和决心迈向繁荣，而非依赖于特定的社会阶级和他人的援助。如果没有中国梦，人才会流失，人心会不稳，因为这是引导人积极向上的原动力。这包括：民主、自由、平等、以及实现自己梦想的机会和权利。</p>
		<p>通过此项活动搭建中高校之间的环境设计专业教学与学科建设，促进教学实践与学术交流；促进各高校学生的设计思想交流和作品切磋，催生中国环境设计专业创新人才，同时成为人才展示的盛会；并且依据各院校教育和各地区经济、历史与文化的背景，探讨和挖掘不同的教学优势与特色，也是对我国高校不同学科背景下环境设计专业的教学改革与实践成果的检阅。</p>
		<!-- <div class="group">
			<span>主办单位：</span>
			<p>中国文化传媒集团家文化传播中心<br>《中国建筑装饰装修》杂志</p>
		</div>
		<div class="group">
			<span class="nofloat">支持单位：</span>
			<h5>全国十大重点设计院校：</h5>
			<p class="color_0035a2">（清华大学美术学院、中央美术学院、天津美术学院、中国美术学院、同济大学、上海大学美术学院、广州美术学院、四川美术学院、鲁迅美术学院、西安美术学院）
			</p>
			<h5>十大装饰设计企业：</h5>
			<p class="color_0035a2">（苏州金螳螂、中建装饰设计研究院、浙江亚厦装饰、北京清尚建筑装饰、同济设计院、现代设计院、东易日盛、元洲装饰、业之峰、九鼎装饰）</p>
		</div>
		<div class="group">
			<span>冠名协办：</span>
			<p>立邦涂料（中国）有限公司</p>
		</div> -->
		<div class="group">
			<span>大赛官网：</span>
			<p>
				<%= link_to "www.icolor.com.cn", root_path %>
			</p>
		</div>
		<div class="group">
			<span>大赛联系：</span>
			<p><a href="mailto:icolor@nipponpaint.com.cn?cc=weilaizhixing@e-jjj.com">icolor@nipponpaint.com.cn</a></p>
			<p>请同时抄送：<a href="javascript:;"></a>weilaizhixing@e-jjj.com</p>
		</div>
	</div>
</div>