<div class="landing_index">
	<img src="<%= asset_path 'landingpage/20130121/landingpage_index-0121.png' %>" border="0" usemap="#Map">
	<map name="Map" id="Map" style="background:red">
		<area shape="rect"  style="background:red" coords="141,267,319,313" href="#" />
	</map>
</div>