<div class="content js-yda">
	<h2>参赛说明</h2>
	<ul class="tab_nav group">
		<li class="active">参赛步骤</li>
		<li>参赛要求</li>
		<li>参赛说明</li>
	</ul>
	<div class="tab_content">
		<div class="tab_con1">
			<ul class="steps">
				<li><span>1</span>实名制注册成为iColor网站的会员。（参赛作品上传需实名注册）</li>
				<li><span>2</span>仔细阅读参赛细则，设计并上传您原创的参赛作品</li>
				<li><span>3</span>资深评委评审获奖作品</li>
				<li><span>4</span>获奖作品得主领奖</li>
			</ul>
		</div>
		<div class="tab_con2 none">
			<p>
				1. 参赛对象：全国所有设计类院校的在校学生（不限专业）<br>
				2. 提供JPG文件，包括设计说明，草图方案，主要的平、立、剖面图和彩色效果图；JPG文件最多不得超过20页，请把每张图片控制在  800×800（精度300dpi、RGB格式）以下；<br>
				3. 为保证一定的参赛作品质量，各参加院校的参赛作品须由校方推荐，并提供推荐意见；没有校方组织的各院校学生，须按参赛要求把资料寄给大赛组委会；<br>
				4. 各参加院校请详细填写参赛资料表格（标明参加学生的姓名、性别、联系电话，作品名称，指导老师姓名、联系电话、电子邮件等），在作品光盘中须刻录参赛资料的电子文档和须备案使用的参赛资料表格的打印稿；<br>
				5. 参赛作品为建筑设计或室内设计，统一参与评选，不设分组。
			</p>

		</div>
		<div class="tab_con3 none">
			<p>
				1. 所有参赛者文件必须齐全，否则无参评资格，作品均请按照要求署名和提供作者详细联系方式；<br>
				2. 活动组委会有权刊登及出版、展览本次活动作品，以作宣传之用；<br>
				3. 在参赛表格中请完整填写作者、导师、院系等相关信息，以确保在评审过程中出现电子文档不能读取等特殊情况下能及时联系到本人；<br>
				4. 凡参加本活动的设计作品不得侵犯他人著作权、名誉权、肖像权、姓名权等人身权利内容，涉及到相关法律问题，一切后果由作者自负；<br>
				5. 本次活动的最终解释权归活动组委会所有。
			</p>
		</div>
	</div>
</div>