<div class="content">
	<h2>奖项设置</h2>
	<div class="group">
		<dl class="award_set">
			<dt>金奖 1名</dt>
			<dd>a.大赛组委会颁发的奖杯和证书 </dd>
			<dd>b.人民币￥5,000元现金</dd>
			<dd>c.全国十大装饰设计企业所提供的实习或工作机会<br>（实习期间的工资和奖金按照各大装饰企业的标准自行发放）</dd>
			<dd>d. 获得流行色协会举办的色彩培训师课程一次（价值4800元）</dd>
			<dt>银奖 2名</dt>
			<dd>a.大赛组委会颁发的奖杯和证书 </dd>
			<dd>b.人民币￥3,000元现金</dd>
			<dd>c.全国十大装饰设计企业所提供的实习或工作机会<br>（实习期间的工资和奖金按照各大装饰企业的标准自行发放）</dd>
			<dd>d. 获得流行色协会举办的色彩培训师课程一次（价值4800元）</dd>
			<dt>铜奖 3名</dt>
			<dd>a.大赛组委会颁发的奖杯和证书</dd>
			<dd>b.人民币￥2,000元现金</dd>
			<dd>c.全国十大装饰设计企业所提供的实习或工作机会<br>（实习期间的工资和奖金按照各大装饰企业的标准自行发放）</dd>
			<dd>d. 获得流行色协会举办的色彩培训师课程一次（价值4800元）</dd>
		</dl>

		<dl class="award_set">
			<dt>最佳视觉设计奖/最佳配色设计奖/最具人气设计奖/最佳未来创意奖/最佳环保设计奖 各1名</dt>
			<dd>a.大赛组委会颁发的奖杯和证书</dd>
			<dd>b.家饰教育提供的价值人民币￥9,800元的软装实战研习课程（食宿交通自理）</dd>
			<dd>c.全国十大装饰设计企业所提供的实习或工作机会<br>（实习期间的工资和奖金按照各大装饰企业的标准自行发放）</dd>
			<dt>入围优秀奖 50名</dt>
			<dd>a.大赛组委会颁发的证书；</dd>
			<dd>b.全国十大装饰设计企业的实习或工作机会<br>（实习期间的工资和奖金按照各大装饰企业的标准自行发放）</dd>
			<dd>c. 活动立邦1881色的色卡一套（价值398元）</dd>
			<dt>最佳组织奖	1名</dt>
			<dd>大赛组委会颁发的奖杯和证书</dd>
			<dt>最佳指导教师奖	1名</dt>
			<dd>大赛组委会颁发的奖杯和证书</dd>
			<dt><span style="color:#fff100">梦想实现奖</span></dt>
			<dd>凡是递交作品入选决赛的选手都有机会获得立邦墙面涂料产品免费使用权（限本次参赛作品实际采纳并实现搭建）</dd>
		</dl>
	</div>
</div>