<div class="content">
	<h2>评委会介绍</h2>
	<ul class="tab_nav group">
		<li class="active">组委会</li>
		<li>评审要求</li>
		<li>评审标准</li>
	</ul>
	<div class="tab_content">
		<div class="tab_con1">
			<p class="landing_6-1 ft18">权威、全面、创新和大牌云集的评审委员会，保证年度院校设计大赛的影响力、公信度和国际性。</p>
			<p class="landing_6-1">大赛组委会主席：刘承萱(中国文化传媒集团董事长、总经理兼中国文化报社社长)</p>
			<p class="landing_6-1">大赛组委会副主席：蔡志伟、王永强</p>
			<p class="landing_6-1">大赛组委会主任：米姝玮、周颖</p>
			<p class="landing_6-1">大赛组委会副主任：董嘉菲、任丽娟、杨洁、杨咏明</p>
			<p class="landing_6-1">大赛组组委会成员：陈娅薇、范银萍、蒋文皎、孙钰颖、张顺</p>
			<p><a href="javascript:;"class="pop_btn"><img src="<%= asset_path 'landingpage/20130121/btn.png' %>"></a></p>
		</div>
		<div class="tab_con2 none">
			<p>
				1  梦想空间设计应体现对社会、文化、历史及环境的关注，符合中国梦的积极价值主张；<br>
				2  梦想空间设计设计有明确的设计目标和针对性，清晰地表达设计分析思路和设计思考过程，让梦想变成可以实现的空间；<br>
				3  梦想空间设计的调研和分析，设计思维和设计逻辑应该是设计的一部分要特别体现出来，倡导创新性和独特性的符合设计目标逻辑的设计成果；<br>
				4  梦想空间设计包含符合国家相关专业规范要求的完整的设计图纸内容；<br>
				5  梦想空间设计通过效果图、实体模型照片等方式客观真实地表达设计效果与设计意图；<br>
				6  梦想空间设计关注结构、材料构造、及设备技术条件等工程技术可行性问题；<br>
				7  梦想空间设计版面要求图文并茂、内容完整、表达清晰。
			</p>
		</div>
		<div class="tab_con3 none">
			<img src="<%= asset_path 'landingpage/20130121/landing_6_3.png' %>">
		</div>
	</div>
	
</div>
<div class="landing_overlay"></div>
<div class="content pop_rule">
	<div>
		<a href="javascript:;" class="landing_popclose"><img src="<%=asset_path 'landingpage/landing_popclose.png' %>"></a>
		<!-- <table width="560" border="0" cellspacing="0" cellpadding="0" class="judges_list">
			<tr>
				<th width="15%" scope="col">&nbsp;</th>
				<th width="45%" scope="col">公司名称</th>
				<th width="15%" scope="col">姓名</th>
				<th width="25%" scope="col"> 职务</th>
			</tr>
			<tr>
				<td valign="top">协会领导</td>
				<td>中国文化传媒集团家文化传播中心</td>
				<td>刘晓丹</td>
				<td>副主任</td>
			</tr>
			<tr>
				<td colspan="4" style="height:5px;"></td>
			</tr>
			<tr>
				<td valign="top" rowspan="10">院校十家</td>
				<td>清华大学美术学院</td>
				<td>张月</td>
				<td>环艺系主任</td>
			</tr>
			<tr>
				<td>中央美术学院建筑学院</td>
				<td>王铁</td>
				<td>副院长</td>
			</tr>
			<tr>
				<td>天津美术学院艺术学院</td>
				<td>彭军</td>
				<td>副院长</td>
			</tr>
			<tr>
				<td>中国美术学院</td>
				<td>邵健</td>
				<td>环艺系主任</td>
			</tr>
			<tr>
				<td>同济大学建筑与城规学院</td>
				<td>来增祥</td>
				<td>博导</td>
			</tr>
			<tr>
				<td>上海大学美术学院艺术学院</td>
				<td>何小青</td>
				<td>副院长</td>
			</tr>
			<tr>
				<td> 广州美术学院艺术学院</td>
				<td>赵健</td>
				<td>副院长</td>
			</tr>
			<tr>
				<td>四川美术学院</td>
				<td>潘召南</td>
				<td>环艺教研室主任 </td>
			</tr>
			<tr>
				<td>鲁迅美术学院环艺院 </td>
				<td>马克辛</td>
				<td>院长</td>
			</tr>
			<tr>
				<td>西安美术学院艺术学院</td>
				<td>吴昊</td>
				<td>院长</td>
			</tr>
			<tr>
				<td colspan="4" style="height:5px;"></td>
			</tr>
			<tr>
				<td valign="top" rowspan="10">设计公司十家</td>
				<td>苏州金螳螂 </td>
				<td>舒剑平</td>
				<td>北京& 天津院长</td>
			</tr>
			<tr>
				<td>中建装饰设计研究院室内所</td>
				<td>郭晓明</td>
				<td>所长</td>
			</tr>
			<tr>
				<td>浙江亚厦装饰 </td>
				<td>谢天</td>
				<td>设计院院长</td>
			</tr>
			<tr>
				<td>北京清尚建筑装饰</td>
				<td>吴唏</td>
				<td>董事长 </td>
			</tr>
			<tr>
				<td>同济设计院</td>
				<td>李麟学</td>
				<td>建筑师</td>
			</tr>
			<tr>
				<td>现代设计院</td>
				<td>沈立东</td>
				<td>院长</td>
			</tr>
			<tr>
				<td>元洲装饰</td>
				<td>李泰岩</td>
				<td>合伙人</td>
			</tr>
			<tr>
				<td>业之峰</td>
				<td>侯舒信</td>
				<td>设计研发总监</td>
			</tr>
			<tr>
				<td>北京建工集</td>
				<td>张伟</td>
				<td>设计总监</td>
			</tr>
			<tr>
				<td>北京港元设计院</td>
				<td>李臣伟</td>
				<td>院长</td>
			</tr>
			<tr>
				<td colspan="4" style="height:5px;"></td>
			</tr>
			<tr>
				<td valign="top">资深媒体人</td>
				<td>中国文化传媒集团艺术教育杂志社</td>
				<td>代柳梅</td>
				<td>社长</td>
			</tr>
		</table> -->
		<img src="<%=asset_path 'landingpage/list.jpg' %>">
	</div>
</div>