<li class="<%= 'active' if controller_name == 'designer_events' %>">
  <a href="/manage/designer_events">设计师活动</a>
</li>
<li class="<%= 'active' if controller_name == 'other_events' %>">
  <a href="/manage/other_events">其它活动</a>
</li>
<li class="<%= 'active' if controller_name == 'event_kvs' %>">
  <a href="/manage/event_kvs">焦点图</a>
</li>