<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">图库首页</a>
</li>
<li class="<%= 'active' if controller_name == 'tag_sorts' %>">
  <a href="/manage/tag_sorts">图库列表页</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">专题导购</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">图库SEO设置</a>
</li>