<li class="<%= 'active' if controller_name == 'designer_events' %>">
  <a href="/manage/designer_events">活动集锦</a>
</li>
<li class="<%= 'active' if controller_name == 'event_kvs' %>">
  <a href="/manage/event_kvs">焦点图</a>
</li>