<li class="<%= 'active' if controller_name == 'home_image_lists' %>">
  <a href="/manage/home_image_lists">图库首页</a>
</li>
<li class="<%= 'active' if controller_name == 'tag_sorts' %>">
  <a href="/manage/tag_sorts">图库列表页</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">专题导购</a>
</li>
<li class="<%= 'active' if controller_name == 'seo_sites' %>">
  <a href="/manage/seo_sites">图库SEO设置</a>
</li>