<li class="<%= 'active' if controller_name == 'life_memoirs' %>">
  <a href="/manage/life_memoirs">刷新实录</a>
</li>
<li class="<%= 'active' if controller_name == 'life_infos' %>">
  <a href="/admin/content/subjects/1/posts">精彩资讯列表</a>
</li>