<li class="<%= 'active' if controller_name == 'minisite_counters' && action_name == 'index' %>">
  <a href="/manage/minisite_counters">业主发布爱的故事</a>
</li>
<li class="<%= 'active' if controller_name == 'minisite_counters' && action_name == 'ask_for_minisite' %>">
  <a href="/manage/minisite_counters/ask_for_minisite">业主受邀</a>
</li>
<li class="<%= 'active' if controller_name == 'minisite_counters' && action_name == 'uploaded_designs' %>">
  <a href="/manage/minisite_counters/uploaded_designs">设计师上传作品</a>
</li>
<li class="<%= 'active' if controller_name == 'minisite_counters' && action_name == 'sign_up_users' %>">
  <a href="/manage/minisite_counters/sign_up_users">Minisite用户注册统计</a>
</li>