<% content_for :head do %>
<%= stylesheet_link_tag "famous" %>
<%end-%>

<%- content_for :tail do %>
<script type="text/javascript">
$(function(){
  $.post("/dialog_celebrity/refresh_celebrity_questions",function(result){
    $("#celebrity_questions").html(result.content)
  })
})
</script>
<%- end %>

<h3 class="chann_caption nomargin"><i class="icon-map icon-map1 icon_colors"></i><strong>对话名人</strong><small>直面大师专家，为您在线授道解惑</small></h3>
<ul class="breadcrumb">
  <li><a href="/">首页</a> > </li>
  <li><a href="/dialog_celebrity">对话名人</a> > </li>
  <li class="active">名人问答</li>
</ul>
<hr class="border2 border2_mt2">
<a href="<%= @banners[0] ? @banners[0].url : 'javascript:void(0);' %>" target="_blank">
  <%= image_tag @banners[0].try(:file).try(:url, :list_1000x85) %>
</a>

<div class="clearfix mt10">
  <div class="pull-left famous_left">
    <div id="celebrity_questions"></div>
  </div>
  <div class="pull-right smaller famous_right">
    <div class="index_main nopadding">
      <div class="famous_tips text-center">
        <p>解决<strong id="replied_count">0000000000</strong>问题</p>
        <p><a href="<%= new_dialog_celebrity_celebrity_question_path -%>" class="btn_ask text-left">我要提问</a></p>
      </div>
    </div>
    <ul class="unstyled map-right index_main mt10 js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="#" target="_blank" class="pull-right"><small class="muted">更多&gt;</small></a>
        <strong class="pull-left">最新大师作品</strong>
      </li>
      <li class="map-r1 active dott1">
        <i class="icon-i16 icon-1">1</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="js-img"><img src="images/map/img/map01.jpg" alt=""></a>
      </li>
      <li class="map-r2">
        <i class="icon-i16 icon-2">2</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="hide js-img"><img src="images/map/img/map01.jpg" alt=""></a>
      </li>
      <li class="map-r3">
        <i class="icon-i16 icon-3">3</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="hide js-img"><img src="images/map/img/map01.jpg" alt=""></a>
      </li>
      <li class="map-r4">
        <i class="icon-i16 icon-4">4</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="hide js-img"><img src="images/map/img/map01.jpg" alt=""></a>
      </li>
      <li class="map-r5">
        <i class="icon-i16 icon-5">5</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="hide js-img"><img src="images/map/img/map01.jpg" alt=""></a>
      </li>
    </ul>
    <div class="mt10"><a href="#"><img src="images/refresh/refresh_list_banner2.jpg" width="230" height="170"></a></div>
    <div class="mt10"><a href="#"><img src="images/refresh/refresh_list_banner3.jpg" width="230" height="230"></a></div>
    <!-- <div class="mt10"><a href="#"><img src="images/refresh/refresh_list_banner2.jpg" width="230" height="170"></a></div> -->
  </div>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <div class="refresh_new pull-left">
    <h5><a href="#" target="_blank" class="pull-right"><small class="muted">更多></small></a>装修图库精选</h5>
    <ul class="ul_dot">
      <li><a href="#" target="_blank">卧室基因突变 装饰空间网友改造空间哲学师马昌国的设计秘籍空间哲学师马昌国的设计秘籍</a></li>
      <li><a href="#" target="_blank">来自设计之星小毕的小情调婚房设计</a></li>
      <li><a href="#" target="_blank">110 平米时尚混搭 田园气质童话梦想</a></li>
      <li><a href="#" target="_blank">淡雅色彩配搭让你在夏日享清凉</a></li>
      <li class="noborder"><a href="#" target="_blank">都市静谧空间 80平森系素雅两居</a></li>
    </ul>
  </div>
  <div class="refresh_new pull-left">
    <h5><a href="#" target="_blank" class="pull-right"><small class="muted">更多></small></a>设计之星作品精选</h5>
    <ul class="ul_dot">
      <li><a href="#" target="_blank">空间哲学师马昌国的设计秘籍空间哲学师马昌国的设计秘籍</a></li>
      <li><a href="#" target="_blank">来自设计之星小毕的小情调婚房设计</a></li>
      <li><a href="#" target="_blank">110 平米时尚混搭 田园气质童话梦想</a></li>
      <li><a href="#" target="_blank">淡雅色彩配搭让你在夏日享清凉</a></li>
      <li class="noborder"><a href="#" target="_blank">都市静谧空间 80平森系素雅两居</a></li>
    </ul>
  </div>
  <div class="pull-right"><a href="#"><img src="images/refresh/refresh_list_banner3.jpg"></a></div>
</div>

<div class="clearfix">
  <div class="footer_banner mt10 pull-left"><a href="#"><img src="images/index/footer_banner.jpg"></a></div>
  <div class="footer_banner mt10 pull-right"><a href="#"><img src="images/index/footer_banner2.jpg"></a></div>
</div>
