<div class="navbar haxun_subnav">
  <ul class="nav nav-pill nav-tabs noborder" id="tab_main">
    <li <% if controller_name == 'homes' && action_name == 'index' %>class="active"<% end %>>
      <a href="<%=homes_path%>">联系方式</a>
    </li>
    <li><a href="#tab_haxun2">案例赏析</a></li>
    <li><a href="#tab_haxun3">免费咨询</a></li>
    <li><a href="#tab_haxun4">新闻列表</a></li>
    <li><a href="#tab_haxun5">主题KV</a></li>
    <li><a href="#tab_haxun6">精英团队</a></li>
    <li class="<%= 'active' if controller_name == 'hx_profiles' %>">
      <%= link_to '公司简介', hx_profiles_path %>
    </li>
  </ul>
</div>