<p>亲爱的<%= @resource.username %>!</p>

<p>您的密码重设要求已经得到验证。请点击以下链接输入您新的密码：</p>

<p><%= link_to '重设密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您的email程序不支持链接点击，请将上面的地址拷贝至您的浏览器(例如IE)的地址栏进入icolor。</p>
<p>感谢对icolor的支持，再次希望您在icolor体验愉快。</p>
<p>立邦icolor网站 http://www.icolor.com.cn </p>
<p>(这是一封自动产生的email，请勿回复。)</p>
